<section id="process" class="process">
  <div class="container">
    <!-- Intro -->
    <div class="row mb-5">
      <div class="col-lg-10">
        <h1 class="mb-4 mb-lg-5 font-weight-bold">
          Our <br />
          Process
        </h1>
        <p class="lead-lg">
          You can expect deliverables in the first two weeks, and
          <span class="font-weight-bold">impossible-to-ignore</span> results in
          the first two months.
        </p>
      </div>
    </div>

    <!-- List items -->
    <div class="process__items row">
      <div class="col-lg-10">
        <div class="process__items__item d-flex mb-5">
          <div>
            <div class="shadowbox variant-1-check mr-4 mr-lg-5"></div>
          </div>
          <p class="process__items__item__text mb-0 lead">
            Our focus is building systems
          </p>
        </div>
        <div class="d-flex mb-5">
          <div>
            <div class="shadowbox variant-1-check mr-4 mr-lg-5"></div>
          </div>
          <p class="process__items__item__text mb-0 lead">
            We do that via an iterative approach called high-tempo testing
          </p>
        </div>
        <div class="d-flex mb-5">
          <div>
            <div class="shadowbox variant-1-check mr-4 mr-lg-5"></div>
          </div>
          <p class="process__items__item__text mb-0 lead">
            Once the system is running smoothly, we help you operate it in-house
          </p>
        </div>
        <div class="d-flex mb-5">
          <div>
            <div class="shadowbox variant-1-check mr-4 mr-lg-5"></div>
          </div>
          <p class="process__items__item__text mb-0 lead">
            As needed, we can engage in parallel workstreams <br />
            <span
              >(i.e. simultaneously building your sales funnels + improving
              branding)
            </span>
          </p>
        </div>
      </div>
    </div>

    <!-- read more -->
    <div class="row flex-column flex-lg-row px-3 mt-4 mt-lg-5">
      <a href="" class="arrow-btn variant-1"> Read more </a>
    </div>
  </div>
</section>
