<section id="process" class="process">
  <div class="container">
    <!-- Intro -->
    <div class="row mb-5">
      <div class="col-lg-10">
        <h1 class="mb-4 mb-lg-5 font-weight-bold">
          Our <br />
          Process
        </h1>
        <p class="lead-lg">
          You can expect deliverables in the first two weeks, and
          <span class="font-weight-bold">impossible-to-ignore</span> results in
          the first two months.
        </p>
      </div>
    </div>

    <!-- List items -->
    <div class="process__items row">
      <div class="col-lg-8 pr-lg-0">
        {% for item in page.process.items %}
        <div class="process__items__item d-flex mb-5">
          <div>
            <div class="shadowbox variant-1-check mr-4 mr-lg-5"></div>
          </div>
          <p class="process__items__item__text mb-0 lead">
            {{item.title}} {% if item.content %}
            <span><br/>{{item.content}}</span>
            {% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- read more -->
    <div class="row flex-column flex-lg-row px-3 mt-4 mt-lg-5">
      <a href="" class="arrow-btn variant-1"> Read more </a>
    </div>
  </div>
</section>
