<!-- Case Studies: Intro -->
<section id="case-studies" class="case-studies">
  <div class="case-studies__intro container text-center text-lg-left">
    <div class="row">
      <div class="col-lg-7 position-relative order-2 order-lg-1">
        <h2 class="case-studies__intro__title mb-3 mb-lg-5">
          Curious to see what our work looks like in action?
        </h2>
        <p class="lead">Check out these case studies.</p>
        <div
          class="case-studies__intro__line1 line active-in-view d-none d-lg-block"
        >
          <img src="/assets/images/home/studies-line1.svg" />
        </div>
      </div>
      <div
        class="col-lg-5 text-center text-lg-right order-1 order-lg-2 mb-4 mb-lg-0"
      >
        <img
          class="case-studies__intro__warningimg"
          src="assets/images/home/contains-warning.png"
        />
      </div>
    </div>
  </div>
</section>

<!-- Case Studies: Tiktok -->
<section id="case-studies-tiktok" class="case-studies__item">
  <!-- background -->
  <div class="case-studies__item__bg">
    <img
      class="d-none d-lg-block"
      src="/assets/images/home/studies-tiktok-bg.png"
    />
    <img
      class="d-lg-none d-block img-fluid"
      src="/assets/images/home/studies-tiktok-bg-mobile.png"
    />
  </div>

  <!-- content -->
  <div class="case-studies__item__content container">
    <div class="row">
      <div class="col-lg-8 px-lg-4">
        <img
          class="case-studies__item__logo img-fluid"
          src="assets/images/home/studies-tiktok-logo.png"
        />
        <p>
          Ha, don’t get us wrong here - TikTok was already booming! But at the
          same time, new advertisers were hesitating to get on board. Long story short…
        </p>
        <p class="lead-lg">
          We investigated, found the bottleneck and built
          <span class="text-highlight"
            >segmented, automated sales funnels for each of their customer
            profiles</span
          >.
        </p>
        <hr class="case-studies__item__divider" />
        <div class="d-flex flex-column flex-lg-row">
          <a href="/case-studies/tiktok" class="arrow-btn variant-6"> Read more </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Case Studies: Alpian -->
<section id="case-studies-alpian" class="case-studies__item">
  <!-- background -->
  <div class="case-studies__item__bg">
    <img
      class="d-none d-lg-block"
      src="/assets/images/home/studies-alpian-bg.png"
    />
    <img
      class="d-lg-none d-block img-fluid"
      src="/assets/images/home/studies-alpian-bg-mobile.png"
    />
  </div>

  <!-- content -->
  <div class="case-studies__item__content container">
    <div class="row justify-content-end">
      <div class="col-lg-7 pr-lg-4">
        <img
          class="case-studies__item__logo img-fluid mb-4"
          src="assets/images/home/studies-alpian-logo.png"
        />
        <p>
          We’ve been Alpian’s right hand since pre-launch, handling their
          digital marketing. Together, we’ve locked down their series A…
        </p>
        <p class="lead-lg">
          and
          <span class="text-highlight">$18 million of series B funding</span>, so
          something must be working.
        </p>
        <hr class="case-studies__item__divider" />
        <div class="d-flex flex-column flex-lg-row">
          <a href="/case-studies/alpian" class="arrow-btn variant-5"> Read more </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Case Studies: Core Life Analytics -->
<section id="case-studies-cla" class="case-studies__item">
  <!-- background -->
  <div class="case-studies__item__bg">
    <img
      class="d-none d-lg-block"
      src="/assets/images/home/studies-corelifeanalytics-bg.png"
    />
    <img
      class="d-lg-none d-block img-fluid"
      src="/assets/images/home/studies-corelifeanalytics-bg-mobile.png"
    />
  </div>

  <!-- content -->
  <div class="case-studies__item__content container">
    <div class="row">
      <div class="col-lg-7 px-lg-5">
        <img
          class="mb-4 case-studies__item__logo img-fluid"
          src="assets/images/home/studies-corelifeanalytics-logo.png"
        />
        <p>
          Core Life’s data-crunching service for microbiologists had some big,
          early wins. But before long, they were dreaming of scaled growth.
        </p>
        <p class="lead-lg">
          That’s when we came in, built new sales funnels, and delivered a video that CEO
          David described as “
          <span class="text-highlight">unparalleled in our space</span>”.
        </p>
        <hr class="case-studies__item__divider" />
        <div class="d-flex flex-column flex-lg-row">
          <a href="/case-studies/corelifeanalytics" class="arrow-btn variant-4"> Read more </a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener("load", function () {
    document.querySelectorAll(".case-studies__item__bg").forEach((el) => {
      new simpleParallax(el, { scale: 1.1, overflow: true });
    });
  });
</script>
