<!-- Case Studies: Intro -->
<section id="case-studies" class="case-studies">
  <div class="case-studies__intro container text-center text-lg-left">
    <div class="row">
      <div class="col-md-6 position-relative px-5 px-lg-0 order-2 order-lg-1">
        <h2 class="case-studies__intro__title mb-4 mb-lg-5">
          Curious to see what our work looks like in action?
        </h2>
        <p class="lead">Check out these case studies.</p>
        <img
          class="case-studies__intro__line1 d-none d-lg-block"
          src="/assets/images/home/studies-line1.svg"
        />
      </div>
      <div
        class="col-md-6 text-center text-lg-right order-1 order-lg-2 mb-4 mb-lg-0"
      >
        <img
          class="case-studies__intro__warningimg"
          src="assets/images/home/contains-warning.png"
        />
      </div>
    </div>
  </div>
</section>

<!-- Case Studies: Tiktok -->
<section id="case-studies-tiktok" class="case-studies__item">
  <!-- background -->
  <div class="case-studies__item__bg">
    <img src="/assets/images/home/studies-tiktok-bg.png" />
  </div>

  <!-- content -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 px-md-5">
        <img
          class="case-studies__item__logo img-fluid"
          src="assets/images/home/studies-tiktok-logo.png"
        />
        <p>
          Ha, don’t get us wrong here - TikTok was already booming! But at the
          same time, new advertisers were hesitating to get on board…
        </p>
        <p class="lead-lg">
          Long story short, we investigated, found the bottleneck and built
          <span class="font-weight-bold" style="color: #ea3354"
            >segmented, automated sales funnels for each oftheir
            customerprofiles</span
          >.
        </p>
        <hr class="case-studies__item__divider" />
        <div class="d-flex">
          <a href="" class="arrow-btn variant-6"> Read more </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Case Studies: Alpian -->
<section id="case-studies-alpian" class="case-studies__item">
  <!-- background -->
  <div class="case-studies__item__bg">
    <img src="/assets/images/home/studies-alpian-bg.png" />
  </div>

  <!-- content -->
  <div class="container" style="padding-top: 380px">
    <div class="row justify-content-end">
      <div class="col-md-8 px-md-5">
        <img
          class="case-studies__item__logo img-fluid"
          src="assets/images/home/studies-alpian-logo.png"
        />
        <p>
          We’ve been Alpian’s right hand since pre-launch, handling their
          digital marketing. Together, we’ve locked down series A…
        </p>
        <p class="lead-lg">
          and
          <span class="font-weight-bold" style="color: #292f47"
            >$X million of series B funding</span
          >, so something must be working.
        </p>
        <hr class="case-studies__item__divider" />
        <div class="d-flex">
          <a href="" class="arrow-btn variant-5"> Read more </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Case Studies: Core Life Analytics -->
<section
  id="case-studies-cla"
  class="case-studies__item"
  style="padding-bottom: 250px"
>
  <!-- background -->
  <div class="case-studies__item__bg">
    <img src="/assets/images/home/studies-corelifeanalytics-bg.png" />
  </div>

  <!-- content -->
  <div class="container" style="padding-top: 380px">
    <div class="row">
      <div class="col-md-7 px-md-5">
        <img
          class="mb-4 case-studies__item__logo img-fluid"
          src="assets/images/home/studies-corelifeanalytics-logo.png"
        />
        <p style="color: #632249">
          Core Life’s data-crunching service for microbiologists had some big,
          early wins. But before long, they were dreaming of scaled growth.
        </p>
        <p class="lead-lg" style="color: #632249">
          That’s when we came in, built new sales funnels, and delivered a video
          David described as “
          <span class="font-weight-bold" style="color: #b63e86"
            >unparalleled in our space</span
          >”. We’re still blushing!
        </p>
        <hr class="case-studies__item__divider" />
        <div class="d-flex">
          <a href="" class="arrow-btn variant-4"> Read more </a>
        </div>
      </div>
    </div>
  </div>
</section>
