<section id="hero" class="hero position-relative">
  <!-- Background -->
  <div class="hero__bg position-absolute w-100">
    <img class="w-100 d-none d-lg-block" src="assets/images/home/hero-bg.png" />
    <img
      class="w-100 d-block d-lg-none"
      src="assets/images/home/hero-bg-mobile.png"
    />
  </div>

  <div class="container position-relative">
    <!-- intro -->
    <div class="hero__intro px-3 px-lg-0 text-center text-lg-left">
      <h1 class="text-primary font-weight-bold mb-4">
        Growth, <br /><span class="text-secondary">baby!</span>
      </h1>
      <p class="lead">
        The name’s Double, and our game is
        <span class="text-highlight"> scaling businesses up. </span>
      </p>
    </div>

    <!-- Arrows and images -->
    <div class="hero__bggraphics">
      <div class="hero__bggraphics__arrows">
        <img
          class="hero__bggraphics--arrow1 img-fluid position-relative"
          src="assets/images/home/hero-arrow-light.png"
        />
        <img
          class="hero__bggraphics--arrow2 img-fluid position-absolute"
          src="assets/images/home/hero-arrow-dark.png"
        />
      </div>
      <img
        class="hero__bggraphics--img1 img-fluid position-absolute"
        src="assets/images/home/hero-1.png"
      />
      <img
        class="hero__bggraphics--img2 img-fluid position-absolute"
        src="assets/images/home/hero-2.png"
      />
      <img
        class="hero__bggraphics--img3 img-fluid position-absolute"
        src="assets/images/home/hero-3.png"
      />
      <img
        class="hero__bggraphics--img4 img-fluid position-absolute"
        src="assets/images/home/hero-4.png"
      />
      <img
        class="hero__bggraphics--img5 img-fluid position-absolute"
        src="assets/images/home/hero-5.png"
      />
    </div>

    <!-- bottom -->
    <div
      class="hero__bottom text-center text-lg-left px-3 px-lg-0 d-flex justify-content-end"
    >
      <div class="hero__bottom__inner">
        <p class="lead">
          We’re marketing
          <span class="text-highlight">super-nerds</span>, ready to architect
          and execute your
          <span class="text-highlight">growth strategy</span> with
          <span class="text-highlight">systems-thinking</span>.
        </p>
      </div>
    </div>
  </div>

  <!-- Bottom arrow -->
  <a
    href="#clients"
    class="hero__bottom-arrow-wrapper w-100 d-flex d-lg-none justify-content-center"
  >
    <div class="hero__bottom-arrow"></div>
  </a>
</section>
