<section id="clients" class="clients">
  <div class="container">
    <div class="position-relative">
      <div class="clients__logos--desktop d-none d-lg-block">
        <!-- Lines -->
        <div class="clients__lines">
          <img
            class="clients__lines--line1"
            src="/assets/images/home/explode-line1.svg"
          />
          <img
            class="clients__lines--line2"
            src="/assets/images/home/explode-line2.svg"
          />
        </div>
        <!-- Row 1 -->
        <div class="row justify-content-around align-items-center">
          <div>
            <img src="{{ page.client_logos[0].path }}" />
          </div>
          <div>
            <p class="lead-lg text-center mb-0" style="width: 390px">
              {{ page.client_logos_text[0] }}
            </p>
          </div>
          <div>
            <img src="{{ page.client_logos[1].path }}" />
          </div>
        </div>

        <!-- Row 2 -->
        <div class="row justify-content-between align-items-center">
          <div>
            <img src="{{ page.client_logos[2].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[3].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[4].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[5].path }}" />
          </div>
        </div>

        <!-- Row 3 -->
        <div class="row justify-content-around align-items-center">
          <div>
            <img src="{{ page.client_logos[6].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[7].path }}" />
          </div>
          <div>
            <p class="lead-lg text-center mb-0" style="width: 380px">
              {{ page.client_logos_text[1] }}
            </p>
          </div>
        </div>

        <!-- Row 4 -->
        <div class="row justify-content-between align-items-center">
          <div>
            <img src="{{ page.client_logos[8].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[9].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[10].path }}" />
          </div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="clients__logos--mobile d-block d-lg-none">
        <div class="row justify-content-between align-items-center">
          <div>
            <img src="{{ page.client_logos[0].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[1].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[2].path }}" />
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <p class="lead-lg text-center mb-0" style="width: 80%">
            {{ page.client_logos_text[0] }}
          </p>
        </div>

        <div
          class="row justify-content-between align-items-center position-relative"
        >
          <img
            style="
              transform: rotate(35deg);
              position: absolute;
              left: 25%;
              top: -20px;
            "
            src="/assets/images/home/explode-line1.svg"
          />
          <div>
            <img src="{{ page.client_logos[3].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[4].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[5].path }}" />
          </div>
        </div>

        <div class="row justify-content-between align-items-center">
          <div>
            <img src="{{ page.client_logos[6].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[7].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[8].path }}" />
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <p class="lead-lg text-center mb-0" style="width: 80%">
            {{ page.client_logos_text[1] }}
          </p>
        </div>

        <div
          class="row justify-content-between align-items-center position-relative"
        >
          <img
            style="position: absolute; top: -20px; left: 39%"
            src="/assets/images/home/explode-line3.svg"
          />
          <div>
            <img src="{{ page.client_logos[9].path }}" />
          </div>
          <div>
            <img src="{{ page.client_logos[10].path }}" />
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <p class="lead-lg text-center mb-0">
          ...chances are that we can <br />help you
          <span style="text-decoration-line: line-through; color: #b6b6b6">
            scale up
          </span>
        </p>
      </div>
    </div>

    <!-- Explode -->
    <div
      class="row justify-content-center position-relative"
      style="margin-bottom: 270px"
    >
      <h1
        class="text-primary"
        style="font-weight: 600; font-size: 110px; line-height: 165px"
      >
        explode
      </h1>
      <img
        class="position-absolute"
        style="top: -200%; z-index: -1"
        src="/assets/images/home/explode-stroke.png"
      />
    </div>

    <!-- Circles -->
    <div class="row justify-content-center position-relative">
      <div
        class="bg-secondary text-light d-flex align-items-center justify-content-center"
        style="width: 528px; height: 528px; border-radius: 100%"
      >
        <h3>Stories</h3>
      </div>
      <div
        class="bg-primary text-light position-absolute d-flex align-items-center justify-content-center"
        style="width: 528px; height: 528px; border-radius: 100%; left: 255px"
      >
        <h3>Systems</h3>
      </div>
    </div>

    <!-- Footer -->
    <div class="row justify-content-center position-relative text-center mt-5">
      <div class="col-md-7">
        <p class="lead-lg">
          We’ve been taking notes on what’s happening in
          <span class="text-highlight">Silicon Valley</span>.
        </p>
        <p>
          Without exception, the
          <span class="text-highlight">world’s fastest growing</span> companies
          have scrapped traditional marketing strategies to instead create
          cycling marketing systems called
          <span class="text-highlight">Growth Loops</span>.
        </p>
      </div>
    </div>
  </div>
</section>
