<section id="academy" class="academy">
  <!-- Hat image -->
  <div class="academy__hat">
    <img src="/assets/images/home/academy-hat.png" />
  </div>

  <div class="academy__inner container position-relative">
    <!-- background images -->
    <div class="academy__bg">
      <img
        class="academy__bg--img1"
        src="/assets/images/home/academy-img-1.png"
      />
      <img
        class="academy__bg--img2"
        src="/assets/images/home/academy-img-2.png"
      />
      <img
        class="academy__bg--img3"
        src="/assets/images/home/academy-img-3.png"
      />
      <img
        class="academy__bg--img4"
        src="/assets/images/home/academy-img-4.png"
      />
    </div>

    <!-- Content -->
    <div class="academy__content row justify-content-center text-lg-center">
      <div class="col-md-7 px-md-5">
        <h2 class="mb-4">Double Academy</h2>
        <p>
          Our flagship product, Elite, started as a proof of concept for our
          Growth Loops methodology. Then, it turned into our vehicle for
          affordably educating marketers and entrepreneurs.
        </p>
        <p class="lead-lg">
          These days, it has a
          <span class="font-weight-bold">$10k monthly ad-spend</span>, and has
          taught more than
          <span class="font-weight-bold">30,000 students</span>.
        </p>
        <div
          class="d-flex flex-column flex-lg-row justify-content-center mt-lg-5"
        >
          <hr class="academy__divider d-block d-lg-none" />
          <a href="" class="arrow-btn variant-3"> Read more </a>
        </div>
      </div>
    </div>
  </div>
</section>
