<section id="pricing" class="pricing py-0">
  <!-- Background -->
  <div class="pricing__bg"></div>

  <!-- Content -->
  <div class="pricing__content container position-relative">
    <!-- Background -->
    <div class="pricing__content__bg"></div>

    <div class="row">
      <!-- Column 1 -->
      <div class="pricing__content__col1 d-flex flex-column col-lg-5 pr-lg-5">
        <div style="flex: 1">
          <h2 class="mb-4">We like simple, transparent pricing</h2>
          <p>
            (And it also prevents us engaging with people who can’t afford our
            services quite yet).
          </p>
        </div>
        <hr style="width: 100%; margin-bottom: 0" class="d-none d-lg-block" />
      </div>

      <!-- Column 2 -->
      <div class="col-lg-7">
        <div class="pricing__content__col2__bg"></div>
        <div class="pricing__content__col2">
          <div class="d-flex flex-column text-right">
            <h2 class="pricing__content__col2__price">€90</h2>
            <p class="lead-lg">/hour</p>
          </div>
          <hr />
          <p class="lead mb-0">A minimum commitment starts at 10 hours/week</p>
          <hr />
          <p class="lead mb-0">
            We’re looking for long-term collaborations (6+ months)
          </p>
        </div>
      </div>
    </div>

    <!-- bottom -->
    <div class="pricing__bottom row mt-4 mt-lg-0">
      <div class="col-lg-12">
        <div
          class="d-flex flex-column flex-lg-row flex-wrap justify-content-between align-items-center py-5"
        >
          <div>
            <p class="lead">Not clear enough?</p>
            <p class="lead-lg">See what it looks like in practice.</p>
          </div>
          <div class="pricing__bottom__button d-flex">
            <a href="/clients" class="arrow-btn variant-2">See Example </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
