<section id="academy" class="academy">
  <!-- Hat image -->
  <div class="academy__hat">
    <img src="/assets/images/home/academy-hat.png" />
  </div>

  <div class="academy__inner container position-relative">
    <!-- background images -->
    <div class="academy__bg">
      <img
        class="academy__bg--img1"
        src="/assets/images/home/academy-img-1.png"
      />
      <img
        class="academy__bg--img2"
        src="/assets/images/home/academy-img-2.png"
      />
      <img
        class="academy__bg--img3"
        src="/assets/images/home/academy-img-3.png"
      />
      <img
        class="academy__bg--img4"
        src="/assets/images/home/academy-img-4.png"
      />
    </div>

    <!-- Content -->
    <div class="academy__content row justify-content-center text-lg-center">
      <div class="col-lg-7 px-lg-5">
        <h2 class="mb-4">Double Academy</h2>
        <p>
          <b>Over 30,000 students have used our course to reframe how they see marketing.</b><br><br>
          Our course teaches Growth Loops, the marketing methodology responsible for our clients’ success. We’re happily investing $10k per month shouting about it!
        </p>
        <p class="lead-lg">
          We’re part-time professors
        </p>
        <div
          class="d-flex flex-column flex-lg-row justify-content-center mt-lg-5"
        >
          <hr class="academy__divider d-block d-lg-none" />
          <a href="/academy" class="arrow-btn variant-3"> Read more </a>
        </div>
      </div>
    </div>
  </div>
</section>
