<section id="clients" class="clients">
  <div class="container">
    <div class="position-relative">
      <div class="clients__logos--desktop d-none d-lg-block">
        <!-- Lines -->
        <div class="clients__lines">
          <img
            class="clients__lines--line1"
            src="/assets/images/home/explode-line1.svg"
          />
          <img
            class="clients__lines--line2"
            src="/assets/images/home/explode-line2.svg"
          />
        </div>
        <!-- Row 1 -->
        <div class="row justify-content-around align-items-center">
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[0].path }}"
            />
          </div>
          <div>
            <p class="lead-lg text-center mb-0" style="width: 390px">
              {{ page.client_logos_text[0] }}
            </p>
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[1].path }}"
            />
          </div>
        </div>

        <!-- Row 2 -->
        <div class="row justify-content-between align-items-center">
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[2].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[3].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[4].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[5].path }}"
            />
          </div>
        </div>

        <!-- Row 3 -->
        <div class="row justify-content-around align-items-center">
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[6].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[7].path }}"
            />
          </div>
          <div>
            <p class="lead-lg text-center mb-0" style="width: 380px">
              {{ page.client_logos_text[1] }}
            </p>
          </div>
        </div>

        <!-- Row 4 -->
        <div class="row justify-content-between align-items-center">
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[8].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[9].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[10].path }}"
            />
          </div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="clients__logos--mobile d-block d-lg-none">
        <div class="row justify-content-between align-items-center">
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[0].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[1].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[2].path }}"
            />
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <p class="lead-lg text-center mb-0" style="width: 80%">
            {{ page.client_logos_text[0] }}
          </p>
        </div>

        <div
          class="row justify-content-between align-items-center position-relative"
        >
          <img
            style="
              transform: rotate(35deg);
              position: absolute;
              left: 25%;
              top: -20px;
            "
            src="/assets/images/home/explode-line1.svg"
          />
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[3].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[4].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[5].path }}"
            />
          </div>
        </div>

        <div class="row justify-content-between align-items-center">
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[6].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[7].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[8].path }}"
            />
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <p class="lead-lg text-center mb-0" style="width: 80%">
            {{ page.client_logos_text[1] }}
          </p>
        </div>

        <div
          class="row justify-content-between align-items-center position-relative"
        >
          <img
            style="position: absolute; top: -20px; left: 39%"
            src="/assets/images/home/explode-line3.svg"
          />
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[9].path }}"
            />
          </div>
          <div>
            <img
              class="clients__logoitem"
              src="{{ page.client_logos[10].path }}"
            />
          </div>
        </div>
      </div>

      <div class="row justify-content-center pt-5 pt-lg-0 pb-4 pb-lg-0">
        <p class="lead-lg text-center mb-0">
          {{ page.client_logos_text[2] }}
        </p>
      </div>
    </div>

    <!-- Explode -->
    <div class="clients__explode row justify-content-center position-relative">
      <h1 class="clients__explode__text text-primary">explode</h1>
      <img
        class="clients__explode__bg position-absolute"
        src="/assets/images/home/explode-stroke.png"
      />
    </div>

    <!-- Circles -->
    <div class="row justify-content-center">
      <div class="clients__circles position-relative">
        <div class="clients__circles--circle1">
          <h3 class="clients__circles--circle1__text">Stories</h3>
        </div>
        <div class="clients__circles--circle2">
          <h3
            class="clients__circles--circle2__text"
            data-animationend-text="System & Stories"
          >
            Systems
          </h3>
          <div class="clients__circles__curved-text">
            <img
              class="clients__circles__curved-text--mobile d-lg-none d-block"
              src="/assets/images/home/explode-curved-text-mobile.png"
            />
            <div
              class="clients__circles__curved-text--desktop--wrapper d-none d-lg-block"
            >
              <img
                class="clients__circles__curved-text--desktop"
                src="/assets/images/home/explode-curved-text.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div
      class="clients__footer row justify-content-center position-relative text-center mt-4 mt-lg-5"
    >
      <div class="col-lg-7 px-4">
        <p class="lead-lg">
          We’ve been taking notes on what’s happening in
          <span class="text-highlight">Silicon Valley</span>.
        </p>
        <p>
          Without exception, the
          <span class="text-highlight">world’s fastest growing</span> companies
          have scrapped traditional marketing strategies to instead create
          cycling marketing systems called
          <span class="text-highlight">Growth Loops</span>.
        </p>
      </div>
    </div>
  </div>

  <script>
    (async () => {
      let animationDone = false;
      const footer = document.querySelector(".clients__footer");
      const circle1 = document.querySelector(".clients__circles--circle1");
      const circle2 = document.querySelector(".clients__circles--circle2");
      const circle1TextEl = document.querySelector(
        ".clients__circles--circle1__text"
      );
      const circle2TextEl = document.querySelector(
        ".clients__circles--circle2__text"
      );
      const curvedText = document.querySelector(
        ".clients__circles__curved-text--desktop--wrapper"
      );

      const sleep = (ms) => {
        return new Promise((resolve) => setTimeout(resolve, ms));
      };

      const animateCircle = (circle, startPoint, duration) => {
        circle.animate(
          [
            { transform: `translateX(${startPoint})`, opacity: 0 },
            { transform: "translateX(0%)", opacity: 1 },
          ],
          { duration, fill: "both" }
        );
      };

      const animateCircleText = (textEl, duration) => {
        textEl.animate([{ opacity: 1 }, { opacity: 0 }, { opacity: 1 }], {
          duration,
          fill: "both",
        });
      };

      const animateCurvedText = async (delayDuration) => {
        await sleep(delayDuration);
        curvedText.animate(
          [
            { opacity: 0, transform: "rotate(45deg)" },
            { opacity: 1, transform: "rotate(0)" },
          ],
          { duration: 1000, fill: "both" }
        );
      };

      const fadeIn = async (el, duration) => {
        el.animate([{ opacity: 0 }, { opacity: 1 }], {
          duration,
          fill: "both",
        });
      };

      const changeCircle2Text = () => {
        circle2TextEl.innerHTML = circle2TextEl.getAttribute(
          "data-animationend-text"
        );
      };

      const main = async () => {
        animateCircle(circle1, "60%", 2000);
        animateCircle(circle2, "-60%", 2000);
        fadeIn(footer, 3000);

        // Should be half of animateCircle anmimation
        await sleep(1000);

        animateCircleText(circle1TextEl, 1000);
        animateCircleText(circle2TextEl, 1000);
        animateCurvedText(250);

        // Should be half of animateCircleText anmimation
        await sleep(500);

        changeCircle2Text();
      };

      // Only animate on large screens
      if (window.matchMedia("(min-width: 992px)").matches) {
        const callback = (entries, observer) => {
          entries.forEach((entry) => {
            if (!animationDone && entry.intersectionRatio >= 0.75) {
              main();
              animationDone = true;
            }
          });
        };
        const observer = new IntersectionObserver(callback, {
          rootMargin: "0px",
          threshold: 1.0,
        });
        observer.observe(document.querySelector(".clients__circles"));
      } else {
        changeCircle2Text();
      }
    })();
  </script>
</section>
