.clients {
  position: relative;
  padding-bottom: 500px;
  padding-top: 180px;

  &__logos {
    position: relative;

    @include media-breakpoint-down(md) {
      left: -20%;
      min-width: 140%;
      & [class*="__item"] {
        transform: scale(.6)!important;
      }
    }

    @include media-breakpoint-up(md) {
      & [class*="__item"] {
        position: absolute;
      }

      &__item {
        &--1 {
          left: -10px;
          top: 190px;
        }
        &--2 {
          right: -20px;
          top: 300px;
        }
        &--3 {
          right: -200px;
          top: 90px;
        }
        &--4 {
          left: -200px;
          bottom: -200px;
        }
        &--5 {
          left: 35%;
          top: -90px;
        }
        &--6 {
          bottom: -155px;
          left: 150px;
        }
        &--7 {
          bottom: -250px;
          right: -120px;
        }
      }
    }
  }

  &__line1 {
    position: absolute;
    bottom: -30px;
    left: 38%;
  }
}
