.marketing {
  padding-top: 0;
  position: relative;
  top: -85px;
  margin-bottom: -85px;
  padding-bottom: 0;

  &__upper {
    margin-bottom: 125px;

    &__img {
      position: relative;
      bottom: -50px;
    }
  }
}
