---
title: Academy
layout: pages/new-web/default
hide_footer: true

tagline: "Join 15,271+ people in the most popular growth marketing course online"
intro: "A complete account of modern growth marketing & user acquisition"
top_image: /assets/images/Napkin_HQ.png
learn_how_to_title: Learn how to
learn_how_to_items:
  - "**Design sales machines** that work on autopilot"
  - "Learn the **6-step framework** to unlock virtually limitless growth"
  - 'Leverage the **"power law of channels"** for ultimate traffic generation'
  - "Execute **coherent growth strategies** as you scale"

carousel_items:
  - title: Morgan
    subtitle: USA
    body: Your course is very simple to understand, and I really love how you focus on systematic execution to focus on what works and what doesn't. 
    image_position: right
    image: /assets/images/new-web/testimonial_8.png
  - title: Marvin
    subtitle: France
    body: My biggest concern was that I don't speak fluent English, but all the course itself is very informative, fun and easy to read.
    image_position: right
    image: /assets/images/new-web/testimonial_3.png
  - title: Alex 
    subtitle: USA
    body: I totally dig this kind of thinking Pieter! Love your emails, very easy to read.
    image_position: right
    image: /assets/images/new-web/testimonial_4.png
  - title: Frank
    subtitle: Netherlands
    body: As one of the first students, I can say it's one of the most informative and complete courses on marketing out there!
    image_position: right
    image: /assets/images/new-web/testimonial_1.png
  - title: Surresh 
    subtitle: India
    body: Working in marketing for years, I didn't think you could change my mind. But your view on growth loops really did!
    image_position: right
    image: /assets/images/new-web/testimonial_7.png

steps_carousel:
  - title: Growth Marketing
    subtitle: "Day 1:"
    body: From the age of classic advertisement to the era of growth.
  - title: System Thinking
    subtitle: "Day 2:"
    body: How you can create a business that is an automated set of systems.
  - title: Growth is not Hacks
    subtitle: "Day 3:"
    body: You're not gonna hack your way to growth these days. The real magic comes from growth strategy.
  - title: Radical Empathy
    subtitle: "Day 4:"
    body: How to understand your customers and make yourself wanna be heard.
  - title: Copywriting
    subtitle: "Day 5:"
    body: Automate your sales, by learning how you can write to sell.
  - title: Risk Elimination
    subtitle: "Day 6:"
    body: The only failproof businessplan is focussed on the risks your business is taking. Learn how to focus on the right objectives to minimize your risks!
  - title: Growth Loops
    subtitle: "Day 7:"
    body: Growth happens in loops. These growth loops are the foundation of your marketing. Learn about the numerous amount of growth loops out there.
  - title: Week 2
    subtitle: "Day 8-15"
    body: The second week will dive deeper into the dynamics of growth. I'll show you how you can build growth into the 'DNA of you business'.

---

<section class="notification-bar">
  <div class="container">
    <div class="row">
      <div class="col">
        {{ page.tagline }}
      </div>
    </div>
  </div>
</section>

<section class="pt-5 pb-0">
  <div class="container text-left text-md-center">
    <div class="row">
      <div class="col">
        <h3>{{ page.intro }}</h3>
      </div>
    </div>
  </div>
</section>

<section class="text-center py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="img-fluid" src="{{ page.top_image }}" />
      </div>
    </div>
  </div>
</section>

<section class="pb-5 pt-4">
  <div class="container px-0">
    <div style="overflow: hidden;">
      <img src="/assets/images/new-web/striped_bg.jpg" />
    </div>
  </div>
</section>

{% include new-web/checklist-with-title.html 
  title=page.learn_how_to_title
  items=page.learn_how_to_items
  class="py-0" %}

<section class="pt-0">
  <div class="container">
    <div class="text-center">
      <button class="mt-4 btn btn-primary btn-shadow font-weight-bold" data-toggle="modal" data-target="#join-modal">
        Join Now - It's Free
      </button>
    </div>
  </div>
</section>

<section class="pt-5 px-0 alternate-section">
  <div class="container-fluid px-0">
    {% include new-web/carousel-1.html
      id="carousel-1"
      auto_height="true"
      items=page.carousel_items %}
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-left text-md-center">
        <h3>15 step-by-step lessons on modern startup growth:</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0">
    {% include new-web/carousel-2.html
      id="carousel-2"
      items=page.steps_carousel %}
  </div>
</section>

{% include new-web/text-with-striped-bg.html
  text="<span id='text-under-swipe' class='font-weight-bold'>Swipe to explore email course >></span>" %}


{% capture pieterfooterinner %}
<div class="p-4 p-md-5 form_box" style="background-color: #EFF0F6;">
  <h5 class="mb-0 font-weight-bold">Leave your email</h5>
  <p>and receive the first lesson right away!</p>
  <form action="https://www.getdrip.com/forms/277204824/submissions" method="post" data-drip-embedded-form="277204824">
    <div class="input-group mb-3">
      <input type="email" class="form-control" name="fields[email]" placeholder="Enter your email" aria-label="Enter your email">
      <div class="input-group-append">
        <input class="btn btn-primary font-weight-bold" type="submit" value="Join Now - It's Free" data-drip-attribute="sign-up-button">
      </div>
    </div>
  </form>
</div>
{% endcapture %}

{% include new-web/pieter-footer.html
  title="Want to learn about growth marketing?"
  lead="Great! Leave your email and enroll in our <i>free</i> 2-week course. Enjoy!"
  content=pieterfooterinner %}

{% include new-web/email-submit-modal.html 
  id="join-modal"
  drip_id="277204824"
  form_label="Email address:"
  title="15 step-by-step lessons on modern startup growth:"
  subtitle="Email course"
  button_text="Get the email course >>" %}