---
title: Blog - Double
layout: pages/new-web/default
custom_header: new-web/header-2.html
custom_footer: new-web/footer-2.html
stylesheets:
  - /assets/blog.css
  - https://unpkg.com/aos@2.3.1/dist/aos.css
scripts:
  - /assets/js/new-web/active-in-view.js
  - https://unpkg.com/aos@2.3.1/dist/aos.js
scripts_footer:
  - https://cdn.jsdelivr.net/npm/simple-parallax-js@5.6.1/dist/simpleParallax.min.js
---


<!-- Hero -->
{% include blog/section-hero.html %}

<!-- Blog posts -->
{% for post in site.posts %}
  {% include blog/post-item.html %}
{% endfor %}

<!-- Bottom -->
{% include new-web/bottom-section-1.html
  subtitle="Become Our"
  title="Next Client"
  content="You got this far because the evidence is hard to ignore: we’ve grown businesses and will grow yours, too."  
%}

<script>
  AOS.init({ once: true });
</script>
