---
title: Blog
layout: pages/new-web/default
custom_header: new-web/header-2.html
custom_footer: new-web/footer-2.html
main_css: /assets/blog.css
stylesheets:
  - https://unpkg.com/aos@2.3.1/dist/aos.css
scripts:
  - /assets/js/new-web/active-in-view.js
  - https://unpkg.com/aos@2.3.1/dist/aos.js
scripts_footer:
  - https://cdn.jsdelivr.net/npm/simple-parallax-js@5.6.1/dist/simpleParallax.min.js
---


<!-- Hero -->
{% include blog/section-hero.html %}

<!-- Blog posts -->
<section class="blog-posts" style="padding-bottom: 0;">
  <div class="container">
    <div class="row post-cards">
      {% for post in site.posts %}
      {% if forloop.index < 5 %}
      {% assign remainder = forloop.index | modulo: 2 %}
      {% assign padding = "pr-lg-5 pl-lg-0" %}
      {% if remainder == 0 %}
      {% assign padding = "pl-lg-5 pr-lg-0" %}
      {% endif %}
      <div class="col-lg-6 {{padding}}">
        {% include blog/post-card.html %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<!-- Subscribe banner -->
{% include new-web/subscribe-banner.html %}

<!-- Blog posts -->
<section class="blog-posts">
  <div class="container">
    <div class="row post-cards">
      {% for post in site.posts %}
      {% if forloop.index > 4 %}
      {% assign remainder = forloop.index | modulo: 2 %}
      {% assign padding = "pr-lg-5 pl-lg-0" %}
      {% if remainder == 0 %}
      {% assign padding = "pl-lg-5 pr-lg-0" %}
      {% endif %}
      <div class="col-lg-6 {{padding}}">
        {% include blog/post-card.html %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<!-- Bottom -->
{% include new-web/bottom-section-1.html
  subtitle="Become Our"
  title="Next Client"
  content="You got this far because the evidence is hard to ignore: we’ve grown businesses and will grow yours, too."  
%}

<script>
  AOS.init({ once: true });
</script>
