---
title: 
layout: pages/new-web/default
hide_footer: true

---

<!-- SECTION: random gif -->
<section class="pb-4 pt-2">
  <div class="container">
    <div class="row flex-column text-center">
      <div class="pb-3">
        {% include new-web/random-video.html %}
      </div>
      <div><strong>Thanks for clicking!</strong></div>
      <div>We'll be sure to remember that..</div>
    </div>
  </div>
</section>

<section class="pt-5 pb-0 px-0">
  <div class="container">
    <div class="col">
      <h3 class="text-center">Explore the blog for more growth ideas:</h3>
    </div>
  </div>
</section>

<!-- SECTION: slider -->
<section class="py-5 px-0">
  <div class="container">
    {% include new-web/carousel-3.html
      id="carousel-3"
      items=site.posts %}
  </div>
</section>

{% include new-web/text-with-striped-bg.html
  text="Swipe to explore more articles >>" %}