---
title: Clients
layout: pages/new-web/default
custom_header: new-web/header-2.html
custom_footer: new-web/footer-2.html
main_css: ""
scripts:
  - https://unpkg.com/aos@2.3.1/dist/aos.js
  - https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js
scripts_footer:
  - https://cdn.jsdelivr.net/npm/simple-parallax-js@5.6.1/dist/simpleParallax.min.js
stylesheets:
  - /assets/clients.css
  - https://unpkg.com/aos@2.3.1/dist/aos.css
industries: ["All", "SaaS", "Mobile", "FinTech", "Customer", "B2B", "High-tech"]
services:
  ["All", "Webdesign", "LinkedIn ads", "Onboarding", "Instagram & Pinterest ads"]
clients:
  # Klooker
  - title: klooker
    logo: /assets/images/clients/klooker-logo.svg
    industry: FinTech
    services:
      - "Webdesign"
      - "LinkedIn ads"
      - "Onboarding"
    description: "“Double’s team is extremely forthcoming with ideas to engage ourcostumer further.“"
    testimonial_name: Dennis Kamst
    testimonial_jobtitle: Founder & CEO at klooker
    background_color: "#725D87"
    background_image: /assets/images/clients/klooker_background.jpg
    background_image_mobile: /assets/images/clients/klooker_background-mobile.jpg
    arrow: light
    size: lg
    page_url: "#"

  # Insecto Cycle
  - title: Insecto Cycle
    logo: /assets/images/clients/insecto_cycle-logo.svg
    industry: B2B
    services:
      - "Instagram & Pinterest ads"
      - "Funnels"
      - "Analytics"
    description: For BABB our partner Pieter crafted the strategic messaging & positioning that resulted in them *raising a massive $25MM Initial Coin Offering (ICO)… Wow!
    background_color: "#E4F0EC"
    arrow: dark
    size: sm
    page_url: "#"

  # utrechtinc
  - title: utrechtinc
    logo: /assets/images/clients/utrechtinc-logo.svg
    industry: Customer
    services:
      - "Funnels"
      - "Onboarding"
    description: We’ve become Insecto Cycle’stechnical handymen and scale-up department.
    background_color: "#FFFFFF"
    arrow: dark
    size: sm
    page_url: "#"

  # Peg
  - title: Peg
    logo: /assets/images/clients/peg-logo.svg
    industry: High-tech
    services:
      - "Webdesign"
      - "Linkedin ads"
      - "Copywriting"
    description: London-based Peg raised a $1M+ Series A round after Pieter set up a stable sales infrastructure and outbound sales engine.
    background_color: "#E94058"
    arrow: light
    size: sm
    page_url: "#"

  # BABB
  - title: BABB
    logo: /assets/images/clients/babb-logo.svg
    industry: SaaS
    services:
      - "Instagram & Pinterest ads"
      - "Funnels"
      - "Analytics"
    description: We already had some cool marketing ideas, but Pieter really helped us shape a clear and successful marketing plan that growth hacked our entire ICO.
    testimonial_name: Demetrios Zamboglou
    testimonial_jobtitle: CEO at BABB
    background_image: /assets/images/clients/babb_background.svg
    arrow: light
    size: md
    page_url: "#"

  # sendcloud
  - title: sendcloud
    logo: /assets/images/clients/sendcloud-logo.svg
    industry: Mobile
    services:
      - "Funnels"
      - "Onboarding"
    description: We’ve become Insecto Cycle’s technical handymen and scale-up department.
    background_color: "#EEF6FF"
    arrow: dark
    size: sm
    page_url: "#"

  # TikTok
  - title: TikTok
    logo: /assets/images/clients/tiktok-logo.jpg
    industry: FinTech
    services:
      - "Webdesign"
      - "LinkedIn ads"
      - "Onboarding"
    description: "“Double’s team is extremely forthcoming with ideas to engage ourcostumer further.“"
    testimonial_name: Dennis Kamst
    testimonial_jobtitle: Founder & CEO at klooker
    background_color: "#000"
    background_image: /assets/images/clients/tiktok_background.jpg
    background_image_mobile: /assets/images/clients/tiktok_background-mobile.jpg
    arrow: light
    size: lg
    page_url: "#"

  # sendcloud
  - title: sendcloud
    logo: /assets/images/clients/sendcloud-logo.svg
    industry: Mobile
    services:
      - "Funnels"
      - "Onboarding"
    description: We’ve become Insecto Cycle’s technical handymen and scale-up department.
    background_color: "#EEF6FF"
    arrow: dark
    size: sm
    page_url: "#"

  # Elugie
  - title: elugie
    logo: /assets/images/clients/elugie-logo.svg
    industry: SaaS
    services:
      - "Instagram & Pinterest ads"
      - "Funnels"
      - "Analytics"
    description: We already had some cool marketing ideas, but Pieter really helped us shape a clear and successful marketing plan that growth hacked our entire ICO.
    background_image: /assets/images/clients/elugie_background.svg
    arrow: light
    size: md
    page_url: "#"

    # Core Life Analytics
  - title: Core Life Analytics
    logo: /assets/images/clients/core_life_analytics-logo.svg
    industry: B2B
    services:
      - "Funnels"
      - "Onboarding"
    description: For BABB our partner Pieter crafted the strategic messaging & positioning that resulted in them *raising a massive $25MM Initial Coin Offering (ICO)… Wow!
    background_color: "#751162"
    arrow: light
    size: sm
    page_url: "#"

  # Diesel
  - title: Diesel
    logo: /assets/images/clients/diesel-logo.svg
    industry: Customer
    services:
      - "Funnels"
      - "Onboarding"
    description: For BABB our partner Pieter crafted the strategic messaging & positioning that resulted in them *raising a massive $25MM Initial Coin Offering (ICO)… Wow!
    background_color: "#000000"
    arrow: light
    size: sm
    page_url: "#"

  # Switch.CM
  - title: Switch.CM
    logo: /assets/images/clients/switchcm-logo.svg
    industry: High-tech
    services:
      - "Funnels"
      - "Onboarding"
    description: We’ve become Insecto Cycle’s technical handymen and scale-up department.
    background_color: "#7197BB"
    arrow: dark
    size: sm
    page_url: "#"
---

<div id="clients-page">

<!-- Hero -->
<section id="hero">
  <div class="container">
    <div class="row">
      <div
        class="col-md-12 d-flex justify-content-center justify-content-md-between align-items-center"
      >
        <!-- Title -->
        <h1 class="mb-4 mb-md-0">Clients</h1>

        <!-- Service filters -->
        <div class="service_filters dropdown d-none d-md-block">
          <button
            class="service_filters__btn btn btn-light dropdown-toggle"
            type="button"
            id="service_filters"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img class="mr-2" src="/assets/images/clients/chevron-down.svg" />
            #<span v-html="selectedServiceLabel()"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="service_filters">
            {% for service in page.services %}
            <button class="dropdown-item" v-on:click="selectService('{{service}}')">{{service}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Industry filters -->
    <div class="row">
      <div class="col-md-12">
        <div class="industry_filters btn-group d-none d-md-flex" role="group">
          {% for industry in page.industries %}
          <button
            v-on:click="selectIndustry('{{industry}}')"
            v-bind:class="{ active: selectedIndustry === '{{industry}}' }"
            type="button"
            class="industry_filters__item"
          >
            {{industry}}
          </button>
          {% endfor %}
        </div>

        <!-- Industry filters mobile -->
        <div
          class="accordion industry_filters-mobile d-block d-md-none"
          id="industry_filters"
        >
          <button
            class="industry_filters-mobile__mainbtn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            Show <span v-html="selectedIndustry"></span>
            <img
              class="mr-2 industry_filters-mobile__mainbtn__arrow"
              src="/assets/images/clients/chevron-down-light.svg"
            />
          </button>
          <div
            class="collapse"
            id="collapseOne"
            aria-labelledby="headingOne"
            data-parent="#industry_filters"
          >
            {% for industry in page.industries %}
            <button v-on:click="selectIndustry('{{industry}}')" type="button" class="industry_filters-mobile__item">
              {{industry}}
            </button>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Clients -->
<section class="pt-0">
  <div class="container">
    <div class="row">
      {% for client in page.clients %} 

        {% if client.size == "sm" %} 
          <div v-if="isShown('{{client.industry}}', '{{client.services | join: ","}}')" data-aos="fade-in" data-aos-offset="300" data-aos-once="true" class="col-md-4 px-0 px-md-2 mb-3">
            {% include clients/block-sm.html client=client %} 
          </div>

        {% elsif client.size == "md" %} 
          <div v-if="isShown('{{client.industry}}', '{{client.services | join: ","}}')" data-aos="fade-in" data-aos-offset="300" data-aos-once="true" class="col-md-8 px-0 px-md-2 mb-3">
            {% include clients/block-md.html client=client %} 
          </div>

        {% elsif client.size == "lg" %}
        </div>
      </div>
      <div v-if="isShown('{{client.industry}}', '{{client.services | join: ","}}')" data-aos="fade-in" data-aos-offset="300" data-aos-once="true">
        {% include clients/block-lg.html client=client %}
      </div>
      <div class="container">
        <div class="row">

        {% endif %} 
      {% endfor %}
    </div>
  </div>
</section>

<!-- Bottom -->
<section class="bottom_content">
  <div class="container position-relative">
    <!-- Background -->
    <div class="bottom_content__bg_items">
      <div
        class="bottom_content__bg_items__item bottom_content__bg_items__item-1"
      ></div>
      <div
        class="bottom_content__bg_items__item bottom_content__bg_items__item-2"
      ></div>
      <div
        class="bottom_content__bg_items__item bottom_content__bg_items__item-3"
      ></div>
      <img
        class="bottom_content__bg_items__item bottom_content__bg_items__item-4"
        src="/assets/images/clients/bottom-img-1.jpg"
      />
      <img
        class="bottom_content__bg_items__item bottom_content__bg_items__item-5"
        src="/assets/images/clients/bottom-img-2.jpg"
      />
      <img
        class="bottom_content__bg_items__item bottom_content__bg_items__item-6"
        src="/assets/images/clients/bottom-img-3.jpg"
      />
    </div>

    <!-- Content -->
    <div class="row justify-content-center text-center">
      <div class="col-md-6">
        <h3>Become Our</h3>
        <h2 class="mb-2">Next Client</h2>
        <p>
          You got this far because the evidence is hard to ignore: we’ve grown
          businesses and will grow yours, too.
        </p>
        <div class="d-flex flex-column flex-lg-row justify-content-center mt-5">
          <a href="mailto:pieter@double-agency.com" class="arrow-btn variant-1">Contact us</a>
        </div>
        <div class="mt-5" style="font-size: 14px; line-height: 21px">
          <strong>Email</strong>: pieter@double-agency.com <br />
          <strong>WhatsApp</strong>: +316 230 555 90
        </div>
      </div>
    </div>
  </div>
</section>

</div>

<script>
  window.addEventListener("load", function () {
    AOS.init({ once: true });
  });
</script>

<script>
  window.addEventListener("load", function () {
    const item1 = document.querySelectorAll(".bottom_content__bg_items__item").forEach(el => {
      new simpleParallax(el, { scale: 1.3, overflow: true });
    });
  });
</script>

<script>
  const industry = "{{page.industries[0]}}"
  const service = "{{page.services[0]}}"
  const app = new Vue({
    el: "#clients-page",
    data: () => ({
      selectedIndustry: industry,
      selectedService: service
    }),
    methods: {
      selectedServiceLabel: function() {
        return this.selectedService === service ? `${service} services` : this.selectedService;
      },
      selectIndustry: function(industry) {
        this.selectedIndustry = industry;
      },
      selectService: function(service) {
        this.selectedService = service;
      },
      isShown: function(industry, services) {
        const s = services.split(",");
        const isIndustry = this.selectedIndustry == "All" || this.selectedIndustry == industry;
        const isService = this.selectedService == "All" || s.includes(this.selectedService);
        return isIndustry && isService;
      }
    }
  });
</script>
