---
title: Clients
layout: pages/new-web/default
hide_footer: true
clients:
  - title: Insecto Cycle
    logo: /assets/images/clients/insecto_cycle-logo.svg
    industry: B2B
    services:
      - "Instagram & Pinterest ads"
      - "Funnels"
      - "Analytics"
    description: For BABB our partner Pieter crafted the strategic messaging & positioning that resulted in them *raising a massive $25MM Initial Coin Offering (ICO)… Wow!
    background_color: "#E4F0EC"
    arrow: dark
    size: sm
  - title: utrechtinc
    logo: /assets/images/clients/utrechtinc-logo.svg
    industry: Customer
    services:
      - "Funnels"
      - "Onboarding"
    description: We’ve become Insecto Cycle’stechnical handymen and scale-up department.
    background_color: "#FFFFFF"
    arrow: dark
    size: sm
  - title: Peg
    logo: /assets/images/clients/peg-logo.svg
    industry: High-tech
    services:
      - "Webdesign"
      - "Linkedin ads"
      - "Copywriting"
    description: London-based Peg raised a $1M+ Series A round after Pieter set up a stable sales infrastructure and outbound sales engine.
    background_color: "#E94058"
    arrow: light
    size: sm
  - title: BABB
    logo: /assets/images/clients/babb-logo.svg
    industry: SaaS
    services:
      - "Instagram & Pinterest ads"
      - "Funnels"
      - "Analytics"
    description: We already had some cool marketing ideas, but Pieter really helped us shape a clear and successful marketing plan that growth hacked our entire ICO.
    testimonial_name: Demetrios Zamboglou
    testimonial_jobtitle: CEO at BABB
    background_image: /assets/images/clients/babb_background.svg
    arrow: light
    size: md
  - title: sendcloud
    logo: /assets/images/clients/sendcloud-logo.svg
    industry: Mobile
    services:
      - "Funnels"
      - "Onboarding"
    description: We’ve become Insecto Cycle’s technical handymen and scale-up department.
    background_color: "#EEF6FF"
    arrow: dark
    size: sm
---

<style>
  h1 {
    font-size: 90px !important;
    font-weight: 600 !important;
  }
  h2 {
    font-weight: 600 !important;
    font-size: 42px !important;
    line-height: 63px !important;
  }
  h3 {
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 36px !important;
  }
  h6 {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 22px !important;
  }
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
  p.lead {
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 42px !important;
  }

  .client-box {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .client-box__logo {
    height: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .client-box__logo__arrow {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .client-box__content {
    padding: 30px;
    flex: 1;
  }
  .client-box__content__title {
    margin-bottom: 0;
  }
  .client-box__content__industry {
    font-weight: 600;
    font-size: 18px;
    line-height: 42px;
    margin-bottom: 5px;
  }
  .client-box__services {
    display: flex;
  }
  .client-box__services__titlebox {
    background: #359bfa;
    padding: 0px 30px;
  }
  .client-box__services__titlebox p {
    color: #fff;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 42px;
  }
  .client-box__services__valuebox {
    background: #292f47;
    padding: 15px 30px;
    height: 72px;
  }
  .client-box__services__valuebox p {
    color: #fff;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
  .client-box__testimonial {
    font-size: 14px;
    line-height: 18px;
    margin-top: 25px;
  }
  .client-box__testimonial__line {
    width: 100%;
    margin-bottom: 15px;
  }
  .client-box__testimonial__name {
    font-weight: 600;
    margin-bottom: 5px;
  }
  .client-box__testimonial__jobtitle {
    font-weight: normal;
    margin: 0;
  }

  /* SM */
  .client-box__sm .client-box__logo {
    border: 1px solid #e5e5e5;
  }
  .client-box__sm .client-box__content__industry {
    color: #359bfa;
  }
  .client-box__sm .client-box__content {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }
  .client-box__sm .client-box__services {
    flex-direction: column;
  }

  /* MD */
  .client-box__md .client-box__content {
    color: #fff;
  }
  .client-box__md .client-box__services__titlebox {
    display: flex;
    align-items: center;
  }
  .client-box__md .client-box__services__valuebox {
    flex: 1;
    display: flex;
    align-items: center;
  }
</style>

<section>
  <div class="container">
    <div class="row">
      {% for client in page.clients %} {% if client.size == "sm" %}

      <div class="col-md-4 px-2 mb-3">
        <div class="client-box client-box__sm">
          <div
            class="client-box__logo"
            style="background: {{client.background_color}}"
          >
            <div class="client-box__logo__arrow">
              <img
                src="/assets/images/clients/link_arrow-{{client.arrow}}.svg"
              />
            </div>
            <img src="{{client.logo}}" alt="{{client.title}} logo" />
          </div>
          <div class="client-box__content">
            <h3 class="client-box__content__title">{{client.title}}</h3>
            <p class="client-box__content__industry">{{client.industry}}</p>
            <p class="client-box__content__description">
              {{client.description}}
            </p>
          </div>
          <div class="client-box__services">
            <div class="client-box__services__titlebox">
              <p>We worked on:</p>
            </div>
            <div class="client-box__services__valuebox">
              <p>
                {% for service in client.services %} #{{service}}{% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>

      {% elsif client.size == "md" %}

      <div class="col-md-8 px-2 mb-3">
        <div
          class="client-box client-box__md"
          style="background-image: url('{{client.background_image}}')"
        >
          <div
            class="client-box__logo"
            style="background-color: {{client.background_color}};"
          >
            <div class="client-box__logo__arrow">
              <img
                src="/assets/images/clients/link_arrow-{{client.arrow}}.svg"
              />
            </div>
            <img src="{{client.logo}}" alt="{{client.title}} logo" />
          </div>
          <div class="client-box__content">
            <h3 class="client-box__content__title">{{client.title}}</h3>
            <p class="client-box__content__industry">{{client.industry}}</p>
            <p class="client-box__content__description">
              {{client.description}}
            </p>
            {% if client.testimonial_name %}
            <div class="client-box__testimonial">
              <img
                class="client-box__testimonial__line"
                src="/assets/images/clients/testimonial_line.svg"
              />
              <p class="client-box__testimonial__name">
                {{client.testimonial_name}}
              </p>
              <p class="client-box__testimonial__jobtitle">
                {{client.testimonial_jobtitle}}
              </p>
            </div>
            {% endif %}
          </div>
          <div class="client-box__services">
            <div class="client-box__services__titlebox">
              <p>We worked on:</p>
            </div>
            <div class="client-box__services__valuebox">
              <p>
                {% for service in client.services %} #{{service}}{% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>

      {% endif %} {% endfor %}
    </div>
  </div>
</section>
