---
title: Clients
layout: pages/new-web/default
custom_header: new-web/clients-header.html
custom_footer: new-web/clients-footer.html
stylesheets:
  - /assets/clients.css
industries: ["All", "SaaS", "Mobile", "FinTech", "Customer", "B2B", "High-tech"]
services:
  ["Webdesign", "LinkedIn ads", "Onboarding", "Instagram & Pinterest ads"]
clients:
  # Klooker
  - title: klooker
    logo: /assets/images/clients/klooker-logo.svg
    industry: FinTech
    services:
      - "Webdesign"
      - "LinkedIn ads"
      - "Onboarding"
    description: "“Double’s team is extremely forthcoming with ideas to engage ourcostumer further.“"
    testimonial_name: Dennis Kamst
    testimonial_jobtitle: Founder & CEO at klooker
    background_color: "#725D87"
    background_image: /assets/images/clients/klooker_background.jpg
    background_image_mobile: /assets/images/clients/klooker_background-mobile.jpg
    arrow: light
    size: lg

  # Insecto Cycle
  - title: Insecto Cycle
    logo: /assets/images/clients/insecto_cycle-logo.svg
    industry: B2B
    services:
      - "Instagram & Pinterest ads"
      - "Funnels"
      - "Analytics"
    description: For BABB our partner Pieter crafted the strategic messaging & positioning that resulted in them *raising a massive $25MM Initial Coin Offering (ICO)… Wow!
    background_color: "#E4F0EC"
    arrow: dark
    size: sm

  # utrechtinc
  - title: utrechtinc
    logo: /assets/images/clients/utrechtinc-logo.svg
    industry: Customer
    services:
      - "Funnels"
      - "Onboarding"
    description: We’ve become Insecto Cycle’stechnical handymen and scale-up department.
    background_color: "#FFFFFF"
    arrow: dark
    size: sm

  # Peg
  - title: Peg
    logo: /assets/images/clients/peg-logo.svg
    industry: High-tech
    services:
      - "Webdesign"
      - "Linkedin ads"
      - "Copywriting"
    description: London-based Peg raised a $1M+ Series A round after Pieter set up a stable sales infrastructure and outbound sales engine.
    background_color: "#E94058"
    arrow: light
    size: sm

  # BABB
  - title: BABB
    logo: /assets/images/clients/babb-logo.svg
    industry: SaaS
    services:
      - "Instagram & Pinterest ads"
      - "Funnels"
      - "Analytics"
    description: We already had some cool marketing ideas, but Pieter really helped us shape a clear and successful marketing plan that growth hacked our entire ICO.
    testimonial_name: Demetrios Zamboglou
    testimonial_jobtitle: CEO at BABB
    background_image: /assets/images/clients/babb_background.svg
    arrow: light
    size: md

  # sendcloud
  - title: sendcloud
    logo: /assets/images/clients/sendcloud-logo.svg
    industry: Mobile
    services:
      - "Funnels"
      - "Onboarding"
    description: We’ve become Insecto Cycle’s technical handymen and scale-up department.
    background_color: "#EEF6FF"
    arrow: dark
    size: sm

  # TikTok
  - title: TikTok
    logo: /assets/images/clients/tiktok-logo.jpg
    industry: FinTech
    services:
      - "Webdesign"
      - "LinkedIn ads"
      - "Onboarding"
    description: "“Double’s team is extremely forthcoming with ideas to engage ourcostumer further.“"
    testimonial_name: Dennis Kamst
    testimonial_jobtitle: Founder & CEO at klooker
    background_color: "#000"
    background_image: /assets/images/clients/tiktok_background.jpg
    background_image_mobile: /assets/images/clients/tiktok_background-mobile.jpg
    arrow: light
    size: lg

  # sendcloud
  - title: sendcloud
    logo: /assets/images/clients/sendcloud-logo.svg
    industry: Mobile
    services:
      - "Funnels"
      - "Onboarding"
    description: We’ve become Insecto Cycle’s technical handymen and scale-up department.
    background_color: "#EEF6FF"
    arrow: dark
    size: sm

  # Elugie
  - title: elugie
    logo: /assets/images/clients/elugie-logo.svg
    industry: SaaS
    services:
      - "Instagram & Pinterest ads"
      - "Funnels"
      - "Analytics"
    description: We already had some cool marketing ideas, but Pieter really helped us shape a clear and successful marketing plan that growth hacked our entire ICO.
    background_image: /assets/images/clients/elugie_background.svg
    arrow: light
    size: md

    # Core Life Analytics
  - title: Core Life Analytics
    logo: /assets/images/clients/core_life_analytics-logo.svg
    industry: B2B
    services:
      - "Funnels"
      - "Onboarding"
    description: For BABB our partner Pieter crafted the strategic messaging & positioning that resulted in them *raising a massive $25MM Initial Coin Offering (ICO)… Wow!
    background_color: "#751162"
    arrow: light
    size: sm

  # Diesel
  - title: Diesel
    logo: /assets/images/clients/diesel-logo.svg
    industry: Customer
    services:
      - "Funnels"
      - "Onboarding"
    description: For BABB our partner Pieter crafted the strategic messaging & positioning that resulted in them *raising a massive $25MM Initial Coin Offering (ICO)… Wow!
    background_color: "#000000"
    arrow: light
    size: sm

  # Switch.CM
  - title: Switch.CM
    logo: /assets/images/clients/switchcm-logo.svg
    industry: High-tech
    services:
      - "Funnels"
      - "Onboarding"
    description: We’ve become Insecto Cycle’s technical handymen and scale-up department.
    background_color: "#7197BB"
    arrow: dark
    size: sm
---

<!-- Hero -->
<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center justify-content-md-between align-items-center">
        <!-- Title -->
        <h1 class="mb-4 mb-md-0">Clients</h1>

        <!-- Service filters -->
        <div class="service_filters dropdown d-none d-md-block">
          <button
            class="service_filters__btn btn btn-light dropdown-toggle"
            type="button"
            id="service_filters"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img class="mr-2" src="/assets/images/clients/chevron-down.svg" />
            #All services
          </button>
          <div class="dropdown-menu" aria-labelledby="service_filters">
            {% for service in page.services %}
            <a class="dropdown-item" href="#">{{service}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Industry filters -->
    <div class="row">
      <div class="col-md-12">
        <div class="industry_filters btn-group d-none d-md-flex" role="group">
          {% for industry in page.industries %}
          <button
            type="button"
            class="industry_filters__item {% if forloop.index == 1 %}active{% endif %}"
          >
            {{industry}}
          </button>
          {% endfor %}
        </div>
        <div
          class="accordion industry_filters-mobile d-block d-md-none"
          id="industry_filters"
        >
          <button
            class="industry_filters-mobile__mainbtn"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Show all
            <img
              class="mr-2 industry_filters-mobile__mainbtn__arrow"
              src="/assets/images/clients/chevron-down-light.svg"
            />
          </button>
          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#industry_filters"
          >
            {% for industry in page.industries %}
            <button
              type="button"
              class="industry_filters-mobile__item"
            >
              {{industry}}
            </button>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Clients -->
<section class="pt-0">
  <div class="container">
    <div class="row">
      {% for client in page.clients %} {% if client.size == "sm" %} {% include
      clients/block-sm.html client=client %} {% elsif client.size == "md" %} {%
      include clients/block-md.html client=client %} {% elsif client.size ==
      "lg" %}
    </div>
  </div>
  {% include clients/block-lg.html client=client %}
  <div class="container">
    <div class="row">{% endif %} {% endfor %}</div>
  </div>
</section>

<!-- Bottom -->
<section>
  <div class="container position-relative">
    <!-- Background -->
    <div>
      <div
        style="
          width: 231px;
          height: 309px;
          background: #292f47;
          position: absolute;
          top: -85px;
          right: -20px;
          z-index: -1;
        "
      ></div>
      <div
        style="
          width: 234px;
          height: 313px;
          background: #3497f3;
          position: absolute;
          top: 140px;
          left: -20px;
        "
      ></div>
      <div
        style="
          width: 176px;
          height: 105px;
          background: #e5e7ef;
          position: absolute;
          bottom: -140px;
          right: 100px;
          opacity: 0.65;
        "
      ></div>
      <img
        src="/assets/images/clients/bottom-img-1.jpg"
        style="position: absolute; left: -155px"
      />
      <img
        src="/assets/images/clients/bottom-img-2.jpg"
        style="position: absolute; top: -320px; right: 78px; z-index: -1"
      />
      <img
        src="/assets/images/clients/bottom-img-3.jpg"
        style="position: absolute; top: -145px; right: -85px"
      />
    </div>

    <!-- Content -->
    <div class="bottom_content row justify-content-center text-center">
      <div class="col-md-6">
        <h3>Become Our</h3>
        <h2 class="mb-2">Next Client</h2>
        <p>
          You got this far because the evidence is hard to ignore: we’ve grown
          businesses and will grow yours, too.
        </p>
        <div class="d-flex justify-content-center mt-5">
          <a class="arrow_button btn btn-secondary">
            <div class="arrow_button__arrow">
              <img src="/assets/images/arrow-right.svg" />
            </div>
            <div class="arrow_button__text">Contact us</div>
          </a>
        </div>
        <div class="mt-5" style="font-size: 14px; line-height: 21px">
          <strong>Email</strong>: pieter@double-agency.com <br />
          <strong>WhatsApp</strong>: +316 230 555 90
        </div>
      </div>
    </div>
  </div>
</section>
