---
title: Elite
layout: pages/new-web/default
include_swiper: true
marketing_game:
  - image: /assets/images/new-web/elite/marketing_game-1.svg
    text: Facebook and Google ads become more prohibitively expensive every year…
  - image: /assets/images/new-web/elite/marketing_game-2.svg
    text: …content marketing and SEO are over-saturated…
  - image: /assets/images/new-web/elite/marketing_game-3.svg
    text: …and “social sharing” is something only crazy aunt Jenny does, nowadays.

layer_items:
  - title: Strategic clarity
    body: You know that real growth is driven by systems design, and you need the strategic clarity to see how 3 core systems interplay to create a so-called “growth loop” — I’ll explain the details below.
  - title: Skills
    body: You know that real growth is driven by systems design, and you need the strategic clarity to see how 3 core systems interplay to create a so-called “growth loop” — I’ll explain the details below.
  - title: Data infrastructure
    body: You know that real growth is driven by systems design, and you need the strategic clarity to see how 3 core systems interplay to create a so-called “growth loop” — I’ll explain the details below.

strategy_layer_items:
  - title: Growth engine
    body: Our product might spread via marketing channels like SEO, Facebook ads, referrals, Reddit memes, outbound sales teams, and a million other ways. A growth engine is your way to systematically tap into such a channel, and leverage it to gain distribution.
  - title: Engagement & retention
    body: For most growth loops it’s essential that customers actively engage with the product—the more active and religious a user uses a product, the more he generates opportunities for the product to spread to other users, too.
  - title: Sales funnel
    body: Once you have distribution, you need to turn that traffic into signups, and those signups into customers. — this is often a process, and we could go into depth about it… but for now, let’s just say a sales funnel is a predictable, scalable process that turns traffic into signups or customers.

pillars_row1:
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture

pillars_row2:
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture
  - image: /assets/images/new-web/elite/pillar-1.svg
    title: Growth Strategy
    body: Foundation of the growth loops architecture

package_core:
  - list_title: "**Module 1:** Growth strategy"
  - list_title: "**Module 2:** Sales funnels"
  - list_title: "**Module 3:** Growth engines"
  - list_title: "**Module 4:** Copy & conversion"
  - list_title: "**Module 5:** Engagement & retention"

package_execution:
  - list_title: "**Module 6:** Advanced strategy"
  - list_title: "**Module 7:** Video case studies (13x)"
  - list_title: "**Module 8:** Growth skills (advanced)"
  - list_title: "**Operational support**"

---

<style>
  #sales h3 {
    letter-spacing: 1.5px;
  }
  #sales p.lead {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.7px;
    line-height: 32px;
  }

  #sales #intro h1 {
    font-size: 100px;
    line-height: 0.94;
  }
  #sales #intro h3 {
    font-size: 48px;
    line-height: 0.94;
  }
  #sales #intro p {
    font-size: 22px;
    line-height: 32px;
  }

  #sales .accordion-item.active {
    transform: scale(1.05);
  }
  #sales .accordion-item .accordion-item-header button {
    color: #181d33;
    opacity: 0.4;
    text-decoration: none;
  }
  #sales .accordion-item.active .accordion-item-header button {
    opacity: 1;
  }

  #sales .container-narrow {
    max-width: 688px;
  }
  #sales .container-narrow-md {
    max-width: 864px;
  }

  #sales .pillar-top {
    position: relative;
    top: 130px;
    z-index: 1;
    height: 335px;
    width: 160px;
  }
  #sales .pillar-top .right-shadow,
  #sales .pillar-top .left-shadow {
    height: calc(100% - 130px);
    position: absolute;
    top: 75px;
    width: 50%;
    background: #65b5ff;
  }
  #sales .pillar-top .left-shadow {
    opacity: .05;
    transform: skewY(32deg);
    
  }
  #sales .pillar-top .right-shadow {
    opacity: .1;
    transform: skewY(-32deg);
    left: 50%;
  }
  #sales .pillar-top-inner,
  #sales .pillar-floor-inner {
    width: 0;
    height: 0;
    border: 80px solid transparent;
    position: relative;
    top: -80px;
  }
  #sales .pillar-top-inner:after,
  #sales .pillar-floor-inner:after {
    content: '';
    position: absolute;
    left: -80px;
    top: 50px;
    width: 0;
    height: 0;
    border: 80px solid transparent;
  }
  #sales .pillar-top-inner img {
    text-align: center;
    position: absolute;
    left: -23px;
    top: 30px;
    z-index: 1;
  }
  #sales .pillar-floor-inner {
    border-bottom-color: #1d3559;
    border-bottom: 50px solid #1d3559;
  }
  #sales .pillar-floor-inner:after  {
    border-top-color: #1d3559;
    border-top: 50px solid #1d3559;
  }
  #sales .pillar-top-inner {
    border-bottom-color: #3497f3;
    border-bottom: 50px solid #3497f3;
  }
  #sales .pillar-top-inner:after {
    border-top-color: #3497f3;
    border-top: 50px solid #3497f3;
  }
</style>

<script>
  $(document).ready(function() {

  $('.collapse').on('show.bs.collapse', function () {
      $(this).parent('.accordion-item').addClass('active');
  });

  $('.collapse').on('hide.bs.collapse', function () {
      $(this).parent('.accordion-item').removeClass('active');
  });

});
</script>

{% assign package_core = "" | split: ',' %}
{% for item in page.package_core %}
  {% assign package_core = package_core | push: item.list_title %}
{% endfor %}

{% assign package_execution = "" | split: ',' %}
{% for item in page.package_execution %}
  {% assign package_execution = package_execution | push: item.list_title %}
{% endfor %}

<main id="sales">

  <section id="intro">
    <div class="container">
      <div class="col-md-6">
        <h3>The</h3>
        <h1>Growth</h2>
        <h1>Stack</h2>
        <p class="lead">Say goodbye to the unstructured madness of endless “growth hacks”… <strong>and hello to a simple, structured framework for growth.</strong></p>
      </div>
  
      <div class="col-md-6"></div>
    </div>
  </section>

  <!-- SECTION: Marketing game -->
  <section id="marketing-game">
    <div id="marketing-game" class="container">

      <div class="row">
        <div class="col-md-6 px-3 p-md-0 text-center text-md-left position-relative">
          <div id="marketing-game this-sidebar">
            <h3>You might have noticed this:</h3>
            <p class="lead">The online marketing game is changing in a BIG way—what used to work before, simply <strong>isn’t working anymore.</strong></p>
          </div>
        </div>
          
        <div class="col-md-6">
          {% for item in page.marketing_game %}
          <div class="text-center text-md-left" style="min-height: 220px;">
            <img src="{{ item.image }}" />
            <p>{{ item.text }}</p>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </section>

  <!-- SECTION: No -->
  <section id="no" class="py-0">
    <div class="container position-relative">
      <div class="p-5" style="max-width: 512px;">
        <h3>So what’s a business owner to do?</h3>
        <p class="lead">Chase that white rabbit down into the tactical madness of manipulative “growth hacks” and sketchy SEO tactics?</p>
      </div>
    </div>

    <section class="alternate-section py-0">
      <div class="container">
        <img src="/assets/images/new-web/elite/no.svg">
      </div>
    </section>

    <div class="container position-relative">
      <div class="p-5 ml-auto" style="max-width: 512px;">
        <p class="lead"><strong>There’s no substance there.</strong> Tactical “growth hacking” tips are a fad and an illusion.</h3>
        <p>Chase that white rabbit down into the tactical madness of manipulative “growth hacks” and sketchy SEO tactics?</p>
      </div>
    </div>
  </section>

  <!-- SECTION: Understanding -->
  <section id="understanding">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h3><strong>Understanding</strong> is the key here.</h3>
        </div>
        <div class="col-md-6">
          <div>
            You don’t need hacks.
          </div>
        </div>
        <div class="col-md-6">
          <div>
            You need <strong>clarity of thought.</strong>
          </div>
        </div>
        <div class="col-md-12">
          What you need is a stronger mental model to scaffold your thoughts and decision making on.
          <p class="lead">
            <strong>Something like the growth stack.</strong>
          </p>
        </div>
      </div>
      <div class="p-5" style="max-width: 512px;">
        
        <p class="lead">Chase that white rabbit down into the tactical madness of manipulative “growth hacks” and sketchy SEO tactics?</p>
      </div>
    </div>
  </section>

  <!-- SECTION: Framework -->
  <section id="framework">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h3>The <strong>Growth Stack</strong> is the simplest framework to quickly understand modern growth marketing</h3>
          <p>In order to unlock explosive product growth for a startup company or high-growth venture, you need mastery over 3 different areas. Three fundamental “layers” of the growth stack: </p>
        </div>
        <div class="col-md-12">
          <div class="shadow-grey" style="width: 100%; height: 578px;">
            IMG
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION: Layers -->
  <section id="layers" class="alternate-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Shall I quickly define each layer for you, so we’re on the same page?</p>
          <h3>Okay, here they are:</h3>
        </div>
        <div class="col-md-6">
          <div class="accordion" id="layers-accordion" style="width: 100%; height: 578px;">
            {% for item in page.layer_items %}
            <div class="accordion-item p-5 position-relative {% if forloop.index == 1 %}active{% endif %}" 
              style="z-index: {{ page.layer_items.size | minus: forloop.index }}; background: #fff; box-shadow: 0px 12px 0 0 rgba(148, 154, 180, 0.4);">
              <div class="accordion-item-header" id="heading-{{ forloop.index }}">
                <h3 class="mb-0">
                  <button 
                    style="font-size: 22px; color: #181d33; font-weight: bold;"
                    class="btn btn-link d-flex align-items-center pl-0" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.index }}" aria-expanded="true" aria-controls="collapse-{{ forloop.index }}">
                    <div style="background: #181d33; color: #fff; height: 40px; width: 40px; padding-top: 3px; border-radius: 100%; margin-right: 10px;">
                      {{ forloop.index }}
                    </div>
                    {{ item.title }}
                  </button>
                </h3>
              </div>
          
              <div id="collapse-{{ forloop.index }}" class="collapse {% if forloop.index == 1 %}show{% endif %}" aria-labelledby="heading-{{ forloop.index }}" data-parent="#layers-accordion">
                <div class="accordion-item-body">
                  {{ item.body }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION: Build measure learn -->
  <section id="build-measure-learn" class="alternate-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="lead">It’s actually an old idea — in lean startup parlance, this is called the <strong>“build-measure-learn”</strong> loop:</p>
        </div>
        <div class="col-md-12 text-center" style="padding-left: 90px; padding-right: 90px;">
          <div class="d-flex justify-content-between align-items-center">
            <div style="width: 180px; height: 180px; color: #fff; background: #181d33;" class="p-3 d-flex justify-content-center align-items-center flex-column">
              <p class="lead mb-0"><strong>you have an idea</strong></p>
              <p class="mb-0">beginning of a strategy</p>
            </div>
            <div style="width: 180px; height: 180px; color: #fff; background: #181d33;" class="p-3 d-flex justify-content-center align-items-center flex-column">
              <p class="lead mb-0"><strong>you build it</strong></p>
              <p class="mb-0">implementation</p>
            </div>
            <div style="width: 180px; height: 180px; color: #fff; background: #181d33;" class="p-3 d-flex justify-content-center align-items-center flex-column">
              <p class="lead mb-0"><strong>you measure it</strong></p>
              <p class="mb-0">data</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center mt-5 position-relative">
          <div style="position: absolute; left: 50%; transform: translateX(-50%); top: 40px;">
            <p class="lead mb-0"><strong>you learn from it</strong></p>
            <p class="mb-0">strategy, again</p>
          </div>
          <div>
            <img src="/assets/images/new-web/elite/arrow-horizontal.svg" />
          </div>
          <div class="mt-3">
            <p class="lead mb-0"><strong>and the cycle repeats</strong></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="alternate-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>You want to iterate through that loop as quickly as possible, to ultimately end up with a growth model that works for your unique product and unique situation:</p>
        </div>
        <div class="col-md-12">
          <div class="shadow-grey" style="width: 100%; height: 578px; background: #fff;">
            IMG
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <p class="lead">Let’s explore what this strategy looks like…</p>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION: Strategy layer -->
  <section id="strategy-layer" class="alternate-section">
    <div class="container container-narrow-md text-center">
      <div class="row">
        <div class="col-md-12">
          <h3><strong>The strategy layer:</strong> durable, scalable sources of new users are built on growth loops</h3>
        </div>
      </div>
    </div>
    <div class="container container-narrow">
      <div class="row">
        <div class="col-md-12">
          <p>Growth strategies anchor marketing and distribution deep inside the product experience: the product gets engineered like a virus. Growth loops are cycles where every users generates opportunities to “infect” new people and spread to other users—like how an infectious virus spreads from one person to others.</p>
        </div>
        <div class="col-md-12">
          <p class="lead">It’s for a reason that “growth hacking” started off as essentially viral marketing—that’s still the core of the design process, even though there are many more options now.</p>
          <p>Over time a product can even develop multiple growth loops, and they can reinforce each other. But the key notion is that you’ll need this “engineered virality” that comes from a growth loop.</p>
          <p>In order to reason about those loops, we break loops down into 3 components or “systems”.</p>
          <p>They form a circular system together:</p>
        </div>
        {% for item in page.strategy_layer_items %}
        <div class="col-md-12">
          <div class="d-flex">
            <div>
              <div style="background: blue; width: 24px; height: 24px; border-radius: 100%; margin-right: 15px;"></div> 
            </div>
            <div>
              <p class="lead"><strong>{{ item.title }}</strong></p>
              <p>{{ item.body }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col-md-12">
          <p>These 3 systems—and the various ways in which they interplay—make up the core of the strategy layer.</p>
        </div>
        <div class="col-md-12 text-center">
          <p class="lead">Now, here’s the cool thing…</p>
          <h3>There are over 25+ growth loops currently known — and <strong>each of them</strong> can turn a struggling business into a revenue-generating powerhouse</h3>
        </div>
        <div class="col-md-12">
          <p>Modern growth marketing is fundamentally about systems-thinking: build automated systems that allow you to scale your marketing from “hustling harder” to actually scaling <strong>systematically</strong> and <strong>predictably</strong>.</p>
          <p>Growth is about framing marketing as an engineering problem: user acquisition can be systemized, fine-tuned and executed as an automated system.</p>
          <p>In order to get there, you obviously need more than just the right strategy: you also need the right <strong>skills</strong> to execute your strategy, and you need a <strong>data foundation</strong> to tell what’s working and what’s not.</p>
          <p class="lead">Growth marketing—like anything—depends on having the right <strong>skills</strong> to execute. And it depends on data & analytics infrastructure to guide your execution.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION: Pillars -->
  <section id="pillars" class="alternate-section" style="background: #181d33;">
    <div class="container container-narrow-md text-center">
      <div class="row">
        <div class="col-md-12 text-light">
          <h3>Out of these simple ideas evolved the
            <strong>“6 Pillars of Growth”</strong> that you might have heard about…</h3>
        </div>
      </div>
    </div>
    <div class="container px-0">
      <div class="d-flex justify-content-between">
        {% for item in page.pillars_row1 %}
        <div class="pillar">
          <div class="pillar-top">
            <div class="pillar-top-inner">
              <img src="{{ item.image }}" />
            </div>
            <div class="left-shadow"></div>
            <div class="right-shadow"></div>
          </div>
          <div class="pillar-bottom">
            <div class="pillar-floor-inner"></div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row text-center">
        <div class="col text-light">
          <p class="lead">Operational Skills</p>
          <p>Especially copywriting—the primary “driver” and backbone skill</p>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        {% for item in page.pillars_row2 %}
        <div class="pillar">
          <div class="pillar-top">
            <div class="pillar-top-inner">
              <img src="{{ item.image }}" />
            </div>
            <div class="left-shadow"></div>
            <div class="right-shadow"></div>
          </div>
          <div class="pillar-bottom">
            <div class="pillar-floor-inner"></div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row text-center">
        <div class="col text-light">
          <p class="lead">Operational Skills</p>
          <p>Especially copywriting—the primary “driver” and backbone skill</p>
        </div>
      </div>

      <div class="row text-center text-light">
        <div class="col-md-12">
          <p class="lead">Here’s the magic:</p>
          <h3><strong>that’s all you will ever need.</strong></h3>
          <img src="/assets/images/new-web/elite/pillars.svg" />
          <p>Together, these 6 pillars form the full growth stack…</p>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION:  -->
  <section>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">This is the essence of startup marketing and user growth.</p>
          <h3>What you need is a clean framework, that’s easy to reason about.</h3>
        </div>
        <div class="col-md-12">
          <div class="shadow-grey" style="width: 100%; height: 578px;">
            IMG
          </div>
        </div>
      </div>
    </div>
    <div class="container container-narrow text-center">
      <div class="row">
        <div class="col-md-12">
          <p>You need a stronger mental model to scaffold your thoughts and decision making on.</p>
          <p>I’m both delighted and shocked by the payoff. I’ve never been more convinced that systematic growth marketing will revolutionize the way we think about marketing & user acquisition. <strong>The results are transformational.</strong></p>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION: Feedback -->
  <section id="feedback">
    <div class="container container-narrow-md text-center">
      <div class="row">
        <div class="col-md-12">
          <h3><strong>Here is some feedback we received from other entrepreneurs</strong>—like yourself—that started to apply these growth concepts.</h3>
        </div>
      </div>
    </div>
    <div class="container" style="margin-bottom: -1000px;">
      
      <!-- FEEDBACK -->
      <div class="feedback-item d-flex position-relative" style="left: -200px;">
        <div>
          <img class="position-relative" src="/assets/images/new-web/elite/feedback-1.jpg" />
        </div>
        <div class="d-flex flex-column position-relative px-0 px-md-3" style="width: 423px; left: -90px;">
          
          <div class="speech-bubble speech-bubble-bottom-left slide-top position-relative">
            <div class="speech-bubble-back"></div>
            <div class="speech-bubble-fore">
              <p>In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble. While NASA has had many ups and downs, the launch and continued operation of the Hubble space telescope probably ranks next to the moon landings and the development.</p>
            </div>
          </div>
          <div class="info px-0 text-right mt-5">
            <p class="mb-0 lead"><b>Cornelia Stevens</b></p>
            <p class="mb-0">CEO at Company Name</p>
          </div>
        </div>
      </div>

      <!-- FEEDBACK -->
      <div class="feedback-item d-flex flex-column align-items-end position-relative" style="top: -200px; right: -150px;">
        <div>
          <img class="position-relative" src="/assets/images/new-web/elite/feedback-2.jpg" />
        </div>
        <div class="d-flex flex-column position-relative px-0 px-md-3" style="width: 423px; left: -155px; top: -60px;">
          
          <div class="speech-bubble speech-bubble-top-right slide-top position-relative">
            <div class="speech-bubble-back"></div>
            <div class="speech-bubble-fore">
              <p>In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble. While NASA has had many ups and downs, the launch and continued operation of the Hubble space telescope probably ranks next to the moon landings and the development.</p>
            </div>
          </div>
          <div class="info px-0 text-left mt-5">
            <p class="mb-0 lead"><b>Cornelia Stevens</b></p>
            <p class="mb-0">CEO at Company Name</p>
          </div>
        </div>
      </div>

      <!-- FEEDBACK -->
      <div class="feedback-item d-flex flex-column position-relative" style="top: -600px;">
        <div class="position-relative" style="left: -100px;">
          <img class="position-relative" src="/assets/images/new-web/elite/feedback-3.jpg" />
        </div>
        <div class="d-flex flex-column position-relative px-0 px-md-3" style="width: 423px; top: -30px;">
          
          <div class="speech-bubble speech-bubble-top-left slide-top position-relative">
            <div class="speech-bubble-back"></div>
            <div class="speech-bubble-fore">
              <p>In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble. While NASA has had many ups and downs, the launch and continued.</p>
            </div>
          </div>
          <div class="info px-0 text-left mt-5">
            <p class="mb-0 lead"><b>Cornelia Stevens</b></p>
            <p class="mb-0">CEO at Company Name</p>
          </div>
        </div>
      </div>

      <!-- FEEDBACK -->
      <div class="feedback-item d-flex flex-column align-items-end position-relative" style="top: -965px; right: -150px;">
        <div>
          <img class="position-relative" src="/assets/images/new-web/elite/feedback-4.jpg" />
        </div>
        <div class="d-flex flex-column position-relative px-0 px-md-3" style="width: 601px; left: -140px; top: -95px;">
          
          <div class="speech-bubble speech-bubble-top-right slide-top position-relative">
            <div class="speech-bubble-back"></div>
            <div class="speech-bubble-fore">
              <p>In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble. While NASA has had many ups and downs, the launch and continued operation of the Hubble space telescope probably ranks next to the moon landings and the development.</p>
            </div>
          </div>
          <div class="info px-0 text-right mt-5">
            <p class="mb-0 lead"><b>Cornelia Stevens</b></p>
            <p class="mb-0">CEO at Company Name</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- SECTION: Growth MBA -->
  <section id="growth-mba">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Today, that 6-part system has turned into our flagship educational product: <strong>The Growth MBA</strong>.</p>
          <p>Let me introduce you to that… </p>
        </div>
      </div>
    </div>
    <div class="container text-center d-flex" style="max-width: 1440px; height: 665px; background: url('/assets/images/new-web/elite/growth-mba.svg')">
      <div style="max-width: 340px; color: #fff; margin: auto; padding-bottom: 50px;">
        <h1 style="font-size: 92px; line-height: 90px; font-weight: 600;">The Growth MBA</h1>
        <p class="lead">Our <strong>best-in-class</strong> growth marketing education</p>
      </div>
    </div>
    <div class="container container-narrow text-center">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Our blockbuster growth marketing education teaches entrepreneurs how to apply systematic growth marketing… to drive traffic, users and revenue virtually on autopilot.</p>
          <p>If you want to leverage your entrepreneurial energy to scale your companies bigger, better and faster, then this is the place to do it. You will become a confident growth practitioner, while following our exact step-by-step execution.</p>
          <p class="lead"><strong>The Growth MBA includes:</strong></p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <h3><strong>Level 1</strong> Core</h3>
          {% include new-web/checklist.html 
            size="md"
            items=package_core %}
        </div>
        <div class="col-md-6">
          <h3><strong>Level 2</strong> Execution</h3>
          {% include new-web/checklist.html 
            size="md"
            items=package_execution %}
        </div>

        <div class="col-md-12 text-center">
          <p>The Growth MBA is an intermediate & advanced education. 
            Each module is approximately 60-90 minutes of high-quality video lectures combined with PDF guides, worksheets, templates and other resources.</p>
        </div>
        <div class="d-flex m-auto">
          <button class="mx-2">Download Full Syllabus</button>
          <button class="mx-2">Explore The Growth MBA</button>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION: testimonials -->
  <section id="testimonials">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h3>Here's what others <strong>say about us...</strong></h3>
          <p>Morgan loved how simple Elite was to implement in real life:</p>
        </div>
        <div class="col-md-12">
          <div class="testimonials swiper-container testimonials-swiper">
            <div class="testimonials__slider swiper-wrapper">
              {% for testimonial in site.testimonials %}
                <div class="testimonials__slide swiper-slide p-5 shadow-grey" style="width: calc(100% - 15px);">
                  {{ testimonial }}
                </div>
              {% endfor %}
            </div>

            <div class="swiper-pagination testimonials-swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION: -->
  <section>
    <div class="container container-narrow-md">
      <div class="row">
        <div>
          <img src="/assets/images/new-web/elite/guarantee_icon.svg" />
        </div>
        <div class="col">
          <p class="lead">
            If by the end of the Growth MBA, this isn’t an obviously fantastic investment, all you have to do is let me know — up to 1 year after your purchase — <strong>and I’ll refund 100% of your purchase.</strong>
          </p>
          <p class="lead">You don’t need to explain.</p>
          <p class="lead">You don’t have to convince me.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Plain and simple — if this isn’t awesome for you, I don’t want to keep your money.</p>
          <p>You can watch every video and get every ounce of knowledge from me, and if at the end you don’t think we have delivered everything you were looking for, still get 100% of your money back.</p>
        </div>
        <div class="col-md-6">
          <p><strong>I offer this, quite simply, because I know that people get results with this program. </strong></p>
          <p>I’ve seen it, and I know that after you see it… you’ll feel the same. And I’m willing to put my money where my mouth is and make this 100% risk-free for you.</p>
          <p>Seemed like a fair solution 🙂</p>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <p class="lead">Let’s get this going:</p>
        </div>
      </div>
    </div>

    {% assign package_extra = "Full money-back guarantee" | split: ',' %}
    {% assign package_extra2 = package_extra | push: "Operational support" %}

    <div class="container">
      <div class="row shadow-grey py-5">
        <div class="col d-flex flex-column">
          <h3 class="mb-4"><strong>Level 1</strong><br> Core</h3>
          <div class="flex-grow-1">
            {% include new-web/checklist.html 
              size="md"
              items=package_core %}
          </div>
          <div><hr></div>
          <div style="height: 128px;">
            {% include new-web/checklist.html 
              size="md"
              items=package_extra %}
          </div>
        </div>
        <div class="col d-flex flex-column">
          <h3 class="mb-4"><strong>Level 2</strong> Execution</h3>
          <div class="flex-grow-1">
            {% include new-web/checklist.html 
              size="md"
              items=package_execution %}
          </div>
          <div><hr></div>
          <div style="height: 128px;">
            {% include new-web/checklist.html 
              size="md"
              items=package_extra2 %}
          </div>
        </div>
        <div class="col d-flex flex-column">
          <h3 class="mb-4"><strong>Full Access</strong> Level 1+2</h3>
          <div class="flex-grow-1">
            {% include new-web/checklist.html 
              size="md"
              items=package_core %}
            {% include new-web/checklist.html 
              size="md"
              items=package_execution %}
          </div>
          <div><hr></div>
          <div class="px-4" style="height: 128px;">
            {% for item in package_extra2 %}
              {% capture checkmark %}
                <p class="ml-3"><strong>{{ item }}</strong></p>
              {% endcapture %}
              {% include new-web/checkmark.html
                  class="align-items-center"
                  content=checkmark %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<script>
(() => {
  const swiper = new Swiper(document.querySelector(".testimonials-swiper"), {
    speed: 800,
    spaceBetween: 300,
    loop: true,
    autoplay: {
      delay: 20000,
    },
    pagination: {
      el: ".testimonials-swiper-pagination",
      clickable: true
    }
  });
})()
</script>