---
layout: pages/new-web/default
title: Double Agency
client_logo: /assets/images/proposals/meterinsight_logo.png
hide_footer: true
hide_smfooter: true
main_css: ""
stylesheets:
  - /assets/fr.css
  - https://unpkg.com/aos@2.3.1/dist/aos.css
scripts:
  - /assets/js/new-web/active-in-view.js
  - https://unpkg.com/aos@2.3.1/dist/aos.js
scripts_footer:
  - https://cdn.jsdelivr.net/npm/simple-parallax-js@5.6.1/dist/simpleParallax.min.js
pricing:
  footer: |
    **For MeterInsight, we suggest to start with the 10 hours/week sprint package** for start of the project and scale up when more executionally heavy tasks are required (content generation, sales, etc.).
ready_to_start:
  mail_address: "caspar@double-agency.com"
  call_button_link: "https://calendly.com/double-caspar"
  person_image: /assets/images/proposals/caspar_image.png
  person_name_image: /assets/images/proposals/caspar_name.png
  person_name: Katia Rabot
  person_title: Sales and Growth Specialist
footer:
  mail_address: "caspar@double-agency.com"
  call_button_link: "https://calendly.com/double-caspar"
  person_image: /assets/images/proposals/caspar_large.png
  person_name_image: /assets/images/proposals/caspar_name.png
  person_name: Caspar Lusink
  person_title: Agency Director
services:
  - title: "Growth Loops"
    content: "Notre passion est de construire des machines de croissances automatisées qui intègrent tous les aspects de l’acquisition, conversion et de la rétention dans le but de former un cycle vertueux qui ne s’arrête jamais."
  - title: "Onboarding"
    content: "Surprenez agréablement vos nouveaux utilisateurs ou clients avec une expérience d’onboarding de classe mondiale. C’est l’étape clé pour une rétention réussie sur le long terme"
  - title: "Growth orienté produit"
    content: "Nous vous aidons à trouver un moyen efficace pour que votre produit ou votre service génère encore plus de croissance (et d’utilisateurs). Faites en sorte que ce soit votre produit qui fasse le travail à votre place."
  - title: "Rétention"
    content: "Transformez vos nouveaux utilisateurs en clients fidèles en forgeant une stratégie de rétention sur le long terme"
  - title: "Referral & Viralité"
    content: " Nous faisons en sorte que vos clients aient de quoi parler pour propager la bonne parole d’une façon virale."
  - title: "Publicité (Google, Facebook, etc)"
    content: "Une rédaction fluide et qui s'adapte aux résultats de vos campagnes."
  - title: "Construction de tunnels de vente"
    content: "Des actions marketings mal pensées sont souvent isolées et les résultats seront ... aléatoire. Construisez des systèmes efficaces qui s'inscrivent dans une stratégie à la hauteur de vos ambitions."
  - title: "Copywriting"
    content: "Une belle histoire se construit à deux : Une bonne plume et une bonne diffusion. Restez au plus proche de votre cible en nous confiant votre message."
sections:
  - title:
    blocks:
      - type: text
        data:
          body: |
            ### Nous construisons des systèmes pour raconter votre histoire.
                
            Il n’y a pas meilleure ambassadrice qu’une histoire qui nous enivre complètement. La clé pour des performances constamment reproductibles est la construction de systèmes. En combinant histoires & systèmes  vous posséderez un outil de croissance à la hauteur de vos ambitions. 

---

<!-- Hero section -->
{% include fr/section-hero.html %}

<!-- Content sections -->
{% include fr/section-sections.html %}

<!-- Services -->
{% include fr/section-services.html %}

<!-- How we work -->
{% include fr/section-how_we_work.html %}

<!-- Pricing -->
{% include fr/section-pricing.html %}

<!-- Ready to start -->
{% include fr/section-ready_to_start.html %}

<!-- Ready to start -->
{% include fr/section-about.html %}

<!-- Work we're proud of -->
{% include fr/section-proud_work.html %}

<!-- Footer -->
{% include fr/section-footer.html %}

<script>
  $(document).ready(function () {
    processSteps();
    onWindowsScroll();
  });
  function processSteps() {
    $(".progress_list").each(function () {
      const first = $(this).find(".process-step:first-child");
      const last = $(this).find(".process-step:last-child");
      const line = $(this).find(".pct-line");
      let maxLength = last.offset().top - first.offset().top;
      let currentHeight = line.height();

      $(window).on("resize", function () {
        maxLength = last.offset().top - first.offset().top;
        currentHeight = line.height();
        const newHeight = Math.min(maxLength, currentHeight);
        line.css("height", newHeight + "px");
      });

      $(window).on("scroll", function () {
        maxLength = last.offset().top - first.offset().top;
        currentHeight = line.height();
        const overScreen = _isOverCenterScreen(first[0], 150);
        const newHeight = Math.min(maxLength, overScreen);

        if (overScreen && newHeight > currentHeight) {
          line.css("height", newHeight + "px");
        }
      });
    });
  }

  function onWindowsScroll() {
    $(window).on("scroll", _viewportAnimations);
  }

  function _viewportAnimations() {
    $(".process-step").each(function () {
      if (_isOverCenterScreen(this, 150)) {
        $(this).addClass("active");
      }

      $(".checkmark").each(function () {
        if (_isOverCenterScreen(this, 150)) {
          $(this).addClass("active");
        }
      });
    });
  }

  function _isOverCenterScreen(elem, offset) {
    var windowCenter = $(window).height() / 2;
    var elemTop = elem.getBoundingClientRect().top;
    return windowCenter + offset > elemTop
      ? windowCenter + offset - elemTop
      : false;
  }

  AOS.init({ duration: 1200 });
</script>
<script>
  function _setOasOffset() {
    const title = $(this);
    const height = $(window).innerHeight() + 50;
    const percentage = title.attr("data-aos-offset") || 100;
    title.attr("data-aos-offset", (height / 100) * percentage);
  }

  const setOasOffset = () => {
    $(".section-aos-offset").each(_setOasOffset);
  };
</script>
