---
layout: pages/new-web/default
body_class: homepage
custom_header: new-web/header-2.html
custom_footer: new-web/footer-2.html
main_css: ""
stylesheets:
  - /assets/home.css
client_logos:
  - path: /assets/images/home/logo-tiktok.png
  - path: /assets/images/home/logo-sendcloud.png
  - path: /assets/images/home/logo-klooker.png
  - path: /assets/images/home/logo-startlife.png
  - path: /assets/images/home/logo-fulfillment.png
  - path: /assets/images/home/logo-diesel.png
  - path: /assets/images/home/logo-simplabs.png
  - path: /assets/images/home/logo-elugie.png
  - path: /assets/images/home/logo-h.png
  - path: /assets/images/home/logo-corelifeanalytics.png
  - path: /assets/images/home/logo-insecto.png
client_logos_text:
  - Whether you’re a billion-dollar company,
  - ...or a bootstrapped powerhouse,
---

<!-- Hero -->
{% include homepage/section-hero.html %}

<!-- Clients -->
{% include homepage/section-clients.html %}

<!-- Services -->
{% include homepage/section-services.html %}

<!-- Case Studies -->
{% include homepage/section-case_studies.html %}

<!-- Academy -->
{% include homepage/section-academy.html %}

<!-- About -->
<section class="py-0 position-relative" style="margin-bottom: -250px">
  <!-- Background -->
  <div
    class="bg-primary position-absolute"
    style="width: 100%; height: 75%"
  ></div>

  <div class="container position-relative">
    <!-- Background blocks -->
    <div>
      <div
        class="position-absolute"
        style="
          width: 264px;
          height: 170px;
          background: #ffffff;
          opacity: 0.1;
          left: -195px;
          top: 220px;
        "
      ></div>
      <div
        class="position-absolute"
        style="
          width: 342px;
          height: 184px;
          background: #ffffff;
          bottom: 270px;
          left: -70px;
        "
      ></div>
      <div
        class="position-absolute"
        style="
          width: 282px;
          height: 160px;
          background: #2788e1;
          top: 375px;
          left: 235px;
        "
      ></div>
      <div
        class="position-absolute"
        style="
          width: 243px;
          height: 152px;
          background: #d9effb;
          opacity: 0.3;
          bottom: 615px;
          left: 340px;
        "
      ></div>
      <div
        class="position-absolute"
        style="
          width: 474px;
          height: 322px;
          background: #ffffff;
          opacity: 0.5;
          right: -205px;
          top: 85px;
        "
      ></div>
      <div
        class="position-absolute"
        style="
          width: 220px;
          height: 143px;
          background: #ffffff;
          opacity: 0.1;
          right: 20px;
          top: 395px;
        "
      ></div>
      <div
        class="position-absolute"
        style="
          width: 134px;
          height: 92px;
          background: #ffffff;
          opacity: 0.1;
          bottom: 725px;
          right: -50px;
        "
      ></div>
    </div>

    <!-- title box -->
    <div
      style="
        padding: 60px;
        background: #fff;
        color: initial;
        width: 550px;
        position: relative;
        top: -60px;
        box-shadow: 30px 30px 0px rgb(0 0 0 / 20%);
        z-index: 1;
      "
    >
      <p class="lead-lg">Who Are</p>
      <div class="d-flex align-items-center">
        <img src="assets/images/home/logo-double.png" />
        <div class="ml-2" class="lead-lg">?</div>
      </div>
      <div class="d-flex mt-5">
        <a href="" class="arrow-btn variant-1"> Read more </a>
      </div>
    </div>

    <!-- Image 1 -->
    <div
      class="row justify-content-end position-relative text-light"
      style="top: -120px; position: relative; right: 90px"
    >
      <div class="d-flex flex-column align-items-end">
        <img class="mb-4" src="assets/images/home/about-1.png" />
        <p class="lead-lg" style="max-width: 475px">
          Marketers you can introduce to your parents.
        </p>
      </div>
      <div class="position-absolute" style="left: 36%; bottom: 0; z-index: 1">
        <img src="assets/images/home/about-line1.png" />
      </div>
    </div>

    <!-- Image 2 -->
    <div
      class="row text-light"
      style="position: relative; top: -160px; left: 105px"
    >
      <div class="d-flex flex-column">
        <img class="mb-4" src="assets/images/home/about-2.png" />
        <p
          class="lead"
          style="max-width: 350px; position: relative; left: -50px"
        >
          We’re witty enough for you to enjoy us in your video chat...
        </p>
      </div>
      <div class="position-absolute" style="left: 300px; bottom: 0; z-index: 1">
        <img src="assets/images/home/about-line2.png" />
      </div>
    </div>

    <!-- Image 3 -->
    <div
      class="row justify-content-end"
      style="position: relative; right: 120px; top: -185px"
    >
      <div class="d-flex flex-column align-items-end">
        <img class="mb-4" src="assets/images/home/about-3.png" />
        <p class="lead" style="max-width: 475px; color: initial">
          ...and nerdy enough to dive into your Google Analytics and spot
          exactly which part of your funnel is holding up the show.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Process -->
<section>
  <div class="container">
    <!-- Intro -->
    <div class="row mb-5">
      <div class="col-md-10">
        <h1 class="mb-5 font-weight-bold">
          Our <br />
          Process
        </h1>
        <p class="lead-lg">
          You can expect deliverables in the first two weeks, and
          <span class="font-weight-bold">impossible-to-ignore</span> results in
          the first two months.
        </p>
      </div>
    </div>

    <!-- List items -->
    <div class="row">
      <div class="col-md-10">
        <div class="d-flex mb-5">
          <div>
            <div class="shadowbox variant-1-check mr-5"></div>
          </div>
          <p class="mb-0 lead" style="position: relative; top: 10px">
            Our focus is building systems
          </p>
        </div>
        <div class="d-flex mb-5">
          <div>
            <div class="shadowbox variant-1-check mr-5"></div>
          </div>
          <p class="mb-0 lead" style="position: relative; top: 10px">
            We do that via an iterative approach called high-tempo testing
          </p>
        </div>
        <div class="d-flex mb-5">
          <div>
            <div class="shadowbox variant-1-check mr-5"></div>
          </div>
          <p class="mb-0 lead" style="position: relative; top: 10px">
            Once the system is running smoothly, we help you operate it in-house
          </p>
        </div>
        <div class="d-flex mb-5">
          <div>
            <div class="shadowbox variant-1-check mr-5"></div>
          </div>
          <p class="mb-0 lead" style="position: relative; top: 10px">
            As needed, we can engage in parallel workstreams <br />
            <span style="color: rgba(41, 47, 71, 0.5)"
              >(i.e. simultaneously building your sales funnels + improving
              branding)</span
            >
          </p>
        </div>
      </div>
    </div>

    <!-- read more -->
    <div class="row mt-5">
      <a href="" class="arrow-btn variant-1"> Read more </a>
    </div>
  </div>
</section>

<!-- Pricing -->
<section class="position-relative py-0">
  <!-- Background -->
  <div
    class="position-absolute"
    style="background: #e5e7ef; left: 0; width: 50%; bottom: 0; top: 0"
  ></div>

  <!-- Content -->
  <div class="container position-relative">
    <!-- Background -->
    <div
      class="position-absolute"
      style="background: #e5e7ef; left: 0; right: -50px; bottom: 0; top: 0"
    ></div>

    <div class="row">
      <div class="col-md-5" style="padding-top: 140px">
        <h2>We like simple, transparent pricing</h2>
        <p>
          (And it also prevents us engaging with people who can’t afford our
          services quite yet).
        </p>
        <hr style="opacity: 0.15; border: 1px solid #292f47" />
      </div>

      <div class="col-md-7">
        <div
          style="
            background: #ffffff;
            box-shadow: 40px 40px 0px rgba(0, 0, 0, 0.06);
            padding: 70px;
            padding-top: 0;
            position: relative;
            right: -100px;
          "
        >
          <div class="d-flex flex-column justify-content-end text-right mb-5">
            <h2
              style="font-size: 200px; line-height: 180px; font-weight: normal"
            >
              €90
            </h2>
            <p class="lead-lg">/hour</p>
          </div>
          <p class="lead">A minimum commitment starts at 10 hours/week</p>
          <hr />
          <p class="lead">
            We’re looking for long-term collaborations (6+ months)
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div
          class="d-flex flex-wrap justify-content-between align-items-center py-5"
        >
          <div>
            <p class="lead">Not clear enough?</p>
            <p class="lead-lg">See what it looks like in practice.</p>
          </div>
          <div class="d-flex">
            <a href="" class="arrow-btn variant-2">See Example </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer section -->
<section>
  <div class="container position-relative">
    <div
      class="position-absolute"
      style="
        width: 209px;
        height: 225px;
        background: #292f47;
        left: -300px;
        top: 50px;
      "
    ></div>
    <div class="row position-relative position-relative">
      <div class="col-md-6">
        <p class="lead-lg">Still here?</p>
        <h2 class="mb-5">
          We should <br />
          talk.
        </h2>
      </div>
      <div class="col-md-6 position-absolute" style="right: 0">
        <div>
          <div
            class="position-absolute"
            style="
              width: 311px;
              height: 413px;
              background: #359bfa;
              right: 0;
              top: 35px;
            "
          ></div>
          <img
            class="position-absolute"
            src="/assets/images/home/footer-img-1.png"
            style="right: 140px; top: 140px; z-index: 1"
          />
          <img
            class="position-absolute"
            src="/assets/images/home/footer-img-2.png"
            style="top: -140px; right: -140px"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="lead">
          You got this far because the evidence is hard to ignore: we’ve grown
          businesses and will grow yours, too.
        </p>
        <p class="lead">
          If you’re even slightly tempted, we’d get a kick out of showing you
          what working together could look like. So, just leave your email below
          and we’ll be in touch to arrange a chat.
        </p>
        <div class="d-flex align-items-center mt-5">
          <div>
            <a href="" class="arrow-btn variant-1">Contact us</a>
          </div>
          <div class="ml-4">
            <span class="font-weight-bold">Email</span>:
            pieter@double-agency.com <br />
            <span class="font-weight-bold">WhatsApp</span>: +316 230 555 90
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
