---
layout: pages/new-web/default
body_class: homepage

quick_intro_show: false
quick_intro_video_url: https://player.vimeo.com/video/329342289

how_it_works:
  - "<b>Build systems</b> for durable, scalable pathways to growth"
  - "<b>A structural, long-term partner</b>, rather than hiring freelancers on project-based stuff"
  - "<b>Qualified experts</b> on fields from paid ads to copywriting, and sales funnels to analytics"
  - "<b>A fast, iterative approach</b> with a cadence of high-tempo adjustments & experimentation"
  - '<b>We take full ownership over your growth</b>—as your Head of Growth we’ll do whatever is needed to hit your growth targets… even if some of that work is technically not “marketing”'

our_promise:
  - image: /assets/images/new-web/full_ownership-icon.svg
    title: Full ownership
    content: <br>We typically come onboard as your first Head of Growth. We take ownership over everything from growth strategy to execution.

  - image: /assets/images/new-web/performance_oriented-icon.svg
    title: Performance-oriented
    content: We believe the only worthwhile marketing is whatever drives sales and revenue growth. Anything else is just excuses or busywork.

  - image: /assets/images/new-web/strategic_clarity-icon.svg
    title: Strategic clarity
    content: <br>Growth starts with clear and focused strategy. In fact, strategic clarity and systems-thinking beats “growth hacking” any day of the week.

  - image: /assets/images/new-web/experienced_execution-icon.svg
    title: Experienced execution
    content: Even the best strategies will need dependable execution. Trust our specialists to hit objectives quickly and efficiently.

about_points:
  - Team Players
  - Strategy-minded
  - Executers

how_we_help:
  - title: Create sales funnels
    content: The bread and butter of growth marketing is creating high-conversion sales funnels, that get cold leads ready to purchase... all while working on autopilot.

  - title: Website (re)design
    content: From strategy to implementation, we help clients restructure their website to generate more leads, and tell their story better.

  - title: Paid ad campaigns
    content: Paid advertising campaigns on Facebook, Google, Instagram or other platforms are the fastest way for B2C companies to scale.

  - title: Copywriting
    content: Writing better sales copy is the primary driver of higher conversions. Writing attention-grabbing ads and money-pulling sales letters is kind of our thing.

  - title: A/B testing & high-tempo experimentation
    content: Setting up a cadence of high-tempo experimentation and rapid A/B testing to validate concepts and hone in on the winning strategy.

  - title: Onboarding experiences
    content: Especially geared to apps and SaaS companies, we help startups create better onboarding experiences and lift retention.
  
  - title: Retailers strategy
    content: Helping startups in the B2C markets make the move into the retail markets, whether it’s fashion, ecommerce or food & beverages.

  - title: Landingpages & campaigns
    content: Optimising landing pages and dedicated campaigns (whether paid ads, SEO, affiliates, etc.) is our everyday business.

  - title: Outbound outreach
    content: Setting up systems to quickly get in touch with hundreds or thousands of business relationships, and building out the sales infrastructure to support it.

  - title: Building sales teams
    content: We built sales teams in various industries and for various sorts of products, ranging from street sales teams to closing high-value enterprise deals.

  - title: Storytelling
    content: Stories carry your growth, because stories sell. We’ve helped sell more than $30M in products by telling better, more engaging stories.

  - title: Analytics & data analysis
    content: Setting up analytics tools and crunching data to draw proper conclusions on retention, LTV, cohort performance or channel attribution.

academy_testimonials:
  - name: Frank Maat
    position: Head IT @ MindSpace
    image: /assets/images/new-web/testimonial_1.png
    content: As one of the first students, I can say it's one of the most informative and complete courses on marketing out there!

  - name: Lilian Delacroix
    position: Founder @ BeYourBest
    image: /assets/images/new-web/testimonial_2.png
    content: Was afraid it would only have growth hacking tricks, but it was something different. Completely changed my picture of marketing.

our_process:
  - title: Growth Strategy
    content: |
      Doubling your revenue and user base starts with making strong strategic decisions. As startups scales, they need mature growth systems to drive stable flows of users into their business.

      Our first job is to architect a high-level growth strategy that makes acquisition and customer retention stable, predictable & systematic. This is the “blueprint” we’ll later execute against...

  - title: Execution
    content: |
      Our primary task is to create marketing systems drive user growth systematically, on autopilot. This systems-building includes an acquisition engine, a sales funnel to convert cold leads to active users, and a cadence of high-tempo optimization.

  - title: Scaling & resourcing
    content: |
      Once the systems are operational, we’ll help the team optimize their strategy and increase conversions as they scale. While the startup is scaling up it’s marketing efforts, we help them bring onboard in-house hires to take over the day-to-day execution of their marketing & growth systems.

packages:
  - title: Growth <br> Strategy
    content: Strategy-only, executed by your team
    price: €450/week

  - title: Execution <br> (early-stage)
    content: Capacity of 10 hrs/week
    price: €900/week

  - title: Execution <br> (Phase II)
    content: Capacity of 20 hrs/week
    price: €1750/week

  - title: Head of <br> Growth
    content: Dedicated availability
    price: €2800/sprint

---

<!-- SECTION: Intro -->
<section id="intro" class="pt-5 text-center">
  <div class="container">
    <h3 class="mb-4">We work for startups <br> that need</h3>
    <h1 class="title m-auto d-flex align-items-center justify-content-center flex-column flex-md-row">
      <span class="left d-inline-block m-2">more</span> 
      <span class="right d-inline-block text-primary m-2">revenue</span>
    </h1>
    <p class="lead mt-5">Double is a growth marketing agency. <br> <b>We help startups scale.</b></p>
    <img class="img-fluid" src="/assets/images/new-web/intro_hero_full.jpg" />
  </div>
</section>

<!-- SECTION: How we work -->
<section id="how-we-work" class="pt-0 pb-0">
  <div class="container">

    <div class="text-center mb-5">
      <h3 class="d-inline pl-1 pr-1 m-0 position-relative bg-white" style="top: -30px;">Systematic growth marketing</h3>
      <p>Double brings you your own dedicated growth team, always led by one of our 3 partners. You’ll work with experienced marketers with a proven track record in scaling startups into international brands.</p>
    </div>

    <div class="row text-center text-md-left">
      <div class="col-md-4">
        <h2 class="mt-5">How we work?</h2>
      </div>
      <div class="col-md-8">
        <ul class="text-left checklist pl-0">
          {% for item in page.how_it_works %}
          <li class="d-flex flex-column flex-md-row mt-3 mt-md-0 mb-5 mb-md-0 text-center text-md-left align-items-center" style="min-height: 160px;">
            <div class="col-md-2 w-auto mb-3 mb-md-0 position-relative">
              <img class="fore" width="70" height="70" src="/assets/images/new-web/check_icon_fore.png" />
              <div class="back">
                <img width="70" height="70" src="/assets/images/new-web/check_icon_back.png" />
              </div>
            </div>
            <div class="col pl-md-5">
              <p class="m-0">{{ item }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
  </div>
</section>

<!-- SECTION: Our promise -->
<section id="our-promise" class="alternate-section text-center">
  <div class="container">
    
    <div class="ml-auto mr-auto mb-5" style="max-width: 680px;">
      <h2 class="mb-3">Our promise</h2>
      <p class="lead">Double is your dedicated marketing team. Here’s what you can expect from us:</p>
    </div>

    <div class="mt-5 row">
      {% for item in page.our_promise %}
      <div class="col-md-3">
        <img class="mb-4 slide-right" width="70" height="70" src="{{ item.image }}" />
        <div class="slide-top">
          <h4 class="mb-4">{{ item.title }}</h4>
          <p>{{ item.content }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- SECTION: About us -->
{% capture quick_intro %}
{% if page.quick_intro_show %}
<div class="quick_intro_box flex-row slide-bottom ml-auto pl-4 pr-4 pt-3 pb-3 text-left d-flex flex-lg-column justify-content-between mb-5">
  <div class="d-flex flex-row flex-lg-column col justify-content-lg-between p-0">
    <a href="#quick-intro-video" class="modal-btn text-light">
      <img width="10" src="/assets/images/new-web/play_triangle.png" />
    </a>
    <p class="lead text-light mb-0"><b>Quick Intro</b></p>
  </div>
  <div>
    <p class="duration mb-0">1:52</p>
  </div>
</div>
{% endif %}
{% endcapture %}
<section id="about-us" class="pb-0 text-center position-relative">

  <div class="container" style="max-width: 1440px;">
    <div class="m-auto" style="max-width: 512px;">

      <div class="mb-5">
        <h3 class="mb-4">Hey! We’re</h3>
        <div class="m-auto text-left max-w-95" style="width: 350px;">
          {{ logo }}
        </div>
        <p class="lead mt-5">Your dedicated team of growth marketing super-nerds.</p>

        <div class="about_images">
          {{ quick_intro }}
          <img class="about-1 img-fluid slide-top" src="/assets/images/new-web/about.png" />
          <img class="about-4 mt-5 slide-right" src="/assets/images/new-web/about4.png" />
          <img class="about-2 mb-5 slide-bottom" src="/assets/images/new-web/about2.png" />
          <img class="about-3 pt-5 slide-left" src="/assets/images/new-web/about3.png" />
        </div>

      </div>

    </div>

    <div class="p-5 m-auto position-relative list-items">

      <div class="m-auto" style="max-width: 512px;">

        <div class="text-left mt-4 mb-5">
          {% for item in page.about_points %}
          <div class="d-flex justify-content-between align-items-center" style="min-height: 50px;">
            <b>{{ item }}</b>
            <img width="30" height="30" src="/assets/images/new-web/check_icon_fore.png" />
          </div>
          {% if forloop.last == false %}<hr>{% endif %}
          {% endfor %}
        </div>

        <div class="text-center">
          <p>If we work on detailed strategie sessions or 'in the trenches' execution, hard work combines best with a good portion of fun.</p>
        </div>

      </div>

    </div>

  </div>
</section>

<!-- SECTION: Klooker -->
<section id="klooker" class="text-light position-relative">
  <img class="position-absolute bg-image d-none d-md-block" src="/assets/images/new-web/klooker.png" />
  <img class="position-absolute bg-image d-block d-md-none" src="/assets/images/new-web/klooker_mobile.png" />
  
  <div class="content container d-flex mt-0 mt-md-5 flex-column justify-content-md-between">

    <h2 class="title text-center ml-auto mr-auto" style="max-width: 800px;">
      We grow startups for a living
      <div class="w-100 d-block mt-3 mt-md-0 d-md-inline"> …and we love it</div>
    </h2>

    <div class="flex-fill d-none d-md-flex"></div>

    <div class="text-center text-md-left mt-4 mt-md-0 mx-auto mx-md-0" style="max-width: 425px;">
      <img class="mb-3 mb-md-5" width="158" src="/assets/images/new-web/klooker_logo_wit.png" /> 
      <p class="lead">Working with Dennis from Day 0, we led the growth efforts that grew Klooker <b>from zero to over 5,000 recurring revenue customers</b>. We are currently helping Klooker expand towards it’s milestone of 50,000 customers. Exciting!</p>
      <a href="https://klooker.nl" class="btn btn-link font-weight-bold">Visit the site <img width="11" src="/assets/images/new-web/arrow_right.svg" /></a>
    </div>

    <div class="row mt-5 px-4 px-md-0 d-flex flex-column flex-md-row justify-content-between align-items-center flex-fill">

      {% include new-web/speech_bubble.html 
        direction="right-top" 
        class="slide-right d-none d-md-block" 
        content="Double’s team is extremely forthcoming with ideas to engage our costumer further." %}

      {% include new-web/speech_bubble.html 
        direction="bottom-left" 
        class="slide-right d-block d-md-none" 
        content="Double’s team is extremely forthcoming with ideas to engage our costumer further." %}

      <div class="klooker_name text-left text-md-right w-md-auto align-self-end align-self-md-center">
        <h4 class="mb-0"><b>Dennis Kamst</b></h4>
        <p class="mb-0">Founder & CEO at klooker</p>
      </div> 

    </div>

  </div>
</section>

<!-- SECTION: Partnerships -->
<section id="partnerships" class="pt-0 position-relative">
  <div class="empty_bubbles">
    <img class="bubble-1 slide-bottom" slide-offset="10" src="/assets/images/new-web/empty_speech_bubble1.svg" /> 
    <img class="bubble-2 slide-top" slide-offset="10" src="/assets/images/new-web/empty_speech_bubble2.svg" /> 
    <img class="bubble-3 slide-left" src="/assets/images/new-web/empty_speech_bubble3.svg" /> 
  </div>

  <div class="container">

    <div class="row d-flex align-items-center mb-5">
      
      <!-- PARTNER: Babb -->
      <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
        <img class="mb-4" width="193" src="/assets/images/new-web/babb_logo.png" /> 
        <p class="lead mb-4">For BABB our partner Pieter crafted the strategic messaging & positioning that resulted in them *raising a massive $25MM Initial Coin Offering (ICO)… Wow!</p>
        <a href="https://getbabb.com/" class="btn btn-link"><b>Visit the site</b> <img width="11" src="/assets/images/new-web/arrow_right.svg" /></a>
      </div>

      <div class="col-md-6 d-flex flex-column position-relative px-0 px-md-3 cecelia_knight">
        <img class="img-fluid position-relative" src="/assets/images/new-web/Babb_CEO.jpg" /> 
        <div class="info order-2 order-md-1 px-3 px-0">
          <h4 class="mb-0"><b>Demetrios Zamboglou</b></h4>
          <p class="mb-0">CEO @ BABB</p>
        </div>
        <div class="speech-bubble speech-bubble-top-right slide-top position-relative order-1 order-md-2">
          <div class="speech-bubble-back"></div>
          <div class="speech-bubble-fore">
            <p>We already had some cool marketing ideas, but Pieter really helped us shape a clear and successful marketing plan that growth hacked our entire ICO.</p>
          </div>
        </div>
        
      </div>

    </div>

    <div class="row d-flex mt-5">

      <!-- PARTNER: Start life -->
      <div class="col-md-6 mt-5 order-2 order-md-1 px-0 px-md-3">
        <img class="img-fluid" src="/assets/images/new-web/loet_rammelaarsburg.jpg" /> 
        
        <div class="loet position-relative">

          <div class="speech-bubble speech-bubble-top-left slide-top mb-5">
            <div class="speech-bubble-back"></div>
            <div class="speech-bubble-fore">
              These guys are different than regular marketers we come across. They really seem to get it.
            </div>
          </div>

          <div class="d-flex justify-content-between aling-items-center">
            <div class="pr-3">
              <h4 class="mb-0"><b>Loet Rammelsberg</b></h4>
              <p class="mb-0">Chief Operations at StartLife</p>
            </div>
            <div >
              <img width="174" class="img-fluid" src="/assets/images/new-web/startlife_logo.png" /> 
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6 text-center order-1 order-md-2">
        <h2>Partnerships</h2>
        <p>We partner with accelerators and universities to be their 'preferred marketing partner' in crime. Besides free workshops and training, we work directly for those in need of dedicated help. That's how we already helped several startups from wageningen university accelerator Startlife to overcome their growth stagnation and become a grown up company. </p>
      </div>

    </div>
  </div>

  <div class="d-block d-sm-none" style="height: 300px;"></div>
  
</section>

<!-- SECTION: How we help -->
<section id="how-we-help" class="alternate-section">
  <div id="how-we-help-container" class="container">

    <div class="row">
      <div class="col-md-6 px-3 p-md-0 text-center text-md-left position-relative">
        <div id="how-we-help-sidebar">
          <h2>“I need you guys to scale my business…”</h2>
          <p class="lead">Excellent. Here’s how we help:</p>
        </div>
      </div>
        
      <div class="col-md-6">
        {% for item in page.how_we_help %}
        <div class="text-center text-md-left" style="min-height: 220px;">
          <h4 class="mb-4">{{ item.title }}</h4>
          <p>{{ item.content }}</p>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</section>

<!-- SECTION: Clients -->
<section id="clients">
  <div class="container">

    <div class="mb-0 mb-md-5 text-center ml-auto mr-auto" style="max-width: 680px;">
      <h2 class="mb-4">More work we’re proud of…</h2>
      <p class="lead">We're pleased to present some of the amazing clients we've had the pleasure to work with.</p>
    </div>
    
    <div class="d-flex flex-wrap p-0 ml-auto mr-auto text-light" style="max-width: 1026px; margin-top: 70px;">

      <div class="col-md-8 p-0 d-flex flex-wrap">
        <div class="col-md-6 p-2">
          {% include new-web/vertical-box.html
            href="https://peg.co/"
            logo="/assets/images/new-web/peg_logo.png"
            logo_width="150"
            headline="$1M+"
            subtitle="Raised"
            name="Peg"
            content="London-based Peg raised a $1M+ Series A round after Pieter set up a stable sales infrastructure and outbound sales engine."
            bgcolor="#FE2553" %}
        </div>
        <div class="col-md-6 p-2">
          {% include new-web/vertical-box.html
            href="https://start-life.nl/double/"
            logo="/assets/images/new-web/partner_logos.png"
            logo_width="150"
            headline="100+"
            subtitle="Startups"
            name="Partnerships"
            content="We partner with accelerators and universities to be their 'preferred marketing partner' in crime. We give free workshops and training, and work directly for those in need of dedicated help."
            bgcolor="#BBB1F0" %}
        </div>

        <div class="col-md-12 p-2">
          {% include new-web/horizontal-box.html
            href="https://au.diesel.com"
            logo="/assets/images/new-web/diesel_logo_white.png"
            logo_width="182"
            headline="+44%"
            subtitle="Online revenue in Australia"
            name="Diesel"
            content="The iconic jeans brand increased online revenue in Australia by 44% in 3 months when our conversion optimization geek, Arthur, came on board."
            bgcolor="#0C0A09" %}
        </div>
      </div>

      <div class="col-md-4 p-0 d-flex flex-wrap">
        <div class="col-md-12 p-2">
          {% include new-web/square-box.html
            href="https://www.switch.cm/"
            logo="/assets/images/new-web/switchcm_logo_light.png"
            logo_width="150"
            name="Switch.cm"
            content="Our automated acquisition engine generated triple digit leads within 2 months. Switch was acquired 8 months later."
            bgcolor="#576192" %}
        </div>

        <div class="col-md-12 p-2">
          {% include new-web/vertical-box.html
            href="https://www.rchain.coop/"
            logo="/assets/images/new-web/rchain_logo.png"
            logo_width="93"
            headline="Long-term"
            subtitle="Management"
            name="RChain"
            content="Long-term management of RChain's product marketing and community growth, so they could focus on building the new internet."
            bgcolor="#A9002D" %}
        </div>
      </div>

    </div>
  </div>
</section>

<!-- SECTION: Academy -->
<section id="academy">
  <div class="container">
    
    <div class="paper position-relative bg-white text-center">
      <div class="paper_shadow"></div>
      <div class="paper_corner">
        <div class="paper_corner_triangle text-light">
          <div class="paper_corner_triangle-inner">
            <p class="mb-0">It's</p>
            <h4><b>Free</b></h4>
          </div>
        </div>
      </div>
      <div class="paper_content bg-white position-relative">
        
        <div class="m-auto pb-4" style="max-width: 688px; ">
          <div class="text-left m-auto" style="width: 150px;">
            {{ logo }}
          </div>
          <p><b>Academy</b></p>
          <h2>The most popular course on growth marketing</h2>
          <p class="lead mt-4">14 lessons fully packed with insights,<br>delivered right to your inbox</p>
        </div>

        <div class="row mt-0 mt-md-5 pb-0 pb-md-5">
          
          {% for item in page.academy_testimonials %}
          <div class="col-md-6 px-4 mb-5">
            <div class="speech-bubble speech-bubble-bottom-left slide-bottom mb-5">
              <div class="speech-bubble-back"></div>
              <div class="speech-bubble-fore">{{ item.content }}</div>
            </div>
            <div class="d-flex align-items-center slide-left">
              <div class="image">
                <img width="70" src="{{ item.image }}" />
              </div>
              <div class="text text-left ml-4">
                <h4 class="mb-0"><b>{{ item.name }}</b></h4>
                <p class="mb-0">{{ item.position }}</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

        <p class="mb-5">Join over 15,271 others to learn from one of our founders how modern, systematic growth marketing works. It’s a great way to get to know us better, too!</p>
      
        <a href="#join-the-course" class="modal-btn btn btn-primary btn-shadow">Join Now</a>

      </div>

    </div>

  </div>
</section>

<!-- SECTION: Our process -->
<section id="our-process" class="pb-0 text-center text-lg-left">
  <div class="container">
    <h2 class="text-center mb-5 pb-5">Our process</h2>

    <div class="mt-4">
      {% for item in page.our_process %}
      <div class="process-step d-flex justify-content-lg-between flex-column flex-lg-row">
        <div class="col-lg-5 d-flex align-items-center align-items-lg-start flex-column flex-lg-row">
          <div class="step-col position-relative" style="width: 70px;">
            <div class="step-number m-auto">{{ forloop.index }}</div>
            <div class="step-checked position-absolute position-lg-relative"><img width="70" src="/assets/images/new-web/check_primary.svg" /></div>
            {% if forloop.last == false %}
            <div class="full-line ml-auto mr-auto d-none d-lg-block"></div>
            {% endif %}
            {% if forloop.index == 1 %}
            <div class="pct-line bg-primary ml-auto mr-auto d-none d-lg-block"></div>
            {% endif %}
          </div>
          <div class="col">
            <h3>{{ item.title }}</h3>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-6">{{ item.content | markdownify }}</div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>

<!-- SECTION: Packages -->
<section id="packages" class="pt-0 pb-0 text-center">
  <div class="container">
    <h2 class="mb-5">Packages</h2>
    <p class="mb-0 mb-md-5">Weekly sprints, billed monthly. All prices in EUR.</p>

    <div class="row mt-2 mt-md-5">
      {% for item in page.packages %}
      <div class="col-md-3 p-2 slide-top package-item">
        <div class="p-2 p-md-4 text-dark text-center d-flex flex-column justify-content-between" style="height: 100%; border: 1px solid #D4D7E1; box-shadow: 8px 8px 0 0 rgba(148,154,180,0.4);">
          <div class="upper">
            <h4 class="font-weight-normal">{{ item.title }}</h4>
            <p>{{ item.content }}</p>
          </div>
          <div class="lower">
            <p class="price text-primary font-weight-bold mb-0">{{ item.price }}</p>
            <a href="mailto:pieter@double-agency.com" class="btn btn-primary btn-shadow">Email us</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- SECTION: Contact -->
<section id="contact" class="pb-0 text-center text-md-left">
  <div class="container">
    <div class="row align-items-end">

      <div class="col-md-7 mb-5">
        
        <div class="mb-0 mb-md-5">
            <h2>Still here?<br>We should talk</h2>
            <p>Not about the fact that you’re here (although we like that, too), but about how we can partner up to scale your company. That’s even more exciting to us.</p>
        </div>

        <div class="pieter-mobile-img d-block d-md-none">
          <img class="img-fluid" src="/assets/images/new-web/pieter_mobile.png" />
        </div>

        <div class="person mb-4">
          <h4 class="mb-0"><b>Pieter Moorman</b></h4>
          <p>Partner / consultant</p>
        </div>

        <div class="channels mb-5">
          <p class="mb-0"><b>Email:</b> <a class="text-dark" href="mailto:pieter@double-agency.com">pieter@double-agency.com</a></p>
          <p><b>WhatsApp:</b> <a class="text-dark" href="https://wa.me/447700005858">+44 770 000 5858</a></p>
        </div>

        <div class="p-4 p-md-5 form_box" style="background-color: #EFF0F6;">
          <h4 class="font-weight-bold">Leave your business email</h4>
          <p>and we’ll contact you today!</p>
          <form name="home" action="/nice-to-meet-you" netlify>
            <div class="input-group mb-3 slide-top" >
              <input type="email" class="form-control" name="email" placeholder="Enter your business email" aria-label="Enter your email">
              <div class="input-group-append">
                <input class="btn btn-primary font-weight-bold" type="submit" value="Submit">
              </div>
            </div>
          </form>
        </div>

      </div>

      <div class="col-md-5 d-none d-md-block">
        <img width="671" src="/assets/images/new-web/pieter.svg" />
      </div>

    </div>
  </div>
</section>

<script src="{{ "/assets/js/new-main.js" | relative_url }}"></script>
{% include new-web/modal_iframe.html src=page.quick_intro_video_url id="quick-intro-video" %}
{% include new-web/modal_form.html id="join-the-course" %}