---
title: Nice to meet you
layout: pages/new-web/default
questions:
  - What's the name and website (or any other page) of your business?
  - How large is your company (size/revenue)?
  - What types of marketing did you already implement/try before?
  - How can we help you out?
---

<section class="notification-bar">
  <div class="container">
    <div class="row">
      <div class="col">
        Thanks  -  Now we need some more info so we can start helping you out!
      </div>
    </div>
  </div>
</section>

<section class="form-success pb-0 pt-5 mt-5" style="display:none;">
  <div class="container text-center">
    <div class="row justify-content-between">
      <div class="col">
        <h4>Thanks for your answers!</h4>
      </div>
    </div>
  </div>
</section>

<section class="form-section  pb-0 pt-5 mt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-2">
        <div class="bg-secondary shadow-primary p-3 square-box d-flex align-items-center">
          <p class="m-0"><b>Tell us about your business</b></p>
        </div>
      </div>
      <div class="col-md-9">

        <div class="position-relative bg-white shadow-grey px-0 pt-5 pb-5 pl-md-5 pr-md-5">

          {% include new-web/form-1.html
            form_name="nice-to-meet-you"
            form_honeypot="name"
            fields=page.questions
            button_text="Submit answers"
            class="py-0 px-0 px-md-5" %}

        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $("form[name='nice-to-meet-you']").submit(function(e) {
    e.preventDefault();
  
    const $form = $(this);
    $.post($form.attr("action"), $form.serialize()).then(function() {
      $('.form-section').hide(1000);
      $('.form-success').show(1000);
    });
  });
</script>

{% capture pieterfooterinner %}
  <a href="/" class="btn btn-primary btn-shadow">Back to the site</a>
{% endcapture %}

{% include new-web/pieter-footer.html
  title="Nice to meet you"
  lead="If you made it here, I'm sure you're dedicated in growing your business. We'd love to help you out with that, so please tell me a little bit more about your business!"
  content=pieterfooterinner
  class="pt-5 pt-md-3" %}