---
title: Nice to meet you
layout: pages/new-web/default
questions:
  - What's the name and website (or any other page) of your business?
  - How large is your company (size/revenue)?
  - What types of marketing did you already implement/try before?
  - How can we help you out?
---

<section class="notification-bar">
  <div class="container">
    <div class="row">
      <div class="col">
        Thanks  -  Now we need some more info so we can start helping you out!
      </div>
    </div>
  </div>
</section>

<section class="pb-0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-2 ml-auto mr-auto">
        <div class="bg-secondary shadow-primary p-3 square-box">
          <p class="m-0"><b>Tell us about your business</b></p>
        </div>
      </div>
      <div class="col-md-9">

        <div class="position-relative bg-white shadow-grey p-5">

          {% include new-web/form-1.html
            form_name="nice-to-meet-you"
            fields=page.questions
            button_text="Submit Answers"
            class="py-0" %}

        </div>
      </div>
    </div>
  </div>
</section>

{% capture pieterfooterinner %}
  <a href="#" class="btn btn-primary btn-shadow">Open the course</a>
{% endcapture %}

{% include new-web/pieter-footer.html
  title="Growth starts here"
  lead="Time we explore the couse! Click here to get started."
  content=pieterfooterinner
  class="pt-5 pt-md-3" %}