---
title: Welcome to Elite
layout: pages/new-web/purchase-core
questions:
  - What is your main reason for buying Elite? What do you hope to learn and achieve with the knowledge?
  - What subject we've covered in the email course are you most interested in?
  - What are you biggest doubts for joining Elite?
  - What changes those doubts?
---

<meta name="robots" content="noindex, follow">

<section class="notification-bar">
  <div class="container">
    <div class="row">
      <div class="col">
        Success - Welcome inside this course!
      </div>
    </div>
  </div>
</section>

<section class="form-success pb-0 pt-5 mt-5" style="display:none;">
  <div class="container text-center">
    <div class="row justify-content-between">
      <div class="col">
        <h4>Thanks for your answers!</h4>
      </div>
    </div>
  </div>
</section>

<section class="form-section pb-0 pt-5 mt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-2">
        <div class="d-flex align-items-center bg-secondary shadow-primary p-3 square-box">
          <p class="m-0"><b>Before we start...</b></p>
        </div>
      </div>
      <div class="col-md-9">

        <div class="position-relative bg-white shadow-grey px-0 pt-5 pb-5 pl-md-5 pr-md-5">

          {% include new-web/form-1.html
            form_name="welcome-to-elite"
            form_honeypot="name"
            fields=page.questions
            button_text="Submit answers >>"
            class="py-0 px-0 px-md-5" %}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $("form[name='welcome-to-elite']").submit(function(e) {
    e.preventDefault();
  
    const $form = $(this);
    $.post($form.attr("action"), $form.serialize()).then(function() {
      $('.form-section').hide(1000);
      $('.form-success').show(1000);
    });
  });
</script>

{% capture pieterfooterinner %}
  <a href="https://elite.double-agency.com" style="padding: 25px 70px;" class="mb-5 btn btn-primary btn-shadow">Open the course >></a>
{% endcapture %}

{% include new-web/pieter-footer.html
  title="Growth starts here"
  hide_name="true"
  lead="Time we explore the course! Click here to get started."
  content=pieterfooterinner
  class="pt-5 pt-md-3" %}