<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include new-web/head.html %}
  <body>
    {% include new-web/blog-header.html %}

    <section class="pb-0">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <h2 class="mb-4">The Double blog</h2>
            <p class="lead m-auto" style="max-width: 776px;">
              “The customer wants to derive value from every interaction so that it’s not a silly waste of their time.”
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      
      {% for post in site.posts %}
      {% assign remainder = forloop.index | modulo: 2 %}
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7 my-5 py-5 px-5 order-{% if remainder == 0 %}2{% else %}1{% endif %}">
            <p class="text-primary font-weight-bold"><strong>{{ post.tags }}</strong></h4>
            <h3><strong>{{ post.title }}</strong></h3>
            <p>{{ post.excerpt | truncatewords: 50, "..." }}</p>
            <div class="mt-5">
              <a href="{{ post.url }}" style="text-decoration: none; border: solid 2.3px #3497f3; text-align: center; padding: 15px 30px; font-size: 16px; font-weight: 600;">
                Read the Article
              </a>
            </div>
          </div>
          <div class="col-md-5 my-5 py-5 text-right order-{% if remainder == 0 %}1{% else %}2{% endif %}">
            <img class="img-fluid shadow-grey" style="height: 507px; width: 422px; object-fit: cover;" src="{{ post.cover }}">
          </div> 
        </div>
      </div>

      {% if forloop.index == 2 %}
      <div class="bg-secondary py-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7">
              <p style="font-size: 30px; font-weight: 600; line-height: 1.63; letter-spacing: 0.5px;">Our popular course on growth marketing is available for free:</p>
              <p class="mb-0">Join thousands of others. Become a confident growth marketer…</p>
            </div>
            <div class="col-md-5">
              <form>
                <div class="input-group mb-3 no-shadow">
                  <input type="email" class="form-control" name="fields[email]" placeholder="Enter your email" aria-label="Enter your email">
                  <div class="input-group-append">
                    <input class="btn btn-primary font-weight-bold px-4" type="submit" value="Join Now" data-drip-attribute="sign-up-button">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      
    </section>

    <div class="pre-footer bg-grey py-5 py-md-5">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h5 class="font-weight-bold mt-0">
              Join 15,281 others - our most popular course on growth marketing is now available for free
            </h5>
            <p>
              Modern growth marketing & user acquisition techniques
            </p>
            <form class="form_box mt-5" name="blog-post" netlify>
              <div class="input-group mb-3" style="width: 350px; max-width: 100%;">
                <input type="hidden" class="form-control" name="blog_title" value="{{ page.title }}">
                <input type="email" class="form-control" name="email" placeholder="Enter your email" aria-label="Enter your email">
                <div class="input-group-append">
                  <input class="btn btn-primary font-weight-bold px-4" type="submit" value="Join Now">
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-5">
            <h5>More on the blog:</h5>
            {% for post in site.posts limit:3 %}
            <a href="{{ post.url }}" class="d-flex align-items-center mb-4">
              {{ post.title }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      
    </div>

    {% include new-web/footer.html %}
  </body>
</html>