<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include new-web/head.html %}
  <body>
    {% include new-web/blog-header.html %}

    <section class="pb-0">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <h2 class="mb-4">The Double blog</h2>
            <p class="lead m-auto" style="max-width: 776px;">
              “The customer wants to derive value from every interaction so that it’s not a silly waste of their time.”
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        {% for post in site.posts %}
        {% assign remainder = forloop.index | modulo: 2 %}
        <div class="row align-items-center">
          <div class="col-md-7 my-5 py-5 px-5 order-{% if remainder == 0 %}2{% else %}1{% endif %}">
            <p class="text-primary font-weight-bold"><strong>{{ post.tags }}</strong></h4>
            <h3><strong>{{ post.title }}</strong></h3>
            <p>{{ post.excerpt | truncatewords: 50, "..." }}</p>
            <div class="mt-5">
              <a href="{{ post.url }}" style="text-decoration: none; border: solid 2.3px #3497f3; text-align: center; padding: 15px 30px; font-size: 16px; font-weight: 600;">
                Read the Article
              </a>
            </div>
          </div>
          <div class="col-md-5 my-5 py-5 text-right order-{% if remainder == 0 %}1{% else %}2{% endif %}">
            <img class="img-fluid shadow-grey" style="height: 507px; width: 422px; object-fit: cover;" src="{{ post.cover }}">
          </div> 
        </div>
        {% endfor %}
      </div>
    </section>

    {% include new-web/footer.html %}
  </body>
</html>