<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include new-web/head.html %}

<body class="pb-5">
  {% include new-web/header.html %}

  <!-- SECTION: random gif -->
  <section class="pb-4 pt-2">
    <div class="container">
      <div class="row flex-column text-center">
        <div class="pb-3">
          {% include new-web/random-video.html %}
        </div>
        <div><strong>Booyakashaa!</strong></div>
        <div>We have got that on the record now</div>
      </div>
    </div>
  </section>

  <!-- SECTION: content -->
  <section class="pt-0 pb-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <strong class="text-primary">{{ page.title }}</strong>
          <div>{{ content }}</div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION: form -->
  {% include new-web/form-1.html 
    fields=page.questions 
    button_text="Send me details" %}

</body>

</html>