<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include new-web/head.html %}

  <body class="blog-post">
    <header class="pt-5 pb-5">
      <div class="container">
        <nav class="
          d-flex
          flex-column
          flex-md-row
          justify-content-between
          align-items-center">
          <div class="mb-4 mb-md-0" style="width: 120px">{% include new-web/animated-logo.html %}</div>
    
          <div class="menu d-flex">
            <a href="/academy" class="text-secondary mx-3 d-flex"><b>Academy</b></a>
            <a href="/blog" class="text-secondary mx-3 d-flex"><b>Blog</b></a>
            <a href="mailto:pieter@double-agency.com" class="text-secondary mx-3 d-flex"><b>Contact</b></a>
          </div>
        </nav>
      </div>
    </header>

    <section class="py-0">
      <div class="container container-wider">

        <div class="row position-relative align-items-center">

          <div style="background: #fff; z-index: 1;" class="hero-text col-md-6 p-4 pt-md-4 pr-md-4 pb-md-4 pl-md-0">
            <p class="text-primary font-weight-bold"><strong>{{ page.tags }}</strong></h4>
            <h3 class="font-weight-bold mb-3 mt-0">{{ page.title }}</h3>
            <p class="lead">{{ page.subtitle }}</p>
          </div>
          <div class="col-md-9 offset-md-3 cover-image">
            <img class="img-fluid shadow-grey" src="{{ page.cover }}">
          </div>
        </div>
        
      </div>
    </section>

    <section class="py-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="date">{{ page.date | date: '%d %B %Y'}}</p>
          </div>
          <div class="col-md-7 px-md-0">
            {{ content }}

            <div class="pre-footer bg-grey p-4 p-md-5 mt-5">
              <h5 class="font-weight-bold mt-0">
                Join 15,281 others - our most popular course on growth marketing is now available for free
              </h5>
              <p>
                Modern growth marketing & user acquisition techniques
              </p>
              <form class="form_box mt-5" name="blog-post" netlify>
                <div class="input-group mb-3" style="width: 350px; max-width: 100%;">
                  <input type="hidden" class="form-control" name="blog_title" value="{{ page.title }}">
                  <input type="email" class="form-control" name="email" placeholder="Enter your email" aria-label="Enter your email">
                  <div class="input-group-append">
                    <input class="btn btn-primary font-weight-bold" type="submit" value="Join Now">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include new-web/footer.html %}
  </body>
</html>
