<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include new-web/head.html %}
    <style>
      .summary-block {
        margin-left: 0;
        padding-left: 15px;
        width: 100%;
        padding-right: 15px;
      }
      @media only screen and (min-width: 499px) {
        .blog-content {
          margin-left: -35px;
        }
        .summary-block {
          margin-left: -140px;
          padding-left: 105px;
          width: calc(100% + 280px);
          padding-right: 160px;
        }
      }
    </style>
  </head>

  <body class="blog-post">
    {% include new-web/blog-header.html %}

    <section class="py-0">
      <div class="container container-wider">

        <div class="row position-relative align-items-center">

          <div style="background: #fff; z-index: 1; width: 611px;" class="hero-text p-4 pt-md-4 pr-md-4 pb-md-4 pl-md-0">
            <p class="text-primary font-weight-bold"><strong>{{ page.tags }}</strong></h4>
            <h3 class="font-weight-bold mb-3 mt-0">{{ page.title }}</h3>
            <p class="lead">{{ page.subtitle }}</p>
          </div>
          <div class="ml-auto cover-image">
            <img class="img-fluid shadow-grey" src="{{ page.cover }}">
          </div>
        </div>
        
      </div>
    </section>

    <section class="py-0 mb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-3 pt-5">
            <p class="date">{{ page.date | date: '%d %B %Y'}}</p>
          </div>
          <div class="col-md-7 px-md-0 pt-0 pt-md-5 blog-content">
            {{ content }}
          </div>
        </div>
      </div>
    </section>

    <section class="py-0">
      <div class="container">
        <div class="row">
          <div class="col-md-7 offset-md-3 pl-0 pl-md-0">
            <div class="shadow-grey summary-block" style="
              background: #fff;
              position: relative;
              z-index: 1;
              padding-bottom: 50px;
              margin-bottom: -80px;">
              <h4><strong>In summary:</strong></h4>
              <div>
                {% include new-web/checklist.html items=page.summary_items size="sm" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include new-web/blog-prefooter.html paddingtop="90px" %}

    {% include new-web/footer.html %}
  </body>
</html>
