<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {% include salespage_head.html %}
  </head>

  <body class="{{ page.body_class }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M44383W"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% unless page.hide_header %}
    {% include new-web/header.html %}
    {% endunless %}

    {{ content }}

    {% unless page.hide_footer %}
    {% include new-web/footer.html %}
    {% else %}
    <footer class="bg-secondary py-5">
      <div class="container">
        <div class="row">
          <div class="col text-center" style="font-size: 14px; opacity: 0.6;">
            Copyright © 2020 Double LLC. All Rights Reserved.
          </div>
        </div>
      </div>
    </footer>
    {% endunless %}

    <script>
    (() => {
      _viewportAnimations();
      $(window).on('scroll', _viewportAnimations);
    
      function _viewportAnimations() {
        $(".slide-top, .slide-bottom, .slide-left, .slide-right").each(function() {
          const offset = $(this).attr('slide-offset') || 150;
          if (_isOverCenterScreen(this, parseInt(offset, 10))) {
            $(this).addClass("active");
            }
        });
      }
      
      function _isOverCenterScreen(elem, offset) {
        var windowCenter =  $(window).height() / 2;
        var elemTop = elem.getBoundingClientRect().top;
        return (windowCenter + offset) > elemTop 
          ? (windowCenter + offset) - elemTop 
          : false;
      }
    })()
    </script>
    
    <!--- Linkedin Pixel --->
        <script type="text/javascript">
    _linkedin_partner_id = "1853889";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1853889&fmt=gif" />
    </noscript>

  </body>
</html>