<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include new-web/leadhead.html %}

  <body class="{{ page.body_class }}">
    {% unless page.hide_header %}
    {% include new-web/header.html %}
    {% endunless %}

    {{ content }}
    
    {% unless page.hide_footer %}
    {% include new-web/footer.html %}
    {% endunless %}

    <script>
    (() => {
      _viewportAnimations();
      $(window).on('scroll', _viewportAnimations);
    
      function _viewportAnimations() {
        $(".slide-top, .slide-bottom, .slide-left, .slide-right").each(function() {
          const offset = $(this).attr('slide-offset') || 150;
          if (_isOverCenterScreen(this, parseInt(offset, 10))) {
            $(this).addClass("active");
            }
        });
      }
      
      function _isOverCenterScreen(elem, offset) {
        var windowCenter =  $(window).height() / 2;
        var elemTop = elem.getBoundingClientRect().top;
        return (windowCenter + offset) > elemTop 
          ? (windowCenter + offset) - elemTop 
          : false;
      }
    })()
    </script>
  </body>
</html>