.navbar .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #292f47;
  opacity: 0.6;
}
.navbar .nav-link.active {
  opacity: 1;
  font-weight: bold;
}
.navbar-toggler {
  position: relative;
  background: #51abff;
  width: 48px;
  height: 48px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-toggler-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: none !important;
}
.navbar-toggler-icon > div {
  background: #fff;
  height: 2px;
  width: 100%;
}
.navbar-toggler-icon > div:not(:last-child) {
  margin-bottom: 5px;
}
.toggler-menu-text {
  position: absolute;
  left: -55px;
  top: 16px;
  font-weight: 600;
  font-size: 14px;
  color: #292f47;
}
