  <!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include agency-header.html %}

    <main id="get-started">
      <article class="wrapper section section--first container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside"></div>

          <div class="grid__column"  style="text-align:center">
            <h2 class="section__heading h3">
              
            <b>Double is a growth marketing agency focused on  helping established startups reach scale</b>
            </h2>

            <div class="section__content">
              <p>As your startup scales, you'll need mature growth systems to drive stable flows of users into your business. That's the
              transition that turns passionate founder hustle into durable, scalable pathways to growth.</p>
              <p>We build the growth systems that make acquisition and customer retention stable, predictable & systematic. Starting at
              the high-level strategy, down to hands-on execution.</p>
              <!-- <span class="handwriting handwriting--primary underline underline--medium">How we typically work</span> -->
            </div><br>
          </div>
        <div class="grid__column section__aside"></div>
      </div>
    </article>
      
    <div class="section cases">
        {% for case in site.cases %}
        {% if case.company == "diesel" %}
        {% assign url = "./assets/images/cases/" %}
     <div class="section__content"></div>
      <div class="cases__bg--right">
          <div class="cases__photo">
            <img src="{{ case.company | prepend: url | append: "-photo.png" }}">
          </div>
          <div class="cases__content">
              <img width="180" src="{{ case.company | prepend: url | append: "-logo.png" }}" alt="{{ case.company }}" />
              {{ case.content }}
              <div class="cases__hashtags"><i> {{ case.tags }} </i></div>
            <p><span class="t--bold c--secondary">{{ case.footer }}</span> <a class="link" href="{{ case.link }}">{{ case.footer_link }}</a></p>
                <hr style="margin-bottom:10px; opacity:0.4;">
                <div class="case__testimonial">
                  <img class="cases__client-photo" src="{{ case.company | prepend: url | append: "-client.png" }}" alt="{{ case.client_name }}">
                  <div class="cases__testimonial">
                    <div style="margin-bottom: 5px"><i>"{{ case.testimonial }}"</i></div>
                  <div>
                  <span><b>{{ case.client_name }} | </b></span><span>{{ case.client_title }}</span>
                </div>
              </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div>{% for case in site.cases %}
  {% if case.company == "klooker" %}
      <div class="section cases">
     <div class="section__content"></div>
      <div class="cases__big">
        <div class="case-image">
        </div>
          <div class="large-content">
              <img width="170" src="./assets/images/cases/klooker-logo.png" />
              <p></p>
              <div class="content-text">We helped Klooker go <b>from $0 revenue to 3500+ recurring revenue customers</b>, while being completely bootstrapped!</div>
              <p></p>
              <div class="cases__hashtags"><i>#paidads #funnels #scaleup #sustainability</i></div>
            <p><a class="link" href="https://klooker.nl">Klooker</a></p>
            
          </div>
      </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
      <div class="section cases">
        {% for case in site.cases %}
        {% if case.company == "babb" %}
        {% assign url = "./assets/images/cases/" %}
        <div class="section__content"></div>
        <div class="cases__bg--right">
          <div class="cases__photo">
            <img src="{{ case.company | prepend: url | append: "-photo.png" }}">
          </div>
          <div class="cases__content">
            <img width="180" src="{{ case.company | prepend: url | append: "-logo.png" }}" alt="{{ case.company }}" />
            {{ case.content }}
            <div class="cases__hashtags"><i> {{ case.tags }} </i></div>
            <p><span class="t--bold c--secondary">{{ case.footer }}</span> <a class="link"
                href="{{ case.link }}">{{ case.footer_link }}</a></p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
      </div>

    <div class="section clients container container--large">
      <h3 class="clients-heading">More Clients</h3>
    <div class="tab-wrapper">
      <div class="tab-column">
        <!-- RALIVE -->
        <div class="tab-full image ralive"
          style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(./assets/images/clients/ralive-picture.jpg);">
          <div class="square-content">
            <h3 class="square-heading">Radiantly Alive</h3>
            <div class="square-sub">By opening up a new channel and creating a sales funnel we quadrupled their top-line revenue (and improved profitability
            even more) compared to any of the 5 years before.</div>
          </div>
          <div class="square-mask"></div>
          <div class="w-embed">
            <img
              src="./assets/images/clients/ralive-logo.png" alt="Radiantly Alive Logo">
           </img>
          </div>
        </div>
      </div>
      <div class="tab-column flexd">
        <!-- SWITCH -->
        <div class="flex-square">
          <a target="_blank" href="https://www.switch.cm/" class="client-link switch">
            <div class="read-block">
              <div class="no-link">
                &nbsp;</div>
            </div><img src="./assets/images/clients/switch-logo.png" alt="" class="press-logo">
            <div class="press-text">Our automated acquisition engine generated triple digit leads within 2 months. Switch was acquired
            8 months later by Booking.com</div>
            </a>
        </div>
        <!-- PEG -->
        <div class="flex-square"><a target="_blank" href="https://peg.co/"
            class="client-link peg w-inline-block">
            <img
              src="./assets/images/clients/pug-logo.png"
               alt="" class="press-logo">
            <div class="press-text">London-based Peg raised a large Series A round and was acquired soon after
              we built new sales infrastructure and lead generation engine.</div>
          </a></div>
          <!-- ALVALOR -->
        <div class="flex-square">
          <a
            href="https://www.alvalor.org/"
            target="_blank" class="client-link alvalor w-inline-block">
            <div class="no-link"
              >
              &nbsp;</div><img
              src="./assets/images/clients/alvalor-logo.png"
               alt="" class="press-log">
            <div class="press-text">For Alvalor we came on board as Head of Marketing. We did a full website redesign, wrote a content strategy and helped
            with fundraising.</div>
          </a></div>
          <!-- RCHAIN -->
        <div class="flex-square"><a href="https://www.rchain.coop/"
            target="_blank" class="client-link rchain w-inline-block">
            <img src="./assets/images/clients/rchain-logo.png"
               alt="" class="press-logo"> 
            <div class="press-text">Long-term management of RChain's product marketing and community growth, 
            so they could focus on building the new internet.</div>
          </a></div>
      </div>
    </div>
</div>

    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
