<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include webinar-header.html %}

    <main>
     <center>
      <iframe src="https://player.vimeo.com/video/229702700" width="960" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     </center>
           <article class="wrapper section section--first container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside"></div>
          <div class="grid__column">
            <h2 class="section__heading h3">Quick notes:</h2>
    <ol>
      <li>I know you're doubting this whole consulting business thing, but stop that.<br>Just start and you'll see it's the way to success.<br>
         I was in Cuzco, Peru.... without a good mic.<br>
         -- Also birds in the background were in a really chirpy mood ;-)</li>
      <li> Check out Elite <a href="https://growhtcasts.co/elite">here</a>, and see the ultimate consulting track.<br>Awesomeeee!</li>
      </ol><br><br>
    <h2>What's covered in this webinar... </h2>
    <ul>
      <li>How <i>to get clients</i> for your consulting the way I did when I was <i>in your position</i></li>
      <li>3 '<i>out-off-my-mind</i>' strong acquisition channels for getting <i>yourself</i> sold</li>
      <li>I new 'consulting mindset' that will <i>make you confident</i> like a McKinsey pro<br>strategy consultant (or any other overconfident prick ;)</li>
      <li>…All the other small details about acquiring growth consulting projects of<br><i>over $10.000+</i> in value yourself, while you work remotely</li>
    </ul>
    <p> Thanks for watching, and happy growing!<br><br>
        Cheers,<br><br>
        <b>-Pieter</b><br><br>
        <i>P.S. any questions? Hit me up on pieter@Double-agency.com, and I'll get back to you ASAP.</i>
      </p>
          </div>
            </div>
              </article>
    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
