<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include home-header.html %}

    <main id="grow">
      <section class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside"></div>
          <div class="grid__column">
            <h2 class="section__heading h2"><b>Growth Marketing for Startups</b></span></h2>

            <div class="section__content">
              <p>We help <u>early-stage startup companies</u> (prior to P/M-fit)…  get the growth systems in place…  to predictably acquire users… and convert them to raving fans and happy customers.</p>
              <p>
              We create best-in-class marketing education, to help ruckus-makers like you become better marketers.
              <br><br>
              So once you launch your product, and you’re like…</p>

              <blockquote><p><b><i>“… how do we ever get people to use this thing?!”</i></b></p></blockquote>

              <p>That’s where we step in.<br>That’s when you call us.
              <br><br>
              And here’s the best part…</p>
              <br>
              <h3 id="thefastestwaytoincrease">We're really good at it</h3>

              <ul>
                <li><b>For BABB</b> we crafted a strategic messaging & positioning… that resulted in raising a $25MM Initial Coin Offering (ICO)… <i>Wow!</i></li>
              
                <li><b>For Switch</b> we built an automated acquisition engine. They got acquired 8 months later by Booking.com</li>

                <li><b>For Klooker</b> we help them go from $0 revenue to 3500+ recurring revenue customers… <i>while being completely bootstrapped!</i></li>

                <li><b>For Radiantly Alive</b> we quadrupled annual top-line revenue compared to any of the 5 years before… <i> within just 8 weeks</i></li>
        
                <li><b><span style="background-color:#5DB1FE;">Here at Growthcasts</span></b> we’ve educated thousands of entrepreneurs about growth marketing & user acquisition… <i>and help them make the change they want to see</i></li>
              </ul>
              
              <p>Of course that’s not the only stuff we do, but it gives a taste. Obviously the last bullet is most important here, because <i><b>that’s this very website!</b></i></p>

              <p>On this little corner of the internet, we teach people about growth marketing & user acquisition. By popular request we’ve also re-opened our <i><b><a href="/agency">boutique growth agency</a></i></b>, but we’re mostly <b>education-focused.</b></p>

              <p>In fact, just click around this website, and explore a bit.
              <br>
              There’s a lot to see.</p>
              <p>To get started:</p>
              <ol>
                <li><b>Join the email course</b><br>
                  The most popular thing we’ve ever crafted. Oh and it’s free, too (<a href="#join-the-course">click here</a>).
                </li><br>
                <li><b>Explore more about us</b><br>
                  If you’re curious about our style and vision, here’s a great place to get to know us better (<a href="/story">click here</a>).
                </li>
              </ol>
              <p>
              Cheers,
              <br><br>
              <b> ⏤Pieter <i>"see P.S."</i> Moorman</b></p>
              <img src="/assets/images/pieter.png" alt="Piet" style="width:17%;height:auto;border:0;">
            </div>
          </div>
            <div class="grid__column section__aside"></div>
          </div>
          {% include banner.html heading="Learn this simple, step-by-step framework to accelerate monthly user growth" text="Email course – 7 lessons" %}
        </div>
      </section>


      {% include modal-form.html %}
    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
