<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include home-header.html %}

    <main id="get-started">

      <secion class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside">
            <img class="image" src="{{ "./assets/images/sections/section4.png" }}" alt="">
          </div>

          <div class="grid__column">

            <h2 class="section__heading h3">Want to expand your business faster, increase your monthly revenue growth, and get more and more people to experience your products?</h2>

            <div class="section__content">
              <p>Caling a startup has become stupidly hard. But if you’re anything like me… that's the reason you became an entrepreneur in the first place: you wanted to make an impact in the world, by creating meaningful businesses.</p>

              <p>Anyhow... So glad you dropped by here.</p>

              <p>I don’t know exactly how you ended up here...</p>

              <p>But here’s how we can help:</p>

              <p class="handwriting handwriting--small c--secondary">We can help you build simple ‘growth systems’ into the core of your business</p>

              <p>Later we’ll discuss what those growth systems are, and how they work. But right now, let’s focus on why they matter...</p>

              <p>Over the last couple of years — as the internet matured <span class="c--secondary t--bold">— online marketing has gone through a series of massive shifts. As a result, marketing has become incredibly complex.<span></p>

              <p>The problem is not that there aren’t enough marketing tactics to try. The internet is literally full of that. We have an endless obsession with “growth hacks” and loopholes, and gimmicks to “game the system”. There are literally hundreds of gurus and advisors selling you those. But while it’s tempting, those tactics will never work.</p>

              <p>Here’s the bottom line: the only way to unlock sustainable, accelerating, stable product growth (where you constantly grow your user base and revenues, month-over-month)… is to understand the ‘growth levers’ that drive your business, from the ground up.</p>

              <p class="handwriting handwriting--small handwriting--primary">Growth is a matter of systems, not tactics</p>

              <p>Let me put it plainly…</p>

              <div class="handwriting handwriting--small c--secondary space">What you need are automated systems, that drive new customers in, virtually on autopilot.</div>

              <p class="space">Of course, those systems don’t have to be complicated (on the contrary), but you need to be deliberate about it.</p>

              <p>High-growth startups like Uber, Amazon or Pinterest are able to create “engineered virality” into their business, via various growth loops (Btw. I explain here what “growth loops” are)</p>

              <p>So if you’re feeling confused about how marketing works, and how you can grow your startup… Then we're here to help you.</p>

              <p>If you’re still haven’t cracked the nut on “how to quickly learn growth marketing”, we suggest you start with <a class="link" href="#">reading our Frank vs. Matt essay.</a></p>

              <p>Another great starting-point is our <a class="link" href="#">free email course</a></p>

              <p>Besides that, there’s a lot of cool stuff around here. Just look around. Pick what you like, and ignore the rest.</p>
            </div>
          </div>

          <div class="grid__column section__aside"></div>
        </div>
      </secion>

      <section class="section section--gray">
        <div class="wrapper container container--xlarge">
          <div class="grid grid--center">
            <div class="grid__column section__aside"></div>

            <div class="grid__column">
              <div class="section__content">
                <p class="handwriting handwriting--small c--secondary">We can help you build simple ‘growth systems’ into the core of your business</p>

                <ul class="list list--numbers">
                  <li>
                    <span class="list__number">1</span>
                    <span class="c--secondary t--bold">We teach to entrepreneurs</span>, not to “get rich quick” internet marketers
                  </li>

                  <li>
                    <span class="list__number">2</span>
                    Growth is about <span class="c--secondary t--bold">systems, not hacks</span>
                  </li>

                  <li>
                    <span class="list__number">3</span>
                    <span class="c--secondary t--bold">We teach to entrepreneurs</span>, not to “get rich quick” internet marketers
                  </li>

                  <li>
                    <span class="list__number">4</span>
                    Growth is about <span class="c--secondary t--bold">systems, not hacks</span>
                  </li>
                </ul>

                <p>The amount of complicated marketing hoopla is absolutely staggering.</p>

                <p>We need to go “back to basics”.</p>

                <p>Catch. Pass. Shoot.</p>

                <p>And only when you simplify it, will you see that…</p>

                <a class="link" href="#">Growth solves all problems...</a>

                <p class="space">Cheers,</p>

                <p class="handwriting paragraph">Pieter</p>

              </div>
            </div>

            <div class="grid__column section__aside"></div>
          </div>

          {% include banner.html heading="Learn this simple, step-by-step framework to accelerate monthly user growth" text="Email course – 7 lessons" %}
        </div>
      </section>
    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>

    <!-- Drip -->
      <script type="text/javascript">
        var _dcq = _dcq || [];
        var _dcs = _dcs || {};
        _dcs.account = '3029595';

        (function() {
          var dc = document.createElement('script');
          dc.type = 'text/javascript'; dc.async = true;
          dc.src = '//tag.getdrip.com/3029595.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(dc, s);
        })();
      </script>
    <!-- end Drip -->
  </body>
</html>
