<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include home-header.html %}

    <main id="get-started">
      <section class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside">
          </div>

          <div class="grid__column">
            <h2 class="section__heading h3">I believe <span class="underline underline--medium">most entrepreneurs are “artists”</span></h2>

            <div class="section__content">
              <p>We live and breathe to <em>create stuff.</em> To make a dent in the universe. And if you’re anything like me, you want your business to contribute something meaningful to the world. </p>

              <p>The question then is… </p>

              <p class="handwriting handwriting--primary">How do we spend our efforts wisely, to make sure our impact is as big as possible?</em></p>

              <p>As it turns out, the answer is rather simple…</p>

              <h3 id="thefastestwaytoincrease">The fastest way to increase your impact on the world, is to expand your business…</h3>

              <p>Your users are the lifeblood of your business. Without happy customers using your product, you’re nowhere. Between all the madness and chaos, user growth is a clear signal: growth means that something is working. People are liking your product, and telling their friends. They’re happy to help you pay the bills. </p>

              <p>I’ll call that “The Wonder of Entrepreneurship”: in our line of business, you can become rich AND make an impact, all at the same time. The more people using your product, the bigger your impact will be.</p>

              <p><b>But there is one big problem:</b> getting users is much harder than it seems (!!).</p>

              <p>Of course, that is were we—growth marketers—come in…</p>

              <h3 id="growthmarketingisaboutbuilding">Growth marketing is about building automated systems that bring new customers in, virtually on autopilot</h3>

              <p>The only way to unlock sustainable, accelerating, stable product growth (where you constantly grow your user base and revenues, month-over-month)… is to understand the ‘growth levers’ that drive your business.</p>

              <p>And contrary to what you might have thought, this shit is not rocket science. “Growth hacking” sounds complicated (hey, we’re marketers, after all!), but it’s something that everyone can learn. It’s the systematic pursuit of acquiring more customers.</p>

              <p>To grow your company faster, you need to understand how growth marketing works. And to start the transformation, you need to start <em>thinking</em> a little differently about your business. You need to start thinking a bit more like a marketer… ¯\_(ツ)_/¯</p>

            </div>
          </div>

          <div class="grid__column section__aside"></div>
        </div>
      </section>

      <section class="section section--gray">
        <div class="wrapper container container--xlarge">
          <div class="grid grid--center">
            <div class="grid__column section__aside"></div>

            <div class="grid__column">
              <div class="section__content">
                <h2 class="c--secondary"><b>My Philosophy on Growth</b></span></h2>

                <ul class="list list--numbers">
                  <li>
                    <span class="list__number"><b>1</b></span>
                    <p class="paragraph"><b>For startups, Growth is the only thing that matters</b><br>Users are the lifeblood of your business, and getting more users is a lot harder than it seems. In fact, it’s the main reason startups fail.</p></li>

                  <li>
                    <span class="list__number"><b>2</b></span>
                    <p class="paragraph"><b>The “Head of Growth” is the single most important position in a startup</b><br>And that’s why you—the CEO—should be the Head of Growth. It’s your job to make the company succeed, and Growth is what brings success.</p></li>

                  <li>
                    <span class="list__number"><b>3</b></span>
                    <p class="paragraph"><b>Growth is not about finding ‘hacks’. Sustainable growth is</b> <b><em>systematic**</em></b><br>Growth marketing is about building automated systems that drive new customers in, virtually on autopilot.</p></li>

                  <li>
                    <span class="list__number"><b>4</b></span>
                    <p class="paragraph"><b>The framework you need to understand, are so-called “growth loops”</b><br>Once you know how they work, you’ll see them everywhere. <em>Every startup</em> that drives sustained growth is using them. That’s why their distribution looks almost effortless.</p></li>
                
                  <li>
                    <span class="list__number"><b>5</b></span>
                    <p class="paragraph"><b>Take</b> <b><em>true ownership</em></b> <b>of growth, your business will never be the same</b><br>It’s simple, but it’s not easy. Those systems aren’t always very complicated (on the contrary), but they were <em>deliberately created</em>. It’s time you take ownership over it…</p>
                  </li>
                </ul>

                <p>The process to design growth systems is what is called “growth marketing”, and that’s what this website is all about.</p>

                <p>On the next page, I’ll show you what growth loops are (so you can build them yourself):</p>

                <p><a href="/philosophy"><b>Explore how growth loops work »</b></a></p>
                <p class="space">Cheers,</p>

                <p class="handwriting paragraph">Pieter</p>

                <p><b><em>P.S.</em></b> <em>If you’re here just because a friend told you about our email course, then</em> <b><em>click below to sign up.</em></b> <em>It has helped thousands of entrepreneurs before you, and it’s free after all…</em> </p>

                <p><b><em>P.P.S.</em></b> <em>on the next page, I’ll also try do a better job introducing myself. I imagine you’d like to know a little bit about who you’re talking to. Let’s dive straight in =></em> <a href="/philosophy"><b><em>continue the story…</em></b></a></p>

              </div>
            </div>
            <div class="grid__column section__aside"></div>
          </div>

          {% include banner.html heading="Learn this simple, step-by-step framework to accelerate monthly user growth" text="Email course – 7 lessons" %}
        </div>
      </section>


      {% include modal-form.html %}
    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
