{% capture logo %}
  <div class="animated-logo position-relative">
    <img class="back img-fluid" src="/assets/images/new-web/double_logo_back.png" />
    <img class="fore img-fluid position-absolute" src="/assets/images/new-web/double_logo_fore.png" />
  </div>
{% endcapture %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include new-web/head.html %}

  <body>

    <!-- Header -->
    <header class="pt-5 pb-5">
      <div class="container">
        <nav class="d-flex justify-content-between align-items-center">
          <div style="width: 120px">{{ logo }}</div>
          <div class="menu">
            <a href="mailto:pieter@double-agency.com" class="text-secondary"><b>Contact</b></a>
          </div>
        </nav>
      </div>
    </header>

    <!-- SECTION: Intro -->
    <section id="intro" class="pt-5 text-center">
      <div class="container">
        <h3 class="mb-4">We work for startups <br> that need</h3>
        <h1 class="title m-auto">
          <span class="left d-inline-block">more</span> 
          <span class="right d-inline-block text-primary">revenue</span>
        </h1>
        <p class="lead mt-5">Double is a growth marketing agency. <br> <b>We help startups scale.</b></p>
        <img class="img-fluid" src="/assets/images/new-web/intro_hero_full.jpg" />
      </div>
    </section>

    <!-- SECTION: How we work -->
    <section id="how-we-work" class="pt-0">
      <div class="container">

        <div class="text-center mb-5">
          <h3 class="d-inline pl-1 pr-1 m-0 position-relative bg-white" style="top: -30px;">Systematic growth marketing</h3>
          <p>Double brings you your own dedicated growth team, always led by one of our 3 partners. You’ll work with experienced marketers with a proven track record in scaling startups into international brands.</p>
        </div>

        <div class="row text-center text-md-left">
          <div class="col-md-4">
            <h2 class="mt-5">How we work?</h2>
          </div>
          <div class="col-md-8">
            <ul class="text-left checklist pl-0">
              {% for item in page.how_it_works %}
              <li class="d-flex flex-column flex-md-row mt-3 mt-md-0 text-center text-md-left align-items-center" style="min-height: 160px;">
                <div class="col-md-2 w-auto mb-3 mb-md-0 position-relative">
                  <img class="fore" width="70" height="70" src="/assets/images/new-web/check_icon_fore.png" />
                  <div class="back">
                    <img width="70" height="70" src="/assets/images/new-web/check_icon_back.png" />
                  </div>
                </div>
                <div class="col">
                  <p class="m-0">{{ item }}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        
      </div>
    </section>

    <!-- SECTION: Our promise -->
    <section id="our-promise" class="alternate-section text-center">
      <div class="container">
        
        <div class="ml-auto mr-auto mb-5" style="max-width: 680px;">
          <h2 class="mb-3">Our promise</h2>
          <p class="lead">Double is your dedicated marketing team. Here’s what you can expect from us:</p>
        </div>

        <div class="mt-5 row">
          {% for item in page.our_promise %}
          <div class="col-md-3">
            <img class="mb-4 slide-right" width="70" height="70" src="{{ item.image }}" />
            <div class="slide-top">
              <h4 class="mb-4">{{ item.title }}</h4>
              <p>{{ item.content }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- SECTION: About us -->
    {% capture quick_intro %}
    {% if page.quick_intro_show %}
    <div class="quick_intro_box flex-row slide-bottom ml-auto pl-4 pr-4 pt-3 pb-3 text-left d-flex flex-lg-column justify-content-between mb-5">
      <div class="d-flex flex-row flex-lg-column col justify-content-lg-between p-0">
        <a href="#quick-intro-video" class="modal-btn text-light">
          <img width="10" src="/assets/images/new-web/play_triangle.png" />
        </a>
        <p class="lead text-light mb-0"><b>Quick Intro</b></p>
      </div>
      <div>
        <p class="duration mb-0">1:52</p>
      </div>
    </div>
    {% endif %}
    {% endcapture %}
    <section id="about-us" class="pb-0 text-center position-relative">

      <div class="container" style="max-width: 1440px;">
        <div class="m-auto" style="max-width: 512px;">

          <div class="mb-5">
            <h3 class="mb-4">Hey! We’re</h3>
            <div class="m-auto text-left max-w-95" style="width: 350px;">
              {{ logo }}
            </div>
            <p class="lead mt-5">Your dedicated team of growth marketing super-nerds.</p>

            <div class="about_images">
              {{ quick_intro }}
              <img class="about-1 img-fluid slide-top" src="/assets/images/new-web/about.png" />
              <img class="about-4 mt-5 slide-right" src="/assets/images/new-web/about4.png" />
              <img class="about-2 mb-5 slide-bottom" src="/assets/images/new-web/about2.png" />
              <img class="about-3 pt-5 slide-left" src="/assets/images/new-web/about3.png" />
            </div>

          </div>

        </div>

        <div class="p-5 m-auto position-relative list-items">
  
          <div class="m-auto" style="max-width: 512px;">

            <div class="text-left mt-4 mb-5">
              {% for item in page.about_points %}
              <div class="d-flex justify-content-between align-items-center" style="min-height: 50px;">
                <b>{{ item }}</b>
                <img width="30" height="30" src="/assets/images/new-web/check_icon_fore.png" />
              </div>
              {% if forloop.last == false %}<hr>{% endif %}
              {% endfor %}
            </div>

            <div class="text-center">
              <p>One of the most essential points in choosing cookware is the material it is made of.</p>
            </div>

          </div>

        </div>

      </div>
    </section>

    <!-- SECTION: Klooker -->
    <section id="klooker" class="text-light position-relative">
      <img class="position-absolute bg-image d-none d-md-block" src="/assets/images/new-web/klooker.png" />
      <img class="position-absolute bg-image d-block d-md-none" src="/assets/images/new-web/klooker_mobile.png" />
      
      <div class="content container d-flex mt-0 mt-md-5 flex-column justify-content-md-between">

        <h2 class="title text-center ml-auto mr-auto" style="max-width: 800px;">
          We grow startups for a living
          <div class="w-100 d-block mt-3 mt-md-0 d-md-inline"> …and we love it</div>
        </h2>

        <div class="flex-fill d-none d-md-flex"></div>

        <div class="text-center text-md-left mt-4 mt-md-0 mx-auto mx-md-0" style="max-width: 425px;">
          <img class="mb-3 mb-md-5" width="158" src="/assets/images/new-web/klooker_logo_wit.png" /> 
          <p class="lead">Working with Dennis from Day 0, we led the growth efforts that grew Klooker <b>from zero to over 5,000 recurring revenue customers</b>. We are currently helping Klooker expand towards it’s milestone of 50,000 customers. Exciting!</p>
          <a href="#" class="btn btn-link font-weight-bold">Visit the site <img width="11" src="/assets/images/new-web/arrow_right.svg" /></a>
        </div>

        <div class="row mt-5 px-4 px-md-0 d-flex flex-column flex-md-row justify-content-between align-items-center flex-fill">

          {% include new-web/speech_bubble.html 
            direction="right-top" 
            class="slide-right d-none d-md-block" 
            content="Double’s team is extremely forthcoming with ideas to engage our costumer further." %}

          {% include new-web/speech_bubble.html 
            direction="bottom-left" 
            class="slide-right d-block d-md-none" 
            content="Double’s team is extremely forthcoming with ideas to engage our costumer further." %}

          <div class="klooker_name text-left text-md-right w-md-auto align-self-end align-self-md-center">
            <h4 class="mb-0"><b>Dennis Kamst</b></h4>
            <p class="mb-0">Founder & CEO at klooker</p>
          </div> 

        </div>

      </div>
    </section>

    <!-- SECTION: Partnerships -->
    <section id="partnerships" class="pt-0 position-relative">

      <div class="empty_bubbles">
        <img class="bubble-1" src="/assets/images/new-web/empty_speech_bubble1.svg" /> 
        <img class="bubble-2" src="/assets/images/new-web/empty_speech_bubble2.svg" /> 
        <img class="bubble-3" src="/assets/images/new-web/empty_speech_bubble3.svg" /> 
      </div>

      <div class="container">

        <div class="row d-flex align-items-center mb-5">
          
          <!-- PARTNER: Babb -->
          <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
            <img class="mb-4" width="193" src="/assets/images/new-web/babb_logo.png" /> 
            <p class="lead mb-4">For BABB our partner Pieter crafted the strategic messaging & positioning that resulted in them *raising a massive $25MM Initial Coin Offering (ICO)… Wow!</p>
            <a href="#" class="btn btn-link"><b>Visit the site</b> <img width="11" src="/assets/images/new-web/arrow_right.svg" /></a>
          </div>

          <div class="col-md-6 d-flex flex-column position-relative px-0 px-md-3 cecelia_knight">
            <img class="img-fluid position-relative" src="/assets/images/new-web/cecelia_knight.png" /> 
            <div class="info order-2 order-md-1 px-3 px-0">
              <h4 class="mb-0"><b>Cecelia Knight</b></h4>
              <p class="mb-0">CEO at BABB</p>
            </div>
            <div class="speech-bubble speech-bubble-top-right slide-top position-relative order-1 order-md-2">
              <div class="speech-bubble-back"></div>
              <div class="speech-bubble-fore">
                <p>Every product that is labeled as a PC must be accompanied with specific software to operate the unit and must feature a touchscreen.</p>
              </div>
            </div>
            
          </div>

        </div>

        <div class="row d-flex mt-5">

          <!-- PARTNER: Start life -->
          <div class="col-md-6 mt-5 order-2 order-md-1 px-0 px-md-3">
            <img class="img-fluid" src="/assets/images/new-web/loet_rammelaarsburg.svg" /> 
            
            <div class="loet position-relative">

              <div class="speech-bubble speech-bubble-top-left slide-top mb-5">
                <div class="speech-bubble-back"></div>
                <div class="speech-bubble-fore">
                  These guys are different than regular marketers we come across. They really seem to get it.
                </div>
              </div>
  
              <div class="d-flex justify-content-between aling-items-center">
                <div class="pr-3">
                  <h4 class="mb-0"><b>Loet Rammelaarsburg</b></h4>
                  <p class="mb-0">Chief Operations at StartLife</p>
                </div>
                <div >
                  <img width="174" class="img-fluid" src="/assets/images/new-web/startlife_logo.png" /> 
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-6 text-center order-1 order-md-2">
            <h2>Partnerships</h2>
            <p>We partner with accelerators and universities to be their 'preferred marketing partner' in crime. Besides free workshops and training, we work directly for those in need of dedicated help. That's how we already helped several startups from wageningen university accelerator Startlife to overcome their growth stagnation and become a grown up company. </p>
          </div>

        </div>
      </div>

      <div class="d-block d-sm-none" style="height: 300px;"></div>

    </section>

    <!-- SECTION: How we help -->
    <section id="how-we-help" class="alternate-section">
      <div id="how-we-help-container" class="container">

        <div class="row">
          <div class="col-md-6 px-3 p-md-0 text-center text-md-left position-relative">
            <div id="how-we-help-sidebar">
              <h2>“I need you guys to scale my business…”</h2>
              <p class="lead">Excellent. Here’s how we help:</p>
            </div>
          </div>
            
          <div class="col-md-6">
            {% for item in page.how_we_help %}
            <div class="text-center text-md-left" style="min-height: 220px;">
              <h4 class="mb-4">{{ item.title }}</h4>
              <p>{{ item.content }}</p>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </section>

    <!-- SECTION: Clients -->
    <section id="clients">
      <div class="container">

        <div class="mb-0 mb-md-5 text-center ml-auto mr-auto" style="max-width: 680px;">
          <h2 class="mb-4">More work we’re proud of…</h2>
          <p class="lead">The software availability is the key to why Windows wins over Linux in this competition.</p>
        </div>
        
        <div class="d-flex flex-wrap p-0 ml-auto mr-auto text-light" style="max-width: 1026px; margin-top: 70px;">

          <div class="col-md-8 p-0 d-flex flex-wrap">
            <div class="col-md-6 p-2">
              {% include new-web/vertical-box.html
                href="#"
                logo="/assets/images/new-web/peg_logo.png"
                logo_width="135"
                headline="$1M+"
                subtitle="Raised"
                name="Peg"
                content="London-based Peg raised a $1M+ Series A round after Pieter set up a stable sales infrastructure and outbound sales engine."
                bgcolor="#FE2553" %}
            </div>
            <div class="col-md-6 p-2">
              {% include new-web/vertical-box.html
                href="#"
                logo="/assets/images/new-web/radiantly_alive_logo.png"
                logo_width="82"
                headline="400%"
                subtitle="Growth"
                name="Radiantly Alive"
                content="Our sales funnel restructuring led to a 400% growth of total gross revenue as compared to any of the 5 years prior. The studio is now one of the most recognisable yoga brands in Bali."
                bgcolor="#E82191" %}
            </div>

            <div class="col-md-12 p-2">
              {% include new-web/horizontal-box.html
                href="#"
                logo="/assets/images/new-web/diesel_logo_white.png"
                logo_width="182"
                headline="+44%"
                subtitle="Online revenue in Australia"
                name="Diesel"
                content="The iconic jeans brand increased online revenue in Australia by 44% in 3 months when our conversion optimization geek, Arthur, came on board."
                bgcolor="#0C0A09" %}
            </div>
          </div>

          <div class="col-md-4 p-0 d-flex flex-wrap">
            <div class="col-md-12 p-2">
              {% include new-web/square-box.html
                href="#"
                logo="/assets/images/new-web/switchcm_logo_light.png"
                logo_width="150"
                name="Switch.cm"
                content="Our automated acquisition engine generated triple digit leads within 2 months. Switch was acquired 8 months later."
                bgcolor="#576192" %}
            </div>

            <div class="col-md-12 p-2">
              {% include new-web/vertical-box.html
                href="#"
                logo="/assets/images/new-web/rchain_logo.png"
                logo_width="93"
                headline="Long-term"
                subtitle="Management"
                name="RChain"
                content="Long-term management of RChain's product marketing and community growth, so they could focus on building the new internet."
                bgcolor="#A9002D" %}
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- SECTION: Academy -->
    <section id="academy">
      <div class="container">
        
        <div class="paper position-relative bg-white text-center">
          <div class="paper_shadow"></div>
          <div class="paper_corner">
            <div class="paper_corner_triangle text-light">
              <div class="paper_corner_triangle-inner">
                <p class="mb-0">It's</p>
                <h4><b>Free</b></h4>
              </div>
            </div>
          </div>
          <div class="paper_content bg-white position-relative">
            
            <div class="m-auto pb-4" style="max-width: 688px; ">
              <div class="text-left m-auto" style="width: 150px;">
                {{ logo }}
              </div>
              <p><b>Academy</b></p>
              <h2>The most popular course on growth marketing</h2>
              <p class="lead mt-4">7 Lessons of Online Course</p>
            </div>

            <div class="row mt-0 mt-md-5 pb-0 pb-md-5">
              
              {% for item in page.academy_testimonials %}
              <div class="col-md-6 px-4 mb-5">
                <div class="speech-bubble speech-bubble-bottom-left slide-bottom mb-5">
                  <div class="speech-bubble-back"></div>
                  <div class="speech-bubble-fore">{{ item.content }}</div>
                </div>
                <div class="d-flex align-items-center slide-left">
                  <div class="image">
                    <img width="70" src="{{ item.image }}" />
                  </div>
                  <div class="text text-left ml-4">
                    <h4 class="mb-0"><b>{{ item.name }}</b></h4>
                    <p class="mb-0">{{ item.position }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>

            <p class="mb-5">Join over 15,271 others to learn from one of our founders how modern, systematic growth marketing works. It’s a great way to get to know us better, too!</p>
          
            <a href="#join-the-course" class="modal-btn btn btn-primary btn-shadow">Join Now</a>

          </div>

        </div>

      </div>
    </section>

    <!-- SECTION: Our process -->
    <section id="our-process" class="pb-0 text-center text-lg-left">
      <div class="container">
        <h2 class="text-center mb-5 pb-5">Our process</h2>

        <div class="mt-4">
          {% for item in page.our_process %}
          <div class="process-step d-flex justify-content-lg-between flex-column flex-lg-row">
            <div class="col-lg-5 d-flex align-items-center align-items-lg-start flex-column flex-lg-row">
              <div class="step-col position-relative" style="width: 70px;">
                <div class="step-number m-auto">{{ forloop.index }}</div>
                <div class="step-checked position-absolute position-lg-relative"><img width="70" src="/assets/images/new-web/check_primary.svg" /></div>
                {% if forloop.last == false %}
                <div class="full-line ml-auto mr-auto d-none d-lg-block"></div>
                {% endif %}
                {% if forloop.index == 1 %}
                <div class="pct-line bg-primary ml-auto mr-auto d-none d-lg-block"></div>
                {% endif %}
              </div>
              <div class="col">
                <h3>{{ item.title }}</h3>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-6">{{ item.content | markdownify }}</div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section>

    <!-- SECTION: Packages -->
    <section id="packages" class="pt-0 pb-0 text-center">
      <div class="container">
        <h2 class="mb-5">Packages</h2>
        <p class="mb-0 mb-md-5">Weekly sprints, billed monthly. All prices in EUR.</p>

        <div class="row mt-2 mt-md-5">
          {% for item in page.packages %}
          <div class="col-md-3 p-2 slide-top package-item">
            <div class="p-2 p-md-4 text-center d-flex flex-column justify-content-between" style="height: 100%; border: 1px solid #D4D7E1; box-shadow: 8px 8px 0 0 rgba(148,154,180,0.4);">
              <div class="upper">
                <h4 class="font-weight-normal">{{ item.title }}</h4>
                <p>{{ item.content }}</p>
              </div>
              <div class="lower">
                <p class="text-primary font-weight-bold mb-0">{{ item.price }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- SECTION: Contact -->
    <section id="contact" class="pb-0 text-center text-md-left">
      <div class="container">
        <div class="row align-items-end">

          <div class="col-md-7 mb-5">
            
            <div class="mb-0 mb-md-5">
                <h2>Still here?<br>We should talk</h2>
                <p>Not about the fact that you’re here (although we like that, too), but about how we can partner up to scale your company. That’s even more exciting to us.</p>
            </div>

            <div class="pieter-mobile-img d-block d-md-none">
              <img class="img-fluid" src="/assets/images/new-web/pieter_mobile.png" />
            </div>

            <div class="person mb-4">
              <h4 class="mb-0"><b>Pieter Moorman</b></h4>
              <p>Partner / consultant</p>
            </div>

            <div class="channels mb-5">
              <p class="mb-0"><b>Email:</b> <a class="text-dark" href="mailto:pieter@double-agency.com">pieter@double-agency.com</a></p>
              <p><b>WhatsApp:</b> <a class="text-dark" href="https://wa.me/447700005858">+44 770 000 5858</a></p>
            </div>

            <div class="p-4 p-md-5 form_box" style="background-color: #EFF0F6;">
              <h4 class="font-weight-bold">Leave your contact info</h4>
              <p>and we’ll call you back.</p>
              <form netlify>
                <div class="input-group mb-3 slide-top" >
                  <input type="email" class="form-control" name="email" placeholder="Enter your email" aria-label="Enter your email">
                  <div class="input-group-append">
                    <input class="btn btn-primary font-weight-bold" type="submit" value="Join Now">
                  </div>
                </div>
              </form>
            </div>

          </div>

          <div class="col-md-5 d-none d-md-block">
            <img width="671" src="/assets/images/new-web/pieter.svg" />
          </div>

        </div>
      </div>
    </section>

    {% include new-web/footer.html %}
    {% include new-web/modal_iframe.html src=page.quick_intro_video_url id="quick-intro-video" %}
    {% include new-web/modal_form.html id="join-the-course" %}

    <script src="{{ "/assets/js/new-main.js" | relative_url }}"></script>
  </body>
</html>
