<div id="login-overlay" style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; background: #fff; z-index: 999;">
	<div class="h-100 d-flex justify-content-center align-items-center">
		<div style="width: 400px;">
			<div class="text-center mb-4">
				<img class="img-fluid" style="width: 248px;" src="{{ "/assets/images/proposals/double_logo.png" | relative_url }}" />
			</div>
			<div class="p-4 form_box" style="background-color: #EFF0F6;">
				<h4 class="font-weight-bold text-center mb-4">Login</h4>
				<form id="login-form">
					<div class="input-group mb-3" style="box-shadow: 14px 14px 0 0 #d4d7e1;">
						<input type="password" class="form-control" id="password" placeholder="Password" style="border-radius: 0 !important;
						height: 51px !important;">
						<div class="input-group-append">
							<input class="btn btn-primary font-weight-bold" type="submit" value="Submit" style="border-radius: 0 !important;
							height: 51px !important;">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>