<div id="login-overlay" class="auth_login">
	<div class="h-100 d-flex justify-content-center align-items-center">
		<div class="auth_login__inner">
			<div class="text-center mb-4">
				<img class="auth_login__logo img-fluid" src="{{ "/assets/images/proposals/double_logo.png" | relative_url }}" />
			</div>
			<div class="auth_login__box p-4 form_box">
				<h4 class="font-weight-bold text-center mb-4">Login</h4>
				<form id="login-form">
					<div class="auth_login__input_group input-group mb-3" style="box-shadow: 14px 14px 0 0 #d4d7e1;">
						<input type="password" class="form-control" id="password" placeholder="Password">
						<div class="input-group-append">
							<input class="btn btn-primary font-weight-bold" type="submit" value="Submit">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>