{% assign d = page.proud_work | default: site.data.proposal.proud_work %}

<section id="proud-work" class="proud_work mt-5 pt-5 mb-md-5 pb-md-5 mb-0 pb-0">
	<div class="container">

		<div class="row">
			<div class="col-md-6 text-center text-md-left">
				<h2>{{ d.title }}</h2>
			</div>
		</div>

		{% for item in d.items %}
			<div id="work-{{item.name}}" class="proud_work__item py-5">
				{% assign partial = "proposal/work/" | append: item.name | append: ".html" %}
				{% include {{ partial }} %}
			</div>
		{% endfor %}

	</div>
</section>