{% assign d = page.how_we_work | default: site.data.proposal.how_we_work %}

<section id="how-we-work">
	<div class="container">

		<div class="row text-center justify-content-center">
			<div class="col-md-12 container-narrow">
				<h2>{{ d.title }}</h2>
				<p class="lead">
					{{ d.intro | markdownify | strip_html }}
				</p>
			</div>
		</div>

		<div class="row text-center justify-content-center my-5 pb-5">
			<div class="col-md-12">
				<div class="logo-grid" style="display: grid; grid-template-columns: repeat(3, auto [col-start]); background-color: #e0e0e0; grid-gap: 1px;">
					{% for logo in d.logos %}
					<div style="background-color: white; padding: 70px 0px;">
						<img data-aos="fade" style="width: 160px;" class="img-fluid" src="{{ logo.url | relative_url }}" />
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row text-center justify-content-center">
			<div class="col-md-12 container-narrow">
				{{ d.footer | markdownify }}
			</div>
		</div>

	</div>
</section>