{% assign d = page.how_we_work | default: site.data.proposal.how_we_work %}

<section id="how-we-work" style="overflow: hidden;">
	<div class="container">

		<div class="row text-center justify-content-center">
			<div class="col-md-12 container-narrow">
				<h2>{{ d.title }}</h2>
				<p class="lead">
					{{ d.intro | markdownify | strip_html }}
				</p>
			</div>
		</div>

		<div class="row text-center justify-content-center my-5 pb-5">
			<div class="col-md-12">
				<div class="logo_grid">
					{% for logo in d.logos %}
					<div class="logo_grid__item" style="background-color: white; padding: 70px 20px; display: flex; justify-content: center;">
						<img data-aos="fade-up" data-aos-delay="{{ forloop.index | times: 50 }}" data-aos-duration="50" data-aos-easing="linear" style="max-width: 160px; max-height: 80px;" class="img-fluid" src="{{ logo.url | relative_url }}" />
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row text-center justify-content-center">
			<div class="col-md-12 container-narrow">
				{{ d.footer | markdownify }}
			</div>
		</div>

	</div>
</section>