<div id="content-sections" class="content_sections mb-5 pb-5">

	<div class="content_sections__inner container d-none d-md-block">
		
		<div class="content_sections__logo_sidebar section-aos-offset d-flex justify-content-end" data-aos="fade-zoom-in" data-aos-offset="1000">
			<div class="d-flex flex-column align-items-center">

				<img class="content_sections__logo_sidebar__client_logo img-fluid mb-4" src="{{ page.client_logo | relative_url }}" />
				
				<div class="content_sections__logo_sidebar__cross" style="opacity: 0;">
					<div class="section-aos-offset">
						<div class="content_sections__logo_sidebar__cross__item content_sections__logo_sidebar__cross__item--1">
						</div>
					</div>
					<div class="section-aos-offset">
						<div class="content_sections__logo_sidebar__cross__item content_sections__logo_sidebar__cross__item--2">
						</div>
					</div>
				</div>

				<img 
					class="content_sections__logo_sidebar__double_logo section-aos-offset img-fluid mt-4" 
					style="opacity: 0;"
					src="{{ "/assets/images/proposals/double_logo.png" | relative_url }}" 
				/>
			</div>
		</div>
	</div>

	{% for section in page.sections %}
	{% assign id = section.title | replace: " " "-" | downcase %}
	<section id="{{ id }}" class="content_section content_section-{{ forloop.index }} {% if forloop.last == false %}pb-5 mb-5{% endif %}">
		<div class="container">

			<!-- Sides -->
			<div class="content_sections__nav d-none d-md-block">
				<div class="content_sections__nav__inner d-flex justify-content-between">
					<h4 class="content_sections__nav__title section-aos-offset" data-aos="fade-zoom-in" data-aos-offset="1000">{{ section.title }}</h4>
				</div>
			</div>

			<div class="row justify-content-center">
				
				<div class="col-md-8 content-section">
					<h2>{{ section.title }}</h2>
					<div class="blocks">
						{% for block in section.blocks %}
							<div class="{% if forloop.last == false %}mb-5{% endif %}">
								{% assign partial = "proposal/blocks/" | append: block.type | append: ".html" %}
								{% include {{ partial }} data=block.data %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endfor %}
</div>

<script>
	(() => {
		const secondContent = document.querySelector(".content_section-2");
		const sidebarLogo = $(".content_sections__logo_sidebar__double_logo");
		const sidebarCross = $(".content_sections__logo_sidebar__cross");

		const options = {
			root: null,
			rootMargin: '0px',
			threshold: 0
		}

		let listener = {}
		const callback = (entries, observer) => {
			entries.forEach(entry => {
				if (entry.intersectionRatio > 0) {
					listener = () => {
						const distancePercentage = doubleUtils.getDistancePercentage(entry.target);
						if (distancePercentage > 90) {
							sidebarLogo.css("opacity", 1);
							sidebarCross.css("opacity", 1);
						} else {
							sidebarLogo.css("opacity", 0);
							sidebarCross.css("opacity", 0);
						}
					};
					window.addEventListener("scroll", listener);
				} else {
          window.removeEventListener("scroll", listener);
        }
			});
		}
		
		const observer = new IntersectionObserver(callback, options);

		observer.observe(secondContent)
	})()
	
</script>