{% assign d = page.footer | default: site.data.proposal.footer %}

<footer class="footer pt-md-5 mt-md-5">
	<div class="container position-relative">
		<div class="row align-items-center text-center text-md-left">
			<div class="col-md-6">
				<div class="footer__person" data-aos="fade">
					<img class="img-fluid" src="{{ d.person_image | relative_url }}" />
				</div>
				<h2>{{ d.title }}</h2>
				{{ d.body | markdownify | strip_html }}
				<div class="my-5">
					<div class="mb-3">
						<img class="footer__person__name_img" src="{{ d.person_name_image | relative_url }}" />
					</div>
					<p class="footer__person__name mb-0">{{ d.person_name }}</p>
					<p class="footer__person__title">{{ d.person_title }}</p>
				</div>
			</div>
			<div class="col-md-6">
				<a href="mailto:{{d.mail_address}}" class="footer__button footer__button--1 text-white d-flex flex-column justify-content-center">
					<div class="d-flex align-items-center">
						<div class="footer__button__title">{{ d.mail_button_title }}</div>
						<div class="animate-pulse-horizontal">
							<div style="width: 20px; transform: rotate(-90deg)">
								{% include proposal/internal/arrow_white.html %}
							</div>
						</div>
					</div>
					<p class="mb-0">{{ d.mail_button_subtitle }}</p>
				</a>
				<a href="tel:{{d.call_phone_number}}" class="footer__button footer__button--2 text-white d-flex flex-column justify-content-center">
					<div class="d-flex align-items-center">
						<div class="footer__button__title">{{ d.call_button_title }}</div>
						<div class="animate-pulse-horizontal">
							<div style="width: 20px; transform: rotate(-90deg)">
								{% include proposal/internal/arrow_white.html %}
							</div>
						</div>
					</div>
					<p class="mb-0">{{ d.call_button_subtitle }}</p>
				</a>
			</div>
		</div>
	</div>
</footer>