<div>
	<div class="container" style="position: sticky; top: 20px; height: 0;">
		<div class="d-flex justify-content-end" data-aos="fade-zoom-in">
			<div class="d-flex flex-column align-items-center">
				<img style="width: 160px;" class="img-fluid mb-5" src="{{ page.client_logo | relative_url }}" />
				<div style="height: 30px; top: 15px; position: relative;">
					<div data-aos="fade-up-left" data-aos-delay="200">
						<div style="border: 1px solid #181D33; width: 40px; transform: rotate(45deg);"></div>
					</div>
					<div data-aos="fade-down-left" data-aos-delay="200">
						<div style="border: 1px solid #51ABFF; width: 40px; transform: rotate(-45deg);"></div>
					</div>
				</div>
				<img style="width: 160px;" data-aos="fade-up" data-aos-delay="300" class="img-fluid mt-4" src="{{ "/assets/images/proposals/double_logo.png" | relative_url }}" />
			</div>
		</div>
	</div>

	{% for section in page.sections %}
	{% assign id = section.title | replace: " " "-" | downcase %}
	<section id="{{ id }}" class="py-5 my-5">
		<div class="container">

			<!-- Sides -->
			<div style="position: sticky; top: 20px;">
				<div class="d-flex justify-content-between">
					<h4 style="max-width: 200px; position: relative; left: -80px" data-aos="fade-zoom-in">{{ section.title }}</h4>
					
				</div>
			</div>

			<div class="row justify-content-center">
				
				<div class="col-md-8 content-section" style="margin-top: -150px;">
					<h2>{{ section.title }}</h2>
					<div class="blocks">
						{% for block in section.blocks %}
							<div class="mb-5">
								{% assign partial = "proposal/blocks/" | append: block.type | append: ".html" %}
								{% include {{ partial }} data=block.data %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endfor %}
</div>