<section id="hero" class="hero">
	<div class="hero__inner container d-flex flex-column align-items-center justify-content-center py-5">
		<div class="row justify-content-center text-center mb-5" data-aos="fade-up">
			<div class="col-md-12">
				<h2 class="hero__subtitle" class="mb-0">Business</h2>
				<h1>Proposal</h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center py-5 my-5">
			<div data-aos="fade-right">
				<img class="hero__double_logo img-fluid" src="{{ "/assets/images/proposals/double_logo.png" | relative_url }}" />
			</div>
			<div class="hero__cross">
				<div data-aos="fade-up-left">
					<div class="hero__cross__item hero__cross__item--1"></div>
				</div>
				<div data-aos="fade-down-left">
					<div class="hero__cross__item hero__cross__item--2"></div>
				</div>
			</div>
			<div data-aos="fade-left">
				<img class="hero__client_logo img-fluid" src="{{ page.client_logo | relative_url }}" />
			</div>
		</div>
		<div class="row justify-content-center mt-5" data-aos="fade-down" data-aos-once="true" data-aos-duration="500">
			<a href="#content-sections" style="color: initial;" class="d-flex flex-column align-items-center">
				<h4 data-aos="fade-down" data-aos-once="true" data-aos-duration="500">Go to Details</h4>
				<div data-aos="fade-down" data-aos-once="true" class="animate-pulse-vertical" style="width: 40px;">
					{% include proposal/internal/arrow_black.html %}
				</div>
			</a>
		</div>
	</div>
</section>