{% assign image = include.image %} 
{% assign image_height = include.image_height | default: "70px" %} 
{% assign body = include.body %} 
{% assign button_text = include.button_text | default: "Go to Case Study" %} 
{% assign button_color = include.button_color | default: "#1D97FF" %} 
{% assign button_link = include.button_link | default: "#" %}

<div class="mb-5">
  <img
    class="img-fluid"
    style="height: {{ image_height }};"
    src="{{ image | relative_url }}"
  />
</div>
<p class="lead mb-5">{{ body | markdownify | strip_html }}</p>
<a href="{{button_link}}">
  <p class="lead" style="color: {{button_color}};">{{ button_text }} ></p>
</a>
