<div class="wrapper container container--xlarge">
  <div class="banner card card--secondary">
    <div class="banner__content">
      <h3 class="h2 c--white">Not ready for a big investment yet?</h3>

      <p>No problem at all. Thousands of marketers have gone through my free email course instead. In 7 lessons you'll learn a ton about growth marketing, and start executing simple strategies yourself</p>

      <a class="button button--white button--rounded" href="#">
        Get it now
        <span class="button__icon">
          {% include_absolute icons/shopping-basket-white.svg %}
        </span>
      </a>
    </div>
  </div>
</div>
