<div class="buy-banner card card--primary">
  <div class="grid grid--middle grid--center grid--stackable">
    <div class="grid__column">
      <h3 class="heading h3 c--white">Buy Growthcasts Elite</h3>
      <p class="paragraph">With all the bonuses for just <b>$249</b></p>
    </div>

    <div class="grid__column buy-banner__button">
      <a class="button button--white button--rounded button--shadow" href="#">
        Get it now
        <span class="button__icon">
          {% include_absolute icons/shopping-basket-white.svg %}
        </span>
      </a>
    </div>
  </div>
</div>
