<div class="grid grid--center">
  <div class="grid__column section__aside"></div>

  <div class="grid__column">
    <h2 class="section__heading h1">
      Get your money back

      {% if page.heading_quote %}
        <span class="handwriting handwriting--primary">"{{ page.heading_quote }}"</span>
      {% endif %}
    </h2>

    <div class="card card--white card--wider">
      <div class="card__content">
        <p class="paragraph">Every purchase is covered by our monstrous <span class="underline underline--short t--bold c--secondary">365-day money-back guarantee</span>. My refund policy is really simple... </p>

        <p class="handwriting handwriting--primary">If you don't like the product you can just get your money back <span class="underline underline--medium"> (up till 365 days after you purchase)</span>.</p>
      </div>

      <div class="card__image card__image--right card__image--bottom">
        <img class="image" src="{{ "./assets/images/like.png" | relative_url }}" alt="">
      </div>
    </div>

    <p class="t--bold c--secondary">Valid reasons for a refund include:</p>

    <ul class="list">
      <li>You didn't have time to go through the course, so it was a bad investment...</li>

      <li>You don't really like the way in which I teach... (pretty unlikely if you liked the emails, btw)</li>

      <li>You tried the system I suggested, but for some reason it doesn't work in your market...</li>

      <li>You buy it, but the next month you're super tight on cash. You decide you need the money back in order to pay the bills...</li>
    </ul>

    <p class="space">I hope you are willing to invest in your future, and make a "ballsy move" by getting into Elite, today. And if you ever come to regret this purchase... you can claw your money back, easily.</p>

    <p>Now...</p>

    <p class="h1">Choose your plan now</p>
  </div>

  <div class="grid__column section__aside"></div>
</div>
