<header class="header section">
  <div class="wrapper container container--large">
    <div class="grid grid--justify grid--middle">
      <div class="grid__column">
        <a class="logo" href="{{ site.url }}">
          {% include_absolute logo/Growthcasts.svg %}
        </a>
      </div>

      <div class="grid__column">
        <div class="offcanvas offcanvas--home jsOffcanvas">
          <div class="offcanvas__body">
            {% include nav.html %}
          </div>
        </div>
      </div>
    </div>

    <div class="container container--medium">
      <h1 class="heading heading--subpage">Hi, I'am Pieter Moorman</h1>

      <img class="image image--wider image--consulting" src="{{ "./assets/images/note/pieter.jpg "}}" alt="">
    </div>

    <button class="menu-button menu-button--gray menu-button--top menu-button--home button button--rounded jsMenuBtn">
      <span class="menu-button__item"></span>
      <span class="menu-button__item"></span>
      <span class="menu-button__item"></span>
    </button>
  </div>
</header>
