<div class="discount card card--white">
  <div class="container container--large">
    <div class="grid grid--justify grid--middle grid--stackable">
      <div class="grid__column">
        <p class="heading h4">10% Discount on Growthcasts Ellite</p>
      </div>

      <div class="grid__column">
        <div class="grid grid--center grid--middle">
          <div class="timer grid__column">
            <div>
              <span class="timer__item">2</span>
              <span class="timer__item">5</span> :
              <span class="timer__item">0</span>
              <span class="timer__item">0</span>
            </div>
          </div>
          <div class="grid__column">
            <a class="discount__button button button--primary button--rounded button--shadow button--expanded" href="#">
              <span>Get it now</span>
              <div class="grid grid--gapeless grid--middle">
                <span>$229</span>

                <span class="button__icon">
                  <img class="button__icon-img" src="{{ "./assets/images/icons/shopping-basket.svg" | relative_url }}" alt="">
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
