<div class="wrapper container container--medium ta-c">
  <h2 class="heading h1">Frequently Asked Questions</h2>

  <p>These are the questions people ask me all the time. If you ever have any other question, you can easily reach me. Simply send me an email, and I'll generally get back within 24 hours:</p>

  <a href="mailto:pieter@growthcasts.co">pieter@growthcasts.co</a>
</div>

<div class="wrapper container container--large">
  <div class="grid grid--center grid--wrap grid--stackable">
    {% for item in site.faq %}
      <div class="faq__column grid__column">
        {{ item }}
      </div>
    {% endfor %}
  </div>
</div>
