<footer class="footer">
  <!-- <div class="wrapper container container--medium">
    <p class="paragraph handwriting">P.S.</p>

    <p class="paragraph space"><span class="tt-u c--white t--bold">Warning:</span> Entering "Growth Marketing Wonderland" may lead to side effects such as:</p>
    <p>
      <ul style="list-style-image: none; ">
        <li>building a strong tribe of followers that love you,</li>
        <li>having to turn down consulting gigs every week,</li>
        <li>customers that love you,</li>
        <li>moving to Bali, and surfing every morning before work</li>
      </ul>
    </p>
    <p>Select your package above, and I'll see you on the inside in 2 minutes. It's a low-risk investment, with our 1-year money-back guarantee</p>
  </div> -->

  <div class="container container--large footer__bottom">
    <p class="paragraph ta-c">This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
  </div>
</footer>
