<header class="header">
  <div class="container container--xlarge grid grid--middle">
    <div class="grid__column">
      <h1 class="heading">What if growth marketing  'user acquisition' were  things you became great at...?</h1>

      <p class="paragraph">What if there was a proven, step-by-step framework you could follow to grow your business? Learn to execute our simple blueprint to build your startup bigger, better, faster.</p>
    </div>
    <div class="grid__column">
      <img class="image" src="{{ "./assets/header-banner.png" | relative_url }}" alt="">
    </div>
  </div>
</header>
