<header class="header section">
  <div class="header__wrapper wrapper container container--xlarge">
    <a class="logo" href="/">
      {% include_absolute logo/Growthcasts.svg %}
    </a>
    <div class="grid grid--middle grid--stackable grid--justify">
      <div class="grid__column">
        <img class="image" src="{{ "./assets/images/banner.png" | relative_url }}" alt="">
      </div>

      <div class="grid__column header__content">
        <h1 class="heading">What if growth marketing 'user acquisition' were things you became great at...?</h1>

        <p class="paragraph">What if there was a proven, step-by-step framework you could follow to grow your business? Learn to execute our simple blueprint to build your startup bigger, better, faster.</p>

        <a class="button button--primary button--rounded button--shadow jsScrollDownBtn" href="#get-started">
          Get started
          <span class="button__icon">
            {% include_absolute icons/arrow-down.svg %}
          </span>
        </a>
      </div>
    </div>

    <button class="menu-button button button--primary button--rounded jsMenuBtn">
      <span class="menu-button__item"></span>
      <span class="menu-button__item"></span>
      <span class="menu-button__item"></span>
    </button>

    <div class="offcanvas jsOffcanvas">
      <div class="offcanvas__body">
        {% include nav.html %}
      </div>
    </div>
  </div>
</header>
