<header class="header section">
  <div class="header__wrapper wrapper container container--xlarge">
    <a class="logo" href="{{ site.url }}">
      {% include_absolute logo/Growthcasts.svg %}
    </a>

    <div class="grid grid--middle grid--stackable grid--justify">
      <div class="grid__column">
        <img class="image image--lower" src="{{ "./assets/images/home-header.png" | relative_url }}" alt="">
      </div>

      <div class="grid__column header__content">
        <h1 class="heading">Learn growth marketing...  to grow your startup into the business of your dreams</h1>

        <a class="button button--primary button--rounded button--shadow jsScrollDownBtn" href="#get-started">
          Get started
          <span class="button__icon">
            {% include_absolute icons/arrow-down.svg %}
          </span>
        </a>
      </div>
    </div>
  </div>
</header>
