<header style="position: relative; padding-top: 3rem; margin-bottom: -6rem">
  <div class="header__wrapper wrapper container container--xlarge">
    <div class="grid grid--justify grid--middle">
      <div class="grid__column">
        <a class="logo" href="{{ site.url }}">
          {% include_absolute logo/Growthcasts.svg %}
        </a>
      </div>

      <div class="grid__column">
      </div>
    </div>

    <div class="grid">
      <div class="grid__column grid--middle grid--stackable grid--center">
        <center>
        <img src="/assets/images/klooker header.jpg" alt="" style="width:70%;height:auto;border:0;">
        </center>
      </div>
    </div>

  </div>
</header>
