<div class="modal jsModal" id="join-the-course">
  <div class="modal__background jsModalBg"></div>

  <div class="modal__content jsModalBg">
    <div class="modal__form container container--medium">
      <h3>Start your Free 14-day Email Course</h3>

      <p>Practical Lessons to Become a Master Entrepreneur</p>

      <form class="form" action="/success" name="email-course" method="POST" data-netlify="true">
        <div class="form__content grid grid--gapeless grid--center grid--middle">
          <div class="grid__column">
            <div class="form-group form-group--narrow container">
              <label class="form-group__label" for="email">Email</label>

              <input class="form-group__input" type="email" name="email" id="email" placeholder="type@youremail.com">
            </div>
          </div>

          <div class="grid__column">
            <button type="submit" class="button button--primary button--rounded button--shadow"  data-drip-attribute="sign-up-button">
              Let's go!

              <span class="button__icon">
                {% include_absolute icons/arrow-down.svg %}
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
