<div class="modal jsModal" id="join-the-course">
  <div class="modal__background jsModalBg"></div>

  <div class="modal__content jsModalBg">
    <div class="modal__form container container--medium">
      <h3>Learn this simple, step-by-step framework to accelerate monthly user growth</h3>

      <p>Email course – 7 lessons</p>

      <form class="form" action="https://www.getdrip.com/forms/26459209/submissions" method="post" data-drip-embedded-form="26459209">
        <div class="form__content grid grid--gapeless grid--center grid--middle">
          <div class="grid__column">
            <div class="form-group form-group--narrow container">
              <label class="form-group__label" for="email">Email</label>

              <input class="form-group__input" type="email" name="fields[email]" id="email" placeholder="type@youremail.com">
            </div>
          </div>

          <div class="grid__column">
            <button type="submit" class="button button--primary button--rounded button--shadow"  data-drip-attribute="sign-up-button">
              Join the course

              <span class="button__icon">
                {% include_absolute icons/arrow-down.svg %}
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
