<nav class="offcanvas__nav nav tt-u jsMenu">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="#intro">Intro</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#course">Course</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#bonus">Bonus</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#pricing">Pricing</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#faq">FAQ</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#note">Note</a>
    </li>
  </ul>
</nav>
