<nav class="nav tt-u jsMenu">
  <ul class="nav__list ta-c">
    <li class="nav__item">
      <a class="nav__link" href="{{ site.url }}">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/consulting">About & Consulting</a>
    </li>
    <li class="nav__item">
      <a class="nav__link nav__link--active" href="/blog">Blog</a>
    </li>

    {% if include.contact_link %}
    <li class="nav__item">
      <a class="nav__link c--primary" href="mailto:pieter@growthcasts.co">Contact with me</a>
    </li>
    {% endif %}
  </ul>
</nav>
