<nav class="offcanvas__nav sales-nav tt-u jsMenu">
  <ul class="sales-nav__list">
    <li class="sales-nav__item">
      <a class="sales-nav__link" href="#intro">Intro</a>
    </li>
    <li class="sales-nav__item">
      <a class="sales-nav__link" href="#course">Course</a>
    </li>
    <li class="sales-nav__item">
      <a class="sales-nav__link" href="#bonus">Bonus</a>
    </li>
    <li class="sales-nav__item">
      <a class="sales-nav__link" href="#pricing">Pricing</a>
    </li>
    <li class="sales-nav__item">
      <a class="sales-nav__link" href="#faq">FAQ</a>
    </li>
    <li class="sales-nav__item">
      <a class="sales-nav__link" href="#note">Note</a>
    </li>
  </ul>
</nav>
