<header class= "header__wrapper section" style="position: relative; padding-top: 3rem;">
  <div class="wrapper container container--large">
    <div class="grid grid--justify grid--middle">
      <div class="grid__column">
        <a class="logo" href="{{ site.url }}">
          {% include_absolute logo/Growthcasts.svg %}
        </a>
      </div>
    </div>

    <h1 class="heading ta-c" style="margin-top: 5rem; margin-bottom: -3rem;" ><b>Elite</b></h1>

    <button class="menu-button menu-button--gray menu-button--home menu-button--top button jsMenuBtn">
      <span class="menu-button__item"></span>
      <span class="menu-button__item"></span>
      <span class="menu-button__item"></span>
    </button>
  </div>
</header>