.grid {
  $this: &;

  display: flex;
  flex-wrap: wrap;

  &__column {
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;

    & > * + * {
      margin-top: 2.5rem;
    }
  }

  &--center {
    justify-content: center;
  }

  &--middle {
    align-items: center;
  }

  &--reversed {
    flex-direction: row-reverse;
  }

  &--stackable {
    flex-direction: column;

    @media (min-width: breakpoint('medium')) {
      flex-direction: row;
    }

    & > #{$this}__column {
      @media (max-width: breakpoint('medium')) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    & > * + * {
      @media (max-width: breakpoint('medium')) {
        padding-top: 2rem;
      }
    }
  }
}
