.image {
  max-width: 100%;
  height: auto;

  &--wider {
    @media (min-width: breakpoint('medium')) {
      max-width: 120%;
      margin-left: -10%;
      margin-right: -10%;
    }
  }

  &--lower {
    @media (min-width: breakpoint('medium')) {
      margin-bottom: -9rem;
    }
  }
}
