.image {
  max-width: 100%;
  height: auto;

  &--wider {
    @media (min-width: breakpoint('medium')) {
      max-width: 120%;
      margin-left: -10%;
      margin-right: -10%;
    }
  }

  &--home {
    @media (min-width: breakpoint('medium')) {
      margin-bottom: -9rem;
    }
  }

  &--consulting {
    margin-bottom: -6rem;
    
    @media (min-width: breakpoint('medium')) {
      margin-bottom: -12rem;
    }
  }

  &--growth-loop {
    width: 100%; 
    height: auto; 
    border:0; 
    margin-top: 20px;
  }
}
