body {
  color: #292F47;
  font-family: Poppins;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 28px;
}

section {
  padding-top: 140px;
  padding-bottom: 140px;
}
