$primary-color: #3497f3;
$secondary-color: #292f47;
$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
);

// Generics
@import "vendors/bootstrap/bootstrap";
@import "new_web/generic/general-1";
@import "new_web/generic/typography-2";
@import "new_web/generic/font";

// Components
@import "new_web/components/footer-2";
@import "new_web/components/header-2";
@import "new_web/components/arrow-btn";
@import "new_web/components/shadowbox";

// Sections
@import "homepage/hero";
@import "homepage/clients";
@import "homepage/services";
@import "homepage/case-studies";
@import "homepage/academy";
@import "homepage/about";
@import "homepage/process";
@import "homepage/pricing";
@import "homepage/bottom";

.text-highlight {
  color: var(--primary);
  font-weight: bold;
}