@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/poppins-v8-latin-300.eot");
  src: local("Poppins Light"), local("Poppins-Light"),
    url("../assets/fonts/poppins-v8-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/poppins-v8-latin-300.woff2") format("woff2"),
    url("../assets/fonts/poppins-v8-latin-300.woff") format("woff"),
    url("../assets/fonts/poppins-v8-latin-300.ttf") format("truetype"),
    url("../assets/fonts/poppins-v8-latin-300.svg#Poppins") format("svg");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v8-latin-regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../assets/fonts/poppins-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/poppins-v8-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/poppins-v8-latin-regular.woff") format("woff"),
    url("../assets/fonts/poppins-v8-latin-regular.ttf") format("truetype"),
    url("../assets/fonts/poppins-v8-latin-regular.svg#Poppins") format("svg");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/poppins-v8-latin-600.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../assets/fonts/poppins-v8-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/poppins-v8-latin-600.woff2") format("woff2"),
    url("../assets/fonts/poppins-v8-latin-600.woff") format("woff"),
    url("../assets/fonts/poppins-v8-latin-600.ttf") format("truetype"),
    url("../assets/fonts/poppins-v8-latin-600.svg#Poppins") format("svg");
}

$primary-color: #3497f3;
$secondary-color: #181d33;
$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color
);

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1040px
) !default;

@import "vendors/bootstrap/bootstrap";

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  color: #181d33;
  font-family: Poppins;
  overflow-x: hidden;
}

h1 {
  font-size: 96px;
  font-weight: 600;
  letter-spacing: -4px;
  line-height: 76px;
}

h2 {
  font-size: 72px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 84px;
}

h3 {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 1.31px;
  line-height: 48px;
}

h4 {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 0.7px;
  line-height: 32px;
}

b {
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 28px;
}

p.lead {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.7px;
  line-height: 32px;
}

section {
  padding-top: 140px;
  padding-bottom: 140px;
}

section.alternate-section {
  background-color: #eff0f6;
}

.btn-shadow {
  box-shadow: 14px 14px 0 0 #d4d7e1;
  border-radius: 0;
  font-weight: 700;
  padding: 15px 30px;
}

// Paper
.paper .paper_corner {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background-color: $primary-color;

  .paper_corner_triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 120px 120px 0;
    border-color: transparent $secondary-color transparent transparent;

    .paper_corner_triangle-inner {
      position: relative;
      left: 15px;
      bottom: -45px;
    }
  }
}
.paper .paper_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 12px;
  background: rgba(148, 154, 180, 0.4);
  top: 12px;
}
.paper .paper_shadow:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 120px 120px 0;
  border-color: transparent $secondary-color transparent transparent;
}
.paper .paper_content {
  padding: 120px 75px;
}

// SECTION: Intro
section#intro {
  .title {
    max-width: 645px;

    span {
      padding-bottom: 15px;
    }

    .left {
      border-bottom: 4px solid #181d33;
    }

    .right {
      border-bottom: 4px solid $primary-color;
    }
  }
}

// SECTION: How we work
section#how-we-work {
  .checklist li img {
    border-radius: 100%;
    opacity: 0.15;
    transition: 0.8s;
  }
  .checklist li.active img {
    opacity: 1;
    box-shadow: 8px 10px 0 0 $primary-color;
  }
}

// SECTION: About us
section#about-us {
  .quick_intro_box {
    height: 160px;
    width: 160px;
    background-color: $secondary-color;
    box-shadow: 14px 14px 0 0 $primary-color;

    .duration {
      color: #a1a6bc;
      font-family: Poppins;
      font-size: 14px;
      letter-spacing: -0.5px;
      line-height: 25px;
    }
  }

  img.about-3 {
    z-index: -1;
    position: relative;
  }
}

// SECTION: Partnerships
section#partnerships {
  .empty_bubbles {
    position: absolute;
    width: 635px;
    height: 635px;
    right: 0;
    bottom: 0;

    .bubble-2 {
      position: absolute;
      right: 0;
    }

    .bubble-3 {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

// SECTION: Academy
section#academy {
  background: linear-gradient(180deg, $secondary-color 55%, #fff 45%);
  padding-bottom: 0;
}

// SECTION: Our process
section#our-process {
  .step-number {
    font-size: 28px;
    font-weight: 300;
    width: 70px;
    height: 70px;
    border: 1px solid #e7e9f3;
    border-radius: 35px;
    padding: 13px 27px;
    background: #fff;
    position: relative;
    z-index: 3;
  }

  .step-checked {
    text-align: center;
    position: relative;
    top: -70px;
    z-index: 3;
  }

  .full-line {
    width: 2px;
    height: calc(100% + 100px);
    position: relative;
    top: -70px;
    background: #e7e9f3;
  }

  .pct-line {
    position: absolute;
    height: calc(30% + 100px);
    width: 2px;
    top: 0;
    left: 64px;
  }

  .process-step:not(.active) {
    .step-checked,
    .pct-line {
      display: none;
    }
  }

  .process-step:last-child {
    .full-line,
    .pct-line {
      display: none;
    }
  }
}

// Form box
.form_box {
  .input-group {
    box-shadow: 14px 14px 0 0 #d4d7e1;
  }
  input {
    border-radius: 0;
    height: 51px;
  }
  button {
    border-radius: 0;
    font-weight: 600;
  }
}

// Speech bubble
.speech-bubble {
  position: relative;
  text-align: left;
}

.speech-bubble-fore {
  background: $secondary-color;
  z-index: 1;
  position: relative;
  padding: 2.5rem;
  color: #fff;
}

.speech-bubble-back {
  bottom: -15px;
  right: -15px;
  height: 100%;
  width: 100%;
  position: absolute;
  background: $primary-color;
}

.speech-bubble-back:after,
.speech-bubble-fore:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

// Speech bubble: Right-Top
.speech-bubble.speech-bubble-right-top {
  .speech-bubble-fore:after,
  .speech-bubble-back:after {
    content: "";
    right: 0;
    top: 10px;
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -20px;
  }

  .speech-bubble-fore:after {
    border-left-color: $secondary-color !important;
  }

  .speech-bubble-back:after {
    border-left-color: $primary-color !important;
  }
}

// Speech bubble: Top-Right
.speech-bubble.speech-bubble-top-right {
  .speech-bubble-fore:after,
  .speech-bubble-back:after {
    content: "";
    top: 0;
    right: 0;
    border-top: 0;
    border-right: 0;
    margin-left: -10px;
    margin-top: -20px;
  }

  .speech-bubble-fore:after {
    border-bottom-color: $secondary-color !important;
  }

  .speech-bubble-back:after {
    border-bottom-color: $primary-color !important;
  }
}

// Speech bubble: Top-Left
.speech-bubble.speech-bubble-top-left {
  .speech-bubble-fore:after,
  .speech-bubble-back:after {
    content: "";
    top: 0;
    left: 10px;
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -20px;
  }

  .speech-bubble-fore:after {
    border-bottom-color: $secondary-color !important;
  }

  .speech-bubble-back:after {
    border-bottom-color: $primary-color !important;
  }
}

// Speech bubble: Bottom-Left
.speech-bubble.speech-bubble-bottom-left {
  .speech-bubble-fore:after,
  .speech-bubble-back:after {
    content: "";
    bottom: 0;
    left: 10px;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
  }

  .speech-bubble-fore:after {
    border-top-color: $secondary-color !important;
  }

  .speech-bubble-back:after {
    border-top-color: $primary-color !important;
  }
}

// RESPONSIVE
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -2.5px;
    line-height: 72px;
  }

  h2 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 54px;
  }

  h3 {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.9px;
    line-height: 34px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 24px;
  }

  p.lead {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 24px;
  }

  // SECTION: Intro
  section#intro {
    .title span {
      padding-bottom: 0;
    }
  }
}
