@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/poppins-v8-latin-300.eot");
  src: local("Poppins Light"), local("Poppins-Light"),
    url("../assets/fonts/poppins-v8-latin-300.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/poppins-v8-latin-300.woff2") format("woff2"),
    url("../assets/fonts/poppins-v8-latin-300.woff") format("woff"),
    url("../assets/fonts/poppins-v8-latin-300.ttf") format("truetype"),
    url("../assets/fonts/poppins-v8-latin-300.svg#Poppins") format("svg");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v8-latin-regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../assets/fonts/poppins-v8-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/poppins-v8-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/poppins-v8-latin-regular.woff") format("woff"),
    url("../assets/fonts/poppins-v8-latin-regular.ttf") format("truetype"),
    url("../assets/fonts/poppins-v8-latin-regular.svg#Poppins") format("svg");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/poppins-v8-latin-600.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../assets/fonts/poppins-v8-latin-600.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/poppins-v8-latin-600.woff2") format("woff2"),
    url("../assets/fonts/poppins-v8-latin-600.woff") format("woff"),
    url("../assets/fonts/poppins-v8-latin-600.ttf") format("truetype"),
    url("../assets/fonts/poppins-v8-latin-600.svg#Poppins") format("svg");
}

/* noto-serif-jp-200 - latin */
@font-face {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/noto-serif-jp-v7-latin-200.eot"); /* IE9 Compat Modes */
  src: local("Noto Serif JP ExtraLight"), local("NotoSerifJP-ExtraLight"),
    url("../assets/fonts/noto-serif-jp-v7-latin-200.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/noto-serif-jp-v7-latin-200.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/noto-serif-jp-v7-latin-200.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/noto-serif-jp-v7-latin-200.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../assets/fonts/noto-serif-jp-v7-latin-200.svg#NotoSerifJP") format("svg"); /* Legacy iOS */
}

$primary-color: #3497f3;
$secondary-color: #181d33;
$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color
);

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1040px
) !default;

@import "vendors/bootstrap/bootstrap";

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  color: #181d33;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 28px;
}

h1 {
  font-size: 100px;
  font-weight: 600;
  letter-spacing: -3.7px;
  line-height: 94px;
}

h2 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -2.3px;
  line-height: 74px;
  margin-bottom: 30px;
}

h3 {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 56px;
  margin-bottom: 22px;
}

h4 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 28px;
}

p.lead {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.7px;
  line-height: 32px;
}

a:hover {
  text-decoration: none;
}

.content-section {
  max-width: 600px;
}
.container-narrow {
  max-width: 710px;
}

// TODO: Move out to own scss
.step-number {
  font-size: 28px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border: 1px solid #e7e9f3;
  border-radius: 35px;
  padding: 13px 27px;
  background: #fff;
  position: relative;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
}

.step-checked {
  text-align: center;
  top: 0px;
  left: 0;
  z-index: 3;
  position: relative;
}

.full-line {
  width: 2px;
  height: calc(100% + 100px);
  position: absolute;
  left: 35px;
  top: 0;
  background: #e7e9f3;
}

.pct-line {
  position: absolute;
  height: 0;
  width: 2px;
  top: 0;
  z-index: 2;
  left: 35px;
}

.process-step {
  padding-bottom: 100px;
}

.process-step .step-checked {
  opacity: 0;
  transition: 0.5s;
}

.process-step.active .step-checked {
  opacity: 1;
}

.process-step.active .step-number {
  opacity: 0;
}

.process-step:not(.active) {
  .pct-line {
    display: none;
  }
}

.process-step:last-child {
  .full-line,
  .pct-line {
    display: none;
  }
}

// TODO: Move to other file
.checkmark .back img,
.checkmark .fore {
  width: 30px;
  height: 30px;
}
.checkmark p {
  margin-bottom: 0;
}

.checkmark {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  position: absolute;
  left: -35px;
}
.checkmark .fore,
.checkmark img {
  border-radius: 100%;
  opacity: 0.15;
  transition: 0.5s;
}

.checkmark.active .fore,
.checkmark.active img {
  opacity: 1;
}
.checkmark.active .fore {
  animation: fore 0.5s linear both;
}
.checkmark.active .back {
  animation: back 0.5s linear both;
}
.checkmark .back {
  position: absolute;
  top: 0;
  z-index: -1;
}
.checkmark-number {
  text-align: center;
}
.checkmark-number .fore {
  margin-right: 15px;
  background: #181d33;
  border-radius: 100%;
  color: #fff;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  font-size: 18px;
}

.checkmark.active .fore {
  animation: fore 0.5s linear both;
}
.checkmark.active .back {
  animation: back 0.5s linear both;
}

@keyframes fore {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-2px, -2.5px);
  }
}

@keyframes back {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(2px, 2.5px);
  }
}

// Animations
.animate-pulse-vertical {
  animation: pulse 2s infinite;
}
.animate-pulse-horizontal {
  animation: pulsehorizontal 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes pulsehorizontal {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(15px, 0);
            transform: translate(15px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes pulsehorizontal {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(15px, 0);
            transform: translate(15px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }