// Generics
@import "new_web/generic/variables";
@import "vendors/bootstrap/bootstrap";
@import "new_web/generic/general-1";
@import "new_web/generic/typography-2";
@import "new_web/generic/font";

// Components
@import "new_web/components/footer-2";
@import "new_web/components/header-2";
@import "new_web/components/arrow-btn";
@import "new_web/components/shadowbox";
@import "new_web/components/animated-line";
@import "new_web/components/collapse";

// Sections
//

@include media-breakpoint-down(md) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

// Services nav
.services-nav {
  &__item {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 42px;
    color: #7e87a8;
    padding: 15px 0;
    &:last-child {
      padding-bottom: 0;
    }
    &.active {
      color: var(--primary);
      font-weight: bold;
      img {
        display: block;
      }
    }
    img {
      display: none;
      max-width: 26px;
      max-height: 28px;
      margin-right: 20px;
    }
  }
}