@font-face {
  font-family: 'Averta';
  src: url('./fonts/Averta-Regular.eot');
  src: url('./fonts/Averta-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Averta-Regular.woff2') format('woff2'),
    url('./fonts/Averta-Regular.woff') format('woff'),
    url('./fonts/Averta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('./fonts/Averta-Bold.eot');
  src: url('./fonts/Averta-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Averta-Bold.woff2') format('woff2'),
    url('./fonts/Averta-Bold.woff') format('woff'),
    url('./fonts/Averta-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HandOfSeanPro';
  src: url('./fonts/HandOfSeanPro.eot');
  src: url('./fonts/HandOfSeanPro.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HandOfSeanPro.woff2') format('woff2'),
    url('./fonts/HandOfSeanPro.woff') format('woff'),
    url('./fonts/HandOfSeanPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
