*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 1 */
}

body {
    overflow-x: hidden;
}
