<section class="subscribe-banner text-white">
  <div class="container">
    <img
      class="subscribe-banner__line animated-line active-in-view"
      src="/assets/images/blog/subscribe-line1.svg"
    />
    <div class="row">
      <div class="col-lg-8">
        <h3 class="subscribe-banner__title">Our popular course on growth marketing is available for free:</h3>
        <p class="lead mb-5">Join thousands of others. Become a confident growth marketer.</p>
        <form class="subscribe-banner__form mt-4 mt-md-0" netlify>
          <div class="input-group mb-3 no-shadow">
            <input type="hidden" class="form-control" name="blog_title" value="blog_index">
            <input type="email" class="form-control" name="email" placeholder="Enter your email" aria-label="Enter your email">
            <div class="input-group-append">
              <input class="btn btn-primary font-weight-bold px-4" type="submit" value="Join Now">
            </div>
          </div>
        </form>
        <p style="font-size: 14px; line-height: 21px;">We promise not to spam.</p>
      </div>
      <img class="subscribe-banner__hat" src="/assets/images/blog/subscribe-hat.svg" />
    </div>
  </div>
</section>