<section id="hero" class="hero">
  <div class="container">
    <img
      class="hero__line animated-line active-in-view"
      src="/assets/images/blog/hero-line1.svg"
    />
    <div class="row justify-content-center">
      <div class="col-12">
        <img class="img-fluid" src="/assets/images/blog/hero-bg.png" />
        <div class="hero__content">
          <h1>
            The first principles of
            <span class="text-primary">modern growth marketing</span>.
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
