<section class="subscribe-banner text-white">
  <div class="container" style="position: relative;">
    <div class="row">
      <div class="col-lg-8">
        <h3 class="subscribe-banner__title" style="font-size: 36px;
        line-height: 51px;">Our popular course on growth marketing is available for free:</h3>
        <p class="lead" style="opacity: 0.6;">Join thousands of others. Become a confident growth marketer.</p>
        <form class="mt-4 mt-md-0" netlify>
          <div class="input-group mb-3 no-shadow">
            <input type="hidden" class="form-control" name="blog_title" value="blog_index">
            <input type="email" class="form-control" name="email" placeholder="Enter your email" style="padding-left: 23px;"
              aria-label="Enter your email">
            <div class="input-group-append">
              <input class="btn btn-primary font-weight-bold px-4" type="submit" value="Join Now" style="font-size: 14px;">
            </div>
          </div>
        </form>
        <p style="opacity: 0.6;">We promise not to spam.</p>
      </div>
      <img style="    
      position: absolute;
      top: -359px;
      width: 457px;
      max-width: 100%;
      right: 0;
  " src="/assets/images/blog/subscribe-hat.svg" />
    </div>
  </div>
</section>