{% assign client = include.client %}

<div class="col-md-8 px-2 mb-3">
  <div
    class="client-box client-box__md"
    style="background-image: url('{{client.background_image}}')"
  >
    <div
      class="client-box__logo"
      style="background-color: {{client.background_color}};"
    >
      <div class="client-box__logo__arrow">
        <img src="/assets/images/clients/link_arrow-{{client.arrow}}.svg" />
      </div>
      <img src="{{client.logo}}" alt="{{client.title}} logo" />
    </div>
    <div class="client-box__content">
      <h3 class="client-box__content__title">{{client.title}}</h3>
      <p class="client-box__content__industry">{{client.industry}}</p>
      <p class="client-box__content__description">{{client.description}}</p>
      {% if client.testimonial_name %}
      <div class="client-box__testimonial">
        <img
          class="client-box__testimonial__line"
          src="/assets/images/clients/testimonial_line.svg"
        />
        <p class="client-box__testimonial__name">{{client.testimonial_name}}</p>
        <p class="client-box__testimonial__jobtitle">
          {{client.testimonial_jobtitle}}
        </p>
      </div>
      {% endif %}
    </div>
    <div class="client-box__services">
      <div class="client-box__services__titlebox">
        <p>We worked on:</p>
      </div>
      <div class="client-box__services__valuebox">
        <p>{% for service in client.services %} #{{service}}{% endfor %}</p>
      </div>
    </div>
  </div>
</div>
