<section
  id="funnels"
  style="background: linear-gradient(0deg, #292f47 70%, transparent 30%)"
>
  <div class="container">
    <div class="row align-items-end" style="margin-bottom: 125px">
      <div class="col">{% include services/navigation.html index=1 %}</div>
      <div>
        <img class="img-fluid" src="/assets/images/services/funnels.svg" />
      </div>
    </div>

    {% include new-web/collapse-variant-1-multi.html
      container="funnels-accordion" 
      items=page.funnels 
      bg="dark"
    %}
  </div>
</section>
