<section id="hero" class="hero">
  <div class="container position-relative">
    <img
      class="hero__bggraphic-item--desktop hero__bggraphic-item--desktop--1"
      src="/assets/images/services/hero-graphic-2.png"
    />

    <!-- intro -->
    <div
      class="hero__intro row px-3 px-lg-0 text-center text-lg-left"
      data-aos="fade-in"
    >
      <div class="col-lg-5">
        <p class="hero__intro__subtitle lead-lg mb-2">Complete Systematic</p>
        <h1 class="hero__intro__title font-weight-bold mb-lg-4">Growth Marketing Services</h1>
      </div>
    </div>

    <!-- Graphics mobile 1 -->
    <div class="hero__bggraphics-mobile--1 position-relative">
      <img
        class="hero__bggraphic-item--mobile hero__bggraphic-item--mobile--1"
        src="/assets/images/services/hero-graphic-2.png"
      />
      <img
        class="hero__bggraphic-item--mobile hero__bggraphic-item--mobile--2"
        src="/assets/images/services/hero-img-2.jpg"
      />
      <img
        class="hero__bggraphic-item--mobile hero__bggraphic-item--mobile--3"
        src="/assets/images/services/hero-img-4.jpg"
      />
    </div>

    <!-- text 1 -->
    <div class="hero__text--1 row text-center text-lg-left px-4 px-lg-3" data-aos="fade-in">
      <div class="col-lg-6 pr-lg-5">
        <p class="lead">
          If you’ve already dreamed up a marketing plan,
          <span class="text-highlight">we’ll bring it to life</span>.
        </p>
      </div>
      <div
        class="hero__bggraphic-item--desktop hero__bggraphic-item--desktop--2"
      >
        <img src="/assets/images/services/hero-graphic-3.png" />
        <img src="/assets/images/services/hero-img-4.jpg" />
      </div>
      <div class="hero__line--1 animated-line active-in-view">
        <img src="/assets/images/services/hero-line-1.png" />
      </div>
    </div>

    <!-- Graphics mobile 2 -->
    <div class="hero__bggraphics-mobile--2 position-relative">
      <img
        class="hero__bggraphic-item--mobile hero__bggraphic-item--mobile--4"
        src="/assets/images/services/hero-graphic-3.png"
      />
      <img
        class="hero__bggraphic-item--mobile hero__bggraphic-item--mobile--5"
        src="/assets/images/services/hero-img-5.jpg"
      />
      <img
        class="hero__bggraphic-item--mobile hero__bggraphic-item--mobile--6"
        src="/assets/images/services/hero-img-1.jpg"
      />
      <img
        class="hero__bggraphic-item--mobile hero__bggraphic-item--mobile--7"
        src="/assets/images/services/hero-graphic-1.png"
      />
      <div class="hero__line--1-mobile animated-line active-in-view">
        <img src="/assets/images/services/hero-line-1-mobile.svg" />
      </div>
    </div>

    <!-- text 2 -->
    <div class="hero__text--2 row justify-content-end  text-center text-lg-left px-4 px-lg-3" data-aos="fade-in">
      <div class="col-lg-6 px-0 px-lg-3">
        <p class="lead">
          And if you’re working with a blank canvas… we’ll design, build and
          maintain a
          <span class="text-highlight">complete user acquisition system</span>
          for you.
        </p>
      </div>
      <div class="hero__line--2 animated-line active-in-view">
        <img src="/assets/images/services/hero-line-2.png" />
      </div>
    </div>

    <!-- Graphics mobile 3 -->
    <div class="hero__bggraphics-mobile--3 position-relative">
      <div class="hero__line--2-mobile animated-line active-in-view">
        <img src="/assets/images/services/hero-line-2-mobile.svg" />
      </div>
      <img
        class="hero__bggraphic-item--mobile hero__bggraphic-item--mobile--8"
        src="/assets/images/services/hero-img-3.jpg"
      />
    </div>

    <!-- images -->
    <div class="hero__desktop-image-section" data-aos="fade-in">
      <div
        class="hero__bggraphic-item--desktop hero__bggraphic-item--desktop--3"
      >
        <img src="/assets/images/services/hero-graphic-1.png" />
        <img src="/assets/images/services/hero-img-1.jpg" />
      </div>
      <div
        class="hero__bggraphic-item--desktop hero__bggraphic-item--desktop--4"
      >
        <img src="/assets/images/services/hero-img-2.jpg" />
      </div>
      <div
        class="hero__bggraphic-item--desktop hero__bggraphic-item--desktop--5"
      >
        <img src="/assets/images/services/hero-img-5.jpg" />
      </div>
    </div>

    <!-- text 3 -->
    <div class="hero__text--3 row" data-aos="fade-in">
      <div class="col-lg-7 pr-lg-5">
        <div class="shadowbox variant-1-check mb-4 active-in-view"></div>
        <h2>
          We help you systematically drive traffic...
          <span>(= performance)</span>
        </h2>
      </div>
      <div class="col">
        <div
          class="hero__bggraphic-item--desktop hero__bggraphic-item--desktop--6"
        >
          <img src="/assets/images/services/hero-img-4.jpg" />
        </div>
      </div>
    </div>

    <!-- text 4 & 5 -->
    <div class="hero__text--4 row justify-content-between" data-aos="fade-in">
      <div class="col-lg-6">
        <div class="shadowbox variant-1-check mb-4 active-in-view"></div>
        <p class="lead-lg">
          …and then we help you convert that traffic via funnels, nurturing &
          storytelling…
        </p>
      </div>
      <div class="col-lg-5 pr-lg-0">
        <div class="shadowbox variant-1-check mb-4 active-in-view"></div>
        <p class="lead-lg">…and turn them into active product users.</p>
      </div>
      <div class="hero__line--3 animated-line active-in-view">
        <img src="/assets/images/services/hero-line-3.png" />
      </div>
    </div>

    <!-- Graphics mobile 4 -->
    <div class="hero__bggraphics-mobile--3 position-relative">
      <div class="hero__line--3-mobile animated-line active-in-view">
        <img src="/assets/images/services/hero-line-3-mobile.svg" />
      </div>
    </div>

    <!-- Text 6 -->
    <div class="row justify-content-center text-center" data-aos="fade-in">
      <div class="col-lg-6 px-0 px-lg-3">
        <p class="lead-lg">
          All while building the
          <span class="text-highlight">right systems & infrastructure</span> for
          you, so that <span class="text-highlight">everything works</span> on
          the technical end.
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener("load", function () {
    document
      .querySelectorAll(".hero__bggraphic-item--desktop")
      .forEach((el) => {
        new simpleParallax(el, { scale: 1.4, overflow: true });
      });
    document
      .querySelectorAll(".hero__bggraphic-item--mobile")
      .forEach((el) => {
        new simpleParallax(el, { scale: 1.4, overflow: true });
      });
  });
</script>
