<section id="clients" class="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-5">Learn what we did to help our clients grow.</h2>
        <div class="d-flex flex-column flex-lg-row">
          <a href="/clients" class="arrow-btn variant-1">Case Studies</a>
        </div>
      </div>
      <div class="clients__logos col-lg-6">
        <div class="d-flex justify-content-between align-items-center">
          <img data-aos="fade-in" class="clients__logos__item--1" src="/assets/images/services/logo-sendcloud.png" />
          <img data-aos="fade-in" class="clients__logos__item--2" src="/assets/images/services/logo-klooker.png" />
          <img data-aos="fade-in" class="clients__logos__item--3" src="/assets/images/services/logo-cla.png" />
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <img data-aos="fade-in" class="clients__logos__item--4" src="/assets/images/services/logo-alpian.png" />
          <img data-aos="fade-in" class="clients__logos__item--5" src="/assets/images/services/logo-tiktok.png" />
          <img data-aos="fade-in" class="clients__logos__item--6" src="/assets/images/services/logo-h.png" />
          <img data-aos="fade-in" class="clients__logos__item--7" src="/assets/images/services/logo-elugie.png" />
        </div>
      </div>
    </div>
    <div class="clients__line1 animated-line active-in-view">
      <img src="/assets/images/services/clients-line1.svg" />
    </div>
  </div>
</section>
