<section id="hero" class="hero position-relative" style="padding-bottom: 0">
  <div class="container position-relative">
    <img
      class="hero__bggraphic-item"
      style="width: 140.94px; position: absolute; top: -295px; left: 280px"
      src="/assets/images/services/hero-graphic-2.png"
    />

    <!-- intro -->
    <div
      class="row px-3 px-lg-0 text-center text-lg-left"
      data-aos="fade-in"
      style="margin-bottom: 50px"
    >
      <div class="col-lg-5">
        <p class="lead-lg">Complete Systematic</p>
        <h1 class="font-weight-bold mb-4">Growth Marketing Services</h1>
      </div>
    </div>

    <!-- text 1 -->
    <div
      class="row"
      data-aos="fade-in"
      style="margin-bottom: 65px; position: relative"
    >
      <div class="col-lg-6 pr-lg-5">
        <p class="lead">
          If you’ve already dreamed up a marketing plan,
          <span class="text-highlight">we’ll bring it to life</span>.
        </p>
      </div>
      <div
        class="hero__bggraphic-item"
        style="position: absolute; right: -50px; bottom: 70px"
      >
        <img
          style="
            position: absolute;
            width: 120px;
            top: -100px;
            left: 30px;
            z-index: -1;
          "
          src="/assets/images/services/hero-graphic-3.png"
        />
        <img
          style="width: 347px"
          src="/assets/images/services/hero-img-4.jpg"
        />
      </div>
      <div
        class="animated-line active-in-view"
        style="position: absolute; left: 35%; top: 40px"
      >
        <img src="/assets/images/services/hero-line-1.png" />
      </div>
    </div>

    <!-- text 2 -->
    <div
      class="row justify-content-end"
      data-aos="fade-in"
      style="position: relative"
    >
      <div class="col-lg-5 pr-lg-0">
        <p class="lead">
          And if you’re working with a blank canvas… we’ll design, build and
          maintain a
          <span class="text-highlight">complete user acquisition system</span>
          for you.
        </p>
      </div>
      <div
        class="animated-line active-in-view"
        style="position: absolute; right: 30%; top: 170px"
      >
        <img src="/assets/images/services/hero-line-2.png" />
      </div>
    </div>

    <!-- images -->
    <div
      data-aos="fade-in"
      style="height: 325px; position: relative; top: -125px"
    >
      <div
        class="hero__bggraphic-item"
        style="position: relative; display: inline-block; left: -70px"
      >
        <img
          style="
            position: absolute;
            width: 61px;
            right: -47px;
            bottom: -25px;
            z-index: -1;
          "
          src="/assets/images/services/hero-graphic-1.png"
        />
        <img
          style="width: 144px"
          src="/assets/images/services/hero-img-1.jpg"
        />
      </div>
      <div
        class="hero__bggraphic-item"
        style="left: 24%; position: relative; top: 20px"
      >
        <img
          style="width: 278px"
          src="/assets/images/services/hero-img-2.jpg"
        />
      </div>
      <div class="hero__bggraphic-item" style="position: relative; left: 94%">
        <img
          style="width: 187px"
          src="/assets/images/services/hero-img-5.jpg"
        />
      </div>
    </div>

    <!-- text 3 -->
    <div
      class="row"
      data-aos="fade-in"
      style="margin-bottom: 60px; position: relative"
    >
      <div class="col-lg-7 pr-lg-5">
        <div class="shadowbox variant-1-check mb-4 active-in-view"></div>
        <h2>
          We help you systematically drive traffic...
          <span
            style="
              font-size: 20px;
              line-height: 30px;
              opacity: 0.3;
              position: relative;
              bottom: 15px;
            "
            >(= performance)</span
          >
        </h2>
      </div>
      <div class="col">
        <div
          class="hero__bggraphic-item"
          style="left: 24%; position: relative; top: 75px"
        >
          <img
            style="width: 144px"
            src="/assets/images/services/hero-img-4.jpg"
          />
        </div>
      </div>
    </div>

    <!-- text 4 & 5 -->
    <div
      class="row justify-content-between"
      data-aos="fade-in"
      style="position: relative; margin-bottom: 250px"
    >
      <div class="col-lg-6">
        <div class="shadowbox variant-1-check mb-4 active-in-view"></div>
        <p class="lead-lg">
          …and then we help you convert that traffic via funnels, nurturing &
          storytelling…
        </p>
      </div>
      <div class="col-lg-5 pr-lg-0">
        <div class="shadowbox variant-1-check mb-4 active-in-view"></div>
        <p class="lead-lg">…and turn them into active product users.</p>
      </div>
      <div
        class="animated-line active-in-view"
        style="position: absolute; left: 47%; top: 210px"
      >
        <img src="/assets/images/services/hero-line-3.png" />
      </div>
    </div>

    <!-- Text 6 -->
    <div class="row justify-content-center text-center" data-aos="fade-in">
      <div class="col-lg-6">
        <p class="lead-lg">
          All while building the
          <span class="text-highlight">right systems & infrastructure</span> for
          you, so that <span class="text-highlight">everything works</span> on
          the technical end.
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener("load", function () {
    document.querySelectorAll(".hero__bggraphic-item").forEach((el) => {
      new simpleParallax(el, { scale: 1.4, overflow: true });
    });
  });
</script>
