<div class="row justify-content-end">
	<div class="col-md-6 px-0 position-relative">
		<div>
			<div style="width: 85.08px; height: 85.08px; border-radius: 100%; opacity: 90%; background: #2A3687; transform: rotate(10deg); z-index: -1; position: absolute; top: -60px; right: -35px;"></div>
		</div>
		{% include proposal/work/inner.html
			image="/assets/images/proposals/double_logo.png"
			body="By having an outside perspective we were able to notice things elugie’s team couldn’t. Things that much crucial they decided to change the company focus segment."
			button_color="#181D33"
		%}
	</div>
</div>