{% assign image = include.image %} 
{% assign body = include.body %} 
{% assign button_text = include.button_text | default: "Go to Case Study" %} 
{% assign button_color = include.button_color | default: "#1D97FF" %} 
{% assign button_link = include.button_link | default: "#" %}

<div class="mb-5 text-center text-md-left">
  <img
    class="work_logo"
    src="{{ image | relative_url }}"
  />
</div>
<p class="lead mb-4 text-center text-md-left">{{ body | markdownify | strip_html }}</p>
<a class="text-center text-md-left" href="{{button_link}}">
  <p class="lead" style="color: {{button_color}};">{{ button_text }} ></p>
</a>
