<div class="row">
	<div class="col-md-6 px-0 position-relative">
		<div class="soundcloud_clouds">
			<div class="soundcloud_clouds__cloud-1" id="soundcloud_clouds__cloud-1" style="z-index: -1; position: absolute; bottom: -33%; left: -90px;">
				<img src="/assets/images/proposals/sendcloud_animatie/wit_wolkje.svg" />
			</div>
			<div class="soundcloud_clouds__cloud-2" id="soundcloud_clouds__cloud-2" style="z-index: -1; position: absolute; top: -105px; right: 63%;">
				<img src="/assets/images/proposals/sendcloud_animatie/blauw_wolkje.svg" />
			</div>
			<div class="soundcloud_clouds__cloud-3" id="soundcloud_clouds__cloud-3" style="z-index: -1; position: absolute; bottom: -40px; right: 170px;">
				<img src="/assets/images/proposals/sendcloud_animatie/donker_wolkje.svg" />
			</div>
		</div>
		{% include proposal/work/inner.html
			image="/assets/images/proposals/Sendcloud_logo.svg"
			image_height="48px"
			body="We started working on copywriting and ended up updating whole marketing strategy. OOPS!"
			button_color="#1D97FF"
		%}
	</div>
</div>

<script>
	(() => {
		const elOne = document.querySelector("#soundcloud_clouds__cloud-1");
		const elTwo = document.querySelector("#soundcloud_clouds__cloud-2");
		const elThree = document.querySelector("#soundcloud_clouds__cloud-3");

		const translateEl = (el, px) => {
			$(el).css("transform", `translateX(${px}px)`);
		}

		let listener;
		const callback = (entries) => {
			entries.forEach(entry => {
				if (entry.intersectionRatio > 0) {
				
					listener = window.addEventListener("scroll", function () {
						const el = entry.target;
						const distancePercentage = doubleUtils.getDistancePercentage(el);

						switch (el.getAttribute("id")) {
							case "soundcloud_clouds__cloud-1":
								translateEl(el, `-${(100 / 100) * distancePercentage}`);
								break;
							case "soundcloud_clouds__cloud-2":
								translateEl(el, `-${(100 / 100) * distancePercentage}`);
								break;
							case "soundcloud_clouds__cloud-3":
								translateEl(el, `${(100 / 100) * distancePercentage}`);
								break;
						}
					});
				}
			})
		}

		const observerOptions = {
			root: null,
			rootMargin: "0px 0px",
			threshold: 0,
		};
	
		const observer = new IntersectionObserver(callback, observerOptions);
		observer.observe(elOne);
		observer.observe(elTwo);
		observer.observe(elThree);
	})()
</script>