<div class="row">
	<div class="col-md-6 px-0 position-relative">
		<div>
			<div data-aos="fade-right" style="z-index: -1; position: absolute; bottom: 50%; left: -175px;">
				<img src="/assets/images/proposals/sendcloud_animatie/wit_wolkje.svg" />
			</div>
			<div style="z-index: -1; position: absolute; top: -150px; right: 50%;">
				<img src="/assets/images/proposals/sendcloud_animatie/blauw_wolkje.svg" />
			</div>
			<div style="z-index: -1; position: absolute; bottom: -40px; right: 120px;">
				<img src="/assets/images/proposals/sendcloud_animatie/donker_wolkje.svg" />
			</div>
		</div>
		{% include proposal/work/inner.html
			image="/assets/images/proposals/Sendcloud_logo.svg"
			image_height="48px"
			body="We started working on copywriting and ended up updating whole marketing strategy. OOPS!"
			button_color="#1D97FF"
		%}
	</div>
</div>