<div class="row justify-content-end">
  <div class="col-md-6 px-0 position-relative">
    <div>
      <div
        id="item-1"
        style="
          transform: rotate(-80deg);
          transform-origin: bottom left;
          z-index: -1;
          position: absolute;
          bottom: 70px;
          left: -50px;
        "
      >
        <img src="/assets/images/proposals/tiktok_animatie/rood_blokje.svg" />
      </div>
      <div
        style="
          transform: rotate(-20deg);
          z-index: -1;
          position: absolute;
          top: 50px;
          right: 0;
        "
      >
        <img src="/assets/images/proposals/tiktok_animatie/groen_blokje.svg" />
      </div>
      <div
        style="
          transform: rotate(-330deg);
          z-index: -1;
          position: absolute;
          bottom: -10px;
          right: 120px;
        "
      >
        <img src="/assets/images/proposals/tiktok_animatie/zwart_blokje.svg" />
      </div>
    </div>
    {% include proposal/work/inner.html
    image="/assets/images/proposals/TikTok_logo.svg" image_height="71.59px"
    body="Learn how we’ve become TikTok’s technical handymen and scale-up
    department." button_color="#FF004F" %}
  </div>
</div>

<script>
  const observerElement = document.querySelector("#item-1");

  const observerOptions = {
    root: null,
    rootMargin: "0px 0px",
    threshold: 0,
  };

  let listener;
  const rotate = 30;
  const observer = new IntersectionObserver((entry) => {
    if (entry[0].intersectionRatio > 0) {
      listener = window.addEventListener("scroll", function () {
        const windowOffset = window.pageYOffset;
        const elOffset = $(observerElement).offset().top;
        const distance = elOffset - windowOffset;
        const windowHeight = window.outerHeight - 200;
        const distancePercentage = 100 - (distance / windowHeight) * 100;
        const rotateDeg = `${(rotate / 100) * distancePercentage}deg`;
        observerElement.style.transform = `rotate(${rotateDeg})`;
        console.log({ distancePercentage, distance, windowOffset, elOffset });
      });
    } else {
      // removes GSAP's ticker
    }
  }, observerOptions);
  observer.observe(observerElement);
</script>
