.subscribe-banner {
  background: var(--secondary);
  margin-bottom: 100px;

  @include media-breakpoint-down(md) {
    padding-top: 250px;
    text-align: center;
  }

  > .container {
    position: relative;
  }

  p {
    opacity: 0.6;
  }

  &__line {
    position: absolute;
    right: 130px;
    bottom: -200px;
    @include media-breakpoint-down(md) {
      height: 200px;
      right: 50px;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 51px;
  }

  &__form {
    width: 80%;
    input {
      height: 100%;
      &[type="submit"] {
        height: 54px;
        font-size: 14px;
        border-radius: 0;
      }
      &[type="email"] {
        height: 54px;
        padding-left: 23px;
      }
    }
    @include media-breakpoint-down(md) {
      margin: auto;
      width: 100%;
      .input-group-append {
        width: 100%;
      }
      input {
        &[type="submit"],
        &[type="email"] {
          width: 100%;
        }
      }
    }
  }

  &__hat {
    position: absolute;
    top: -359px;
    width: 457px;
    max-width: 100%;
    right: 0;
    @include media-breakpoint-down(md) {
      top: -470px;
      right: initial;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
