.relatedstudies {
  z-index: 1;
	position: relative;
	
	&__separator {
		width: 100%;
		height: 1px;
		background: #e7e8ea;
		margin: 0 15px;
		@include media-breakpoint-up(md) {
			margin: 0 15px;
			width: 1px;
			background: linear-gradient(#e7e8ea, #fff);
			height: 600px;
		}
	}
  &__title {
    font-size: 22px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e7e8ea;
  }
  &__item--1 {
    padding-top: 35px;
  }
  &__item--2 {
    padding-top: 35px;
  }
  &__excerpt {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}
