.tiktok_elements {
  &__element {
    &-1,
    &-2,
    &-3 {
      z-index: -1;
      position: absolute;

      opacity: 0.9;
    }
    &-1 {
      transform: rotate(-35deg);
      transform-origin: bottom left;
      bottom: 45px;
      left: -40px;
    }
    &-2 {
      transform: rotate(35deg);
      transform-origin: bottom right;
      top: 50px;
      right: -20px;
    }
    &-3 {
      transform-origin: bottom right;
      transform: rotate(10deg);
      bottom: -10px;
      right: 120px;
    }
    @include media-breakpoint-down(md) {
      &-1 {
        bottom: 135px;
        left: -10px;
      }
      &-2 {
        right: -40px;
      }
      &-3 {
        bottom: -25px;
        right: 55px;
      }
    }
  }
}

#work-tiktok {
  .work_logo {
    height: 70px;
    @include media-breakpoint-down(md) {
      height: 57px;
    }
  }
}
