{% assign related_1 = site.case-studies | where: 'slug', page.related_1 %}
{% assign related_1 = related_1[0] %}
{% assign related_2 = site.case-studies | where: 'slug', page.related_2 %}
{% assign related_2 = related_2[0] %}

<div id="related-case-studies" class="relatedstudies container mt-3 pt-4 mt-md-5">
	<div class="row">
		<div class="col-md-12">
			<p class="relatedstudies__title mb-0 font-weight-bold">You May Also Like</p>
		</div>
	</div>
	<div class="relatedstudies row">
		<div class="relatedstudies__item--1 col-md pb-4 pb-md-5">
			<div class="d-flex mb-4">
				{% assign tag = related_1.tags[0] } %}
				{% include casestudy/internal/tag.html item=tag %}
			</div>
			<p class="relatedstudies__excerpt mb-3">
				{{related_1.excerpt}}
			</p>
			<a href="{{related_1.url}}" class="btn btn-link pl-0">
				Go to Case Study >
			</a>
		</div>
		<div class="relatedstudies__separator"></div>
		<div class="relatedstudies__item--2 col-md pl-md-5 pb-5">
			<div class="d-flex mb-4">
				{% assign tag = related_2.tags[0] } %}
				{% include casestudy/internal/tag.html item=tag %}
			</div>
			<p class="relatedstudies__excerpt mb-3">
				{{related_2.excerpt}}
			</p>
			<a href="{{related_2.url}}" class="btn btn-link pl-0">
				Go to Case Study >
			</a>
		</div>
	</div>
</div>