<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2>Consider us a bunch of English and maths nerds who see working at Double as our playground.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p><span class="text-highlight">Unselfishly</span>, the systematic storytelling we do for our clients does an outstanding job of unlocking scalable growth and building very healthy bank accounts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-4">
        <p><span class="text-highlight">Selfishly</span>, it’s permission for us to let our imaginations run wild while we write, and flex our analytical muscles when it’s time to interpret data and spot the content that’s working.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p class="lead-lg">In other words, <span class="text-highlight">we’re all winning</span>.</p>
      </div>
    </div>
  </div>
</section>
