<section id="banner" class="banner">
  <div class="container">
    <div class="bg-secondary text-white" style="padding: 100px; position: relative;">

      <!-- Shadow -->
      <img style="position: absolute; top: 0; right: 0;" src="/assets/images/about/banner-shadow.svg" />

      <!-- Hat -->
      <img style="position: absolute; top: -230px; right: 0;" src="/assets/images/about/banner-hat.svg" />

      <!-- Content -->
      <div class="row mb-4">
        <div class="col-lg-6">
          <h2>We also get high together</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <p class="mb-0">
            Humans feel great when they help other humans, and we get our fix
            with The Double Academy. Together,
            <span class="text-highlight">
              we’ve taught over 30,000 entrepreneurs
            </span>
            how to approach marketing with systems thinking, and ditch the
            “hacks”.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
