<section id="gallery" class="gallery">
  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-4">
        <p class="lead-lg">
          <span class="text-highlight">Now</span>. Let’s pause the reading, and
          start the photoshoot:
        </p>
      </div>
    </div>
    <!-- Images -->
    <div class="gallery__images position-relative" style="top: -50px">
      <img
        class="img-fluid gallery__images--1"
        src="/assets/images/about/gallery-img-1.jpg"
      />
      <img
        class="img-fluid gallery__images--2"
        src="/assets/images/about/gallery-img-2.jpg"
      />
      <img
        class="img-fluid gallery__images--3"
        src="/assets/images/about/gallery-img-3.jpg"
      />
      <img
        class="img-fluid gallery__images--4"
        src="/assets/images/about/gallery-img-4.jpg"
      />
      <img
        class="img-fluid gallery__images--5"
        src="/assets/images/about/gallery-img-5.jpg"
      />
      <img
        class="img-fluid gallery__images--6"
        src="/assets/images/about/gallery-img-6.jpg"
      />
      <img
        class="img-fluid gallery__images--7"
        src="/assets/images/about/gallery-img-7.jpg"
      />
      <img
        class="img-fluid gallery__images--8"
        src="/assets/images/about/gallery-img-8.jpg"
      />
      <img
        class="img-fluid gallery__images--9"
        src="/assets/images/about/gallery-img-9.jpg"
      />
      <img
        class="img-fluid gallery__images--10"
        src="/assets/images/about/gallery-img-10.jpg"
      />
      <img
        class="img-fluid gallery__images--11"
        src="/assets/images/about/gallery-img-11.jpg"
      />
      <img
        class="img-fluid gallery__images--12"
        src="/assets/images/about/gallery-img-12.jpg"
      />
      <img
        class="img-fluid gallery__images--13"
        src="/assets/images/about/gallery-img-13.jpg"
      />
      <img
        class="img-fluid gallery__images--14"
        src="/assets/images/about/gallery-img-14.jpg"
      />
      <img
        class="img-fluid gallery__images--15"
        src="/assets/images/about/gallery-img-15.jpg"
      />
      <img
        class="img-fluid gallery__images--16"
        src="/assets/images/about/gallery-img-16.jpg"
      />
    </div>

    <!-- line -->
    <div
      class="animated-line active-in-view"
      style="position: absolute; right: 200px; bottom: -155px"
    >
      <img src="/assets/images/about/line2.svg" />
    </div>
  </div>
</section>
