<section id="gallery" class="gallery">
  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-4">
        <h3 style="line-height: 62px;">
          <span class="text-highlight">Double</span>, but<br/>doubled.
        </h3>
      </div>
    </div>
    <!-- Images -->
    <div class="gallery__images position-relative">
      {% assign items = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16" | split: ',' %}
      {% for item in items %}
      <img
        data-aos="fade-in"
        class="img-fluid gallery__images--{{item}}"
        src="/assets/images/about/gallery-img-{{item}}.jpg"
      />
      {% endfor %}
    </div>

    <!-- line -->
    <div class="gallery__line animated-line active-in-view">
      <img src="/assets/images/about/line2.svg" />
    </div>
  </div>
</section>
