<section id="bottom" class="bottom">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 px-0 px-lg-3">
        <h2 class="mb-4">That’s us</h2>
        <p class="lead">
          Long story short, you should send us an email if you’re
          looking for a technical crew who are showing others how marketing is
          done (who’ll also make you laugh enough to keep around).
        </p>

        <div class="bottom__box bg-primary text-white p-4 py-5 my-5">
          Go on, do it. And if we work together,
          <strong>1% of your cash</strong> will power disease prevention in the
          world’s poorest communities. <strong>Hell yeah</strong>.
        </div>

        <div
          class="
            d-flex
            flex-column flex-lg-row
            justify-content-center
            mb-lg-5 mb-4
          "
        >
          <a href="mailto:pieter@double-agency.com" class="arrow-btn variant-1">
            Contact us
          </a>
        </div>

        <div class="bottom__contact-info mb-5">
          <span class="font-weight-bold"> Email </span>
          : pieter@double-agency.com <br />
          <span class="font-weight-bold"> WhatsApp </span>
          : +316 230 555 90
        </div>

        <p class="lead pt-4"><strong>Talk soon.</strong></p>
      </div>
    </div>
  </div>
</section>
