<section id="hiring" class="hiring">
  <div class="container">
    <!-- title -->
    <div class="hiring__intro row mb-5">
      <div class="col-lg-12 text-center text-lg-left">
        <h2 class="hiring__title mb-3 mb-lg-0">As we’re already hiring.</h2>
        <h4 class="hiring__subtitle">
          Would you feel at home in an environment where…
        </h4>
      </div>
    </div>

    <!-- boxes -->
    <div class="row mb-lg-5 pt-lg-5">
      <div class="col-lg-4 mb-5 mb-lg-0 px-0 px-lg-3">
        <div class="hiring__box">
          <div
            class="shadowbox variant-1-check mr-4 mr-lg-5 active-in-view"
          ></div>
          <p class="mb-0">
            The group chat is filled with
            <span class="text-highlight"
              >equal parts inspiration and laughs</span
            >
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0 px-0 px-lg-3">
        <div class="hiring__box">
          <div
            class="shadowbox variant-1-check mr-4 mr-lg-5 active-in-view"
          ></div>
          <p class="mb-0">
            All of your colleagues
            <span class="text-highlight">ferociously learn</span> in their spare
            time <span class="text-muted">(and work on side projects)</span>
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0 px-0 px-lg-3">
        <div class="hiring__box">
          <div
            class="shadowbox variant-1-check mr-4 mr-lg-5 active-in-view"
          ></div>
          <p class="mb-0">
            The team celebrates
            <span class="text-highlight">everybody’s individual wins</span>
            <span class="text-muted">(we’re part-time cheerleaders)</span>
          </p>
        </div>
      </div>
    </div>

    <!-- positions -->
    <div class="row justify-content-center mb-4 pt-lg-5">
      <div
        class="
          col-lg-4
          mb-3 mb-lg-0
          px-0
          pl-lg-3
          pr-lg-5
          text-center text-lg-left
        "
      >
        <p class="lead-lg">
          Then check out the
          <span class="text-highlight">roles we’re looking</span> for:
        </p>
      </div>
      <div class="col-lg-8 px-0 px-lg-3">
        <div class="hiring__positions-box bg-secondary text-white px-4">
          {% for item in page.hiring_positions %}
          <a
            href="{{item.url}}"
            class="
              hiring__positions-box__item
              d-flex
              justify-content-between
              align-items-center
              text-white
              py-4
            "
          >
            <div>
              <p class="lead mb-0">{{item.title}}</p>
              <p class="hiring__positions-box__item__subtitle mb-0">
                {{item.location}}
              </p>
            </div>
            <div>
              <img src="/assets/images/arrow-right.svg" />
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
