<section id="about" class="about">
  <div class="container">

    <!-- text 1 -->
    <div class="row position-relative" style="margin-bottom: 60px;">
      <div class="col-lg-10 pr-lg-5">
        <h2>
          Consider us a bunch of English and maths nerds who see working at
          Double as our playground.
        </h2>
      </div>
      <div
        class="animated-line active-in-view"
        style="position: absolute; left: -140px;
        bottom: -85%;"
      >
        <img src="/assets/images/about/line1.svg" />
      </div>
    </div>

    <!-- text 2 -->
    <div class="row" style="margin-bottom: 60px;">
      <div class="col-lg-7" style="padding-right: 70px;">
        <p>
          <span class="text-highlight">Unselfishly</span>, the systematic
          storytelling we do for our clients does an outstanding job of
          unlocking scalable growth and building very healthy bank accounts.
        </p>
      </div>
    </div>

    <!-- text 3 -->
    <div class="row" style="margin-bottom: 60px;">
      <div class="col-lg-7 offset-lg-4" style="padding-right: 70px; left: -45px;">
        <p>
          <span class="text-highlight">Selfishly</span>, it’s permission for us
          to let our imaginations run wild while we write, and flex our
          analytical muscles when it’s time to interpret data and spot the
          content that’s working.
        </p>
      </div>
    </div>

    <!-- text 4 -->
    <div class="row">
      <div class="col-lg-4 pr-lg-0">
        <p class="lead-lg">
          In other words, <span class="text-highlight">we’re all winning</span>.
        </p>
      </div>
    </div>
  </div>
</section>
