<header class="pt-5 pb-5">
  <div class="container">
    <nav class="
      d-flex
      flex-column
      flex-md-row
      justify-content-between
      align-items-center">
      <div class="mb-4 mb-md-0" style="width: 120px">
        <a href="/">{% include new-web/animated-logo.html %}</a>
      </div>

      <div class="menu d-flex">
        <a href="/academy" class="text-secondary mx-3 d-flex"><b>Academy</b></a>
        <a href="/blog" class="text-secondary mx-3 d-flex"><b>Blog</b></a>
        <a href="mailto:pieter@double-agency.com" class="text-secondary mx-3 d-flex"><b>Contact</b></a>
      </div>
    </nav>
  </div>
</header>