<!-- vars
id: string (optional). Needed if multiple carousels on the same page
items: list
  - title: Getting users matters
    subtitle: "Day 1:"
    body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
-->

{% assign id = include.id | default 'carousel' %}

<div id="{{id}}">
  {% for item in include.items %}
  <div class="shadow-grey bg-white border-grey m-4 position-relative p-4">
    <div class="text-center">
      <p class="mb-0">{{ item.subtitle }}</p>
      <p class="pt-2 mb-0 font-weight-bold"><strong>{{ item.title }}</strong></p>
    </div>

    <div class="pt-5">
      <p>{{ item.body }}</p>
    </div>
  </div>
  {% endfor %}
</div>
<script>
  $('#{{id}}').slick({ 
    mobileFirst:true,
    centerMode: true, 
    centerPadding: '20px', 
    slidesToShow: 1,
    responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        infinite: true,
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
      }
    }
  ]
 });
</script>