{% assign size = include.size | default '' %}

<ul class="text-left checklist pl-0 w-100 checklist-c {{ size }}">
  {% for item in include.items %}
  <li class="d-flex my-4 my-md-5 py-md-2 align-items-center">
    <div class="w-auto position-relative">
      <img class="fore" src="/assets/images/new-web/check_icon_fore.svg" />
      <div class="back">
        <img src="/assets/images/new-web/check_icon_back.png" />
      </div>
    </div>
    <div class="col text pl-md-5 pr-0">
      <p class="m-0">{{ item | markdownify }}</p>
    </div>
  </li>
  {% endfor %}
</ul>

<style>
.checklist-c .back img,
.checklist-c .fore {
  width: 70px;
  height: 70px;
}
.checklist-c p {
  margin: 0!important;
}

@media only screen and (max-width: 720px) {
  .checklist-c .back img,
  .checklist-c .fore {
    width: 40px;
    height: 40px;
  }
}

.checklist-c.sm .back img,
.checklist-c.sm .fore {
  width: 24px;
  height: 24px;
}
.checklist-c.sm .text {
  padding-left: 1.8rem!important;
}
.checklist.sm li {
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}
</style>

<script>
(() => {
$(window).on('scroll', _viewportAnimations);

function _viewportAnimations() {
  $(".checklist li").each(function() {
    if (_isOverCenterScreen(this, 150)) {
      $(this).addClass("active");
     }
  });
}

function _isOverCenterScreen(elem, offset) {
  var windowCenter =  $(window).height() / 2;
  var elemTop = elem.getBoundingClientRect().top;
  return (windowCenter + offset) > elemTop 
    ? (windowCenter + offset) - elemTop 
    : false;
}
})()
</script>