<div class="checkmark d-flex my-4 my-md-5 py-md-2 {{ include.class }}">
  <div class="w-auto position-relative">
    <img class="fore" src="/assets/images/new-web/check_icon_fore.svg" />
    <div class="back">
      <img src="/assets/images/new-web/check_icon_back.png" />
    </div>
  </div>
  <div class="col text px-0">
    {{ include.content }}
  </div>
</div>

<style>
.checkmark .back img,
.checkmark .fore {
  width: 30px;
  height: 30px;
}
.checkmark p {
  margin-bottom: 0;
}

@media only screen and (max-width: 720px) {
  .checkmark .back img,
  .checkmark .fore {
    width: 30px;
    height: 30px;
  }
}

.checkmark {
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}
.checkmark img {
  border-radius: 100%;
  opacity: 0.15;
  transition: 0.5s;
}

.checkmark.active img {
  opacity: 1;
}
.checkmark.active .fore {
  animation: fore 0.5s linear both;
}
.checkmark.active .back {
  animation: back 0.5s linear both;
}
.checkmark .back {
  position: absolute;
  top: 0;
  z-index: -1;
}

.checkmark.active .fore {
  animation: fore 0.5s linear both;
}
.checkmark.active .back {
  animation: back 0.5s linear both;
}

@keyframes fore {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-2px, -2.5px);
  }
}

@keyframes back {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(2px, 2.5px);
  }
}
</style>

<script>
(() => {
$(window).on('scroll', _viewportAnimations);

function _viewportAnimations() {
  $(".checkmark").each(function() {
    if (_isOverCenterScreen(this, 150)) {
      $(this).addClass("active");
     }
  });
}

function _isOverCenterScreen(elem, offset) {
  var windowCenter =  $(window).height() / 2;
  var elemTop = elem.getBoundingClientRect().top;
  return (windowCenter + offset) > elemTop 
    ? (windowCenter + offset) - elemTop 
    : false;
}
})()
</script>