{% assign id = include.id %}
{% assign title = include.title %}
{% assign content = include.content %}
{% assign parent = include.parent %}
{% assign bg = include.bg %}
{% if bg == "dark" %}
  {% assign arrow_color = "light" %}
{% else %}
  {% assign arrow_color = "dark" %}
{% endif %}


<div class="collapse-variant-1 background-{{bg}}">
  <button
    class="btn btn-block text-left"
    type="button"
    data-toggle="collapse"
    data-target="#{{id}}"
    aria-expanded="false"
    aria-controls="{{id}}"
  >
    {{title}}
    <img src="/assets/images/icon-chevron_up-{{arrow_color}}.svg" />
  </button>
  <div
    id="{{id}}"
    class="collapse"
    {% if parent %}
    data-parent="#{{parent}}"
    {% endif %}
  >
    <div class="collapse__content">{{content}}</div>
  </div>
</div>