<!-- vars
id: string
subtitle: string
title: string
button_text: string
-->
<div id="{{ include.id }}" class="modal bs fade" role="dialog" style="padding: 0;">
  <div class="modal-dialog modal-dialog-centered m-0 m-md-auto">

    <div class="modal-content bg-grey">
      <div class="modal-header" style="border: 0;">
        <div class="m-auto" style="width: 150px;">
          {% include new-web/animated-logo.html %}
        </div>
      </div>

      <div class="modal-body">
        <h4 style="font-size: 18px;" class="text-primary font-weight-bold">{{ include.subtitle }}</h4>
        <h1 style="font-size: 24px; letter-spacing: 2px; line-height: 35px;" class="font-weight-bold">{{ include.title }}</h1>

        <div class="py-4">
          <form name="{{ include.form_name }}" netlify>
            <input type="hidden"  name="page_title" value="{{ page.title }}">
            <input style="border: 0; height: 50px;" type="email" class="form-control" name="email" placeholder="Enter your email" aria-label="Enter your email">
            <button class="mt-4 btn btn-primary btn-shadow font-weight-bold" type="submit">{{ include.button_text }}</button>
          </form>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>