<footer>
  <div class="container">
    <hr class="divider-1" />
    <div
      class="
        row
        justify-content-between
        mx-0
        mb-4
        flex-lg-row flex-column
        align-items-center align-items-lg-start
        text-center text-lg-left
      "
    >
      <div style="max-width: 100px" class="double_logo mb-3 mb-lg-0">
        {% include new-web/animated-logo.html id="footer-logo" %}
      </div>
      <div class="contact-details d-flex flex-lg-row flex-column">
        <span class="mr-3">
          <strong>Email</strong>:
          <a href="mailto:pieter@double-agency.com">pieter@double-agency.com</a>
        </span>
        <span class="mr-3">
          <strong>WhatsApp</strong>:
          <a href="tel:+316 230 555 90">+316 230 555 90</a>
        </span>
        <span class="mr-3"> <strong>Telegram</strong>: @doubleagency </span>
      </div>
    </div>
    <hr class="divider-2" />
    <div
      class="
        row
        justify-content-between
        mx-0
        mb-4
        flex-lg-row flex-column
        align-items-center align-items-lg-start
        text-center text-lg-left
      "
    >
      <a class="nav-link mb-4 mb-lg-0" href="/">Home</a>
      <a class="nav-link mb-4 mb-lg-0" href="/services">Services</a>
      <a class="nav-link mb-4 mb-lg-0" href="/clients">Clients</a>
      <a class="nav-link mb-4 mb-lg-0" href="/#process">Process</a>
      <a class="nav-link mb-4 mb-lg-0" href="/about">About</a>
      <a class="nav-link mb-4 mb-lg-0" href="/blog">Blog</a>
      <a class="nav-link mb-4 mb-lg-0" href="/academy">Double Academy</a>
      <a class="nav-link mb-4 mb-lg-0" href="mailto:pieter@double-agency.com">Contact</a>
      <a class="nav-link" href="/about#hiring">Working at Double</a>
    </div>

    <hr class="divider-2 d-lg-none" />

    <div class="text-center text-lg-left">
      <span class="copyright"
        >Copyright © {{ 'now' | date: "%Y" }} Double LLC. All Rights Reserved.
        <a
          href="/privacy-policy"
          target="_blank"
          style="color: #afafbf !important"
          >Privacy Policy.</a
        ></span
      >
    </div>
  </div>
</footer>
