<!-- vars
button_text: string (optional)
form_action: string (optional)
form_name: string
form_honeypot: string
fields: list
  - "question 1"
  - "question 2"
-->
<section class="{{ include.class }}">
  <div class="container">
    <div class="row">
      <form 
        {% if include.form_action %}action="{{ include.form_action }}"{% endif %}
        {% if include.form_honeypot %}data-netlify-honeypot="{{ include.form_honeypot }}"{% endif %}
        data-netlify
        class="col"
        name="{{ include.form_name }}">

        {% if include.form_honeypot %}
        <input type="hidden" type="text" name="{{ include.form_honeypot }}">
        {% endif %}

        {% for item in include.fields %}
        {% if forloop.index != 1 %}
        <hr>
        {% endif %}
        <div>
          <div><b>{{ item }}</b></div>
          <textarea name="{{ item | replace: ' ', '_' }}" style="border: 0; font-weight: 300;" rows="4" class="px-0 form-control" type="text" placeholder="Type your answer here..."></textarea>
        </div>
        {% endfor %}
        <div class="mt-4">
          <button type="submit" class="btn btn-primary btn-shadow">{{ include.button_text | default "submit" }}</button>
        </div>
      </form>
    </div>
  </div>
</section>