<header class="pt-5 pb-5">
  <div class="container">
    <nav class="d-flex
      {% unless page.header_logo_only %}justify-content-between{% else %}justify-content-center justify-content-md-start{% endunless %}
      align-items-center">
      <div class="d-flex align-items-center">
        <div style="width: 120px">
          {% unless page.header_logo_only %}<a href="/">{% endunless %}
            {% include new-web/animated-logo.html %}
          {% unless page.header_logo_only %}</a>{% endunless %}
        </div>
        {% if page.header_title %}
        <div style="
        font-size: 18px;
        border-left: 1px solid rgba(24, 29, 51, 0.1);
        margin-left: 1.5rem;
        line-height: 18px;
        padding-left: 1rem;">
          {{ page.header_title }}
        </div>
        {% endif %}
      </div>

      {% unless page.header_logo_only %}
      <div class="menu">
        <a href="mailto:pieter@double-agency.com" class="text-secondary"><b>Contact</b></a>
      </div>
      {% endunless %}
    </nav>
  </div>
</header>