{% include new-web/modal_header.html id=include.id %}
<div class="modal_form text-center">
  <div class="mb-5">
    <h3 class="font-weight-bold">Start your Free 14-day Email Course</h3>
    <h4>Practical Lessons to Become a Master Entrepreneur</h4>
  </div>

  <form 
    class="form_box"
    action="https://www.getdrip.com/forms/277204824/submissions"
    method="post"
    data-drip-embedded-form="277204824">

    <div class="input-group mb-3">
      <input type="email" class="form-control" name="fields[email]" id="email" placeholder="type@youremail.com" aria-label="Enter your email">
      <div class="input-group-append">
        <button class="btn btn-primary font-weight-bold px-5" type="submit" data-drip-attribute="sign-up-button">Let's Go!</button>
      </div>
    </div>
  </form>

</div>
{% include new-web/modal_footer.html %}