<div id="{{include.container}}" class="module-section {{ include.style }}">

  <div class="sticky-nav d-flex align-items-center">
    
    <button class="prev-btn" disabled="true">
      <img src="/assets/images/new-web/elite/arrow_left_big.svg" />
    </button>
    <button class="next-btn">
      <img src="/assets/images/new-web/elite/arrow_left_big.svg" />
    </button>

    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col d-flex align-items-center">

          <strong class="mr-4">Module</strong>
          {% for item in include.module %}
          <div
            class="checkmark checkmark-number d-flex nav-item {% if forloop.index == 1 %}selected{% endif %} active"
            goto-slide="{{ forloop.index0 }}">
            <div class="w-auto position-relative">
              <div class="fore" style="height: 32px; min-width: 32px;     padding-left: 10px;
              padding-right: 10px;
              padding-top: 2px;">
                {{ item.nav }}
              </div>
            </div>
          </div>
          {% endfor %}
          <span class="ml-2 mr-4" style="border-right: 1px solid #d8d8d8; height: 25px;"></span>
          <p class="mb-0 lead"><strong class="module-name">{{ include.module.first.name }}</strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-nav container mb-5">
    <button class="prev-btn" disabled="true">
      <strong><</strong>
    </button>
    <button class="next-btn">
      <strong>></strong>
    </button>

    <div class="row">
      <div class="col-md-12 d-flex align-items-center justify-content-center">
        <p class="lead mb-0 pr-2 mr-4">
          {{ include.title | markdownify | remove: '<p>' | remove: '</p>' }}
          <span class="ml-3 mr-4" style="border-right: 1px solid #d8d8d8;"></span>
          <strong>Module</strong>
        </p>
        {% for item in include.module %}
        <div
          class="checkmark checkmark-number d-flex nav-item {% if forloop.index == 1 %}selected{% endif %} active"
          goto-slide="{{ forloop.index0 }}">
          <div class="w-auto position-relative">
            <div class="fore">
              {{ item.nav }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <!-- SLIDE module -->
  <div class="slider">
    {% for item in include.module %}
    <div class="slider-item" slide-index="{{ forloop.index0 }}">
      <div class="container container-narrow">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="mb-4"><strong>{{ item.name }}</strong></h3>
            <p class="lead">{{ item.description }}</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="modulevideo-wrapper row flex-nowrap align-items-center">
          <div class="col video-selectors">
            {% assign accordion_key = include.container | append: forloop.index %}
            <div class="accordion" id="{{ accordion_key }}-accordion" style="width: 433px;">
              {% for video in item.videos %}
              <div
                class="accordion-item accordion-item-style2 position-relative {% if forloop.index == 1 %}active{% endif %}" video-index="{{ forloop.index0 }}">
                <div class="accordion-item-header" id="{{ accordion_key }}heading-{{ forloop.index }}">
                  <p class="lead mb-0">
                    <button class="btn btn-link d-flex align-items-center justify-content-between px-0 w-100"
                      type="button" data-toggle="collapse" data-target="#{{ accordion_key }}collapse-{{ forloop.index }}"
                      aria-expanded="true" aria-controls="{{ accordion_key }}collapse-{{ forloop.index }}">
                      <p class="lead mb-0">    z-index: 999;
                        <strong>{{ video.title }}</strong>
                      </p>
                      <div class="arrow">
                        <img src="/assets/images/new-web/elite/arrow_right.svg" />
                      </div>
                    </button>
                  </p>
                </div>
  
                <div id="{{ accordion_key }}collapse-{{ forloop.index }}"
                  class="collapse {% if forloop.index == 1 %}show{% endif %}"
                  aria-labelledby="{{ accordion_key }}heading-{{ forloop.index }}"
                  data-parent="#{{ accordion_key }}-accordion">
                  <div class="accordion-item-body pt-3">
                    {{ video.body }}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
  
          </div>
          <div class="video">
            <div class="d-flex justify-content-center align-items-center">
              <!-- <div class="bg-secondary shadow-primary d-flex justify-content-center align-items-center"
                style="width: 60px; height: 60px; position: absolute;">
                <img src="/assets/images/new-web/elite/play-icon.svg" />
              </div> -->
              <div>
                <iframe height="608" width="888" src="{{ item.videos.first.link }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row mb-3 pt-4">
          <div class="col-md-12 text-center">
            <button class="readmore-btn" style="font-size: 32px; color: initial; text-decoration: none; background: none;">
              <span>Read more</span> 
              <div style="transform: rotate(90deg);"><strong>></strong></div>
            </button>
          </div>
        </div>
      </div>
      <div class="container what-you-will-learn" style="display: none;">
        <div class="row py-4">
          <div class="col-md-12 text-center">
            <h3 style="font-size: 32px;">What you will learn?</h3>
          </div>
        </div>
        <div class="row mt-5 pb-5 justify-content-between">
          {% for l in item.learn %}
          <div class="px-0" style="width: 305px;">
            <div class="mb-4">
              <div class="checkmark checkmark d-flex">
                <div class="w-auto position-relative">
                  <img class="fore" style="width: 30px; height: 30px;" src="/assets/images/new-web/check_icon_fore.svg" />
                  <div class="back">
                    <img style="width:30px; height: 30px;" src="/assets/images/new-web/check_icon_back.png" />
                  </div>
                </div>
              </div>
            </div>
            <div>
              <p>{{ l | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            </div>
          </div>
          {% endfor %}
          <div class="col-md-8">
            <div class="mt-5">
              <div class="d-flex flex-column position-relative px-0 px-md-3">
  
                <div class="speech-bubble speech-bubble-bottom-right slide-top position-relative">
                  <div class="speech-bubble-back"></div>
                  <div class="speech-bubble-fore">
                    <p class="mb-0">{{ item.testimonial.body }}</p>
                  </div>
                </div>
                <div class="d-flex aling-items-center justify-content-end px-0 text-left mt-5 mr-3">
                  <div class="d-flex flex-column justify-content-center">
                    <p class="mb-0 lead"><b>{{ item.testimonial.name }}</b></p>
                    <p class="mb-0">{{ item.testimonial.title }}</p>
                  </div>
                  <div class="ml-3">
                    <img style="width: 72px; height: 72px; border-radius: 100%;" class="position-relative"
                      src="{{ item.testimonial.thumbnail }}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  
        <div class="row px-6 py-5 mt-5" style="background-color: #eff0f6;">
          <div class="px-4 col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h3 class="mb-0" style="font-size: 32px;">What you will learn?</h3>
              </div>
              <div class="col-md-12">
                <hr class="my-4">
              </div>
              <div class="col-md-6 pr-5">
                <p class="lead"><strong>Core Content:</strong> {{ item.core_content_summary }}</p>
                {% for content in item.core_content_items %}
                <div class="d-flex justify-content-between py-2" style="border-bottom: 1px solid #d3d6e5;">
                  <div>
                    <p class="mb-0"><strong>{{ content.title }}</strong></p>
                  </div>
                  <div>
                    <p class="mb-0">{{ content.subtitle }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="col-md-6 pl-5">
                <p class="lead"><strong>Bonus Content</strong></p>
                {% for content in item.bonus_content_items %}
                <div class="d-flex justify-content-between py-2" style="border-bottom: 1px solid #d3d6e5;">
                  <div>
                    <p class="mb-0"><strong>{{ content.title }}</strong></p>
                  </div>
                  <div>
                    <p class="mb-0">{{ content.subtitle }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
(() => {
  const modules = {
    {% for item in include.module %}
    {{ forloop.index0 }}: {
      name: "{{ item.name }}",
      videos: {
        {% for video in item.videos %}
          {{ forloop.index0 }}: "{{ video.link }}",
        {% endfor %}
      }
    },
    {% endfor %}
  };

  const sliderConfig = {
    infinite: false
  }
  const container = '#{{ include.container }}';
  const slider = $(`${container} .slider`).slick(sliderConfig);
  const prevBtns = $(`${container} .prev-btn`);
  const nextBtns = $(`${container} .next-btn`);
  const stickyNav = $(`${container} .sticky-nav`); 
  const stickyNavModuleName = stickyNav.find(`.module-name`); 
  const navItems = $(`${container} .nav-item`);
  const readmoreBtns = $(`${container} .readmore-btn`);
  const collapse = $(`${container} .collapse`);
  const videoIframe = $(`${container} .video iframe`);

  // Sticky header
  $(window).scroll(function() {
    const top = $(container).offset().top;
    const bottom = top + document.querySelector(container).getBoundingClientRect().height;
    const windowtop = $(window).scrollTop();

    if ((windowtop < bottom) && (windowtop > top)) {
      stickyNav.css('top', 0);
    } else {
      stickyNav.css('top', '99999px');
    }
  }); 
  
  slider.on('beforeChange', ((slick, index, currentSlide, nextSlide) => {
    navItems.each(function() {
      const index = $(this).attr('goto-slide');
      if (index == nextSlide) {
        stickyNavModuleName.text(modules[nextSlide].name);
        $(this).addClass('selected');
      } else {
        $(this).removeClass('selected');
      }
    });

    // remove all active classess
    slider.find('.active:not(.accordion-item)').each(function() {
      $(this).removeClass('active');
    });

    // close all readmore sections
    readmoreBtns.each(function() {
      updateReadmoreTextClose($(this));
    });
    slider.find('.what-you-will-learn').each(function() {
      $(this).slideUp();
    });

    // disable next & prev buttons if last
    prevBtns.each(function() {
        $(this).attr('disabled', (nextSlide == 0));
    });
    nextBtns.each(function() {
      $(this).attr('disabled', (document.querySelectorAll(`${container} .slick-slide`).length - 1 == nextSlide));
    })
  }));

  prevBtns.each(function() {
    $(this).click(() => slider.slick('slickPrev'));
  });
  nextBtns.each(function() {
    $(this).click(() => slider.slick('slickNext'));
  })

  navItems.each(function() {
    const index = $(this).attr('goto-slide');
    $(this).click(function(e) {
      slider.slick('slickGoTo', parseInt(index, 10));
    })
  })

  readmoreBtns.each(function() {
    $(this).click(function() {
      const section = $(this)
        .closest('.slider-item')
        .find('.what-you-will-learn');

      section.slideToggle(null, () => {
        section.is(':visible')
          ? updateReadmoreTextOpen($(this))
          : updateReadmoreTextClose($(this));
      });
    })
  });

  function updateReadmoreTextOpen(el) {
    $(el).find('span').text('Read less');
    $(el).find('div').css('transform', 'rotate(-90deg)');
  }
  function updateReadmoreTextClose(el) {
    $(el).find('span').text('Read more');
    $(el).find('div').css('transform', 'rotate(90deg)');
  }

  collapse.on('show.bs.collapse', function () {
    const item = $(this).parent('.accordion-item');
    const videoIndex = item.attr('video-index');
    const slideIndex = item.closest('.slider-item').attr('slide-index');

    const video = modules[slideIndex].videos[videoIndex];
    videoIframe.attr('src', video);
  });

})();
</script>