<div id="{{include.container}}" class="module-section {{ include.style }}">

  <div class="sticky-nav d-none d-md-flex align-items-center">
    
    <button class="prev-btn" disabled="true">
      <img src="/assets/images/new-web/elite/arrow_left_big.svg" />
    </button>
    <button class="next-btn">
      <img src="/assets/images/new-web/elite/arrow_left_big.svg" />
    </button>

    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col d-flex align-items-center">

          <strong class="mr-4">Module</strong>
          {% for item in include.module %}
          <div
            class="checkmark checkmark-number d-flex nav-item {% if forloop.index == 1 %}selected{% endif %} active"
            goto-slide="{{ forloop.index0 }}">
            <div class="w-auto position-relative">
              <div class="fore" style="height: 32px; min-width: 32px; padding-left: 10px; padding-right: 10px; padding-top: 2px;">
                {{ item.nav }}
              </div>
            </div>
          </div>
          {% endfor %}
          <span class="ml-2 mr-4" style="border-right: 1px solid #d8d8d8; height: 25px;"></span>
          <p class="mb-0 lead"><strong class="module-name">{{ include.module.first.name }}</strong></p>
        </div>
      </div>
    </div>
  </div>

<!--   <div class="slider-nav container mb-5">
    <button class="prev-btn d-none d-md-flex" disabled="true">
      <strong><</strong>
    </button>
    <button class="next-btn d-none d-md-flex">
      <strong>></strong>
    </button>

    <div class="row">
      <div class="col-md-12 d-flex flex-column flex-md-row align-items-center justify-content-center">
        <p class="title lead mb-0">
          {{ include.title | markdownify | remove: '<p>' | remove: '</p>' }}
        </p>
        <div class="module-buttons d-flex align-items-center">
          <div><p class="lead mb-0 pr-2 mr-4"><strong>Module</strong></p></div>
          {% for item in include.module %}
          <div
            class="checkmark checkmark-number d-flex nav-item {% if forloop.index == 1 %}selected{% endif %} active"
            goto-slide="{{ forloop.index0 }}">
            <div class="w-auto position-relative">
              <div class="fore">
                {{ item.nav }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div> -->
  
  <!-- SLIDE module -->
  <div class="slider">
    {% for item in include.module %}
    {% assign key = include.container | append: forloop.index %}
    {% assign video_key = key | append: '-video' %}

    <div class="slider-item" slide-index="{{ forloop.index0 }}" style="padding-top: 75px; padding-bottom: 75px;">
      <div class="container container-narrow">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="mb-4"><strong>{{ item.name }}</strong></h3>
            <p class="lead mb-0 mb-md-4">{{ item.description }}</p>
          </div>
        </div>
      </div>
      <div class="container mt-5 px-0 px-md-3">
        <div class="modulevideo-wrapper row flex-wrap flex-md-nowrap align-items-center mx-0">
          <div class="col video-selectors">
            
            <div class="accordion" id="{{ key }}-accordion">
              {% for acc in item.accordion %}
              <div
                class="accordion-item accordion-item-style2 position-relative {% if forloop.index == 1 %}active{% endif %}">
                <div class="accordion-item-header" id="{{ key }}heading-{{ forloop.index }}">
                  <p class="lead mb-0">
                    <button class="btn btn-link d-flex align-items-center justify-content-between px-0 w-100"
                      type="button" data-toggle="collapse" data-target="#{{ key }}collapse-{{ forloop.index }}"
                      aria-expanded="true" aria-controls="{{ key }}collapse-{{ forloop.index }}">
                      <p class="lead mb-0"> 
                        <strong>{{ acc.title }}</strong>
                      </p>
                      <div class="arrow">
                        <img src="/assets/images/new-web/elite/arrow_right.svg" />
                      </div>
                    </button>
                  </p>
                </div>
  
                <div id="{{ key }}collapse-{{ forloop.index }}"
                  class="collapse {% if forloop.index == 1 %}show{% endif %}"
                  aria-labelledby="{{ key }}heading-{{ forloop.index }}"
                  data-parent="#{{ key }}-accordion">
                  <div class="accordion-item-body pt-3">
                    {{ acc.body }}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
  
          </div>
          <div class="video">
            <div class="d-flex justify-content-center align-items-center">
              <a href="#{{ video_key }}" class="modal-btn btn btn-secondary btn-shadow shadow-primary bg-secondary d-flex justify-content-center align-items-center"
                style="width: 60px; height: 60px; position: absolute;">
                <img src="/assets/images/new-web/elite/play-icon.svg" />
              </a>
              <div class="placeholder-img">
                <script src="https://fast.wistia.com/embed/medias/fhtt4eaurn.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_fhtt4eaurn popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:600px;position:relative;width:1067px">&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container what-you-will-learn mt-4 mt-md-5">
        <div class="row py-4">
          <div class="col-md-12 text-center">
            <h3 class="large">What you will learn?</h3>
          </div>
        </div>
        <div class="row mt-5 pb-5 justify-content-between">
          {% if include.style == 'style2' %}
          {% assign testimonial_index = item.learn.size | minus: 1 %}
          {% assign testimonial_class = 'speech-bubble-bottom-left' %}
          {% assign testimonial_person_class = 'justify-content-start' %}
          {% assign testimonial_person_meta_class = 'order-2' %}
          {% assign testimonial_person_img_class = 'mr-3 order-1' %}
          {% else %}
          {% assign testimonial_index = item.learn.size %}
          {% assign testimonial_class = 'speech-bubble-bottom-right' %}
          {% assign testimonial_person_class = 'justify-content-end' %}
          {% assign testimonial_person_meta_class = 'order-1' %}
          {% assign testimonial_person_img_class = 'ml-3 order-2' %}
          {% endif %}

          {% capture testimonial %}
          <div class="testimonial-column col-md-8 px-4 px-md-0">
            <div class="mt-5">
              <div class="d-flex flex-column position-relative px-0 pr-md-3">
  
                <div class="speech-bubble {{ testimonial_class }} slide-top position-relative">
                  <div class="speech-bubble-back"></div>
                  <div class="speech-bubble-fore">
                    <p class="mb-0">{{ item.testimonial.body }}</p>
                  </div>
                </div>
                <div class="testimonial-person d-flex aling-items-center {{ testimonial_person_class }} px-0 text-left mt-5 mr-3">
                  <div class="testimonial-person-meta {{ testimonial_person_meta_class }} d-flex flex-column justify-content-center">
                    <p class="mb-0 lead"><b>{{ item.testimonial.name }}</b></p>
                    <p class="mb-0">{{ item.testimonial.title }}</p>
                  </div>
                  <div class="testimonial-person-img {{ testimonial_person_img_class }}">
                    <img style="width: 72px; height: 72px; border-radius: 100%;" class="position-relative"
                      src="{{ item.testimonial.thumbnail }}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endcapture %}

          {% for l in item.learn %}
          <div class="px-0 learn-item text-center text-md-left">
            <div class="mb-4">
              <div class="checkmark checkmark d-flex">
                <div class="checkmark-inner w-auto position-relative">
                  <img class="fore" style="width: 30px; height: 30px;" src="/assets/images/new-web/check_icon_fore.svg" />
                  <div class="back">
                    <img style="width:30px; height: 30px;" src="/assets/images/new-web/check_icon_back.png" />
                  </div>
                </div>
              </div>
            </div>
            <div>
              <p>{{ l | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            </div>
          </div>

          {% if forloop.index == testimonial_index %}
          {{ testimonial }}
          {% endif %}
          {% endfor %}
        </div>
          
        <div class="row px-6 py-5 mt-5" style="background-color: #eff0f6;">
          <div class="px-4 col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h3 class="mb-0 large text-center text-md-left">What you will learn?</h3>
              </div>
              <div class="col-md-12">
                <hr class="my-4">
              </div>
              <div class="module-content col-md-6 pr-md-5 mb-5 mb-md-0">
                <p class="lead text-center text-md-left"><strong>Core Content:</strong> {{ item.core_content_summary }}</p>
                {% for content in item.core_content_items %}
                <div class="module-content-item d-flex justify-content-between py-2">
                  <div>
                    <p class="mb-0"><strong>{{ content.title }}</strong></p>
                  </div>
                  <div>
                    <p class="mb-0">{{ content.subtitle }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="module-content col-md-6 pl-md-5">
                <p class="lead text-center text-md-left"><strong>Execution Content</strong></p>
                {% for content in item.bonus_content_items %}
                <div class="module-content-item d-flex justify-content-between py-2">
                  <div>
                    <p class="mb-0"><strong>{{ content.title }}</strong></p>
                  </div>
                  <div>
                    <p class="mb-0">{{ content.subtitle }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% for item in include.module %}
{% assign key = include.container | append: forloop.index %}
{% assign video_key = key | append: '-video' %}
{% include new-web/modal_iframe.html src=item.video.url id=video_key %}
{% endfor %}

<!-- <script>
(() => {
  const modules = {
    {% for item in include.module %}
    {{ forloop.index0 }}: {
      name: "{{ item.name }}",
    },
    {% endfor %}
  };

  const sliderConfig = {
    infinite: false,
    centerMode: false,
    centerPadding: 0
  }
  const container = '#{{ include.container }}';
  const slider = $(`${container} .slider`).slick(sliderConfig);
  const prevBtns = $(`${container} .prev-btn`);
  const nextBtns = $(`${container} .next-btn`);
  const stickyNav = $(`${container} .sticky-nav`); 
  const stickyNavModuleName = stickyNav.find(`.module-name`); 
  const navItems = $(`${container} .nav-item`);
  const collapse = $(`${container} .collapse`);
  const videoIframe = $(`${container} .video iframe`);

  if (window.matchMedia("(max-width: 720px)").matches) {
    $(`${container} .speech-bubble`)
      .removeClass('speech-bubble-bottom-right')
      .addClass('speech-bubble-bottom-left');
    $(`${container} .testimonial-person`)
      .removeClass('justify-content-end')
      .addClass('justify-content-start');
    $(`${container} .testimonial-person-meta`)
      .removeClass('order-1')
      .addClass('order-2');
    $(`${container} .testimonial-person-img`)
      .removeClass('ml-3 order-2')
      .addClass('mr-3 order-1');
      $(`${container} .testimonial-column`).css({
        order: 10
      })
  }

  // Sticky header
  $(window).scroll(function() {
    const top = $(container).offset().top;
    const bottom = top + document.querySelector(container).getBoundingClientRect().height;
    const windowtop = $(window).scrollTop();

    if ((windowtop < bottom) && (windowtop > top)) {
      stickyNav.css('top', 0);
    } else {
      stickyNav.css('top', '99999px');
    }
  }); 
  
  slider.on('beforeChange', ((slick, index, currentSlide, nextSlide) => {
    navItems.each(function() {
      const index = $(this).attr('goto-slide');
      if (index == nextSlide) {
        stickyNavModuleName.text(modules[nextSlide].name);
        $(this).addClass('selected');
      } else {
        $(this).removeClass('selected');
      }
    });

    // remove all active classess
    slider.find('.active:not(.accordion-item)').each(function() {
      $(this).removeClass('active');
    });

    // disable next & prev buttons if last
    prevBtns.each(function() {
        $(this).attr('disabled', (nextSlide == 0));
    });
    nextBtns.each(function() {
      $(this).attr('disabled', (document.querySelectorAll(`${container} .slick-slide`).length - 1 == nextSlide));
    })
  }));

  prevBtns.each(function() {
    $(this).click(() => slider.slick('slickPrev'));
  });
  nextBtns.each(function() {
    $(this).click(() => slider.slick('slickNext'));
  })

  navItems.each(function() {
    const index = $(this).attr('goto-slide');
    $(this).click(function(e) {
      slider.slick('slickGoTo', parseInt(index, 10));
    })
  });

})();
</script> -->