<!-- vars
text: string
font_weight: string (optional)
font_size: string (optional)
-->

{% assign font-weight = include.font_weight | default: 'bold' %}

<section class="pb-4 pt-0 px-0">
  <div class="container">
    <div class="col">
      <div id="desktop-stripes" class="position-relative">
        <img class="striped-bg img-fluid"
          src="/assets/images/new-web/striped_bg.jpg" />
          <div class="text-center d-flex">
            <span style="
                margin: auto;
                padding-left: 10px; 
                padding-right: 10px; 
                background: #fff;
                overflow: hidden;">{{ include.text | html }}</span>
          </div>
        
      </div>
    </div>
  </div>
</section>

<style>
  .striped-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    height: 15px;
    transform: translateY(-50%);
  }  
  @media only screen and (max-width: 720px) {
    .striped-bg {
      top: -30px;
      max-width: initial;
      left: -50%;
    }
  }
  @media only screen and (min-width: 500px) {
    #text-under-swipe {
      display:none;
    }
  }
</style>