<!-- vars
text: string
font_weight: string (optional)
font_size: string (optional)
-->

{% assign font-weight = include.font_weight | default: 'bold' %}

<section class="pb-4 pt-0 px-0">
  <div class="container">
    <div class="col">
      <div class="position-relative">
        <img style="position: absolute; z-index: -1; left: 0; top: 50%; height: 15px; transform: translateY(-50%);" class="img-fluid"
          src="/assets/images/new-web/striped_bg.jpg" />
          <div class="text-center">
            <p>
              <span style="
                font-weight: {{ font-weight }}; 
                {% if include.font_size %}font-size: {{ include.font_size }}px;{% endif %}
                {% if include.font_size %}line-height: {{ include.font_size | plus: 5 }}px;{% endif %} 
                padding-left: 10px; 
                padding-right: 10px; 
                background: #fff;">{{ include.text }}</span>
            </p>
          </div>
        
      </div>
    </div>
  </div>
</section>