<div class="p-4 client_vertical_box text-center text-md-left " style="background: {{ include.bgcolor }};">
  <div class="upper d-flex flex-column align-items-center justify-content-around text-center" style="height: 55%;">
    <img width="{{ include.logo_width }}" class="mb-5 mb-md-0 mt-3 mt-md-0" src="{{ include.logo }}" /> 
    <div>
      <h3>{{ include.headline }}</h3>
      <p>{{ include.subtitle }}</p>
    </div>
  </div>
  <hr class="bg-white" style="opacity: 0.2;">
  <div class="lower">
    <h4>{{ include.name }}</h4>
    <p>{{ include.content }}</p>
  </div>
</div>