.auth_login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
  z-index: 999;
  &__inner {
    width: 400px;
  }
  &__logo {
    width: 248px;
  }
  &__box {
    background-color: #eff0f6;
  }
  &__input_group {
    box-shadow: 14px 14px 0 0 #d4d7e1;
	}
	input {
		border-radius: 0 !important;
		height: 51px !important;
	}
}
