.accordion {
  $this: &;

  transition: background 1.5s ease;

  &__head {
    cursor: pointer;

    @media (min-width: breakpoint("medium")) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &.active {
      #{$this}__icon {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__icon {
    line-height: 0;

    svg {
      width: 12px;
      transition: transform 0.25s ease-in-out;
    }
  }

  &__content {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;

    &--border {
      border-bottom: 1px solid #dbdbdb;
    }
  }

  &__text {
    margin-top: 1rem;
  }
}
