.banner {
  background-image: url('./images/footer-banner.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
  margin-top: 2rem;
  margin-bottom: -10rem;
  text-align: left;

  @media (min-width: breakpoint('large')) {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  &__content {
    max-width: 580px;

    // & > * + * {
    //   margin-top: 2rem;
    // }
  }

  &__heading {
    font-size: 24px;

    @media (min-width: breakpoint('large')) {
      font-size: 30px;
    }

    @media (min-width: breakpoint('xlarge')) {
      font-size: 36px;
    }
  }
}
