.bonus {
  &__image {
    max-width: 300px;

    @media (min-width: breakpoint("medium")) {
      max-width: 400px;
    }
  }

  &__content {
    max-width: 50%;
  }

  &--first {
    padding-top: 6rem;
  }
}
