.button {
  $this: &;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.8rem;
  cursor: pointer;
  border: 0;
  border-radius: .4rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  color: color('secondary');
  transition: .2s;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: color(white);
    margin-left: 10px;
    margin-right: -5px;

    &-img {
      max-width: 8px;
    }
  }

  &--primary {
    color: #fff;
    background: color('primary');
  }

  &--white {
    background: color(white);
    color: color('primary');

    #{$this}__icon {
      background: color('primary');
    }

    #{$this}__icon-img {
      fill: color(white);
    }

    #{$this}__shadow {
      fill: color(white);
    }
  }

  &--shadow {
    box-shadow: 0 1rem 1rem rgba(0, 100, 191, .1);
  }

  &--rounded {
    border-radius: 2rem;
  }

  &--expanded {
    width: 100%;
  }
}
