.button {
  $this: &;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.8rem;
  cursor: pointer;
  border: 0;
  border-radius: .4rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
  color: color('secondary');
  transition: .2s;
  position: relative;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 27px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: -5px;

    & > * {
      width: 10px;
    }
  }

  &__info {
    position: absolute;
    bottom: 70px;
    right: -70px;
    text-transform: none;
    cursor: default;

    @media (min-width: breakpoint("small")) {
      bottom: 0;
      right: -150px;
    }
  }

  &__info-icon {
    position: absolute;
    right: -30px;
    bottom: 20px;
    width: 10px;
    transform: rotate(40deg);
    cursor: default;

    @media (min-width: breakpoint("small")) {
      bottom: -10px;
      transform: rotate(90deg);
    }
  }

  &--primary {
    color: #fff;
    background: color('primary');

    #{$this}__icon {
      background: color(white);

      svg {
        fill: color('primary');
      }
    }
  }

  &--white {
    background: color(white);
    color: color('primary');

    #{$this}__icon {
      background: color('primary');

      svg {
        fill: color(white);
      }
    }
  }

  &--shadow {
    box-shadow: 0 1rem 1rem rgba(0, 100, 191, .1);
  }

  &--gray-shadow {
    box-shadow: 0 1rem 1rem rgba(27, 33, 55, .1);
  }

  &--rounded {
    border-radius: 2rem;
  }

  &--expanded {
    width: 100%;
  }

  &--hidden {
    display: none;
  }
}
