.card {
  padding: 2rem;
  box-shadow: 0 2rem 5rem rgba(42, 42, 72, .1);
  border-radius: 0.3rem;
  position: relative;

  @media (min-width: breakpoint('medium')) {
    margin: 3rem;
    padding: 3rem;
  }

  &__about {
    position: absolute;
    width: 100%;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__arrow {
    position: absolute;
    top: -2rem;

    svg {
      width: 10px;

      @media (min-width: breakpoint('medium')) {
        width: 14px;
      }
    }

    &--left {
      left: 2rem;
      transform: scaleX(-1) rotate(-20deg);

      @media (min-width: breakpoint('large')) {
        left: 8rem;
      }
    }

    &--right {
      right: -2rem;
    }
  }

  &__content {
    @media (min-width: breakpoint('large')) {
      padding-left: 3rem;
      padding-right: 12rem;
    }
  }

  &__image {
    position: absolute;
    display: none;

    @media (min-width: breakpoint('large')) {
      display: block;
    }

    &--right {
      right: 0;
    }

    &--bottom {
      bottom: 1rem;
    }
  }

  &--white {
    background: color(white);
  }

  &--primary {
    background: color('primary');
    color: color(white);
  }

  &--secondary {
    background: color('secondary');
    color: color(white);
  }

  &--wider {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: breakpoint('medium')) {
      width: auto;
    }

    @media (min-width: breakpoint('large')) {
      margin-left: -6rem;
      margin-right: -6rem;
    }
  }

  &--small {
    margin: 1rem 0;
    padding: 0.8rem 2rem;
  }
}
