.cases {
    width: 100%;
  &__bg--right {
      background-image: url(./images/cases/case-svg.svg);
      width: 100%;
      height: 478px;
      position: relative;
      background-size: cover;
      background-position: center;
      @media (max-width: 767px) {
      height: auto;
    }
  }
  &__photo {
    height: 478px;
    width: 50%;
    overflow: hidden;
    & img {
      height: 478px;
    }
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
       & img {
      width: 100%;
      height: auto;
    }
    }
  } 
    &__content {
    width: 300px;
    z-index: 3;
    position: absolute;
    top: 60px;
    left: 56vw;
    font-size: 15px;
    line-height: 1.56;
    @media (max-width: 767px) {
      position: relative;
      width: 100%;
      min-height: 500px;
      left: auto;
      top: 0px;
      padding: 7%;
    }
    img {
      margin-left: -7px;
    }
    }
    &__client-photo {
      width: 55px;
      margin-top: 5px;
      margin-right: 7px;
      display: inline-block;
    }
    &__testimonial {
      display: inline-block;
      width: 230px;
      font-size: 13px;
      line-height: 1.29;
      color: #656a7d;
    }
  }
   a.link {
    color: #108dff;
    text-decoration: none;
    }
.testimonials {
  overflow: visible;

  @media (min-width: breakpoint('medium')) {
    padding: 2rem 6rem;
  }

  @media (min-width: breakpoint('large')) {
    margin: 2rem auto;
    padding-right: 10rem;
    padding-left: 10rem;
    overflow: hidden;
  }

  &__slider {
    box-sizing: border-box;
    padding: 4rem 0;
  }

  &__slide {
    margin: 0;

    @media (min-width: breakpoint('large')) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  &__button {
    display: inline-block;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: color('primary');
    border-radius: 50%;
  }
}
.flex-wrapper {
  height: 800px;
  display: flex;
}

.clients {
  &__box {
  min-width: 170px;
  margin: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  border-radius: 4px;
  background-color: blue;
}
 &__box--large {
  border-radius: 8px;
  background-color: darkblue;
  padding: 2%;
  height: 100%;
  width: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap-reverse;
  height: 800px;
}
.flex-column {
  width: 50%;
  flex: 0 auto;
  margin: 5px;
  @media (max-width: 767px) {
    width: 100%;
    height: 390px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
.animation {
    opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    transition: opacity 300ms, transform 300ms;
}
}

.tab-wrapper {
      display: flex;
    height: 460px;
    margin-right: -5px;
    margin-left: -5px;
    border-radius: 4px;
    @media (max-width: 768px) {
     display: block;
     width: 95%;
     margin: 0 auto;
      height: auto;
    }
}

.tab-column {
      position: relative;
    width: 50%;
    margin: 5px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    @media (max-width: 768px) {
     width: 100%;
     margin: 5px;
    }
}

.flexd {
    display: flex;
    margin: 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 4px;
}

.tab-full.image {
    background-color: #282e36;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
      @media (max-width: 768px) {
        height: 220px;
        width: calc(100% - 10px);
      }

}
.tab-full .square-content {
      max-width: 550px;
  @media (max-width: 480px) {
    font-size: 0.5rem;
    font-size: 14px;
    text-align: center;
    left: 15px;
    line-height: 1.39;
  }
  @media (max-width: 1024px) {
    font-size: 0.5rem;
    font-size: 15px;
    text-align: left;
    left: 15px;
    line-height: 1.39;
}
}
.client-link {
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    padding: 15px 24px 55px;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ff8f00;
    color: #fff;
    text-align: center;
}

.clients-heading {
  @media (max-width: 770px)
  {
  margin-left: 5%;
  }
}


.flex-square {
  & .peg {
  padding: 40px 10px 40px;
  background-color: #4e3134;
  }
    & .rchain {
    background-color: #e29797;
    padding: 35px 10px 40px;
  }
  & .switch {
    background-color: #576192;
  }
  & .alvalor {
    background-color: #282e36;
  }
}

.square-heading {
  color: white;
}

.flex-square {
    & a {
      max-height: 220px;
    }
    min-width: 170px;
    width: 200px;
    background-color: blue;
    margin: 5px;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    border-radius: 4px;
    background-color: transparent;
}

.w-inline-block {
    max-width: 100%;
}

.read {
    position: absolute;
    left: 0;
    right: 0;
}

.ralive .w-embed img {
    height: 90px;
    margin: 38px;
    @media (max-width: 768px) {
      display: none;
    }
}

.tab-full {
    top: 0;
    bottom: 0;
    border-radius: 4px;
    background-color: #282e36;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(40,46,54,.7)),to(#282e36));
    background-image: linear-gradient(180deg,rgba(40,46,54,.7),#282e36);
    background-position: 0 0;
    background-size: auto;
    color: #fff;
    @media (max-width: 767px) {
      width: 100%;
      display: block;
    }

}

.square-content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 5;
    padding-right: 150px;
}

.square-heading {
  width: 290px;
    margin-bottom: 6px;
    font-size: 1.6em;
    line-height: 1.3em;
    
    @media (max-width: 350px) {
      width: 270px;
    }
}

.square-mask {
  position: absolute;
    z-index: 2;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(40,46,54,.68)),to(#282e36));
    background-image: linear-gradient(180deg,rgba(40,46,54,.68),#282e36)
}

.flex-square a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.press-text {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.39;
  margin-top: 10px;
  max-width: 330px;
}

.flex-square {
  img {
    max-height: 50px;
    margin-bottom: 10px;
  }
  .alvalor img {
    height: 55px;
    margin-bottom: 8px;
  }
  .switch img {
    margin-bottom: 7px;
    height: 45px;
  }
}

.cases__big {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  height: 487px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  font-size: 15px;
  line-height: 1.56;
    @media (max-width: 768px) {
     display: block;
     width: 100%;
     margin: 0 auto;
    }
  .large-content {
    width: 50%;
    padding: 70px;
    margin-top: 30px;
    @media (max-width: 768px) {
    width: 90%;
    padding: 30px;
    height: 390px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
.content-text {
      width: 320px;
      margin: 20px 0px;
      @media (max-width: 768px) {
        width: 100%;
    }
  }
  .case-image {
    width: 50%;
    width: 590px;
    margin: auto;
        height: 377px;;
    background-image: url('./images/cases/klooker-photo.jpg');
    float: right;
    background-size: cover;
    background-position: center;
    @media (max-width: 768px) {
        width: 80%;
        float: none;
    margin-bottom: 40px;
    height: 200px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  }
  
}

.course {
  &__image {
    margin: 0 auto;
    width: 230px;
     @media (max-width: 768px) {
       width: 170px;
       & img {
         border-bottom: 1px solid grey;
       }
  }
}
}

.contact-form {
  background: #171d1d;
  color: #fff;
  & h2 {
    color: white;
  }
  height: 490px;
}

.banner {
  background-image: url('./images/footer-banner.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  margin-top: 2rem;
  margin-bottom: -10rem;
  text-align: left;

  @media (max-width: 768px) {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

.block-wrapper {
  display: block;
}
.inline-block {
  display: inline-block;
  @media (max-width: 424px) {
       width: 80%;
       margin-bottom: 18px;
  }
}