.cases {
    width: 100%;
  &__bg--right {
      background-image: url(./images/cases/case-svg.svg);
      width: 100%;
      height: 478px;
      position: relative;
      background-size: cover;
      background-position: center;
      @media (max-width: 767px) {
      height: auto;
    }
  }
  &__photo {
    height: 478px;
    width: 50%;
    overflow: hidden;
    & img {
      height: 478px;
    }
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
       & img {
      width: 100%;
      height: auto;
    }
    }
  } 
    &__content {
    width: 300px;
    z-index: 3;
    position: absolute;
    top: 60px;
    left: 56vw;
    font-size: 15px;
    line-height: 1.56;
    @media (max-width: 767px) {
      position: relative;
      width: 100%;
      min-height: 500px;
      left: auto;
      top: 0px;
      padding: 7%;
    }
    }
    &__client-photo {
      width: 55px;
      margin-top: 5px;
      margin-right: 7px;
      display: inline-block;
    }
    &__testimonial {
      display: inline-block;
      width: 230px;
      font-size: 13px;
      line-height: 1.29;
      color: #656a7d;
    }
  }

.testimonials {
  overflow: visible;

  @media (min-width: breakpoint('medium')) {
    padding: 2rem 6rem;
  }

  @media (min-width: breakpoint('large')) {
    margin: 2rem auto;
    padding-right: 10rem;
    padding-left: 10rem;
    overflow: hidden;
  }

  &__slider {
    box-sizing: border-box;
    padding: 4rem 0;
  }

  &__slide {
    margin: 0;

    @media (min-width: breakpoint('large')) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  &__button {
    display: inline-block;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: color('primary');
    border-radius: 50%;
  }
}
