.c {
  &--primary {
    color: color('primary');
  }

  &--secondary {
    color: color('secondary')
  }

  &--black {
    color: color(black);
  }

  &--white {
    color: color(white);
  }

  &--gray {
    color: #dbdbdb;
  }
}
