.discount {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 99;
  background: #3e96f3;
  box-shadow: 0 2rem 5rem rgba(42, 42, 72, .1);
  transition: .4s;
  visibility: visible;
  opacity: 1;
  color: #fff;
  display: flex;
  height: 185px;
  padding: 25px 10px 5px;

  @media(min-width: 1200px) {
    top: auto;
    bottom: 0;
    height: 94px;
    padding: 0;
  }

  > .container {
    padding: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media(min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;

    @media (min-width: 1200px) {
      max-width: 200px;
      font-size: 24px;
      text-align: left;
      margin-bottom: 0;
    }

    span {
      font-weight: 300;
    }
  }

  &__button {
    display: none;

    @media(min-width: 1200px) {
      display: inline-block;
      box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.19);
      background-color: #181d33;
      height: 95px;
      display: flex;
      align-items: center;
      padding: 0 30px;
    }
  }

  a {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
  }
  a:hover {
    color: #fff;
  }

  &--hidden {
    display: none;
  }

  &--mobile {
    visibility: hidden;
    opacity: 0;
  }
}
