.discount {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 2rem;
  z-index: 10;
  background: color(white);
  box-shadow: 0 2rem 5rem rgba(42, 42, 72, .1);
  display: none;

  @media(min-width: breakpoint('xxlarge')) {
    display: block;
  }

  &--hidden {
    display: none;
  }
}
