.faq {
  padding-top: 10rem;

  &__column {
    min-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;

    @media (min-width: breakpoint('medium')) {
      margin-top: 4rem;
    }
  }

  &__heading {
    padding: 1rem 2rem;
    text-transform: capitalize;
  }

  &__question {
    font-family: $font-family;
  }
}
