.footer {
  padding-top: 4rem;
  background: color('secondary');
  color: color('light-gray');

  &__bottom {
    margin-top: 4rem;
    padding: 2rem 0;
    border-top: 1px solid color('darker-gray');
  }

  &--lower {
    padding-top: 6rem;
  }

  &--light {
    background: color(white);
  }
}
