.handwriting {
  font-size: 26px;
  line-height: 1.5;
  font-family: $font-family-secondary;

  @media (min-width: breakpoint("medium")) {
    font-size: 28px;
  }

  &--primary {
    color: darken(color('primary'), 15%);
  }

  &--light {
    font-weight: normal;
    color: color('light-gray');
  }

  &--small {
    font-size: 22px;
  }
}
