.header {
  background: #fafafa;
  position: relative;
  padding-top: 3rem;

  &__wrapper {
    & > * + * {
      margin-top: 3rem;
    }
  }

  &__content {
    @media (min-width: breakpoint('medium')) {
      order: -1;
    }
  }
}
