.list {
  list-style: none;

  & > * + * {
    margin-top: 0.8rem;
  }

  li {
    position: relative;
    line-height: 1.8;

    &:before {
      content: '';
      position: absolute;
      top: 12px;
      left: -30px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: color('primary');
    }
  }

  &--checked {
    li {
      &:before {
        content: url('./images/icons/checkmark.svg');
        position: absolute;
        top: 8px;
        left: -40px;
        width: auto;
        height: auto;
        background: none;
      }
    }
  }

  &--checked-secondary {
    li {
      &:before {
        content: url('./images/icons/checkmark-dark.svg');
        position: absolute;
        top: 8px;
        left: -40px;
        width: auto;
        height: auto;
        background: none;
      }
    }
  }
}
