.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

  & > * + * {
    margin-top: 0.5rem;

    @media (min-width: breakpoint('medium')) {
      margin-top: 0.8rem;
    }
  }

  li {
    position: relative;
    line-height: 1.6;

    &:before {
      content: '';
      position: absolute;
      top: 12px;
      left: -30px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: color('primary');
    }
  }

  &--checked {
    li {
      &:before {
        content: url('./images/icons/checkmark.svg');
        position: absolute;
        top: 0;
        left: -40px;
        width: 12px;
        background: none;
      }
    }

    &-secondary {
      li {
        &:before {
          content: url('./images/icons/checkmark-dark.svg');
        }
      }
    }
  }

  &--gray {
    li {
      text-decoration: line-through;
      color: #dbdbdb;

      &:before {
        content: url('./images/icons/checkmark-grey.svg');
        position: absolute;
        top: 0;
        left: -40px;
        width: 12px;
        background: none;
      }
    }
  }
}
