.list {
  $this: &;

  list-style: none;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  & > * + * {
    margin-top: 0.5rem;

    @media (min-width: breakpoint('medium')) {
      margin-top: 0.8rem;
    }
  }

  li {
    position: relative;
    line-height: 1.6;

    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: -30px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: color('primary');
    }
  }

  &--checked {
    li {
      &:before {
        content: url('./images/icons/checkmark.svg');
        position: absolute;
        top: 3px;
        left: -40px;
        width: 14px;
        background: none;
      }
    }

    &-secondary {
      li {
        &:before {
          content: url('./images/icons/checkmark-dark.svg');
        }
      }
    }
  }

  &--gray {
    li {
      text-decoration: line-through;
      color: #dbdbdb;

      &:before {
        content: url('./images/icons/checkmark-grey.svg');
        position: absolute;
        top: 0;
        left: -40px;
        width: 12px;
        background: none;
      }
    }
  }

  &--numbers {
    padding: 0;

    li {
      display: flex;

      &:before {
        content: none;
      }
    }

    #{$this}__number {
      display: inline-block;
      min-width: 30px;
      max-width: 30px;
      height: 30px;
      margin-right: 15px;
      border: 1px solid lighten(color("light-gray"), 25%);
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
      font-size: 14px;
      color: color("primary");

      @media (min-width: breakpoint("large")) {
        margin-right: 40px;
      }
    }
  }

  &--flat {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--small {
    font-size: 16px;
  }
}
