.module {
  & > * + * {
    margin-top: 2rem;

    @media (min-width: breakpoint('medium')) {
      margin-top: 4rem;
    }
  }

  &__card {
    max-width: 430px;
    height: auto;

    @media (min-width: breakpoint('small')) {
      margin: 0 auto;
    }

    @media (min-width: breakpoint('medium')) {
      max-width: 490px;
      max-height: 500px;
    }
  }

  &__image {
    padding: 1rem;
  }

  &__steps {
    margin-top: 3rem;
    padding-left: 0;

    @media (min-width: breakpoint('medium')) {
      margin-top: 0;
    }

    & > * + * {
      margin-top: 1rem;
    }
  }

  &__content {
    margin-right: auto;
    margin-left: auto;

    @media (min-width: breakpoint('medium')) {
      max-width: 400px;

      & > * {
        height: auto;
        overflow: visible;
        border: none;
        cursor: default;
      }

      .accordion__icon {
        display: none;
      }
    }

    &-heading {
      font-size: 14px;
      color: color('primary');
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &-text {
      font-size: 16px;
      color: color('light-gray');

      &--small {
        font-size: 12px;
      }
    }

    &-list {
      & > * + * {
        margin-top: 2rem;
      }
    }
  }

  &__learn {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: breakpoint('medium')) {
      & > * {
        height: auto;
        overflow: visible;
        border: none;
        cursor: default;
      }

      .accordion__icon {
        display: none;
      }
    }

    @media (min-width: breakpoint('large')) {
      padding-right: 5rem;
    }
  }

  &__testimonial {
    margin-top: 8rem;
    margin-bottom: -6rem;
    position: relative;

    @media (min-width: breakpoint('medium')) {
      margin-bottom: -10rem;
    }

    @media (min-width: breakpoint('large')) {
      padding-right: 4rem;
      padding-left: 4rem;
      margin-right: 6rem;
      margin-top: 10rem;
    }

    &-text {
      width: 70%;
      position: absolute;
      top: -6rem;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 1rem;
      padding-right: 1rem;

      @media (min-width: breakpoint('small')) {
        width: auto;
        top: -4rem;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &-arrow {
      position: absolute;
      top: 4rem;
      right: 0;

      svg {
        width: 12px;

        @media (min-width: breakpoint('small')) {
          width: 14px;
        }
      }

      @media (min-width: breakpoint('small')) {
        top: 3rem;
        right: -2rem;
      }
    }

    &-quote {
      padding: 0 1rem;
      font-family: $font-family-headings;
      font-style: italic;
      line-height: 1.6;

      @media (min-width: breakpoint('large')) {
        padding: 0 4rem;
      }
    }

    &-author {
      & > * + * {
        padding: 0;
        line-height: 1.6;
      }
    }

    &-img {
      max-width: 40px;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
