.nav {
  &__list {
    list-style: none;
    padding: 0;

    & > * + * {
      margin-left: 2.5rem;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: color(gray);

    &--active {
      color: color(black);
    }
  }
}
