.price {
  max-width: 420px;
  font-family: 'Averta', 'Helvetica Neue';
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  &__header {
    padding: 3rem 2rem;
    padding-bottom: 1rem;
    background: color('primary');
    border-radius: 0.3rem 0.3rem 0 0 ;
    color: #fff;
    line-height: 1.6;

    @media (min-width: breakpoint("medium")) {
      padding: 3rem;
    }

    &--secondary {
      background: color('secondary');
    }
  }

  &__heading {
    font-weight: bold;
    font-family: 'Averta', 'Helvetica Neue';
    color: #fff;
  }

  &__content {
    padding: 3rem 2rem;

    @media (min-width: breakpoint("small")) {
      padding-right: 3rem;
      padding-left: 3rem;
    }

    & > * + * {
      margin-top: 2rem;
    }

    &-heading {
      font-size: 14px;
      font-weight: 600;
      font-family: 'Averta', 'Helvetica Neue';
    }
  }

  &__button {
    display: flex;
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
  }

  &__current-price {
    display: inline;
    font-size: 62px;
    position: relative;
    margin-right: 2rem;

    @media (min-width: breakpoint("xlarge")) {
      font-size: 84px;
    }

    &:before {
      content: '$';
      position: absolute;
      top: -5px;
      left: -15px;
      font-size: 18px;

      @media (min-width: breakpoint("xlarge")) {
        font-size: 24px;
      }
    }

    &--center {
      margin-right: 0;
    }
  }

  &__old-price {
    display: inline;
    text-decoration: line-through;
    color: color('light-gray');
    position: relative;
    font-weight: 400;

    &:before {
      content: '$';
      position: absolute;
      top: -5px;
      left: -10px;
      font-size: 14px;
    }
  }
}
