.quote {
  margin: 3rem 0;
  padding-left: 1rem;
  border-left: 1px solid #116dc7;
  font-size: 24px;
  font-family: $font-family-headings;
  color: color(black);
  font-size: 21px;
  line-height: 1.8;

  @media (min-width: breakpoint("medium")) {
    padding-left: 2.5rem;
  }

  @media (min-width: breakpoint('large')) {
    font-size: 24px;
  }

  @media (min-width: breakpoint('xlarge')) {
    font-size: 30px;
  }

}
