.section {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: breakpoint('medium')) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &__aside {
    display: none;

    @media (min-width: breakpoint('medium')) {
      display: block;
      min-width: 110px;
      max-width: 150px;
    }

    @media (min-width: breakpoint('large')) {
      min-width: 100px;
      max-width: 220px;
    }
  }

  &__heading {
    line-height: 1.6;
  }

  &__content {
    @media (min-width: breakpoint('large')) {
      padding-right: 3rem;
    }
  }

  &--gray {
    background: color('lighter-gray');
  }

  &--small {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (min-width: breakpoint('medium')) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  &--first {
    @media (min-width: breakpoint('medium')) {
      padding-top: 10rem;
    }
  }
}
