.slide {
  &__image {
    max-height: 200px;
    text-align: center;

    @media (min-width: breakpoint('medium')) {
      max-width: 350px;
      max-height: 280px;
    }

    img {
      max-height: 250px;

      @media (min-width: breakpoint('medium')) {
        max-height: 400px;
      }
    }
  }

  &__content {
    max-width: 50%;
    font-style: italic;
    line-height: 1.6;
    text-align: center;

    @media (min-width: breakpoint('medium')) {
      text-align: left;
    }
  }

  &__author {
    font-style: normal;
  }

  &__author-position {
    font-style: normal;
  }
}
