.timer {
  display: inline;
  text-align: right;
  padding-top: 1rem;
  text-align: center;

  @media(min-width: breakpoint('xlarge')) {
    text-align: right;
  }

  &__item {
    display: inline-block;
    text-align: center;

    span {
      display: inline-block;
      width: 30px;
      padding: 5px 0;
      background: lighten(color('secondary'), 72%);
      border-radius: 4px;
      line-height: 1.8;
      font-size: 14px;
      font-weight: 600;

      @media(min-width: breakpoint('medium')) {
        font-size: 18px;
      }
    }

    p {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 600;

      @media(min-width: breakpoint('medium')) {
        font-size: 12px;
      }
    }
  }
}
