.timer {
  display: inline;
  text-align: right;
  padding-top: 1rem;
  text-align: center;

  @media(min-width: 1200px) {
    text-align: right;
  }

  &__item {
    display: inline-block;
    text-align: center;
    margin-top: 7px;

    span {
      display: inline-block;
      width: 30px;
      height: 48px;
      padding: 4px 0;
      background: #fff;
      line-height: 1.8;
      font-size: 22px;
      font-weight: 300;
      color: initial;
    }

    p {
      font-size: 10px;
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 0;

      @media(min-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .jsTimer {
    display: flex;
    justify-content: space-between;
    width: 320px;

    .separator {
      font-size: 22px;
      position: relative;
      top: 15px;
    }
  }
}
