.timer {
  display: inline;
  text-align: right;

  &__item {
    display: inline-block;
    width: 24px;
    background: lighten(color('secondary'), 72%);
    border-radius: 4px;
    text-align: center;
  }
}
