.video {
  position: relative;

  &__header {
    position: absolute;
    bottom: 4rem;
    left: 0;
    width: 100%;

    &--static {
      position: static;
      margin-top: 3rem;
    }
  }

  &__image {
    max-width: 120%;
    margin-right: -10%;
    margin-left: -10%;
  }

  &__heading {
    margin-top: 0;
  }

  &__button {
    max-width: 140px;
  }

  &--secondary {
    background: color('secondary');
  }

  &--bottom {
    margin-bottom: -10rem;
  }
}
