.video {
  position: relative;

  &__header {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;

    @media (min-width: breakpoint("medium")) {
      bottom: 4rem;
    }

    &--static {
      position: static;
      margin-top: 3rem;
    }
  }

  &__image {
    max-width: 120%;
    margin-right: -10%;
    margin-left: -10%;
  }

  &__heading {
    margin-top: 0;
    padding-right: 2rem;
  }

  &__button {
    max-width: 140px;
  }

  &--secondary {
    background: color('secondary');
  }

  &--bottom {
    margin-bottom: -10rem;
  }
}
