<section id="hero" class="hero">
	<div class="hero__inner container d-flex flex-column align-items-center justify-content-center pb-5">
		<div class="row justify-content-center text-center mb-5">
			<div class="col-md-12">
				<div style="width: 500px; max-width: 100%">
					{% include new-web/animated-logo.html id="hero-logo" %}
				</div>
			</div>
		</div>
		<div  style="width: 800px; max-width: 100%">
			<div class="video-wrapper shadow-secondary" style="box-shadow: 20px 20px 0px var(--secondary);">
				<script src="https://fast.wistia.com/embed/medias/eap2y2f006.jsonp" async></script>
				<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
				<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
					<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
						<div class="wistia_embed wistia_async_eap2y2f006 videoFoam=true" style="height:100%;position:relative;width:100%">
							<div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
								<img src="https://fast.wistia.com/embed/medias/eap2y2f006/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>