<div>
  <div class="wrapper container container--small ta-c">
    {% if page.heading %}
      <h2 class="h1">{{ page.heading }}</h2>
    {% endif %}

    {% if page.text %}
      <p>{{ page.text }}</p>
    {% endif %}
  </div>

  <div>
    {{ content }}
        <div class="wrapper container container--large">

        <iframe src="https://player.vimeo.com/video/241293066" width="768" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>        
      </div>

    </div>
  </div>
</div>
