<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} Case Study - {{ site.title }}</title>
    <meta name="robots" content="noindex,nofollow">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/new-web/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/new-web/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/new-web/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/new-web/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/new-web/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/new-web/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/new-web/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/new-web/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/images/new-web/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/images/new-web/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/images/new-web/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/images/new-web/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/images/new-web/favicon-128.png" sizes="128x128" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/assets/images/new-web/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/images/new-web/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/images/new-web/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/images/new-web/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/images/new-web/mstile-310x310.png" />

    <link rel="stylesheet" href="{{ "/assets/casestudy.css" | relative_url }}">

    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
      crossorigin="anonymous"
		></script>
		
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M44383W"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  </head>
  <body>

    <!-- Header -->
    {% include new-web/blog-header.html %}

    <div class="mx-auto" style="max-width: 1040px; margin-top: -20px;">
			<hr class="mb-0" style="color: #E7E8EA" />
		</div>
    
		<!-- Hero section -->
    {% include casestudy/section-hero.html %}

		<!-- Content section -->
    <div id="content" class="container mt-5 pt-4 content">
			<div class="row">
				<div class="col-md-12">
					{{ content }}
				</div>
			</div>
		</div>

		<!-- Tags section -->
    {% include casestudy/section-tags.html %}

    <!-- Related studies section -->
    {% include casestudy/section-related_studies.html %}

		<!-- Contact section -->
    {% include casestudy/section-contact.html %}

    <!-- Footer -->
    {% include new-web/footer.html %}

    <script>
      window.onload = function() {
        AOS.init();
      }
    </script>
    
    <!--- Linkedin Pixel --->
        <script type="text/javascript">
    _linkedin_partner_id = "1853889";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1853889&fmt=gif" />
    </noscript>

  </body>
</html>