<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include christmas-header.html %}

    <main id="get-started">
      <section class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside">
          </div>

          <div class="grid__column">
            <h3 id="aintmagic"class="section__heading h3">You're getting early access to our <i>flagship product,</i><b><br>with a 30% discount!!</b></h3>
          <a class="button button--primary button--rounded button--shadow jsScrollDownBtn" href="/elite" target="_blank">Check it out now <b>↘︎</b></a>
          <p><i> Valid for the next ±2 days. It takes a few moments for your discount to become active!</i></p>
            <br>
          <h3>If you’d like to help us further improve our free products, feel free to drop some feedback below.</h3>
            <div class="section__content">
          <script type="text/javascript" src="https://form.jotform.me/jsform/83340734695463"></script>

          </div>
        </div>
          <div class="grid__column section__aside"></div>
          </div>  
      </section>  
    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
