<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="main">

      {% for section in site.sections %}
        <section class="section">
          {{ section }}
        </section>
      {% endfor %}

      {% for module in site.modules %}
        <section class="section">
          {{ module }}
        </section>
      {% endfor %}

      {% for bonus in site.bonuses %}
        {% assign i = forloop.index | modulo: 2 %}
        <section class="section bonuses">
          <div class="bonus container container--large">
            <div class="grid grid--justify grid--stackable {% if i == 0 %}grid--reversable {% endif %}">
              {{ bonus }}
            </div>
          </div>
        </section>
      {% endfor %}

      <section class="section">
        <div class="container container--medium">
          {% include choose-plan.html %}
        </div>

        <div class="container container--large">
          <div class="grid grid--stackable grid--center">
            {% for price in site.prices %}
              <div class="grid__column price card card--white">
                {{ price }}
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="faq section">
        {% include faq.html %}
      </section>

      <section class="section">
        <div class="testimonials container container--medium">
          <h2 class="ta-c">Here's what others say about us...</h2>
          {% for testimonial in site.testimonials %}
            <div class="card card--white">
              {{ testimonial }}
            </div>
          {% endfor %}
        </div>
      </section>

    </main>

    {% include footer.html %}

  </body>
</html>
