<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="main">

      {% for section in site.sections %}
        <section class="section">
          {{ section }}
        </section>
      {% endfor %}

      {% for module in site.modules %}
        <section class="section">
          {{ module }}
        </section>
      {% endfor %}

      {% for bonus-info in site.bonuses limit: 1 %}
        <section class="section">
          {{ bonus-info }}
        </section>
      {% endfor %}

      {% for bonus in site.bonuses offset: 1 %}
        {% assign i = forloop.index | modulo: 2 %}
        <section class="section">
          <div class="wrapper container container--large">
            <div class="grid grid--justify grid--middle grid--stackable {% if i == 0 %}grid--reversable {% endif %}">
              {{ bonus }}
            </div>
          </div>
        </section>
      {% endfor %}

      <section class="section">
        <div class="wrapper container container--xlarge">
          {% include choose-plan.html %}
        </div>

        <div class="wrapper container container--medium">
          <div class="grid grid--stackable grid--center grid--middle">
            {% for price in site.prices %}
              <div class="grid__column">
                <div class="price card card--white">
                  {{ price }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="faq section">
        {% include faq.html %}
      </section>

      <section class="section">
        <div class="wrapper container container--xlarge">
          <h2 class="ta-c">Here's what others say about us...</h2>
          <div class="testimonials swiper-container">
            <div class="testimonials__slider swiper-wrapper">
              {% for testimonial in site.testimonials %}
                <div class="testimonials__slide card card--white swiper-slide">
                  {{ testimonial }}
                </div>
              {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>

    </main>

    {% include footer.html %}

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
