<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="main">

      {% for section in site.sections %}
        <section class="section">
          {{ section }}
        </section>
      {% endfor %}

      {% for module in site.modules %}
        <section class="section">
          {{ module }}
        </section>
      {% endfor %}

      {% for bonus in site.bonuses %}
        {% assign i = forloop.index | modulo: 2 %}
        <section class="section bonuses">
          <div class="bonus container container--large">
            <div class="grid grid--justify grid--stackable {% if i == 0 %}grid--reversable {% endif %}">
              {{ bonus }}
            </div>
          </div>
        </section>
      {% endfor %}

    </main>

    {% include footer.html %}

  </body>
</html>
