{% if page.heading %}
  <h3 class="faq__heading heading h4">{{ page.heading }}</h3>
{% endif %}

{% for question in page.faq %}
  {% for item in question %}

    <div class="card card--white card--small accordion jsAccordion">
      <div class="grid grid--gapeless grid--justify grid--middle accordion__head jsAccordionHead">
        <h4 class="faq__question heading h6">{{ item[0] }}</h4>

        <span class="accordion__icon">
          {% include_absolute icons/chevron-down.svg %}
        </span>
      </div>
      <div class="accordion__content jsAccordionContent">
        <p class="accordion__text paragraph jsAccordionTxt">{{ item[1] }}</p>
      </div>
    </div>

  {% endfor %}
{% endfor %}
