<header class="header section">
  <div class="header__wrapper wrapper container container--xlarge">
    <a class="logo" href="{{ site.url }}">
      {% include_absolute logo/Growthcasts.svg %}
    </a>
    <div class="grid grid--middle grid--stackable grid--justify">
      {% if page.image %}
      <div class="grid__column">
        <img class="image" src="{{ "./assets/images/" | append: page.image }}" alt="">
      </div>
      {% endif %}

      <div class="grid__column header__content">
        {% if page.heading %}
        <h1 class="heading">{{ page.heading }}</h1>
        {% endif %}

        {% if page.text %}
        <p class="paragraph">{{ page.text }}</p>
        {% endif %}

        {% if page.button_text %}
        <a class="button button--primary button--rounded button--shadow jsScrollDownBtn" href="#get-started">
          {{ page.button_text }}
          <span class="button__icon">
            {% include_absolute icons/arrow-down.svg %}
          </span>
        </a>
        {% endif %}
      </div>
    </div>

    {% if page.sales-nav %}
    <button class="menu-button menu-button--primary menu-button--bottom button jsMenuBtn">
      <span class="menu-button__item"></span>
      <span class="menu-button__item"></span>
      <span class="menu-button__item"></span>
    </button>
    {% endif %}
  </div>

  {% if page.sales-nav %}
  <div class="offcanvas jsOffcanvas">
    <div class="offcanvas__body">
      {% include sales-nav.html %}
    </div>
  </div>
  {% endif %}
</header>
