<div class="wrapper container container--xlarge ta-c">
  {% if page.small_heading %}
    <p class="handwriting handwriting--small handwriting--light">{{ page.small_heading }}</p>
  {% endif %}

  {% if page.heading %}
    <h2 class="heading h1">{{ page.heading }} </h2>
  {% endif %}

  {% if page.underline %}
    <span class="underline">
      {% include_absolute icons/underline-short.svg %}
    </span>
  {% endif %}

  {% if page.desc %}
    <p>{{ page.desc }}</p>
  {% endif %}

  {% if page.image %}
    <img class="image space" src="{{ "./assets/images/" | append: page.image | relative_url}}" alt="">
  {% endif %}
</div>
