<header class="ta-c">
  <h3 class="handwriting handwriting--small handwriting--light">{{ page.title }}</h3>

  <h2 class="heading">{{ page.heading }} </h2>

  {% if page.underline %}
    <span class="underline">
      <span class="underline">
        <img class="underline__img" src="{{ "./assets/images/underlines/underline-short.svg" }}" alt="">
      </span>
    </span>
  {% endif %}
  <p>{{ page.desc }}</p>

  <img class="image space" src="{{ "./assets/images/" | append: page.image | relative_url}}" alt="">
</header>
