<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include klooker-header.html %}

    <main id="get-started">
      <section class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside">
          </div>
          <div class="grid__column">
            <h2 id="aintmagic" class="section__heading h2 ta-c"><b>Our connection with Klooker</b><br> <b><span class="h5 ta-c">A Dutch startup that helps busy people have a sustainable and eco-friendly life</span></b></h2>
            <div class="section__content">
                <h3><b>How we got people to care</b></h3>
                <p> When we got to know Klooker, they were just starting up. A founder and a remote dev team looking for marketing help. At the start Klooker was heading for an on-demand e-commerce platform, trying to build a personal shopper for your day to day products. </p>

                <p>
                Although this was too big of a dream to realize, Klooker managed to reinvent itself. From personal shopper to personal eco-lifestyle assistant. Establishing itself in the competitive sustainability market, Klooker managed to acquire 2000+ paying subscribers and start in 3 countries in its first year!</p>
                <br>
                <center>
                 <img src="/assets/images/klooker-logos.png" alt="" style="width:100%;height:auto;border:0;">
                </center> 
                <br>
                <h3><b>What we did for them</b></h3>
                <img src="/assets/images/logos/fb.png" alt="" style="width:40px;height:auto;border:0; float:left;margin-left:-80px;"> 
                <h4>Paid ads</h4>From the start we've been designing the facebook ads, from scratch. Optimizing them over time, we've managed to bring the CPA down about 400% from it's original price.
                <br>
                From the start we've been designing the facebook ads, from scratch. Optimizing them over time, we've managed to bring the CPA down about 400% from it's original price.
              </div>
            <div class="section__content">
                <img src="/assets/images/klooker-activation.png" alt="" style="width:30%;height:auto;border:0; float:right;padding-top: 1rem;"> 
                <img src="/assets/images/logos/squarespace-logo.jpg" alt="" style="width:70px;height:auto;border:0; float:left;margin-left:-80px;">    
                <h4>Onboarding and Activation</h4>                   
                <p>From the start we've been designing the facebook ads, from scratch. Optimizing them over time, we've managed to bring the CPA down about 400% from it's original price.
                <br><br>
                From the start we've been designing the facebook ads, from scratch. Optimizing them over time, we've managed to bring the CPA down about 400% from it's original price.
                </p>
              </div>
            <div class="section__content">
                <img src="/assets/images/logos/Mailchimp.png" alt="" style="width:60px;height:auto;border:0; float:left;margin-left:-80px;"> 
                <h4>Email Marketing</h4>From the start we've been designing the facebook ads, from scratch. Optimizing them over time, we've managed to bring the CPA down about 400% from it's original price.
                <br>
                From the start we've been designing the facebook ads, from scratch. Optimizing them over time, we've managed to bring the CPA down about 400% from it's original price.
              </div>
            <div class="section__content">
                <img src="/assets/images/logos/drip-logo.png" alt="" style="width:50px;height:auto;border:0; float:left;margin-left:-80px;margin-top:5px;">  
                <h4>Retention</h4>                      
                <p>From the start we've been designing the facebook ads, from scratch. Optimizing them over time, we've managed to bring the CPA down about 400% from it's original price.
                <br><br>
                From the start we've been designing the facebook ads, from scratch. Optimizing them over time, we've managed to bring the CPA down about 400% from it's original price.
                </p>
            <div class="section__content">
                <img src="/assets/images/logos/trusk-logo.png" alt="" style="width:75px;height:auto;border:0; float:left;margin-left:-90px;margin-top:5px;"> 
                <h4>Field Marketing and Street Sales</h4>
                <p>From the start we've been designing the facebook ads, from scratch. Optimizing them over time, we've managed to bring the CPA down about 400% from it's original price.
                <br>
                From the start we've been designing the facebook ads, from scratch. Optimizing them over time, we've managed to bring the CPA down about 400% from it's original price. 
                </p>
                <center>
                  <img src="/assets/images/trusk-sales.jpg" alt="" style="width:60%;height:auto;border:0;"></center>
                </div>
              </div> 
            <div class="section__content">
                <h3>What we've learned</h3>
                <p>
                Klooker is now profitable, with 3500+ paying subscribers, and a steady growing user base. We're proud that we've helped Dennis build this from the ground up and is now helping thousands of people live a more conscious and sustainable life.</p>
                <p>
                This was not always the case. One of the major things we learned from working with Klooker was the importance of focus. Focusing on the right things vs the wrong ones can make all the difference between success and failure.</p>
                <p>
                In the case of Klooker, the focus was too much at perfecting the product, at the start. When we made the pivot, we've shifted the focus completely towards testing. By starting with only a barebones (idea of a) product, we could test (and change) the messaging, pricing, branding and even the very core of the product itself to align with our customers wishes.</p>
              </div>
              <img src="/assets/images/klooker-now.png" alt="" style="width:100%;height:auto;border:0;">
            </div>
            <div class="grid__column section__aside"></div>
          </div>
                


                <div class="section">
                  <div class="wrapper container container--xlarge">
                    <h3 class="ta-c h3">Some of the nice things others have said about my work…<br><i>the emails Pieter will find for us :D</i></h3>
                    <div class="testimonials swiper-container jsSwiper2">
                      <div class="testimonials__slider swiper-wrapper">
                        {% for testimonial in site.testimonials %}
                          <div class="testimonials__slide card card--white swiper-slide">
                            {{ testimonial }}
                          </div>
                        {% endfor %}
                      </div>

                      <div class="swiper-pagination jsSwiperPagination2"></div>
                    </div>
                </div>

          <center>
            <h3> Klooker is so amazing testimonials..</h3>
          <img src="/assets/images/quickfix-testimonial.png" alt="" style="width:80%;height:auto;border:0;">
        </center>
                    <span class="ta-c" style="  font-family: 'Averta', 'Helvetica Neue';background: #2a3048; color: #a0a4b1;">
                    <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p></span>
                    </div>
                </div>
              </div></div>
            </section>
    </main>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
