<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <main>
      <div class="header header--full">
        <div class="wrapper section section--lead-gen container container--xlarge">
          <div class="grid grid--middle grid--stackable grid--justify">
            <div class="grid__column header__content">
              {% if page.page-headline %}
                <h3 class="heading tac">{{ page.page-headline }}</h3>
              {% endif %}
           <br>
            <div class="grid">
              <iframe class="resp-iframe" src="https://player.vimeo.com/video/329990055?autoplay=1" frameborder="0" style="margin-top: 8rem; width: 140%; margin-left:-6rem;"></iframe>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br><br>

        <div class="wrapper section section--lead-gen container container--xlarge">
          <div class="grid grid--middle grid--stackable grid--justify">
            <div class="grid__column header__content">
      <div class="banner__content">
        <!-- <h3 class="banner__heading h2 c--white">{{ include.page-heading }}</h3> -->
        <div class="modal jsModal" id="join-the-course">
          <div class="modal__background jsModalBg"></div>

          <div class="modal__content jsModalBg">
            <div class="modal__form container container--medium">
              <h3>{{ page.popup-headline }}</h3>

              <p>{{ page.popup-text }}</p>

              <form class="form" action="https://www.getdrip.com/forms/277204824/submissions" method="post" data-drip-embedded-form="277204824">
                <div class="form__content grid grid--gapeless grid--center grid--middle">
                  <div class="grid__column">
                    <div class="form-group form-group--narrow container">
                      <label class="form-group__label" for="email">Email</label>

                      <input class="form-group__input" type="email" name="fields[email]" id="email" placeholder="type@youremail.com">
                    </div>
                  </div>

                  <div class="grid__column">
                    <button type="submit" class="button button--primary button--rounded button--shadow"  data-drip-attribute="sign-up-button">
                      {{ page.popup-button}}

                      <span class="button__icon">
                        {% include_absolute icons/arrow-down.svg %}
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

              <a class="button button--primary button--rounded button--shadow jsModalButton" href="#join-the-course">
                {{ page.button }}


                <span class="button__info handwriting handwriting--small handwriting--light">It's<span class="underline underline--medium"> FREE</span></span>
                <span class="button__info-icon">
                  {% include_absolute icons/module-arrow.svg %}
                </span>
        </a>
      </div>

<div class="module__testimonial card " style="margin-top: 1rem">
         <p class="module__testimonial-quote ta-c c--secondary" style="font-size: 24px">At first I was a bit skeptical, but the course gave me a lot of really useful insights!</p> 

        <div class="module__testimonial-author grid grid--middle grid--center grid--gapeless grid--stackable">
            <img class="module__testimonial-img image" src="./assets/images/Robin van Ittersum.png" alt="mijgoed.jpg">

            <span class="c--secondary t--bold">Robin van Ittersum,</span>

            <span>&nbsp;Founder Osnap</span>
        </div></div>

              {% if page.subheading %}
                <p class="heading h3">{{ page.subheading }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
