<div class="module wrapper container container--xlarge">
  <header class="ta-c">
    {% if page.small_heading %}
      <h3 class="handwriting handwriting--small handwriting--light">{{ page.small_heading }}</h3>
    {% endif %}

    {% if page.heading %}
      <h2 class="heading h1">{{ page.heading }}</h2>
    {% endif %}

    {% if page.underline %}
      <span class="underline">
        {% include_absolute icons/underline-short.svg %}
      </span>
    {% endif %}

    {% if page.desc %}
      <p>{{ page.desc }}</p>
    {% endif %}
  </header>

  <div class="grid grid--justify grid--stackable grid--middle {% if page.reverse %}grid--reversable{% endif %}">
    <div class="grid__column">
      <div class="module__card card card--white">
        {% if page.image %}
          <img class="module__image image" src="{{ "./assets/images/modules/" | append: page.image }}" alt="">
        {% endif %}
      </div>
    </div>

    <div class="module__steps grid__column">
      {% for step in page.steps %}
      {% assign i = forloop.index %}
        {% for item in step %}
          <div class="step grid grid--gapeless grid--justify">
            <div class="step__number grid__column">
              <p class="paragraph">{{ i }}</p>
            </div>

            <div class="grid__column">
              <h3 class="heading h4">{{ item[0] }}</h3>

              <p class="step__desc paragraph">{{ item[1] }} </p>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="container container--large">
    <div class="grid grid--space grid--stackable">
      <div class="module__content grid__column accordion jsAccordion">
        <div class="grid grid--gapeless grid--justify grid--middle accordion__head jsAccordionHead">
          <h3>Inside this module</h3>
          <span class="accordion__icon">
            {% include_absolute icons/chevron-down.svg %}
          </span>
        </div>

        <div class="accordion__content accordion__content--border jsAccordionContent">
          <div class="module__content-list jsAccordionTxt">
          <div>
            {% if page.core[0] %}
              {% for item in page.core[0] %}
                <div class="grid grid--gapeless grid--justify">
                  <p class="module__content-heading paragraph tt-u">{{ item[0] }}</p>

                  <p class="module__content-text module__content-text--small paragraph">{{ item[1] }} </p>
                </div>
                {% endfor %}
            {% endif %}

            {% for core in page.core offset: 1 %}
              {% for item in core %}
                <div class="grid grid--gapeless grid--justify grid--middle">
                  <p class="module__content-text paragraph">{{ item[0] }}</p>

                  <p class="module__content-text module__content-text--small paragraph">{{ item[1] }} </p>
                </div>
              {% endfor %}
            {% endfor %}
          </div>

          <div>
            {% if page.core[0] %}
              {% for item in page.bonus[0] %}
                <div class="grid grid--gapeless grid--justify">
                  <p class="module__content-heading paragraph tt-u">{{ item[0] }}</p>

                  <p class="module__content-text module__content-text--small paragraph">{{ item[1] }} </p>
                </div>
              {% endfor %}
            {% endif %}

            {% for bonus in page.bonus offset: 1 %}
              {% for item in bonus %}
                <div class="grid grid--gapeless grid--justify grid--middle">
                  <p class="module__content-text paragraph">{{ item[0] }}</p>

                  <p class="module__content-text module__content-text--small paragraph">{{ item[1] }} </p>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        </div>
      </div>

      <div class="module__learn grid__column accordion jsAccordion">
        <div class="grid grid--gapeless grid--justify grid--middle accordion__head jsAccordionHead">
          <h3>What you'll learn</h3>

          <span class="accordion__icon">
            {% include_absolute icons/chevron-down.svg %}
          </span>
        </div>

        <div class="accordion__content accordion__content--border jsAccordionContent">
          <div class="jsAccordionTxt">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% if page.quote %}
      <div class="module__testimonial card card--white">
        <p class="module__testimonial-quote ta-c c--secondary">{{ page.quote }}</p>
        
        <div class="module__testimonial-author grid grid--middle grid--center grid--gapeless grid--stackable">
          {% if page.author_img %}
            <img class="module__testimonial-img image" src="{{ "./assets/images/" | append: page.author_img }}" alt="">
          {% endif %}

          {% if page.author %}
            <span class="c--secondary t--bold">{{ page.author }}, </span>

            <span>{{ page.author_desc }}</span>
          {% endif %}
        </div>

        <div class="module__testimonial-text">
          <p class="handwriting handwriting--small handwriting--light">Check what our client say about that module!</p>

          <span class="module__testimonial-arrow">
            {% include_absolute icons/module-arrow.svg %}
          </span>
        </div>
      </div>
    {% endif %}
  </div>
</div>
