<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    <main id="get-started">
      <section class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside">
          </div>

          <div class="grid__column">
            <h3 id="aintmagic"class="section__heading h3">Thank you for filling out that little form on our website. Means the world to us.</h3>
            <p>
            You might not realize, but relevancy is a pretty big deal for us.
            I run this business as an automated engine… but I care a lot about my customers and readers!
            <br><br>
            My decision to learn growth marketing & user acquisition has been one of the best decisions I’ve ever made for my career 
            <br><br>
            It took me from unemployable wannabe-entrepreneur, to a relatively high-paid growth consultant, in a matter of months. It really flipped the script on how I did business.
            <br><br>
            Even though I’m not a professional teacher… I love to show others how you can do marketing differently and make it simpler.
            <br><br>
            Hope you get some new perspectives out of it,
            <br><br><br>
            —Pieter</p></div></div></section></main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
