<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include phil_header.html %}

    <main id="get-started">
      <section class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside">
          </div>

          <div class="grid__column">
            <h3 id="aintmagic"class="section__heading h3">As my poppa always said:<em>“growth marketing ain’t magic”</em></h3>
            <div class="section__content">
                <p>Growth marketing really isn’t anything crazy complicated. It always baffles me when people think you need to go out and <em>“hire a growth hacker”</em> to wave his magic wand and make your startup take off. </p>

                <p>That’s not how it works… </p>


                <h3 id="growthmarketingissomething">Growth marketing is something entrepreneurs need to learn to do themselves</h3>

                <p>And the reason for that is—again—fairly simple: </p>

                <p><strong>You can’t afford a good growth marketer.</strong></p>

                <p>The truth of the matter is that someone like me will easily charge $160 per hour <em>(plus performance bonus)</em>, and not bat an eye. </p>


                <p>Even though you might be intimidated by the challenge, there’s no magic here.</p>
                <p class="handwriting handwriting--primary">Sustainable growth happens through systems-building</p>

                <p>“Growth hackers” aren’t unicorns or special gifted individuals. We’re random dudes in pyjamas working on a “13 inch Macbook, and listening to old Hip Hop music on your typical run-of-the-mill Bose headphones. </p>

                <p>Nothing special. </p>

                <p>The only thing that sets us apart is the process that we use, and the systems that we build.</p>

                  </div>
                          </div>

                          <div class="grid__column section__aside"></div>
                        </div>
                      </section>


                <section class="section section--gray">
                        <div class="wrapper container container--xlarge">
                          <div class="grid grid--center">
                            <div class="grid__column section__aside"></div>

                            <div class="grid__column">
                              <div class="section__content">

                <h2 id="growthloops"><strong>Growth Loops</strong></h2>

                <p>First and foremost, you need to know that "Growth ain’t magic"
                That's why you, yourself, need to learn growth. The main reason why people think growth hacking is something “magic”, is that they don’t have a mental model to understand how to think about growth.</p>

                <p>To start building that mental model, let’s first have a look at one of the most succesful growth models.<br><b>Let's see how growth works in nature:</b>

                <ul>
                  <li>Let's take <em>one baby rabbit</em></li>
                  <li>It soon becomes a teenager, then an adult and then dies. This is a linear process.</li>
                  <li>In <em>a population</em>: Adults have babies. Many of those babies grow up, and also have babies again. This cycle repeats itself over and over.</li>
                  <li><em>Conclusion</em>: all these single linear paths turn into a cyclical process, together.</li>
                </ul></p>

                <p><b>Fast growth happens, when:</b></p>

                <ol>
                <li>Each parent has many babies</li>

                <li>Very few babies die before more than 1 become parents themselves</li>

                <li>The time it takes to become a parent is very short (it is 5 months for rabbits)</li>
                </ol>

                <p>This is the way growth occurs, anywhere in nature. Incidentally, once you understand this you’re also further ahead than 90% of marketers in understanding how break-out startups grow</p>

                <p><b>Let’s take some business examples,</b> and see if you can spot the “rabbit growth process” analogy in each of them:</p>

                <ul>
                <li><b>Dropbox:</b> users start the service (they become a rabbit) —> hit storage limit (mature)—> invite friends (reproduce)


                <ul>
                <li><em>And the circle is round</em></li></ul>
                </li>

                <li><b>Youtube</b>: people upload videos on Youtube —> video can be embedded into websites —> others watch the video there —> next video brings them to their platform —> they now want to use Youtube, too


                <ul>
                <li><em>And it's a circle again!</em></li></ul>
                </li>
                </ul>

                <p>All of these are examples of “growth loops”. I can tell you much more about it if you're interested. But first I'll tell you what we do with this kind of knowledge..</p>

                <h3 id="whatdogrowthmarketersdoinpractice">What do growth marketers do, in practice?</h3>

                <ul>
                <li><strong>They analyse the options</strong> for a startup to create such growth loops, given the nature of the product and the business</li>

                <li><strong>They design</strong> such loopy systems</li>

                <li><strong>They work together</strong> with the product team and the CEO to optimise the business model to accommodate for these loops</li>

                <li>Like “marketing engineers”, they sit down and actually <em>build these loops</em></li>

                <li>They relentlessly <strong>optimise each step of the way</strong>, to increase conversions at every step</li>

                <li>Once they get one loop to work, they <strong>start building another one</strong></li>
                </ul>

                <p>As you can see, there’s no magic there. Once you see these growth loops, they’re literally <em>everywhere</em>. Just try to find some yourself, they are all around you ;)</p>

                <p><b>Now, of course there are many open questions still, such as...</b></p>

                <ul>
                <li>What skills do you need to become a good growth marketer?</li>

                <li>How can you pick the right loop for your business?</li>

                <li>How many other sorts of growth loops are there?</li>

                <li>How does content marketing fit into this picture?</li>

                <li>How do you build these systems?</li>

                <li>Etc. etc.
                If you want to learn more about all that, sign up for the email course below</li>
                </ul>

                <p><b><em>P.S.</em></b> You might also now be curious to know a bit more about who I am, so on the next page, <b>I’ll tell you more about myself</b>, and how I transitioned from flat broke to growth marketing expert working in my pyjamas from Bali. It’s a pretty cool story, I promise!</p>

              <a class="button button--primary button--rounded button--shadow jsScrollDownBtn" href="/story">
                Read more
                <span class="button__icon">
                  {% include_absolute icons/arrow-right.svg %}
                </span>
              </a>

              </div>
            </div>
            <div class="grid__column section__aside"></div>
          </div>

     

          {% include banner.html heading="Learn this simple, step-by-step framework to accelerate monthly user growth" text="Email course – 7 lessons" %}
        </div>
      </section>


      {% include modal-form.html %}
    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
