<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include blog-header.html %}

    <main>
      <article class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside">
            <div class="grid grid--right grid--gapeless">
              {% include share-bar.html direction="vertical" %}
            </div>
          </div>

          <div class="grid__column">
            <header>
              {% if page.date %}
                <p class="date">{{ page.date | date: '%d %B %Y'}}</p>
              {% endif %}

              {% if page.title %}
                <h2>{{ page.title }}</h2>
              {% endif %}
            </header>
            
            <div class="section__content">
              {{ content }}
            </div>
          </div>

          <div class="grid__column section__aside"></div>
        </div>

        {% include share-bar.html direction="horizontal" mobile=true %}
      </article>

      <div class="section">
        {% include banner.html heading="Not ready for a big investment yet?" text="No problem at all. Thousands of marketers have gone through my free email course instead. In 7 lessons you'll learn a ton about growth marketing, and start executing simple strategies yourself" %}
      </div>
    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="wrapper section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
