<header class="price__header {% if page.color == 'secondary' %}price__header--secondary {% endif %}">
  {% if page.heading %}
    <h3 class="price__heading heading ta-c tt-u">{{ page.heading }}</h3>
  {% endif %}

  <div class="ta-c">
    {% if page.current_price %}
      <p class="price__current-price paragraph">{{ page.current_price }}</p>
    {% endif %}

    {% if page.old_price %}
      <p class="price__old-price paragraph">{{ page.old_price }}</p>
    {% endif %}
  </div>
</header>

<div class="price__content">
  <p class="paragraph tt-u h6">Core content</p>

  <ul class="list list--checked list--checked-secondary">
    {% for item in page.core %}
      <li class="paragraph">{{ item }}</li>
    {% endfor %}
  </ul>

  <p class="paragraph tt-u h6 {% if page.core_version == true %}c--gray {% endif %}">Pro content</p>

  <ul class="list list--checked {% if page.core_version == true %}list--gray {% endif %}">
    {% for item in page.pro %}
      <li class="paragraph">{{ item }}</li>
    {% endfor %}
  </ul>

  <a class="button button--primary button--rounded button--shadow button--expanded" href="#">
    Get it now
    <div class="grid grid--gapeless grid--middle">
      <span>${{ page.current_price }}</span>
      <span class="button__icon">
        <img class="button__icon-img" src="{{ "./assets/images/icons/shopping-basket.svg" | relative_url }}" alt="">
      </span>
    </div>
  </a>
</div>
