<header class="price__header {% if page.color == 'secondary' %}price__header--secondary {% endif %}">
  {% if page.heading %}
    <h3 class="price__heading heading ta-c tt-u h5">{{ page.heading }}</h3>
  {% endif %}

  <div class="ta-c">
    {% if page.current_price %}
      <p class="price__current-price paragraph">{{ page.current_price }}</p>
    {% endif %}

    {% if page.old_price %}
      <p class="price__old-price paragraph h2">{{ page.old_price }}</p>
    {% endif %}
  </div>
</header>

<div class="price__content">
  <p class="price__content-heading paragraph tt-u">Core content</p>

  <ul class="list list--checked list--checked-secondary">
    {% for item in page.core %}
      <li class="paragraph">{{ item }}</li>
    {% endfor %}
  </ul>

  <p class="price__content-heading paragraph tt-u {% if page.core_version == true %}c--gray {% endif %}">Pro content</p>

  <ul class="list list--checked {% if page.core_version == true %}list--gray {% endif %}">
    {% for item in page.pro %}
      <li class="paragraph">{{ item }}</li>
    {% endfor %}
  </ul>

  <a class="button button--primary button--rounded button--shadow button--expanded" href="{% if page.core_version %}https://gum.co/elitecore{% else %}https://gum.co/elitepro{% endif %}">
    <span>Get it now</span>
    <div class="grid grid--gapeless grid--middle">
      <span>${{ page.current_price }}</span>
      <span class="button__icon">
        {% include_absolute icons/shopping-basket.svg %}
      </span>
    </div>
  </a>
</div>
