<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/proposal.css" | relative_url }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Hero section -->
    <section>
      <div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-12">
            <h2 style="line-height: 60px; font-weight: 300;">Business</h2>
            <h1>Proposal</h1>
          </div>
        </div>
        <div class="row justify-content-center align-items-center py-5 my-5">
          <div>
            <img class="img-fluid" style="width: 248px;" src="{{ "/assets/images/proposals/double_logo.png" | relative_url }}" />
          </div>
          <div>
            <div style="border: 1px solid #181D33; width: 225px; transform: rotate(45deg);"></div>
            <div style="border: 1px solid #51ABFF; width: 225px; transform: rotate(-45deg);"></div>
          </div>
          <div>
            <img class="img-fluid" style="width: 248px;" src="{{ page.client_logo | relative_url }}" />
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="d-flex flex-column align-items-center">
            <h4>Go to Details</h4>
            <div>Arrow</div>
          </div>
        </div>
      </div>
    </section>

    <!-- Content sections -->
    {% for section in page.sections %}
    <section class="py-5 my-5">
      <div class="container">

        <!-- Sides -->
        <div style="position: sticky; top: 20px; height: 0px;">
          <div class="d-flex justify-content-between">
            <h4>{{ section.title }}</h4>
            <div class="d-flex flex-column align-items-center">
              <img style="width: 160px;" class="img-fluid mb-5" src="{{ page.client_logo | relative_url }}" />
              <div style="height: 30px; top: 15px; position: relative;">
                <div style="border: 1px solid #181D33; width: 40px; transform: rotate(45deg);"></div>
                <div style="border: 1px solid #51ABFF; width: 40px; transform: rotate(-45deg);"></div>
              </div>
              <img style="width: 160px;" class="img-fluid mt-4" src="{{ "/assets/images/proposals/double_logo.png" | relative_url }}" />
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          
          <div class="col-md-8" style="max-width: 512px; margin-top: -30px;">
            <h2>{{ section.title }}</h2>
            {% for block in section.blocks %}
              {% if block.sub_type == "lead" %}
              <p class="lead">{{ block.content | markdownify | strip_html }}</p>
              {% else %}
              {{ block.content | markdownify }}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    {% endfor %}

    <!-- How we work -->
    <section>
      <div class="container">

        <div class="row text-center justify-content-center">
          <div class="col-md-12" style="max-width: 686px;">
            <h2>How we work</h2>
            <p class="lead">
              Double is a growth marketing agency, focused on helping businesses reach scale. We have a track record of building scalable marketing systems for companies like TikTok, MyKuya, Sendcloud, Diesel, Peg and our own Double Academy.
            </p>
          </div>
        </div>

        <div class="row text-center justify-content-center my-5">
          <div class="col-md-12">
            <div class="logo-grid" style="display: grid; grid-template-columns: repeat(3, auto [col-start]); background-color: #e0e0e0; grid-gap: 1px;">
              <div style="background-color: white; padding: 70px 0px;">
                <img style="width: 160px;" class="img-fluid" src="{{ page.client_logo | relative_url }}" />
              </div>
              <div style="background-color: white; padding: 70px 0px;">
                <img style="width: 160px;" class="img-fluid" src="{{ page.client_logo | relative_url }}" />
              </div>
              <div style="background-color: white; padding: 70px 0px;">
                <img style="width: 160px;" class="img-fluid" src="{{ page.client_logo | relative_url }}" />
              </div>
              <div style="background-color: white; padding: 70px 0px;">
                <img style="width: 160px;" class="img-fluid" src="{{ page.client_logo | relative_url }}" />
              </div>
              <div style="background-color: white; padding: 70px 0px;">
                <img style="width: 160px;" class="img-fluid" src="{{ page.client_logo | relative_url }}" />
              </div>
              <div style="background-color: white; padding: 70px 0px;">
                <img style="width: 160px;" class="img-fluid" src="{{ page.client_logo | relative_url }}" />
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center justify-content-center">
          <div class="col-md-12" style="max-width: 686px;">
            <p>
              We work in weekly sprints, since requirements constantly change, and flexibility and experimentation are essential to finding a strategy that works. Our work will focus on creating the right strategic roadmap, and help execute on a growth model that brings in happy customers.
            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- Pricing -->
    <section class="my-5 py-5">
      <div class="container">

        <div class="row text-center justify-content-center">
          <div class="col-md-12" style="max-width: 686px;">
            <h3>Pricing</h3>
            <p>
              Our services are priced in weekly sprints of a fixed capacity of either 10, 20 or 40 hours/week. Prices are weekly, invoiced monthly at the start of each month. We are typically flexible to adjust capacity as we go:
            </p>
          </div>
        </div>

        <div class="row text-center justify-content-center my-5">
          <div class="col-md-3 p-2 slide-top package-item">
            <div class="p-2 p-md-4 text-dark text-center d-flex flex-column justify-content-between" style="height: 100%; border: 1px solid #D4D7E1; box-shadow: 8px 8px 0 0 rgba(148,154,180,0.4);">
              <div class="upper">
                <h4 class="font-weight-normal">Sprints at 10 hours/week</h4>
                
              </div>
              <div class="lower">
                <p class="price text-primary font-weight-bold mb-0">€900/week</p>
                <p>billed monthly</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 p-2 slide-top package-item">
            <div class="p-2 p-md-4 text-dark text-center d-flex flex-column justify-content-between" style="height: 100%; border: 1px solid #D4D7E1; box-shadow: 8px 8px 0 0 rgba(148,154,180,0.4);">
              <div class="upper">
                <h4 class="font-weight-normal">Sprints at 10 hours/week</h4>
                
              </div>
              <div class="lower">
                <p class="price text-primary font-weight-bold mb-0">€900/week</p>
                <p>billed monthly</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 p-2 slide-top package-item">
            <div class="p-2 p-md-4 text-dark text-center d-flex flex-column justify-content-between" style="height: 100%; border: 1px solid #D4D7E1; box-shadow: 8px 8px 0 0 rgba(148,154,180,0.4);">
              <div class="upper">
                <h4 class="font-weight-normal">Sprints at 10 hours/week</h4>
                
              </div>
              <div class="lower">
                <p class="price text-primary font-weight-bold mb-0">€900/week</p>
                <p>billed monthly</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center justify-content-center">
          <div class="col-md-12" style="max-width: 686px;">
            <p>
              We suggest to start with the 10 hours/week and scale up after 2~4 weeks, once we have established the strategic foundations.
            </p>
          </div>
        </div>

      </div>
    </section>

  </body>
</html>
