<div class="slide swiper-slide grid grid--stackable grid--middle grid--gapeless grid--space">
  <div class="slide__image grid__column">
    <img class="image" src="{{"./assets/images/slides/" | append: page.image }}" alt="">
  </div>

  <div class="slide__content grid__column">
    <div>
      {{ content }}
    </div>

    {% if page.author %}
      <span class="slide__author c--secondary t--bold"> {{ page.author }} </span>
    {% endif %}

    {% if page.position %}
      <span class="slide__author-position">{{ page.position }}</span>
    {% endif %}
  </div>
</div>
