<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <main>
      <div class="header header--full section">
        <div class="header__wrapper wrapper container container--xlarge">
          <a class="logo" href="{{ site.url }}">
            {% include_absolute logo/Growthcasts.svg %}
          </a>

          <div class="grid grid--middle grid--stackable grid--justify">
            <div class="grid__column">
              <img class="image" src="{{ "./assets/images/sales-banner.png" | relative_url }}" alt="">
            </div>

            <div class="grid__column header__content">
              {% if page.heading %}
                <h1 class="heading">{{ page.heading }}</h1>
              {% endif %}

              {% if page.subheading %}
                <p class="heading h3">{{ page.subheading }}</p>
              {% endif %}

              {% if page.text %}
                <p class="paragraph">{{ page.text }}</p>
              {% endif %}

              {% if content %}
                <p class="paragraph">{{ content }}</p>
              {% endif %}

              {% if page.form %}
                <form class="form">
                  <div class="form__content grid grid--center grid--middle">
                    <div class="grid__column">
                      <div class="form-group">
                        <label class="form-group__label" for="email">Email</label>
                        <input class="form-group__input" type="email" name="email" id="email" placeholder="pieter@growthcasts.co">
                      </div>
                    </div>

                    <div class="grid__colummn">
                      <button type="submit" class="button button--primary button--rounded button--shadow">
                        Join the course
                        <span class="button__icon">
                          {% include_absolute icons/arrow-down.svg %}
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
              {% endif %}

              {% if page.reasons %}
                <div class="reasons">
                  {% for reason in page.reasons %}
                  <a class="reasons__item button button--white button--rounded button--expanded button--gray-shadow" href="#">
                    <span class="c--secondary">{{ reason }}</span>
                    <span class="button__icon">
                      {% include_absolute icons/arrow-down.svg %}
                    </span>
                  </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
