<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include about-header.html %}

    <main id="get-started">
      <section class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside">
          </div>

          <div class="grid__column">
            <h3 id="aintmagic"class="section__heading h3">Helping ambitious entrepreneurs scale their startups through growth marketing</h3>
            <div class="section__content">
                <p><strong>Hi, finally we meet! My name is Pieter Moorman.<em></strong> I’m an independent growth marketer from Amsterdam, working (mostly) from Bali. I work remotely, and help startup founders find ways to drive growth, so more and more people can experience their products.</em></p>

                <p>Previously a tech startup founder myself, I found out that I hate managing teams, and would rather “work in the trenches” to help small, ambitious teams succeed in changing the world. Growthcasts is my “digital home” where I teach thousands of entrepreneurs how growth marketing works.</p>

                <p><b>Anyhow…</b></p>

                <p>That’s the blurb I’d put on LinkedIn. When it has to be “official”. But hey, this is my own website, right? No need to be official!</p>

                <p>Instead, let me tell you something interesting…</p>


                <hr />

                <h3 id="thisisthehoneststoryofhowiendeduphere">This is <em>the honest story</em> of how I ended up here…</h3>

                <p>If you thought that I’ve grown up with a background in marketing, and a degree from Stanford, you’d be mistaken. The way I got into this profession, is much sillier than that…</p>

                <p>It starts back at my university town, back in Holland. I studied development economics in a small regional university. Nothing fancy. Nothing interesting. </p>

                <p><strong><em>About halfway through my Bachelor’s degree —and 3 years after starting my first startup company— I found myself sleeping on a stinky old mattress on the kitchen floor of my university roommates…</em></strong></p>

                <p>And as I would have probably told you at the time, I was an “entrepreneur”, and right about to become a bazillionair with this crazy startup venture of mine. If only this next round of funding came through, we would be absolutely <em>killing it</em>… </p>

                <p>Of course anyone <em>reasonable</em> would say that I was a delusional college dropout, and basically unemployable. </p>


                <h3 id="iwashustling80hoursaweekjustlikegaryvhadtoldmeandhatingeverysecondofit">I was “hustling” 80 hours a week —just like Gary V. had told me… and hating every second of it</h3>

                <p>Turns out that <a href="https://www.youtube.com/watch?v=PIJElPStJpg "target="_blank">Gary’s advice</a> only works for extreme extroverts like him, who like the hustle anyway. Not for an introvert like me. In fact, I found that much of the traditional marketing advice simply didn’t really work for our startup company…</p>

                <ul>
                <li>After a bazillion soul-crushing rejections in a row, I still get nightmares anytime the phone rings.</li>

                <li>“Inbound marketing” sounds wonderful, but fails miserably for 95% of startups…</li>

                <li>Pulling off big ads campaigns is MUCH harder than it seems</li>

                <li>You can hire a marketing agency… but they’re typically just as clueless as you are!</li>
                </ul>

                <p>But we still got all the gurus talking about power editors, or SEO meta tags, and event trackers and javascript, and all sorts of other technical hoopla.</p>

                <p>But here’s the kicker…</p>

                <p class="handwriting handwriting--primary">You can scrap all of that.</p>

                <p>You don’t need it.</p>

                <p>Growing a startup is <em>not</em> about tactics and hacks.
                It’s not about loopholes or tricks.
                It’s not about power editor, or fancy A/B testing software, or meta tags or whatever complicated crap they cook up next…</p>

                <p>It’s about systems.</p>

                <p>Hacks don’t drive growth.
                Systems do.</p>

                <p><b>You need just 3 things:</b></p>

                <ol>
                <li>System-thinking  ::  Strategy. Not tactics</li>

                <li>A growth loop that fits your business</li>

                <li>High-tempo testing</li>
                </ol>

                <p><i>That’s it.</i></p>

                <p>And boy, I’d love to tell you that those concepts are complicated… But truth is that they’re not. If you can watch cat videos on an iPad, then you can do this (well… almost!).</p>

                <p>So for God’s sake, stop worrying about the technical stuff. Forget about which landing page software you should use. Screw “how much blog posts should I write?” (answer: probably none).</p>

                <p class="handwriting handwriting--primary">It’s about setting up the right systems.
                That’s where the “magic happens”. Not in the tactics.</p>

                <p>Point in case: my website runs on Squarespace. Costs $10/month. Just notice how simple it is… </p>

                <p><a href="https://growthcasts.co "target="_blank""><b>www.growthcasts.co</b></a></p>

                <p><b>Boom!</b></p>

                <p>That’s a ~35% opt-in rate. Right there. Go figure how much more untapped potential YOU are leaving on the table, right now.</p>

                <p>If you’re interested, follow that link and join the email course. You might learn a thing or two about startup marketing using common sense, rather than hyperbole and sleaziness.</p>

                <p><b>Anyways…</b></p>

                <p>I’m off to binge-watch season two of Narcos (I’m actually in Medellin now, where it all happened) and get some tacos with a disturbing amount of hot sauce.</p>

                <p>Speak soon,</p>

                <p class="handwriting paragraph">Pieter</p>

                <p><b>P.S.</b> Some people wonder what you can expect when you follow a link of a self-proclaimed “marketing guru”. Well here’s what you’ll get:</p>
                <ul>
                    <li><p>Actionable growth marketing frameworks you can use to grow your business, right now, for free… which are then closely followed by…</p></li>

                    <li><p>Blatant sales pitch to buy my Premium Stuff™. </p></li>

                    <li><p>This is a secretive growth hack that is called the “Demonstrate You Can Help Them By Actually Helping Them” hack. </p></li>

                    <li><p>Works like a charm. Might even work for your business, too!</p></li>
                </ul>

                Check it out here<span class="button__icon"> {% include_absolute icons/arrow-down.svg %}</span>

              </div>
            </div>
            <div class="grid__column section__aside"></div>
          </div>

     

          {% include banner.html heading="Learn this simple, step-by-step framework to accelerate monthly user growth" text="Email course – 7 lessons" %}
        </div>
      </section>


      {% include modal-form.html %}
    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
