<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include about-header.html %}

    <main id="get-started">
      <section class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside">
          </div>
          <div class="grid__column">
            <h2 id="aintmagic" class="section__heading h2">How we got from engineering to marketing</h2>
            <div class="section__content">
                <b><i>I was always a technology nerd—focused on building products, and too afraid to actually talk to people and sell to them!</i></b>
                <p>The world of engineering and product creation is incredibly different than the world of growth and marketing. Here’s why… </p>

                <blockquote>
                    <i> In engineering everything needs to be <b> systematic and precise</b></i>
                </blockquote>

                <p>No emotions. Just technology.</p>

                <p>So when I finally figured out that only <i>building </i>products isn’t good enough —you also need people to<i> use those products</i>— I started exploring the world of marketing and user acquisition.</p>

                <p>But what I saw, shocked me… </p>

                <blockquote>
                <b>I saw <i>an enormous universe</i> with <i>millions </i> of tactics… all hanging together without any sort of “glue” to make sense of it</b>
                </blockquote>

                <p>SEO. 
                Paid ads.<br>
                Conversions.<br> 
                Referrals. <br>
                Email.<br>
                Copywriting.<br>
                Mental triggers.<br>
                Social media.</p>


                <center>
                    <img src="/assets/images/information_overload.gif" alt="/assets/images/mindblownalt.jpeg" style="width:35%;height:auto;border:0;">
                    <br>
                    <p><i><b>Information Overload</b></i></p>
                </center>

            
                <p>So much information!<br>
                    So many <i>tactics… </i>without any sense of <i>strategy or structure,</i> anywhere to be found!</p>

                <p>An engineer’s nightmare. Completely overwhelming.</p>

                <p>But that led to one conclusion: I figure out early that I could never learn and understand <em>all of that…</em></p>
                <br>
                <h3 class="section__heading h3">I needed a 80/20, minimalist “less is more” approach to marketing &amp; growth</h3>
                <p>I wanted to learn the <b>“big picture”</b> first, and <em>then</em> choose the tactics that make sense.</p>
                <p>So I was looking for a framework or overview that would allow me to cut through the confusion and noise… and that I could understand</p>
                <p>Because I had a background in startups, I didn’t know about “internet marketing” and product launches and all the marketing gurus (Lucky me!)</p>
                <br>    
                <h3 class="section__heading h3">Instead, I found <em>“growth hackers”</em>like Andrew Chen, Brian Balfour and Sean Ellis</h3>

                <p>They did tech startups, and fundamentally had systems that made sense to me. Something I could understand. Plus… <em>they were building the biggest companies in the world!!</em></p>
                <p>They were clearly in a different league:</p>
                <p><b>– Andrew Chen</b> was “head of growth” at UBER <br><b>– Brian Balfour</b> at Hubspot<br><b>– Sean Ellis</b> grew Dropbox, Eventbrite, and <em>many</em> others…</p>
                <p>So I became a student of growth. I said:</p>
                <blockquote><i>“if I’m gonna learn marketing… might as well learn from them”</i></blockquote>
                <p>But not everything that applies to Uber or Airbnb applies to us. What works for a billion-dollar behemoth, doesn’t work for a scrappy entrepreneur working from a single-bedroom apartment.</p>
                <p>So the question became: <em>“how can I take their ideas, and make it<b> simpler?</b></em>”</p>
                <br>
                <h3 class="section__heading h3">How can I apply their ideas… and apply them to a “normal” business like mine?</h3>
                <p>What I ended up with was this enormously simplified system for startup growth marketing, that I’ve been using ever since.</p>
                <p>It’s not focused on the hyper-growth phase of tech startups, but rather what comes <em>before that:</em> turning <b>an idea into P/M-fit</b>, and gaining <b>strong traction.</b></p>
                <p>From zero to $5k or $50k per month… rather than building the next billion-dollar unicorn.</p>
                <p>It gives me clarity, focus and confidence… because I can fully understand how each part works and interacts with the other parts. And it works for everyone—whether it’s SaaS, mobile apps or an upstart fashion brand…</p>
                <p>There’s no magic there.</p>
                <p>Back when I created that, I didn’t think much of it. I created it for myself, like a bunch of personal memos.</p>
                <br>
                <h3 class="section__heading h3">I assumed other marketers probably used a similar approach…</h3>
                <p>But they didn’t!</p>
                <p>So whenever I would talk to people about marketing, they’d be super surprised about my approach, and my conclusions.</p>
                <p>At the time, I was working at a co-working space, and every week, they organised a “skill share” where a member would present something valuable to the community over lunch</p>
                <p>I didn’t have any other deep expertise that’s interesting to others—so I presented this “startup growth framework”</p>
                <br>
                <h3 class="section__heading h3">Guess what…? —The room fully booked, and people were hanging on my lips</h3>
                <p>I was <em>really</em> surprised. People were taking notes as if their life depended on it</p>
                <p>At the end a girl came up and asked if I had more info.</p>
                <p>I didn’t, but I agreed to write a weekly, step-by-step “note” about it, that I emailed out to her and a handful of other people</p>
                <p>Every week, more people wanted to get those notes.</p>
                <blockquote><i>That was like the “MVP” where my email course was born… <br>and <b>where Growthcasts got started!!</b></i></blockquote>
                <br>
                <h3 class="section__heading h3">Now we’ve got thousands on our mailing lists, and there’s a course, there’s a consulting team, etc. etc.</h3>
                <p>All of that, a little unexpectedly… It’s funny how things can blow up!</p>
                <p>So far, it’s been an absolute blast to teach growth marketing. Of course I’m not a professional teacher, but what I’m saying is <em>resonating</em> with people. They dig it. It’s refreshingly simple, and it <em>makes sense.</em></p>
                <p>People feel like they understand what’s going on. Like the clouds and confusion are disappearing… and you can see clearly again.</p>
                <p>With a simple framework, you’ll always know what to do. It gives you confidence.</p>
                <br>
                <h3 class="section__heading h3">And it’s funny if you think about the humble beginnings…</h3>
                <p>I thought—in all honesty—that I’d just gotten lucky with the projects I worked on.</p>
                <blockquote><i>I don’t know about you, but I don’t help a company raise $25M every day!
                Those results are extra-ordinary!!</i></blockquote>
                <p>And if it hadn’t been for those 40 people packed in a small aircon’d room in Bali… I would have been convinced it’s just my own quirky “way of doing things”.</p>
                <p>If it hadn’t been for a TON of people (too many to mention) that helped me along the way, and said <em>“Hey, this thing you’re saying</em> <strong><em>really makes sense…</em></strong><em>”</em></p>
                <p>…then I’d probably never gotten here!</p>
                <p><strong>So I’m grateful for all of you.</strong> It’s great to have you around.</p>
                <p>It’s amazing to be able to offer a free email course, a premium flagship course (Growthcasts Elite), and all these free resources on our blog.</p>
                <p>It’s been a crazy ride… and a surprising one, too!</p>
                <br>
                <h3 class="section__heading h3">If you want to learn more…</h3>
                <ol>
                    <li>
                        <p>Here you can read more about our Flagship course —&gt; <a href="/elite"><strong><em>Growthcasts Elite</em></strong></a></p>
                    </li>
                    <li>
                        <p>And here’s a page with <em>“what other people said about us”</em>, and cool <a href="http://growthcasts.co/past-work"><strong><em>success stories from the past</em></strong></a></p>
                    </li>
                </ol>

              </div>
            </div>
            <div class="grid__column section__aside"></div>
          </div>
                
          {% include banner.html heading="Learn this simple, step-by-step framework to accelerate monthly user growth" text="Email course – 7 lessons" %}
        </div>
      </section>


      {% include modal-form.html %}
    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
