<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include leadhead.html %}

<body>

<header class="header section">
  <div class="wrapper container container--large">
    <div class="grid grid--justify grid--middle">
      <div class="grid__column">
        <a class="logo" href="{{ site.url }}">
          {% include_absolute logo/Growthcasts.svg %}
        </a>
      </div>
      
      <div class="grid__column">
        <div class="offcanvas offcanvas--home jsOffcanvas">
          <div class="offcanvas__body">
          </div>
        </div>
      </div>
    </div>

    <h2 class="heading heading--subpage bold ta-c">So you want to build a <i>successful</i> business?</h2>
    <h1 class="ta-c">Awesome. You're in the right place!<br><br>⬇︎⬇︎</h1>
  </div>
</header>
    <main>
    <article class="wrapper section container container--medium">
          <div class="grid__column">
            <h3> The first lesson is making its way to your inbox..</h3>
            <p><i>This email course is designed for people that want to learn how to master growth. Growth is the most essential part of success in startups. In 15 emails I'll try to give you the necessary tools to master growth and be able to fix the marketing of any startup.</i><br>
            <br>
            <span class="underline underline--short handwriting handwriting--light"> Wanna know how?</span> 
            <br><br>
            <b>Well, here are</b> the lessons that you'll read over coming 15 days: <br></p>
            <ol>
              <li><p><b>Growth Marketing </b>: From the era of advertisement to the era of growth.</p></li>
              <li><p><b>System Thinking </b>: How your business should be an automated set of systems.</p></li>
              <li><p><b>Growth is not Hacks </b>: The only hack for every business is a systematic strategy towards growth.</p></li>
              <li><p><b>Radical Empathy</b>: How to understand your customers and make yourself wanna be heard.</p></li>
              <li><p><b>Copywriting</b>: Automate your sales, by learning how you can write to sell.</p></li>
              <li><p><b>Risk Elimination</b>: The only failproof businessplan is focussed on the risks your business is taking. Learn how to focus on the right objectives to minimize your risks!</p></li>
              <li><p><b>Growth </b>: Growth happens in loops. These growth loops are the foundation of your marketing.</p></li>
              <li><p><b>Week 2</b>: The second week will dive deeper into the dynamics of growth. I'll show you how you can build growth into the 'DNA of you business'.</p></li>
            </ol>
            <p>
            I hope you're as excited as I am!
            <br>
            Enjoy the course and good luck!<br><br>
            Cheers,<br>
            -Pieter
            <img src="/assets/images/pieter.png" alt="Piet" style="width:17%;height:auto;border:0;"></p>
            <br><br>
            </div>
          </div>
        <div class="module__testimonial card container--xlarge" style="margin-top: -2rem">
         <p class="module__testimonial-quote ta-c c--secondary" style="font-size: 24px">As one of the first students, I can say it's one of the most informative and complete courses on marketing out there!</p>

        <div class="module__testimonial-author grid grid--middle grid--center grid--gapeless grid--stackable">
            <img class="module__testimonial-img image" src="./assets/images/Caspar Founder.png" alt="">

            <span class="c--secondary t--bold">Caspar Lusink,</span>

            <span>&nbsp;Founder AIcompany</span>
        </div></div>
    </article>

    </main>
    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>

    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
</body>
</html>
