<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en"}}">
  {% include head.html %}

  <body>
    {% include welcome-to-elite-header.html %}

    <main id="get-started">
      <section class="wrapper section container container--xlarge">
        <div class="grid grid--center">
          <div class="grid__column section__aside">
          </div>

          <div class="grid__column">
            <h3 id="aintmagic"class="section__heading h3">Before I let you roam around in Elite, I would like to ask your for a favour</h3>
          <p><i> But if you're like, "can't be bothered, just let me go", just enter the course below. </i></p>
          <a class="button button--primary button--rounded button--shadow jsScrollDownBtn" href="/elite" target="_blank">Enter Elite<b>↘︎</b></a>
            <br>
          <h3>But if you do have a minute... Could I ask you a few questions. It would mean the world to me!</h3>
          <p><i> These questions are designed to better understand our customers motivation and if you give us permission, we might use your answer for a testimonial.</i></p>
            <div class="section__content">
          <script type="text/javascript" src="https://form.jotform.me/jsform/90793300817357"></script>

          </div>
        </div>
          <div class="grid__column section__aside"></div>
          </div>  
      </section>  
    </main>

    <footer class="wrapper footer footer--light footer--lower">
      <div class="section section--small container container--medium ta-c">
        <p>This is a product of 39Labs LLC (Jackson, Wyoming, USA). All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
