.banner {
  padding-top: 50px;
  z-index: 1;
  position: relative;
  padding-bottom: 0;

  &__box {
    padding: 100px;
    position: relative;
  }
  &__shadow {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__hat {
    position: absolute;
    top: -230px;
    right: 0;
  }
}
