.bottom {
  padding-top: 70px;
  @include media-breakpoint-down(lg) {
    padding-top: 0;
    padding-bottom: 50px;
  }

  &__box {
    @include media-breakpoint-down(lg) {
      width: calc(100% + 60px);
      left: -30px;
      position: relative;
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }

  &__contact-info {
    @include media-breakpoint-down(lg) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
