.hero {
  background: linear-gradient(0deg, #ffffff 0%, #ecf5fe 100%);
  position: relative;
  top: -100px;
  padding-bottom: 165px;
  padding-top: 200px;

  &__images {
    & [class*="--"] {
      position: absolute;
      p {
        position: absolute;
      }
    }
    &--1 {
      width: 190px;
      left: -140px;
      top: 100px;
      p {
        font-size: 14px;
        opacity: 0.5;
        right: -20px;
        bottom: -50px;
      }
    }
    &--2 {
      width: 190px;
      left: 50%;
      bottom: -90px;
      z-index: 1;
      p {
        font-size: 16px;
        opacity: 0.5;
        left: -60px;
        bottom: -50px;
      }
    }
    &--3 {
      width: 322px;
      right: -175px;
      top: 150px;
      p {
        font-size: 20px;
        opacity: 0.6;
        left: 25px;
        bottom: -50px;
      }
    }
    &--4 {
      width: 225px;
      left: -85px;
      bottom: -100px;
      img {
        filter: drop-shadow(16px 16px 0px #359bfa);
      }
      p {
        font-size: 16px;
        opacity: 0.6;
        text-align: right;
        top: -35px;
        width: 100%;
      }
    }
    &--5 {
      width: 160px;
      left: 280px;
      bottom: -200px;
      p {
        font-size: 14px;
        opacity: 0.44;
        top: -30px;
      }
    }
    &--6 {
      width: 270px;
      bottom: -205px;
      right: -50px;
      img {
        filter: drop-shadow(20px 20px 0px #89c6ff);
      }
      p {
        font-size: 16px;
        opacity: 0.6;
        left: -60px;
        bottom: -75px;
      }
    }
  }
}
