.hiring {
  background: linear-gradient(
    -180deg,
    #e2f1ff calc(100% - 103px),
    transparent 30%
  );
  position: relative;
  top: -100px;
  padding-top: 100px;
  padding-bottom: 0;
  @include media-breakpoint-down(lg) {
    padding-top: 75px;
  }

  &__intro {
    z-index: 11;
    position: relative;
  }

  &__subtitle {
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__box {
    background: #fff;
    padding: 30px;
    padding-top: 45px;
    .shadowbox {
      position: absolute;
      top: -28px;
    }
  }

  &__positions-box {
    box-shadow: 25px 25px 0px var(--primary);
    @include media-breakpoint-down(lg) {
      box-shadow: 10px 10px 0px var(--primary);
    }

    &__item {
      &:hover {
        text-decoration: none;
      }
      &:not(:last-child) {
        border-bottom: 1px solid rgba(183, 183, 183, 0.2);
      }
      &__subtitle {
        opacity: 0.5;
      }
    }
  }
}
