.case-studies {
  &__intro {
    &__title {
      @include media-breakpoint-down(md) {
        font-size: 24px;
        line-height: 32px;
      }
    }
    &__line1 {
      position: absolute;
      right: 180px;
      bottom: -135px;
    }
    &__warningimg {
      @include media-breakpoint-down(md) {
        width: 158.91px;
      }
    }
  }

  &__item {
    position: relative;
    &__bg {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;

      img {
        @include media-breakpoint-down(md) {
          width: 120%;
        }
      }
    }
    &__logo {
      @include media-breakpoint-down(md) {
        width: 159px;
      }
    }
    &__divider {
      margin-top: 30px;
      margin-bottom: 45px;
    }
  }
}

#case-studies-tiktok {
  padding-bottom: 25px;
  .case-studies__item__content {
    padding-top: 100px;
    @include media-breakpoint-down(md) {
      padding-top: 50px;
    }
    .text-highlight {
      color: #ea3354;
    }
  }
}

#case-studies-alpian {
  padding-bottom: 0;
  @include media-breakpoint-down(md) {
    padding-top: 160px;
  }
  .case-studies__item__content {
    padding-top: 380px;
    .text-highlight {
      color: #292f47;
    }
    @include media-breakpoint-down(md) {
      padding-top: 50px;
    }
  }
}

#case-studies-cla {
  padding-bottom: 250px;
  @include media-breakpoint-down(md) {
    padding-bottom: 100px;
  }
  .case-studies__item {
    &__logo {
      @include media-breakpoint-down(md) {
        width: 201px;
      }
    }
    &__content {
      color: #632249;
      padding-top: 380px;
      @include media-breakpoint-down(md) {
        padding-top: 160px;
      }
      .text-highlight {
        color: #b63e86;
      }
    }
  }
}
