---
title: Email course
layout: pages/new-web/default
hide_footer: true
header_logo_only: true

tagline: "Join 25,271+ others"
intro: "The most popular online course on growth marketing"
top_image: /assets/images/Napkin_HQ.png
learn_how_to_title: "Learn how to:"
learn_how_to_items:
  - "**Design sales machines** that work on autopilot"
  - "Learn the **6-step framework** to unlock virtually limitless growth"
  - 'Leverage the **"power law of channels"** for ultimate traffic generation'
  - "Execute **coherent growth strategies** as you scale"

carousel_items:
  - title: Morgan
    subtitle: USA
    body: Your course is very simple to understand, and I really love how you focus on systematic execution to focus on what works and what doesn't. 
    image_position: right
    image: /assets/images/new-web/testimonial_8.png
  - title: Robin
    subtitle: Netherlands
    body: It seems that the course is geared towards growing tech startups, but then we actually turned this training into a practical thing implementing our own automated growth engine (in b2b services).
    image_position: right
    image: /assets/images/new-web/testimonial_6.png  
  - title: Marvin
    subtitle: France
    body: What I found most interesting? Quite honestly, pretty much everything so far. I received the "rabbits story" today, so I'm about halfway through. Topics that really called my attention were risk elimination, growth loops, and your take on empathy.
    image_position: right
    image: /assets/images/new-web/testimonial_10.png
  - title: Joseph
    subtitle: Singapore
    body: Am subbed to your introductory growth systems email course and love it! :) Love your direct, candid and humorous style.
    image_position: right
    image: /assets/images/new-web/testimonial_joseph.png
  - title: Alex
    subtitle: USA
    body: I totally dig this kind of thinking Pieter! Love your emails, very easy to read.
    image_position: right
    image: /assets/images/new-web/testimonial_4.png
  - title: Mark
    subtitle: Germany
    body: Pieter seems so young :) [But] the value of the content and his very sympathetic way of being changed my doubts.
    image_position: right
    image: /assets/images/mark.png

steps_carousel:
  - title: Growth Marketing
    subtitle: "Day 1:"
    body: From the age of classic advertisement to the exciting era of growth.
  - title: System Thinking
    subtitle: "Day 2:"
    body: How you can design your business as a set of automated systems.
  - title: Growth is not Hacks
    subtitle: "Day 3:"
    body: You're not gonna hack your way to growth these days. The real magic comes from dedicated strategy.
  - title: Radical Empathy
    subtitle: "Day 4:"
    body: How to understand your customers and make yourself wanna be heard.
  - title: Copywriting
    subtitle: "Day 5:"
    body: Automate your sales, by learning how you can write to sell.
  - title: Risk Elimination
    subtitle: "Day 6:"
    body: The only failproof business plan is focussed on the risks your business is taking. Learn how to focus on the right objectives to minimize your risks!
  - title: Growth Loops
    subtitle: "Day 7:"
    body: Growth happens in loops. These growth loops are the foundation of your marketing. Discover the numerous growth loops and develop your own.
  - title: Week 2
    subtitle: "Day 8-15"
    body: The second week will dive deeper into the dynamics of growth. I'll show you how you can build growth into the 'DNA of you business'.


---

<div>
  <section class="text-center py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="img-fluid" src="{{ page.top_image }}" />
        </div>
      </div>
    </div>
  </section>

  <section class="notification-bar">
    <div class="container">
      <div class="row">
        <div class="col">
          {{ page.tagline }}
        </div>
      </div>
    </div>
  </section>
  
  <section class="pt-5 pb-0">
    <div class="container text-left text-md-center">
      <div class="row">
        <div class="col">
          <h3>{{ page.intro }}</h3>
        </div>
      </div>
    </div>
  </section>
  
  <section class="pb-0 pb-md-5 pt-4">
    <div class="container px-0">
      <div style="overflow: hidden;">
        <img src="/assets/images/new-web/striped_bg.jpg" />
      </div>
    </div>
  </section>
  
  {% include new-web/checklist-with-title.html 
    title=page.learn_how_to_title
    items=page.learn_how_to_items
    class="py-0" %}
  
  <section class="pt-0">
    <div class="container">
      <div class="text-center">
        <button class="mt-4 btn btn-primary btn-shadow font-weight-bold" data-toggle="modal" data-target="#join-modal">
          Join Now - It's Free
        </button>
      </div>
    </div>
  </section>
  
  <section class="pt-5 px-0 alternate-section">
    <div class="container-fluid px-0">
      {% include new-web/carousel-1.html
        id="carousel-1"
        auto_height="true"
        items=page.carousel_items %}
    </div>
  </section>
  
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col text-left text-md-center">
          <h3>15 lessons on modern growth marketing</h3>
        </div>
      </div>
    </div>
    <div class="container-fluid px-0">
      {% include new-web/carousel-2.html
        id="carousel-2"
        items=page.steps_carousel %}
    </div>
  
  
  </section>
  
  {% include new-web/text-with-striped-bg.html
    text="<span id='text-under-swipe' class='font-weight-bold'>Swipe to explore email course >></span>" %}
  
  
  {% capture pieterfooterinner %}
  <div class="p-4 p-md-5 form_box" style="background-color: #EFF0F6;">
    <h5 class="mb-0 font-weight-bold">Leave your email</h5>
    <p>and receive the first lesson right away!</p>
        <form action="https://www.getdrip.com/forms/670916927/submissions" method="post" data-drip-embedded-form="670916927">
      <div class="input-group mb-3">
        <input type="email" class="form-control" name="fields[email]" placeholder="Enter your email" aria-label="Enter your email">
        <div class="input-group-append">
          <input class="btn btn-primary font-weight-bold" type="submit" value="Join Now - It's Free" data-drip-attribute="sign-up-button">
        </div>
      </div>
  </form>
  </div>
  {% endcapture %}
  
  {% include new-web/no-pieter-footer.html
    title="The Growth Series"
    lead="We've developed a free email series, where we show you a complete account of modern growth marketing & user acquisition. Over the course of 2 week, we tell you the story of growth marketing, with a new insight every day. Want to try it out?"
    content=pieterfooterinner %}
  
  {% include new-web/email-submit-modal.html 
    id="join-modal"
    drip_id="665859352"
    form_label="Email address"
    title="A complete account of modern growth marketing & user acquisition"
    subtitle="2-Week Growth Series"
    button_text="Receive the first lesson" %}
</div>