---
title: Hi there!
layout: pages/new-web/default
hide_footer: true
header_logo_only: true

tagline: "Join 15,271+ others:"
intro: "A course on modern growth marketing techniques"
top_image: /assets/images/Napkin_HQ.png
learn_how_to_title: "Learn how to:"
learn_how_to_items:
  - "**Design sales machines** that work on autopilot"
  - "Learn the **6-step framework** to unlock virtually limitless growth"
  - 'Leverage the **"power law of channels"** for ultimate traffic generation'
  - "Execute **coherent growth strategies** as you scale"
the_content: 
  You’ve probably never heard of me before. 
  <br><br>
  And that’s no surprise. I’m no famous industry guru with a slew of videos of me marching around my penthouse apartment in a designer suit dropping knowledge that I swear is 99.9999% guaranteed to get you rich quick. 
  <br><br>
  I don’t have an arsenal of hacks and shortcuts to take you from zero bucks in the bank to marketing hero. I’m just another marketing nobody who’s quietly making his way in the world. 
  <br><br>
  But despite my lack of a super slick video location and a listicle boasting the 79 best growth hacks “that elite growth hackers don’t want you to know about”, I actually do pretty well for myself. 
  <br><br>
  Two years ago, I decided I wanted to figure out whether “growth hacking” is just some new age faux philosophy, or an actual marketing technique. Fast-forward two years, and here’s what I’ve achieved...<br>
    1. I helped one company in the travel industry build a “growth engine”. They were so successful that they were acquired by a much bigger player just a few months after I worked with them.<br>
    2. A London-based enterprise SaaS startup hired me as a growth consultant. A few months later, they raised ~£1.5MM in Series A marketing.<br>
    3. I helped a Dutch startup go from about €50/month in revenue, to over 3,000 paying customers - all recurring revenue.<br>
    4. And personally, I went from “delusional college dropout” to “successful owner of two businesses who made his $200 000 target”.
  <br><br>
  And you know what? I didn’t need a single hack to do any of that. 
  <br><br>
  Forget power editors, or SEO meta tags, or event trackers and javascript, or whatever other new tech terms the internet’s spewing out nowadays. The secret to a successful start-up is growth. And the secret to growth is systems; simple, strategic, testable systems.
  <br><br>
  My growth marketing strategy is just three things...<br>
    1. System-thinking.<br>
    2. A growth loop that fits your business.<br>
    3. High-tempo testing.
  <br><br>
  That’s it. 
  <br><br>
  Right now this might sound like a bunch of jargon, but give me a couple of emails and soon you'll be fluent in growth loops and turning that bright and shiny start-up of yours into the successful business it has the potential to be.


carousel_items:
  - title: Joseph
    subtitle: Singapore
    body: Am subbed to your introductory growth systems email course and love it! :) Love your direct, candid and humorous style.
    image_position: right
    image: /assets/images/new-web/testimonial_joseph.png
  - title: Morgan
    subtitle: USA
    body: Your course is very simple to understand, and I really love how you focus on systematic execution to focus on what works and what doesn't. 
    image_position: right
    image: /assets/images/new-web/testimonial_8.png
  - title: Marvin
    subtitle: France
    body: My biggest concern was that I don't speak fluent English, but all the course itself is very informative, fun and easy to read.
    image_position: right
    image: /assets/images/new-web/testimonial_3.png
  - title: Alex
    subtitle: USA
    body: I totally dig this kind of thinking Pieter! Love your emails, very easy to read.
    image_position: right
    image: /assets/images/new-web/testimonial_4.png
  - title: Frank
    subtitle: Netherlands
    body: As one of the first students, I can say it's one of the most informative and complete courses on marketing out there!
    image_position: right
    image: /assets/images/new-web/testimonial_1.png

steps_carousel:
  - title: Growth Marketing
    subtitle: "Day 1:"
    body: From the age of classic advertisement to the era of growth.
  - title: System Thinking
    subtitle: "Day 2:"
    body: How you can create a business that is an automated set of systems.
  - title: Growth is not Hacks
    subtitle: "Day 3:"
    body: You're not gonna hack your way to growth these days. The real magic comes from growth strategy.
  - title: Radical Empathy
    subtitle: "Day 4:"
    body: How to understand your customers and make yourself wanna be heard.
  - title: Copywriting
    subtitle: "Day 5:"
    body: Automate your sales, by learning how you can write to sell.
  - title: Risk Elimination
    subtitle: "Day 6:"
    body: The only failproof businessplan is focussed on the risks your business is taking. Learn how to focus on the right objectives to minimize your risks!
  - title: Growth Loops
    subtitle: "Day 7:"
    body: Growth happens in loops. These growth loops are the foundation of your marketing. Learn about the numerous amount of growth loops out there.
  - title: Week 2
    subtitle: "Day 8-15"
    body: The second week will dive deeper into the dynamics of growth. I'll show you how you can build growth into the 'DNA of you business'.
---

<section class="text-center py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="img-fluid" src="{{ page.top_image }}" />
      </div>
    </div>
  </div>
</section>

<section class="notification-bar">
  <div class="container">
    <div class="row">
      <div class="col">
        {{ page.tagline }}
      </div>
    </div>
  </div>
</section>

<section class="pt-5 pb-0">
  <div class="container text-left text-md-center">
    <div class="row">
      <div class="col">
        <h3>{{ page.intro }}</h3>
      </div>
    </div>
  </div>
</section>

<section class="pb-0 pb-md-5 pt-4">
  <div class="container px-0">
    <div style="overflow: hidden;">
      <img src="/assets/images/new-web/striped_bg.jpg" />
    </div>
  </div>
</section>

  <!-- SECTION: content -->
  <section class="pt-0 pb-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <strong class="text-primary">{{ page.title }}</strong>
          <div>{{ page.the_content | markdownify }}</div>
        </div>
      </div>
    </div>
  </section>

<section class="pt-0">
  <div class="container">
    <div class="text-center">
      <button class="mt-4 btn btn-primary btn-shadow font-weight-bold" data-toggle="modal" data-target="#join-modal">
        Ready? Let’s go
      </button>
    </div>
  </div>
</section>

{% include new-web/checklist-with-title.html 
  title=page.learn_how_to_title
  items=page.learn_how_to_items
  class="py-0" %}

<section class="pt-5 px-0 alternate-section">
  <div class="container-fluid px-0">
    {% include new-web/carousel-1.html
      id="carousel-1"
      auto_height="true"
      items=page.carousel_items %}
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-left text-md-center">
        <h3>15 step-by-step lessons on modern startup growth:</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0">
    {% include new-web/carousel-2.html
      id="carousel-2"
      items=page.steps_carousel %}
  </div>


</section>

{% include new-web/text-with-striped-bg.html
  text="<span id='text-under-swipe' class='font-weight-bold'>Swipe to explore email course >></span>" %}


{% capture pieterfooterinner %}
<div class="p-4 p-md-5 form_box" style="background-color: #EFF0F6;">
  <h5 class="mb-0 font-weight-bold">Leave your email</h5>
  <p>and receive the first lesson right away!</p>
  <form action="https://www.getdrip.com/forms/665859352/submissions" method="post" data-drip-embedded-form="665859352">
    <div class="input-group mb-3">
      <input type="email" class="form-control" name="fields[email]" placeholder="Enter your email" aria-label="Enter your email">
      <div class="input-group-append">
        <input class="btn btn-primary font-weight-bold" type="submit" value="Join Now - It's Free" data-drip-attribute="sign-up-button">
      </div>
    </div>
  </form>
</div>
{% endcapture %}

{% include new-web/pieter-footer.html
  title="Hey you.<br>Nice to meet you!"
  lead="That you arrived on my doorstep means you're interested in growing businesses. Great, I can tell you a whole lot about that, <i>all for free.</i> Leave your email and I'll tell you more."
  content=pieterfooterinner %}

{% include new-web/email-submit-modal.html 
  id="join-modal"
  drip_id="665859352"
  form_label="Email address:"
  title="15 step-by-step lessons on modern startup growth:"
  subtitle="Email course"
  button_text="Get the email course >>" %}